[2017-10-30 13:13] thojansen commented on #108
I have just added https://probot.github.io/apps/invite-contributors/ for this repo. Seems to be reasonable to do this as a separate app, therefore closing this right now.

[2017-10-30 13:13] #108 closed

[2017-10-30 13:52] thojansen opened #272 "dummy issue without comment"

[2017-10-30 15:43] #251 closed

[2017-10-30 15:54] Arcanemagus commented on #173
I absolutely love the irony of a `bot` commenting on an issue about `bot` users not being supported. (Also: Bump so this doesn't get closed as stale.)

[2017-10-30 18:35] sschuberth commented on #238
@thojansen, since this is trivial to fix, mind simply doing it?

[2017-10-30 18:45] thojansen commented on #238
Well, we would like to avoid creating a new CLA version invalidating all existing signed CLAs. So we need to implement a functionality to create a new “patch version” of a CLA first.

[2017-10-31 11:03] sschuberth commented on #238
Oh, I wasn't aware that CLAs get invalidated automatically when changed, and even so for very minor changes. Is implementing a “patch version” actually something you have on your roadmap?

[2017-10-31 18:49] loewenstein commented on #241
@KharitonOff bump

[2017-10-31 19:35] KharitonOff commented on #241
@loewenstein, will consider your proposal by the next release

[2017-11-01 09:22] Cry-Juan opened #273 "Incorrect port environment variable in the documentation"
Hi,

We are trying to host our own instance of cla-assistant. During the process we found out that the port is read from the environment variable HOST_PORT (at least for http), while the documentation says that the port number is read from PORT.

[2017-11-02 14:26] KharitonOff commented on #264
@tapdancemobile @splix we've done some fixes. Could you check please, whether your problem is solved now or not.

[2017-11-04 10:48] ketan opened #274 "Document setup when using 2FA"
I'm unable to setup CLA assistant because the user specified by `GITHUB_USER` is using 2FA. Could someone help out?

[2017-11-04 12:06] thojansen commented on #238
Yes, and we want to implement this first and then change the formatting.

[2017-11-06 09:35] ketan commented on #274
Any pointers would be appreciated. I can submit these code changes on a PR>

[2017-11-06 14:40] #182 closed

[2017-11-06 14:40] #195 closed

[2017-11-06 14:40] #230 closed

[2017-11-06 14:40] #197 closed

[2017-11-06 14:40] #246 closed

[2017-11-06 14:40] #252 closed

[2017-11-06 14:40] #272 closed

[2017-11-09 15:09] KharitonOff commented on #274
@ketan sorry for long delay. I would start with the method `call` in github service (`src/server/services/github.js`) which accepts basicAuth credentials in order to call github api with basic authentication (see line 132). As POC you could change this block to something like
[code]
If this works, then you can update all the places, where github service is called with `basicAuth` parameter, like
`

[2017-11-09 16:02] KharitonOff commented on #273
@Cry-Juan thank you for pointing out this issue. I'll update the documentation. Actually PORT is used for the node server to start on and HOST_PORT is the port of the hosted instance (usually 443 or 80)

[2017-11-09 16:02] #273 closed

[2017-11-13 14:04] crufter commented on #77
I'm having the same https://github.com/1backend/1backend/pull/1

[2017-11-13 14:08] KharitonOff commented on #77
@crufter  please add the email address used for this commit to your account as described here: https://help.github.com/articles/why-are-my-commits-linked-to-the-wrong-user/#commits-are-not-linked-to-any-user

[2017-11-15 12:53] tmbo opened #276 "cla-assistant.io responds with 404 Not Found"
The webpage https://cla-assistant.io/ is not reachable, it responds with

```404 Not Found: Requested route ('cla-assistant.io') does not exist.```

[2017-11-15 12:55] KharitonOff commented on #276
sorry for that! Now it should be up again

[2017-11-15 13:13] tmbo commented on #276
@KharitonOff It does, but now the repository doesn't show up any more (https://github.com/rasahq/rasa_core)

[2017-11-15 13:23] aviadatsnyk opened #277 "when trying to sign a CLA, I get an error"
`Ray ID: 3be283f4fed10ce9 • 2017-11-15 13:21:45 UTC`

![image](https://user-images.githubusercontent.com/24290431/32838175-c135572c-ca18-11e7-9005-62f74c3e21b9.png)

[2017-11-15 13:45] limonte commented on #277
![](https://i.imgur.com/MyJfg1t.png)

[2017-11-15 13:53] KharitonOff commented on #277
Sorry for that! we are currently experiencing some operational issues on our productive instance. We are working on it and trying to solve it as soon as possible!

[2017-11-15 13:59] KharitonOff commented on #277
Now it should be stable again. Please, excuse this interruption!

[2017-11-15 14:02] aviadatsnyk commented on #277
thank you.

[2017-11-15 14:02] #277 closed

[2017-11-15 14:05] KharitonOff commented on #276
sorry again, as described in #277 we have had some problems on our instance. Now it should work again. Could you confirm it?

[2017-11-15 14:07] tmbo commented on #276
Yes looking good - thanks a lot for your effort :+1:

[2017-11-15 14:07] #276 closed

[2017-11-16 18:42] auchri opened #279 "Does not report status"
Hi!

In [this PR](https://github.com/telegramdesktop/tdesktop/pull/4068) it seems that the cla-assistant has not reported an status?

[2017-11-17 16:21] lipis commented on #173
Can we do something about it? https://github.com/wireapp/wire-web-packages/pull/21#issuecomment-345163601 how can we whitelist that one?

[2017-11-18 09:39] fabianschwarzfritz opened #280 "Copyright notice on cla-assist.io"
Hi,
the copyright notice on [cla-assist.io](cla-assist.io) says "2015 SAP SE".
Shouldn't this be 2017?
Cheers

[2017-11-19 13:54] thojansen commented on #280
Nope, I think this should not be updated yearly according to wikipedia. Please let me know if you find information that states the opposite.

[2017-11-19 14:16] lipis commented on #173
Or just implement them.. or a way to whitelist through the UI..

[2017-11-20 11:11] palango opened #281 "Changing comment message"
Is it possible to change the message in the comment asking for signing the CLA?

[2017-11-20 13:34] KharitonOff commented on #281
no, unfortunately it's not possible for now
sorry for that

[2017-11-20 13:34] #281 closed

[2017-11-20 21:47] fabianschwarzfritz commented on #280
Yup, you're right. Interesting, I didn't know 👍

[2017-11-20 21:47] #280 closed

[2017-11-21 06:46] AlexEvanczuk opened #282 ""Export list" on all versions of the CLA should allow for using "title" rather than key for getting unique headers"
I created three SLAs with different metadata.  I kept some of the keys the same, but changed the titles of the fields with the same keys.  As a result, when I exported a list of all versions, I got confusing data where I have values under a column header (title) that does not correspond to what the user has signed.  It looks like the export mechanism uniques by the key, but displays the title of t

[2017-11-21 07:28] AlexEvanczuk opened #283 "What is "org_cla" and why does it mean "Signed for Organization""
Trying to figure this out -- what does it mean that someone signed for an organization?  This is coming up as false for us, but I'm not sure what it means or why it is showing up.

[2017-11-21 14:56] KharitonOff commented on #283
this flag indicates, whether the signature relates to the linked Repo or Org.
In CLA assistant you can link an organization (with all repositories in it) as well as a single repository. If you link your org. and a user signs the CLA, this signature becomes valid for every repo in your organization and there is no need to sign CLA again if the user contributes to another repo of the org.

[2017-11-21 14:56] #283 closed

[2017-11-21 15:21] KharitonOff commented on #282
@AlexEvanczuk you're right it works as designed.

Would you prefer to have a mix of all titles from all versions in the header line and corresponding arrangement of the values?
But I think there could be also confusing scenarios (e.g. if someone decides just to change the titles of the fields)

[2017-11-21 15:42] KharitonOff commented on #279
@auchri has the user @PeterDaveHello already signed the cla?

[2017-11-21 15:44] auchri commented on #279
No, he didn't sign the cla.
So the comment to sign the cla is missing too 🙈

[2017-11-21 16:00] KharitonOff commented on #279
oh, i see, you're right. It seems that this PR was opened at the same time as CLA assistant has experienced some operational issues... I suppose that this is the reason why this PR didn't get any comment from CLA assistant.
I'll take this issue into consideration for further development, to find the way how we could solve it in future.
Sorry about that!

[2017-11-21 16:02] auchri commented on #279
No problem! ☺

I think an easy solution would be to manually trigger cla assistant for an single PR via some button in the ui.

[2017-11-21 17:19] AlexEvanczuk commented on #282
Thanks for the quick response @KharitonOff.  I would actually prefer the mix of all unique titles from all versions.  The reason is because I think that since the CLA is a legal document, the exact language that the signee saw when they filled out a form I believe is very important to preserve.

The CLA assistant is a wonderful tool that my organization just started using it, and I see it as keepi

[2017-11-27 23:32] MichaelTsengLZ opened #291 "Could you help me understand why we need to drop all index of 'clas' collection and recreate again?"
The code snippets [here](https://github.com/cla-assistant/cla-assistant/blob/master/src/server/documents/cla.js#L36) and [here](https://github.com/cla-assistant/cla-assistant/blob/master/src/server/documents/repo.js#L24) are a little bit confusing for me. Could you help me understand why we need to drop all index and recreate again? Why only 'repos' and 'clas' collections need to recreate index? C

[2017-11-28 08:46] KharitonOff commented on #291
Hi Michael,

I've updated the indexes as reaction to the bug reported by @splix in his comment on the issue #264 The problem was, that a repository can be deleted and newly created with the same name. If the deleted repo was already linked in CLA assistant, then we select and check not unique signatures and repositories without considering the repoId.

[2017-12-04 12:48] ThePlenkov opened #292 "CLA doesn't work for me ( doesn't see my GitHub user)"
Hi,

I want to push some Openui5 checks which is powered by your assistant:

https://github.com/SAP/openui5/pull/1809

I cannot understand why it's saying that I'm not a Github user while I am.

Could you please check this?

thank you!

[2017-12-04 12:54] ThePlenkov commented on #292
git config --global user.email

this command showed me a typo

[2017-12-04 12:55] #292 closed

[2017-12-04 20:28] msohn opened #293 "Append .md file extension to the file containing SAP Individual Contributor License Agreement"
Could you add the .md file extension to the file "SAP_CLA" containing the SAP Individual Contributor License Agreement so that the page's [1] markdown content is rendered properly ? See e.g. the link from openui5's contributor guide [2] which is showing the raw file content instead of rendering the markdown.

[1] https://gist.github.com/CLAassistant/bd1ea8ec8aa0357414e8
[2] https://github.com/SAP/

[2017-12-05 11:15] ttmc opened #294 "CLA Assistant was unlinked and removed but still haunts old pull requests"
Yesterday I did a trial with CLA Assistant on the bigchaindb/bigchaindb repository. It didn't work as expected so I unlinked it and removed it as best I could from all settings.

Unfortunately, it's still giving a warning (yellow dot) on all the pull requests that existed at the time of my experiment.

![screenshot from 2017-12-05 12-14-06](https://user-images.githubusercontent.com/1210951/3360434

[2017-12-05 13:10] KharitonOff commented on #294
I'm sorry for that, but we don't have any "roll back"-mechanism for statuses. So far I know, there is no way (no GitHub-APIs) to delete existing status at all.

[2017-12-05 13:10] #294 closed

[2017-12-05 14:09] KharitonOff commented on #293
this issue relates to the #238

[2017-12-05 14:09] #293 closed

[2017-12-05 17:31] Helias-Criouet commented on #198
Same problem on appium/appium-ios-simulator#138

[2017-12-05 17:33] Helias-Criouet opened #295 "Added email to github but still says that it is not signed."
I have a problem that I have accepted CLA with my primary GitHub account.

It says `Name seems not to be a GitHub user. You need a GitHub account to be able to sign the CLA. If you have already a GitHub account, please add the email address used for this commit to your account.`

I have added my email which was used for commit but nothing changed. PR is here: appium/appium-ios-simulator#138

[2017-12-05 17:58] KharitonOff commented on #295
Now CLA assistant has to be triggered in order to check this PR again. There are two ways: a new commit on this PR or an admin of the repo has to click „Recheck PRs“ in CLA assistant‘s admin view.

[2017-12-06 15:52] Helias-Criouet commented on #295
Thank you for the quick answer :)

[2017-12-15 18:36] LinuxGit opened #296 "Could I let CLA assistant handle private repo?"
I run a private docker instance and linked to a org, but only listed public repos. Could I let CLA assistant handle private repo? Thanks.

[2017-12-15 20:51] #291 closed

[2017-12-19 13:53] KharitonOff commented on #296
@LinuxGit sorry for late response.
As far I know you can include private repos by changing the Auth scope of the App. That means, you have to add scope `'repo'` to the `admin_scope` in `src/config.js`
Restart your CLA assistant, sign out and sign in again.

[2017-12-19 13:54] #295 closed

[2017-12-19 16:06] LinuxGit commented on #296
@KharitonOff Thanks for your reply. I tried it before, and `-v /home/pingcap/cla-assistant/src/config.js:/cla-assistant/src/config.js ` to docker instance. It didn't work.

[2017-12-19 16:32] KharitonOff commented on #296
ok, maybe I was thinking in a wrong direction... You don't want to see the private repo in the list of linked repos / dropdown list to link it, but you are expecting CLA assistant reacting on PRs in the private repos of the linked Org. If it's so, then you can probably fix it by changing the if-statemnet here:
https://github.com/cla-assistant/cla-assistant/blob/43c801ec5b89bb0dde7e6b9795045969180d

[2017-12-19 16:42] LinuxGit commented on #296
@KharitonOff I tried remove `req.args.repository.private == false` in the if-statement before and add scope 'repo' to the admin_scope in src/config.js.  But when I configure CLA, and Choose an org or a repo, I can't find any private repos in the dropdown list. So I can't linked it. Then I'm  expecting CLA assistant reacting on PRs in my private repo.

[2017-12-19 17:53] MichaelTsengLZ commented on #296
We have set up the CLA-Assistant successfully for private repos. After adding the scope of 'repo', I think you need to revoke the previous OAuth app permission and then logout and login to grant the OAuth app different access. The tricky thing to support private repos is that you need to make sure the CLA bot has access to make comments in those private repos.

[2017-12-20 09:10] LinuxGit commented on #296
@MichaelTsengLZ Thanks. After adding the scope of 'repo', revoke the previous OAuth app permission and grant again, I could find org's private repos in the dropdown list now. But when I use CLA bot GitHub account to login,  after linking the `CLA` column was empty, chrome tools reported:
[code]
When I use my GitHub account to login, after linking org's private repo,  the `CLA` column was OK,  but

[2017-12-29 13:48] efx opened #299 "[feature request] archive / export agreement button"
First off, this is a great tool. Thank you for building it.
I would like an officially supported way to archive or download the agreement locally. I know i can just save the HTML from the browser, but this doesn't seem legitimate enough for legal record keeping.

[2017-12-31 13:02] JeromSar opened #300 "Website: Authentication Error"
The website currently spouts an internal server error. I've also noticed that some people who have previously signed our CLA do no longer appear to have done so.

[2017-12-31 13:43] KharitonOff commented on #300
@JeromSar Thank you very much for reporting the issue! There seems to be a problem with a db-collection. Now it should work. Unfortunately the affected user have to sign the CLA again.

[2018-01-02 16:31] JeromSar commented on #300
@KharitonOff I really hope you can restore a backup of the DB. Over 100 people signed our CLA, some of which can no longer be reached (Github account closed). Is there anything you can do?

[2018-01-02 20:54] KharitonOff commented on #300
@JeromSar oh, no, I think you've misunderstood me. Our DB is ok, the problem was in a lost connection to it. It lasted about 2 hours. All signatures, done during this timeframe could not be saved. I'm sorry for that. But all other signatures happened before and after are available.

[2018-01-03 13:05] KharitonOff commented on #299
Thank you for your feedback!
Yes, this feature makes sense. I would like to have it too. Unfortunately we can't give you any commitment whether and when we'll be able to implement it.
If you have a more or less concrete idea how this would work and how to implement it, you are very welcome to contribute! We'll support you as much we can.

[2018-01-04 19:05] schickling opened #301 "Add bot users to whitelist"
We're using a couple of Github bots to automate some workflows. However, these bots obviously cannot sign the CLA. Would be great to add a "whitelist" feature.

Example: https://github.com/graphcool/graphql-playground/pull/420#issuecomment-355364866

[2018-01-04 19:24] schickling commented on #301
🤖 beep boop 🤖

[2018-01-05 10:23] KharitonOff commented on #301
Thanks for the feature request.
I close it since this issue relates to #173
I hope we'll be able to implement it soon

[2018-01-05 10:23] #301 closed

[2018-01-05 12:17] kyemaloythrowaway opened #302 "WebHook isn't being created for an Organisation"
Hello, when I try to link a CLA to an organisation, the popup box with the spinning link never finishes and if I close out of the box after a couple of minutes, theres a new entry on the webpage but the link is grey with the web hook being crossed.

The user making the link has admin rights to the org, and I tried manually creating a web hook for the org by copying the URL of a working web hook fo

[2018-01-05 12:20] kyemaloythrowaway commented on #302
Never mind, one account wasn't granting access to the account, and the pop up wasn't showing up on my usual account hence I didn't know there was an issue. It's working now ☺️

[2018-01-05 12:20] #302 closed

[2018-01-05 20:46] decause opened #303 "Checker stuck on "Waiting for status to be reported""
Thank you all for building and hosting such a useful tool for Open Source communities :)

One of our projects is having an issue where the check on the PR is stuck at "waiting for status to be reported."

When I look at my cla-assistant.io dashboard some of the UI elements are there, but some text columns are missing?
When I mouse over the "link" icon, there is an 'x' next to the 'gist' item as we

[2018-01-05 22:25] KharitonOff commented on #303
Thank you for reporting this issue and for your positive feedback!
No one has reported this issue yet. But this sounds like a bug, unfortunately I could not reproduce it yet.
My assumption is that there is a conflict between the "old" link (twitter/reasonable-scala) and the new one (org twitter). CLA Assistant should handle both links properly and such constellation works fine in the test system.

[2018-01-08 17:59] decause commented on #303
@KharitonOff Thanks for getting back to us :)

So, your proposed fix would be to re-link the gist for our entire GitHub org? If that is the case then:

If we use the same gist text for the org-wide linked CLA, will CLA-Assistant be able to tell that people have already signed it, or will everyone have to re-sign it again?

[2018-01-09 09:13] KharitonOff commented on #303
Maybe you can relink the repo, but not the whole organisation (org link seems to work properly).
If you relink your repo using the same gist (url) as before, then all previous signatures remain valid. Only if you change the Gist file itself or use another Gist file (url) everybody will have to sign the "new"/changed CLA again.

[2018-01-09 22:14] decause commented on #303
![screenshot from 2018-01-09 14-11-36](https://user-images.githubusercontent.com/427420/34745942-1a80b728-f547-11e7-832a-9edc0bf020ee.png)

The dashboard no longer lists the URL to our gist, nor the number of signatories, and the export link is also missing.

When I click "configure cla" button at the top, it doesn't allow me to select the our org, or the repositories within that org (although it

[2018-01-10 12:55] #303 closed

[2018-01-10 13:54] KharitonOff commented on #303
@decause thanks again for reporting the issue and providing us with further information! I strongly believe that we've found the route cause of your problem: we assumed a certain url style of the gist file (without hashtag and file name in it). In couple minutes it should work properly again. Could you confirm it, please?

[2018-01-10 20:44] decause commented on #303
@KharitonOff Thanks again for all your help and support :)
![screenshot from 2018-01-10 12-39-30](https://user-images.githubusercontent.com/427420/34794431-772ce142-f603-11e7-8085-eb6bef30589b.png)

Though there is now the proper information populated for our org (yay!) the "repository" section where we were testing the service before turning it on for all repos seems to still be empty? We had two

[2018-01-11 16:31] KharitonOff commented on #303
Ok, I didn't realise that your repos disappeared too. I think I've found and fixed the route cause of this problem, but I'll be able to release the fix tomorrow first. I hope it's ok for you.

[2018-01-11 16:38] KharitonOff opened #304 "Provide information on which repo the shared gist was signed"
Feature request from @decause (#303 ) :
" include a mapping of who signed the CLA originating from which repository in the UI (even though in our case it applies to all of them.) It would seem there is a field for doing so in the exported .csv file, but it looks empty?"

@MichaelTsengLZ do you think we can make it possible?

[2018-01-17 19:16] decause commented on #303
Things look like they're back to normal 👌

Thanks all for your support 💯

[2018-01-24 23:37] bootstraponline opened #305 "CSV Import fails when there are duplicates"
Upload any CSV with duplicates. Observe the silent error in chrome dev tools. No info is provided to the end user.

[code]

[2018-01-25 13:14] KharitonOff commented on #305
thanks for reporting it!

[2018-01-25 13:15] #300 closed

[2018-01-25 13:55] JeromSar commented on #300
@KharitonOff I didn't see your last message until now. I see that the DB is okay. Thanks for your help! :)

[2018-01-25 15:19] KyeMaloy97 opened #306 "I have signed the CLA but the comment isn't updating"
URL to the linked Repo/Org: https://github.com/TestingCLA

Steps to reproduce the problem:

1. Open a PR
2. Comment says to sign it, when I have already signed (my GitHub ID is on the the dashboard at cla-assistant.io)
3. If I follow the link the page says "You have already signed the CLA"

What is the expected result?
The comment to go green and tell me I have signed.

What happens instead?
It re

[2018-01-25 16:20] KharitonOff commented on #306
Hi @KyeMaloy97 have you signed the CLA as @KyeMaloy97 or as @kyemaloythrowaway (the last one is the committer)

[2018-01-25 17:36] KyeMaloy97 commented on #306
Oops yea my mistake, I had FireFox open when my throwaway account was logged in on Safari. Would there be any way of opening a warning saying the PR contains a commit by <PERSON> and <PERSON> hasn't signed the PR?

[2018-01-26 09:03] KharitonOff commented on #306
🤔  where and when would you show this warning?

[2018-01-28 22:33] waldyrious commented on #156
I'm still interested in this.

[2018-01-29 22:16] loewenstein commented on #241
Is there any update on this one?

stale[bot] <notifications@github.com> schrieb am Mo., 29. Jan. 2018, 23:11:

[2018-01-30 20:02] #196 closed

[2018-01-31 15:10] splix commented on #264
I can confirm it was fixed

[2018-01-31 15:28] #264 closed

[2018-02-02 17:51] sschuberth commented on #238
@thojansen, any progress on implementing a “patch version”?

[2018-02-04 13:40] #111 closed

[2018-02-04 13:40] #117 closed

[2018-02-04 13:40] #245 closed

[2018-02-04 13:40] #138 closed

[2018-02-04 13:40] #201 closed

[2018-02-04 13:40] #161 closed

[2018-02-14 15:31] wsdjeg commented on #238
I use this gist as my project's cla, can I change the url to my own gist?

[2018-02-14 15:36] KharitonOff commented on #238
You have to unlink and link you repo with your own gist again (you'll find your gist file in the dropdown list). Everyone who signed you current CLA will have to sign the new one again.

[2018-02-14 15:42] wsdjeg commented on #238
sign again? that is too bother, maybe use `patch version` is better.

[2018-02-14 15:48] KharitonOff commented on #238
we have not implemented the possibility to use the "patch version" yet.
As a workaround you can export the list of your contributors and import it after relinking again - from the legal perspective I consider it questionable, since your contributors have signed an another document (SAPs CLA and not your own CLA).

[2018-02-14 16:03] wsdjeg commented on #238
yeah, I know, it just like change the content of a contract. but I found cla may stop user contribute to my project.

https://github.com/SpaceVim/SpaceVim/pull/1404

[2018-02-14 16:11] KharitonOff commented on #238
Your users are right, the CLA file, you linked your repo with is only for SAP projects, so it doesn't help you at all to use it. You need an own CLA. Maybe you can take a look on this "CLA-generator" http://selector.harmonyagreements.org/

[2018-02-14 16:18] KharitonOff commented on #238
also as @OvermindDL1 mentioned, usually contributors don't have any concerns to sign a CLA (with CLA Assistant we make it even easier to do it). The Agreement should happen between you and your contributor, not between SAP and your contributors ;)

[2018-02-14 16:25] wsdjeg commented on #238
So, what should I do?

1. use cla-generator to create a agreement page
2. update cla url
3. request new contributer sign cla?

[2018-02-14 16:32] OvermindDL1 commented on #238
@wsdjeg

And 4:  request old contributors to sign cla as well (else it is not that useful either, *everyone* needs to sign it, or you need to replace the code they gave).

[2018-02-14 17:27] #274 closed

[2018-02-15 14:48] KharitonOff commented on #238
@wsdjeg yes, you should do the steps you've described.

[2018-02-19 15:56] DenisVuyka opened #307 "List of repositories is incomplete or not working correctly"
URL to the linked Repo/Org:

Steps to reproduce the problem:

I have an admin rights to a project, that is part of the Organisation.

When signing in to CLA Assistant, I can see all my private repos, and several repositories from the Organisation, but not the ones I'm an admin of. Note that I'm not the Organisation admin.

It is not possible to configure the project.

What is the expected result?

[2018-02-19 16:30] KharitonOff commented on #307
@DenisVuyka, it sounds strange... are the repos, you are trying to link, private or public?
We do not support linkage of private repositories.
You should actually see all repos from the org, where you are a member and you have push rights. (see https://github.com/cla-assistant/cla-assistant/issues/130#issuecomment-232600296)

[2018-02-19 16:31] DenisVuyka commented on #307
@KharitonOff Absolutely public open source project: https://github.com/Alfresco/Alfresco-Content-App

[2018-02-19 22:12] corneliutusnea opened #308 "Signed up CLA shows as not signed yet"
URL to the linked Repo/Org:
https://github.com/cypress-io/cypress/pull/1336

Steps to reproduce the problem:

1. I signed the CLA
2. Still shows as not signed

What is the expected result?
Show as signed?

I can see this:
You have signed the CLA already but the status is still pending? Let us recheck it.

My username is corneliutusnea
The PR is made under the same username.

[2018-02-20 07:43] corneliutusnea commented on #308
@KharitonOff No, I signed it as corneliutusnea.

[2018-02-20 08:01] KharitonOff commented on #308
Ok, you should sign it in name of @OneSaasDev

[2018-02-20 09:28] corneliutusnea commented on #308
@KharitonOff I can't sign it in the name of @OneSaasDev. That's a company. I'm doing these code changes in my own name.

[2018-02-20 09:54] KharitonOff commented on #308
ok, but the commit is done in name of @OneSaasDev
CLA Assistant can not identify you as a committer.

[2018-02-20 16:47] #307 closed

[2018-02-20 16:55] wabson commented on #307
We discovered the source of this issue, that myself and @DenisVuyka had just been added as admins via the Collaborators list, not via a team. So although we had the right permissions, the API only returns repositories where you are the owner or added via an org (or group within an org) and therefore it did not show up.

After adding a new group inside the org with ourselves in and then adding this

[2018-02-21 01:47] LNFWebsite opened #309 "Do I have to sign my own CLA?"
This isn't a bug with CLA Assistant so much as it is a general question.

When submitting PRs to my own project (I make changes via commits to master and then merge them into the gh-pages branch), should I sign my own CLA?

I'm not savvy to the legalities of signing my own CLA but wanted to make sure that it is common practice before I do it...

Thanks!

[2018-02-21 08:28] KharitonOff commented on #309
this is not really a common practice, but it is how CLA Assistant is designed now. Maybe we'll get a contribution which addresses this issue... (see #197 )

[2018-02-21 16:00] bootstraponline opened #310 "Exclude repos on an already linked org?"
Is it not possible to exclude repos on an org that's already linked?

[2018-02-21 16:21] KharitonOff commented on #310
No, unfortunately not (see #182 ).
The workaround is: unlink the org and link it with the same gist file again, providing the names of repositories you want to exclude. If you (re)link the org with the same gist, the list of signatures remains unchanged.

[2018-02-26 18:14] #282 closed

[2018-02-27 09:41] thojansen commented on #235
@KharitonOff can we close this issue?

[2018-02-27 09:43] thojansen commented on #235
@KharitonOff can we close this issue?

[2018-02-27 09:44] thojansen opened #311 "test"
test

[2018-02-27 09:44] #311 closed

[2018-02-27 14:55] #235 closed

[2018-03-07 19:37] GuyPardon opened #312 "CLA as a gist: secret or public?"
Hi,

Quick question: if we configure our CLA as a gist for use with your product then can this be a "secret" gist or does it have to be a public one?

Thanks

[2018-03-07 19:51] thojansen commented on #312
As anyone sees this gist when signing it and can kick off that workflow even without a PR, I do not see how a secret gist would make any sense.

[2018-03-07 19:53] GuyPardon commented on #312
Thanks - but I read that secret gist instances are not private but just not searchable. Also see https://help.github.com/articles/about-gists/

I guess a secret one would do, no?

[2018-03-07 21:15] KharitonOff commented on #312
It doesn’t matter for CLA Assistant. You can link both. So, a secret one is ok.

[2018-03-10 05:56] ahoward3127 opened #313 "Thanks"
URL to the linked Repo/Org:

Steps to reproduce the problem:

1.
2.
3.

What is the expected result?

What happens instead?

[2018-03-12 07:35] KharitonOff commented on #313
Thank you for positive feedback 😃

[2018-03-12 07:35] #313 closed

[2018-03-12 18:41] mosabua opened #314 "Timeout when configuring org"
I am trying to configure an organizations github.com/testarmada to use my cla-assitant configuration that already works in 3 other organizations on github with the same user.

The user is an owner of the org but when I try to configure it the pop up dialog just shows a spinning wheel and it never finished.

When I close the dialog the org is either not configure or it is configured but the webhook

[2018-03-13 08:41] KharitonOff commented on #314
Unfortunately I could not find anything in the log entries. Could you send me the console output from your browser, please?

[2018-03-13 15:23] mosabua commented on #314
I let it run for a while again and now have it configured but with the webhooks having an issue. Can I somehow kick of the config to be refreshed/updated? Or what could be the issues for this otherwise .. some user permissions or so?

[2018-03-13 15:23] mosabua commented on #314
<img width="385" alt="screen shot 2018-03-13 at 08 21 55" src="https://user-images.githubusercontent.com/145658/37351235-d6ae4a6a-2697-11e8-95c3-d75f194386a2.png">

[2018-03-13 16:28] KharitonOff commented on #314
The issue could be in permissions, but if you see this organization in the dropdown list, then all needed permissions should be provided to CLA Assistant.

Can you check whether there is a webhook in settings of your organization? (settings -> webhooks)
Can you also check your profile settings, please: settings->Applications->Authorized OAuth Apps->CLA assistant
And can you also check one more pla

[2018-03-13 17:40] gsaslis opened #315 "Slack integration possible on cla-assistant.io ?"
Hi folks!

Thanks for the amazing work on this!!  🤘

I noticed your Readme mentions it is possible to self-host and setup Slack notifications, but i was wondering if this option is also available on cla-assistant.io somehow?

Thanks in advance!
Yorgos

[2018-03-13 18:36] thojansen commented on #315
The current Slack integration is more focused on the operations part of cla-assistant itself. What would be your uses cases for a Slack integration? Do you want a notification each time a CLA is signed (might be too much) or do you have something else in mind?

[2018-03-13 20:05] mosabua commented on #314
None of these were there. I am going to try recreating the config from CLA assistant

[2018-03-13 20:06] gsaslis commented on #315
@thojansen thanks for the prompt reply!

yes, some kind of notification each time a CLA is signed, so i can keep track of the new contributors.

[2018-03-13 20:25] mosabua commented on #314
I think I found the problem .. the org in which it is not working has Third Party access set to restricted ... but I cant take that off without loosing that config I think. How can I add CLA assistant now?

[2018-03-14 08:36] KharitonOff commented on #314
If you go to your profile `settings->Applications->Authorized OAuth Apps->CLA assistant` you can grant there CLA Assistant access to the org again.

[2018-03-14 20:24] mosabua commented on #314
Perfect. That did the trick. Thanks!

[2018-03-14 20:24] #314 closed

[2018-03-15 08:50] xintongxia opened #317 "I signed cla already 1 day ago, but the status is still pending"
URL to the linked Repo/Org:
https://cla-assistant.io/uber/luma.gl?pullRequest=441

Steps to reproduce the problem:

1.
2.
3.

What is the expected result?

What happens instead?

[2018-03-15 08:54] KharitonOff commented on #317
Have you signed the CLA as @xintong-uber (this user wrote a commit and has to sign the CLA)?

[2018-03-15 09:31] xintongxia commented on #317
Thanks for your response. How can I sign the CLA as @xintong-uber?

[2018-03-15 09:35] KharitonOff commented on #317
You have to logout from GitHub and login as @xintong-uber in GitHub and follow the link in your PR again. CLA Assistant should recognise you then correctly, if not, you can logout from CLA Assistant too via https://cla-assistant/logout

[2018-03-15 10:30] KharitonOff commented on #315
Nice Idea!
@gsaslis as Thomas said, we use Slack for operational use cases.
If you wish, you are very welcome to contribute and extend this integration. We would be glad to support you here if needed!

[2018-03-15 10:31] #312 closed

[2018-03-15 10:31] #310 closed

[2018-03-15 10:31] #309 closed

[2018-03-15 11:07] xintong-uber commented on #317
Hi Anton,

Thanks for your response. Do you know how can use my current account to
sign cla?

Thanks,
Xintong

On Thu, Mar 15, 2018 at 10:35 AM, Anton <notifications@github.com> wrote:

--
-- Xintong

[2018-03-15 12:52] KharitonOff commented on #317
Just follow this link (https://cla-assistant.io/uber/luma.gl?pullRequest=441) and click "Sign in with GitHub to agree" button

[2018-03-15 13:20] xintong-uber commented on #317
Hi Anton,

Sorry for the confusion. I already signed, I mean how can I sign as
xintongxia and pass the cla check?

Thanks,
Xintong

On Thu, Mar 15, 2018 at 1:52 PM, Anton <notifications@github.com> wrote:

--
-- Xintong

[2018-03-15 13:38] KharitonOff commented on #317
Ok, there are 2 users:
@xintongxia  has opened the PR (he/she doesn't have to sign the CLA)
@xintong-uber has created a commit in this PR (he/she have to sign the CLA)
To be clear which user you are:
1. sign out from GitHub first
2. sign out from CLA Assistant: https://cla-assistant.io/logout - you'll be redirected to the landing page https://cla-assistant.io
3. go to the CLA link https://cla-assi

[2018-03-15 14:17] xintong-uber commented on #317
Hi Anton,

Thanks for your detailed explanations.

But the problem is I can not log in as @xintong-uber
<https://github.com/xintong-uber>, as I have neither 2FA nor recovery code
for it.

So is it possible to do everything as xintongxia?

On Thu, Mar 15, 2018 at 2:38 PM, Anton <notifications@github.com> wrote:

--
-- Xintong

[2018-03-15 14:55] KharitonOff commented on #317
I understand. I think this question should be addressed at github support.
CLA Assistant relies on Github Authentication. If you can delete this user account and add the email address you used for the commit to the account @xintongxia, GitHub and CLA Assistant would recognise @xintongxia as a committer then.
maybe this page could be helpful: https://help.github.com/articles/why-are-my-commits-link

[2018-03-20 15:05] GuyPardon opened #318 "Company account gist?"
Hi,

While trying to create an account, I could login with my personal github account 'GuyPardon'. However, I would like to create a company gist. How do I create a company account?

Thanks
Guy

[2018-03-21 08:32] KharitonOff commented on #318
Hi Guy,
as far I know, this is not possible. You can create a personal account, create a gist with it and convert it to an organization (https://stackoverflow.com/questions/20647454/how-can-you-create-github-gists-that-live-under-an-organization-account-instead). But there is no way to create a gist for an org.

Regards
Anton

[2018-03-21 13:46] uKL opened #319 "Failed to configure CLA"
Hi,

I'm a member of an organization and I'm trying to configure CLAs.

I'm getting issues & a webhook is not created.

Chrome Dev Tools is showing that there's a 404.

[code]
Request Headers:
[code]
Payload:
[code]
Response:
[code]

Any thoughts? This may a permission issue but I'm not able to guess.

[2018-03-21 13:51] KharitonOff commented on #319
Yes this sounds like a permission issue...
can you check your settings, please (see https://github.com/cla-assistant/cla-assistant/issues/314#issuecomment-372943242)

[2018-03-22 10:05] GuyPardon commented on #318
OK so I have a "personal" gist in there for now.

Questions:

1. Why can't I just give any URL to a web page with the license? Why does it have to be a gist?

2. If it needs to be a gist: can you hide the gist URL when it shows up - so my github profile is not necessarily involved in all this?

Thanks

[2018-03-22 10:19] KharitonOff commented on #318
1.: we use gist in order to
 - handle different versions of a CLA
 - have a unified storage place, which everyone can access and easily use
 - have a standard format handling (provided by GitHub - no need to do it on our own)
2. Gist url doesn't show up for the contributors. Only repo/org-owners can see it in the admin ui of CLA Assistant - do you want to have it hidden there ??

[2018-03-22 10:22] KharitonOff commented on #318
You can also create a dummy GitHub account and share the credentials with other org members (e.g. put it in a secret repo of your org if you have a payed account).

[2018-03-22 11:12] GuyPardon commented on #318
OK seems to work so far - thanks!

Where can I see the "accept" history?

[2018-03-22 14:16] KharitonOff commented on #318
just click on the number in the admin ui to see the list of contributors, who has signed the CLA
<img width="237" alt="screen shot 2018-03-22 at 15 12 09" src="https://user-images.githubusercontent.com/8480657/37775691-dfd8a10a-2de3-11e8-8c59-14cd2fe52c02.png">

[2018-03-22 16:10] GuyPardon commented on #318
Perfect, thank you!

[2018-03-23 07:41] uKL commented on #319
![zrzut ekranu 2018-03-23 o 08 39 46](https://user-images.githubusercontent.com/2377962/37817110-e2665484-2e75-11e8-9040-672667e06363.png)

It seems to be right. Projects I'm trying to add are withing the Polidea organization.

[2018-03-23 07:42] uKL commented on #319
Maybe it's something about my personal permissions within the organization? I managed to add one project but I'm unable to add more.

[2018-03-23 09:42] uKL commented on #319
I'm not an owner but the member. I'll check permissions to specific repositories.

[2018-03-23 09:44] uKL commented on #319
It looks that I can configure project only if I have admin rights, write is not enough. I'll verify it by changing my permissions to admin.

[2018-03-23 09:58] uKL commented on #319
This is the case. I need to have admin access to each repository.

It would be great to see some kind of error instead of a spinning chain cell.

[2018-03-23 10:02] KharitonOff opened #320 "Show an error message if a user is not allowed to link a repo or an org"
Show an appropriate error notification if a user has not enough rights to link a repo or an org.
Related to #319

[2018-03-23 10:03] KharitonOff commented on #319
👍 You are right. I've created a separate issue for that

[2018-03-23 10:48] uKL commented on #319
Thanks!

[2018-03-23 10:48] #319 closed

[2018-03-27 09:57] #296 closed

[2018-03-29 08:04] PatrickSchuster commented on #198
In case some people still have difficulties with this.
What helped me was to make sure that my author-email-address in my Sourcetree installation (which I used to commit changes) was added to my Github account as well. I missed checking that and thus wrongly assumed I was using an already added e-mail-address.

[2018-04-05 10:11] andrescolodrero opened #321 "Status pending with my account"
URL to the linked Repo/Org:

Steps to reproduce the problem:
1. SIgn in github with my account: andrescolodrero@gmail.com
2. Create Pull request: https://github.com/OctopusDeploy/Library/pull/667
3. Sign the CLA
4. Status pending

What is the expected result?
CLA Completed

What happens instead?
CLA assistant check
Thank you for your submission, we really appreciate it. Like many open source proje

[2018-04-05 10:14] KharitonOff commented on #321
check the following link, please:
https://help.github.com/articles/why-are-my-commits-linked-to-the-wrong-user/#commits-are-not-linked-to-any-user

[2018-04-05 10:14] #321 closed

[2018-04-15 14:18] wavezhang opened #322 "CLA status mismatch"
URL to the linked Repo/Org:
https://github.com/drone/drone

Steps to reproduce the problem:

1. open pull request https://github.com/drone/drone/pull/2324
2. Signed the CLA for drone/drone

![image](https://user-images.githubusercontent.com/832911/38779377-fcbdf3aa-40f9-11e8-82d1-c2c29268f822.png)

3. Check status of CLA
![image](https://user-images.githubusercontent.com/832911/38779383-205c483e-4

[2018-04-16 07:45] KharitonOff commented on #322
@wavezhang , CLA Assistant checks the committers of the PR, whether they have signed the CLA or not. In your PR you have used an invalid email address, so GitHub can't recognise you as a committer and CLA Assistant won't change the status to green.

[2018-04-16 07:45] #322 closed

[2018-04-18 07:11] rupalimehta05 opened #323 "getting below error during installation on npm and execution of grunt"
18 04 2018 07:09:36.986:WARN [watcher]: Pattern "/home/ec2-user/demo/cla-assistant/src/bower/should/should.js" does not match any file.
18 04 2018 07:09:36.987:WARN [watcher]: Pattern "/home/ec2-user/demo/cla-assistant/src/bower/bootstrap-sass-official/assets/javascripts/bootstrap.js" does not match any file.
18 04 2018 07:09:36.987:WARN [watcher]: Pattern "/home/ec2-user/demo/cla-assistant/src/bo

[2018-04-18 17:48] #304 closed

[2018-04-19 07:31] KharitonOff commented on #323
@rupalimehta05 could you describe, which steps you have done before you've got this error, please?

[2018-04-19 10:37] rupalimehta05 commented on #323
yes ,
 below the list of steps i tried  for Cla installation

curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.33.6/install.sh
| bash
. ~/.nvm/nvm.sh

 Close and reopen your terminal to start using nvm or run the following to
use it now:

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash

[2018-04-23 05:36] rupalimehta05 commented on #323
Hello Anton,

Did you guys able to create issue ..? My team is waiting for the solution
to proceed further  .

Thanks & Regards
Rupali Mehta

On Thu, Apr 19, 2018 at 4:07 PM, Rupali Mehta <rumehta@tibco.com> wrote:

--
*Thanks & Regards*
*Rupali Mehta*

[2018-04-23 08:45] KharitonOff commented on #323
Sorry for long delay in my responses! I could not find time to try it out so far.
I assume, you are going to install cla-assistant on AWS.
I just went through the steps you described above and installed CLA Assistant on my AWS instance. Everything worked well so far (no errors)...

Your error looks for me like npm install didn't run well and there are some missing libraries.
I've updated some depe

[2018-04-23 13:02] KharitonOff commented on #323
"Unsupported platform for fsevents@ 1.1.2: wanted {"os":"darwin" ..." <- Ok, I've tested it on ubuntu. I'll try to install it on linux...

"sh: node: command not found" <- have you correctly installed node? Which node version do you have? (`node --version`)

[2018-04-23 13:18] KharitonOff commented on #323
ok, linux works for me too. I get similar Warnings but no errors on npm install

[2018-04-23 16:41] rupalimehta05 commented on #323
Hello Anton,

I am using nodejs 8.9.4 and  the following commands to install nodejs

curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.33.6/install.sh
| bash
. ~/.nvm/nvm.sh

checked ~/.bashrc file

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This
loads nvm bash_compl

[2018-04-23 17:59] erickpeirson opened #324 "Link individual repositories in an organization"
I'm excited to start using cla-assistant! But I'm a bit puzzled by (apparent) limitation that one cannot use cla-assistant for individual repositories within an organization.

Here's what I see when I click "want to link an org?" in the Configure CLA view:

![image](https://user-images.githubusercontent.com/3451594/39144197-117082e0-46fe-11e8-83cf-ed5c76175bdb.png)

Enabling cla-assistant for all

[2018-04-23 18:38] thojansen commented on #324
The "link to an org." feature is an optional step which you can ignore if you do not want to use it. Just follow the three steps for an individual repo and you should be good to go. It does not matter if this is a personal one or an org. one. You should see all repos where you are an owner in the dropdown list.

[2018-04-23 18:53] erickpeirson commented on #324
On a hunch, I checked the OAuth application settings on GitHub, and it looks like org access hadn't been granted. Granting it did the trick. Sorry for the false alarm. Perhaps this is a feature request for a tooltip or help text describing this scenario?

Thanks for putting together a great project!

[2018-04-23 18:54] #324 closed

[2018-04-24 16:12] gsaslis commented on #315
@KharitonOff awesome! thanks!

your help will be much needed, as I'm very unfamiliar with the JS world.
I started a PR, so I can get your feedback on whether i'm following the right approach with adding this logic in the right place.

https://github.com/cla-assistant/cla-assistant/pull/325

Looking forward to your feedback  ; )

[2018-04-25 11:50] KharitonOff commented on #323
Hi Rupali,

I'm sorry, I don't have enough time this week to look deeper into this issue.
npm start did work for me on both instances as expected, with no errors... I did all the steps you described above, nothing additional.

Regards
Anton

[2018-04-29 10:28] waldyrious commented on #156
I'm *still* interested in this.

[2018-04-29 22:38] loewenstein commented on #241
@KharitonOff any news?

[2018-05-03 10:07] #306 closed

[2018-05-07 07:21] wyy912 opened #326 "Sign the agreement (multiple times) but project says it still is not signed"
https://github.com/alibaba/freeline/pull/985
I sign multiple times, but the second still not work

[2018-05-07 07:53] KharitonOff commented on #326
@wyy912 you can ignore the second comment. Since the status of the PR is green, everything is ok.
Actually there should be only one comment from CLA assistant. I'll take into consideration that there is probably a bug on our side.

[2018-05-07 07:53] #326 closed

[2018-05-07 08:07] wyy912 commented on #326
thank you so much

[2018-05-07 16:33] marcoconti83 opened #327 "Can not restore CLA assistant integration after removing it"
URL to the linked Repo/Org:
- This is one example PR in the org: https://github.com/wireapp/wire-android/pull/1562

Steps to reproduce the problem:
1. Remove the CLA assistant integration. This happened because the person that set up CLA integration for the entire organization was demoted from owner to member, which I guess revoked all integrations he had set up.
2. Re-add CLA assistant integratio

[2018-05-07 23:25] nothingismagick commented on #156
I would like to know about this too.

[2018-05-08 08:37] KharitonOff commented on #327
@marcoconti83 , the current "link" for the wireapp org is done by @lipis (he has set it up previously too, as far I know)
Your new user (an owner of the org) has to unlink the Org in CLA assistant and link it again with **exactly the same gist file** . All signatures still remain valid then and CLA assistant will be able to update statuses in your Repos again. In order to secure yourself I would r

[2018-05-14 03:48] jleclanche opened #328 "Feature request: Import with signing dates"
Since cla-assistant can export with signing dates, it should really be able to import signing dates as well.

[2018-05-14 05:56] MichaelTsengLZ commented on #232
Right now, we use an API to create/delete a 'fake' CLA signature in the DB. So you could have a custom microservice to update the whitelist on the fly. Does this meet your requirement?

[2018-05-14 07:36] thojansen opened #329 "user consent to privacy policy"
Until May 25th, we need to check for user consent.

[2018-05-16 14:18] KharitonOff commented on #328
I agree with you!
You are very welcome to contribute, otherwise it could take a bit too long till we'll be able to implement your request 😞

[2018-05-16 15:29] marcoconti83 commented on #327
It does, sorry for missing the update.
Thanks @KharitonOff !

[2018-05-16 19:05] thojansen commented on #238
Still relevant.

[2018-05-17 07:07] thojansen commented on #329
Currently checking with Legal if we need explicit consent of if the current terms are sufficient.

[2018-05-17 07:09] thojansen opened #330 "web analytics tracking"
Web Analytics will be removed due to the new cookie policy.
- [x] remove GA tracking
- [x] remove section from legal/ privacy policy

[2018-05-23 21:45] pethers commented on #173
Just started using cla-assistant and have the same issue, any progress or workaround ?

[2018-05-29 20:03] mcred opened #331 "Bad Request response for api/cla/getAll"
Based on #166, I created a request to `https://cla-assistant.io/api/cla/getAll` and set the `x-token` header to be an access token that has access to my org. I've confirmed that the CLA Assistant app has proper permissions, as well as organization access. When I pass the following as the request body:

[code]
I receive the following response:
[code]
Can someone help me understand why the request i

[2018-05-30 11:56] KharitonOff commented on #331
indeed, it doesn't work currently. This API should still work for repos but it's broken for orgs. Sorry for that. I'll fix it in the next release. It could take a one or two weeks, though. I hope you don't depend on it.

[2018-05-30 21:27] nac2791 opened #332 "Docker hub published image"
Is there a published image on docker hub?

[2018-06-04 07:35] KharitonOff commented on #332
We don't have an official image. There are some legends though, who has published cla-assistant docker image on docker hub several months ago:
https://hub.docker.com/r/gocddev/cla-assistant/
https://hub.docker.com/r/ketan/cla-assistant/

[2018-06-04 07:35] #332 closed

[2018-06-04 17:07] nac2791 opened #334 "Setup your own instance of CLA assistant Docs"
I am having trouble getting my instance up and running. I am trying to get a test instance going for my company internally on a GHE instance. I was able to find the overrides in [src/config.js](https://github.com/cla-assistant/cla-assistant/blob/master/src/config.js#L11) to get the API calls working to the GHE instance but I am having problems when the application is hitting the `/count/stars` end

[2018-06-07 09:32] KharitonOff commented on #334
@nac2791 sorry for long delay.
This is definitely a buggy implementation of the start screen! We will fix it in the next release.
If you wisch you can just comment the activity block in the login.html https://github.com/cla-assistant/cla-assistant/blob/48ac830ed81e2c764f4d297be63cb74f180644c5/src/client/login.html#L123-L135

and the api call in the controller/home.js
https://github.com/cla-assista

[2018-06-07 19:06] mfreed opened #336 "Make signatories verifiable when exporting list"
Thanks for building and running the CLA service!

One desired property of a CLA is that consent/signatories can somehow be verifiable or auditable, if one ever wants proof that a particular person actually signed the CLA.

With a digital signing service like DocuSign, one can download what appears to be a PDF with the party's digital signature on the document (including some "stamp" by the service

[2018-06-07 19:18] mfreed opened #337 "Update CLA without losing current signatories or keep records across versions"
My understanding/experience has been if we change the CLA, it effectively looks like a new document from the perspective of the system, so requires that we get new signatures.  I understand the purpose of this to avoid projects changing the terms of the CLA without appropriate acceptance by users.

In our case, we recently changed the legal name of our company, and prefer that our CLA reflects the

[2018-06-08 10:57] #334 closed

[2018-06-11 07:46] KharitonOff commented on #336
Thank you very much for your valuable feedback! This issue was raised couple times already and we think this would improve the service a lot! Unfortunately we had not enough capacity so far to deep dive into this topic and implement it. You are very welcome to help us here and work out this idea (e.g. find libraries we could use, provide a sample implementation or just find an example we could loo

[2018-06-11 08:00] KharitonOff commented on #337
If I understand you right, this feature is already available. All signatures remain untouched for each version of your CLA. If you click on the number of signatures for a linked repo, you'll see the list of signees for the current CLA version. There is also a dropdown list, where you can switch between the versions of your document or take a view on the list of all signees of all versions.

![scre

[2018-06-13 20:29] mcred commented on #331
In the changelog for 1.7.0 I see this issue reference. I tried my call again, but now I get the following response:

[code]

Which org or repo is this message referring to? For the org in question, I'm an owner and have admin access to all repos.

[2018-06-14 07:28] KharitonOff commented on #331
@mcred yes, you are right. It seems that you have linked your org with a 'shared' CLA. The signatures for this CLA (can) refer to multiple orgs and repos. So this API doesn't work for shared CLAs yet. Sorry for that! Unfortunately I can't make any forecast how soon we'll make it possible to get the signatures via the API for a shared CLA.

[2018-06-14 08:48] mastrolinux opened #338 "Allow selecting single repos for new type of Orgs"
No way to select single repo on new orgs. The single repo feature is only available for old type of orgs.

URL to the linked Repo/Org:
https://github.com/bcmi-labs

Steps to reproduce the problem:

1. Link your org by granting access
2. Try to select single repo
3. You will only see forked repos but not all the repositories the organization has:
![image](https://user-images.githubusercontent.com/1

[2018-06-14 14:23] KharitonOff commented on #338
@mastrolinux could it be that the repos, you can't find for bcmi-labs are private? If I go to the provided url GitHub says, there are only 10 Repositories.
![screen shot 2018-06-14 at 16 19 46](https://user-images.githubusercontent.com/8480657/41418039-362b3098-6fef-11e8-9d82-5a5b45c498a1.png)

[2018-06-14 14:23] mcred commented on #331
Do you have any suggestions for a work around? It works through the UI. See screenshots below. Is there a way to make multiple API calls or act like the UI?

<img width="858" alt="screen shot 2018-06-14 at 10 05 35 am" src="https://user-images.githubusercontent.com/4326032/41418048-efcd6562-6fbc-11e8-8974-ae4a1a8b4430.png">
<img width="858" alt="screen shot 2018-06-14 at 10 07 47 am" src="https://

[2018-06-15 20:07] rojotek opened #340 "Experiencing 502 errors when signing CLA"
I'm currently testing CLA assistant on a personal repo before considering rolling it out across our organisation.

Unfortunately, people are getting 502 errors after signing the CLA.

They get the expected CLA not signed message, and then when they sign it they end up with a 502.
URL to the linked Repo/Org:
https://github.com/rojotek/swift-run

Steps to reproduce the problem:

1. Create a PR again

[2018-06-18 07:10] KharitonOff commented on #340
Thank you very much for reporting this!! 👍

[2018-06-18 08:56] #340 closed

[2018-06-18 15:02] alonsocamaro-test opened #341 "CLA assistant is down"
## Required

URL to the linked Repo/Org: https://cla-assistant.io/accept/f5devcentral/f5-tmsh2iapp?pullRequest=5

Steps to reproduce the problem:

1. Send a pull request
2. Try accepting it

What is the expected result?

The site to be up

What happens instead?

Please see attached screenshot

[2018-06-18 15:03] alonsocamaro-test commented on #341
Attached screenshot of the issue:

<img width="1497" alt="screen shot 2018-06-18 at 17 02 37" src="https://user-images.githubusercontent.com/40360012/41544600-72da4b32-7319-11e8-8f3d-e4135967505c.png">

[2018-06-18 15:10] KharitonOff commented on #341
Now it should be solved. Can you test it again, please?

[2018-06-18 15:49] ComcastOSS opened #342 ""Choose an org or a repo" only lists repos and not the orgs"
URL to the linked Repo/Org:
https://github.com/Comcast & https://github.com/vinyldns

**Steps to reproduce the problem:**
1. Sign in to https://cla-assistant.io/
2. Click "Configure CLA"
3. Click the dropdown for "Choose an org or a repo"

**What is the expected result?**
The Orgs I've granted cla-assistant access to will appear in the dropdown

**What happens instead?**
Only the repos apear

## O

[2018-06-18 17:11] alonsocamaro-test commented on #341
Yep, working like a charm.

Thanks! :-)

[2018-06-18 17:11] #341 closed

[2018-06-19 04:47] rojotek commented on #340
So the cause for me was missing the json metadata with the gist license file.  It would be awesome if there was a check for metadata somewhere to help catch this.  Maybe in the validations when setting up the license.

[2018-06-19 07:41] KharitonOff commented on #342
Do you see the green check marks for the orgs under "Organization access" if you go to the page https://github.com/settings/applications and click on CLA assistant?
![screen shot 2018-06-19 at 09 39 23](https://user-images.githubusercontent.com/8480657/41583456-d7490f14-73a4-11e8-9d5c-5a34a1aef943.png)

[2018-06-19 07:49] KharitonOff commented on #340
I'm glad that you could find the problem and solve it!
The 502 shouldn't happen and there was a bug in the last implementation. Normally you see an error message on the CLA page if JSON format is wrong. A metadata file is optional, that's why we don't validate it (it would be good to have the validation, but there is too little capacity on our side to implement it too).

[2018-06-19 08:55] alonsocamaro opened #343 "doc request: provide details to allow automatic download of contributors"
Hi

First of all congratulations for the project

It would be great to have documented the export to CSV process for automation (including sign-in). A curl based example would be ideal.

Many thanks

      Ulises

[2018-06-19 13:34] ComcastOSS commented on #342
Yes

![image](https://user-images.githubusercontent.com/26928386/41600446-f5ed09ee-73a3-11e8-912a-94bb54d32d0b.png)

[2018-06-19 14:13] KharitonOff commented on #342
ok... do you have admin rights on this orgs?

[2018-06-20 15:38] #317 closed

[2018-06-21 10:48] alonsocamaro opened #344 "feature request: non overridable prefills of GitHub data"
First of all thanks very much CLA assistant and running it

I wonder if it could be possible to make githubKey's not overridable, maybe by pulling them directly from github rather than from the form?

Many thanks

        Ulises

[2018-06-21 12:15] KharitonOff commented on #344
Glad that you like and use CLA assistant!
There are a lot of GitHub accounts with fake names and other data. I think we should keep the possibility to override this data.

A workaround could be in your case to create a form with 'hidden' fields, such fields are not presented to the user and could be filled with github data.

[2018-06-21 12:37] alonsocamaro commented on #344
Thanks for the suggestion!

I didn't realize of the hidden data. I will start using it straight away. Feel free to close this request if what I'm proposing is not doable.

With respect of the fake names and data I agree. I guess the solution is [https://github.com/cla-assistant/cla-assistant/issues/336](https://github.com/cla-assistant/cla-assistant/issues/336
) which I understand does not only ap

[2018-06-21 12:50] KharitonOff commented on #344
Ok, I'm happy that we could find a solution for your use case! And thank you very much for your support and advocating in your company!

[2018-06-21 12:50] #344 closed

[2018-06-21 14:52] KharitonOff commented on #344
@alonsocamaro I think this feature is already implemented. Sorry for not letting you know it strait at the beginning and not having documented it properly (any help here would be appreciated 😄)... There is a type **'readonly'**. The only problem here is, these fields won't have a label. Is it what you needed?

[2018-06-21 15:09] alonsocamaro commented on #344
@KharitonOff

Ummm I'm not finding "readonly" in the JSON schema... what am I missing here?

Also, does this 'readonly' means that that data field cannot be tampered?

[2018-06-21 15:35] KharitonOff commented on #344
Yes, as I said, it is not documented properly (even the JSON schema doesn't contain it) but it should work. And yes, 'readonly' means that the data field cannot be tampered. In combination with github_key it should work, like required from your side.

[2018-06-21 16:58] alonsocamaro commented on #344
Thanks @KharitonOff !!!

I gave it a try and it is working. I see that the fields are displayed in the form just not an editable text field. See attached a screenshot of:

[code]

<img width="404" alt="screen shot 2018-06-21 at 18 55 52" src="https://user-images.githubusercontent.com/16683733/41733661-d3181be2-7584-11e8-93b8-621dc1d6ee99.png">

I will be glad adding this to the CLA-assist page.

F

[2018-06-22 07:40] KharitonOff commented on #344
It is not assured at all... At the end we just present this field as a label on the UI, so the normal user has no possibility to edit it. But the POST request can still be manipulated...

[2018-06-22 07:50] alonsocamaro commented on #344
Thanks for the clarification @KharitonOff !

Talking with legal from my company they say that e-mail verification  would be a defense in the case "there was some enforcement action against us based on someone fraudulently submitting code that we redistributed".

Given that github does e-mail verification I believe it would be very interesting if this data is pulled by CLA-assistant server directly

[2018-06-22 07:56] KharitonOff commented on #344
@alonsocamaro sure,  feel free to reopen the issue.
You are also very welcome to create a PR and propose your solution there 👍
Isn't it enough from your legals point of view to identify the committer with his GitHub user name?

[2018-06-22 07:57] alonsocamaro commented on #344
@KharitonOff let me get back to you next week

[2018-06-22 08:04] KharitonOff commented on #331
@mcred sorry for late response. Unfortunately I don't have a quick solution in mind. I see the need of improvement for the API, but I can not estimate how soon we'll make it available. The fastest way probably would be a corresponding contribution from your side 😃 Otherwise I'll keep in mind your request and will implement a solution after the features of higher priority are done.

[2018-06-23 02:32] lorensr opened #345 "cla-assistant.io not functioning"
**URL to the linked Repo/Org:** https://github.com/GraphQLGuide/book/

### Steps to reproduce the problem:

1. Create a PR

### What is the expected result?

A comment should appear saying to sign

### What happens instead?

Nothing. For example: https://github.com/GraphQLGuide/book/pull/10

[2018-06-23 17:08] lorensr opened #346 "validatePullRequests timeout"
After I select "Recheck PRs", I get a 524 error:

![image](https://user-images.githubusercontent.com/251288/41811923-884e2012-76e6-11e8-8c21-3857543fe7fb.png)

![image](https://user-images.githubusercontent.com/251288/41811920-77e4f12e-76e6-11e8-84c5-2d5be6e118ee.png)

[2018-06-25 08:28] KharitonOff commented on #345
@lorensr sounds strange. According to our logs, the GitHub API responded with no committers for both PRs. I can imagine that something went wrong during the setup and now, the communication between CLA Assistant and GitHub doesn't work properly... Could you relink your repository (remove the current link and create it again) in CLA Assistant, please?

[2018-06-26 04:32] lorensr commented on #345
Fixed, thanks!

[2018-06-26 04:32] #345 closed

[2018-06-26 04:32] lorensr commented on #346
Fixed, see #345

[2018-06-26 04:32] #346 closed

[2018-07-01 15:32] josemariabooymts opened #347 "tsketh"
URL to the linked Repo/Org:

Steps to reproduce the problem:

1.
2.
3.

What is the expected result?

What happens instead?

[2018-07-02 06:58] #347 closed

[2018-07-02 07:00] KharitonOff commented on #338
@mastrolinux could you solve this problem?

[2018-07-02 16:43] pelsasser opened #348 "Redirects after signing end up with GitHub abuse detection mechanism when signing CLA"
URL to the linked Repo/Org:
https://github.com/MARKETProtocol/MARKET.js

Steps to reproduce the problem:

1. Open a PR
2. Attempt to sign CLA

Here is an example where one contributor receiving the error - https://github.com/MARKETProtocol/MARKET.js/pull/57#issuecomment-401833531

What is the expected result?
signing is successful

What happens instead?
Several redirects looping until GitHub compl

[2018-07-02 17:33] pelsasser commented on #348
Also have seen this as well when trying to sign CLA for same repo

![image](https://user-images.githubusercontent.com/15096737/42177936-ca92df1a-7deb-11e8-9ca1-01c89a5ebe55.png)

[2018-07-03 09:01] KharitonOff commented on #348
Thanks for reporting this issue. I'm looking into it...

[2018-07-03 14:16] mastrolinux commented on #338
Yes, looks like the app does not work with private repos, I think it should be documented, it would be useful for testing.

[2018-07-03 15:36] dotlambda opened #349 "Requires JavaScript"
Cla-assistant requires users to enable JavaScript in their browsers. I prefer not to do that for random sites.
Would it possible to implement it in such a way that basic functionality works without JS?

[2018-07-03 23:40] robertDurst opened #350 "Deleting hosted data?"
Hey, sorry if a) this has already been answered and b) for not following the template.

If we want to delete the hosted data, can we? How does this process work?

[2018-07-04 07:38] KharitonOff commented on #350
@robertDurst no Problem, the template is only for bug reporting there...
If you want to delete all signatures related to your repo/org you need to contact us via an issue or an email and provide the name of your repo/org. We'll do it for you.

[2018-07-04 07:47] KharitonOff commented on #349
@dotlambda CLA Assistant is an angular app. The whole logic is in javascript implemented. I can hardly imagine how to do this without JS. But we are always open for contributions from the OS community so you are very welcome to help us and improve CLA Assistant in this point 😃

[2018-07-04 14:49] KharitonOff commented on #338
Good idea, you are welcome to help us here and update the description in the way you would expect it 👍

[2018-07-04 14:49] #338 closed

[2018-07-05 08:47] KharitonOff commented on #348
@pelsasser now it should be solved. The problem was caused by browser caching mechanism, since your repo name ends with .js the http responses were cached in a different way than for other repos 😕
Could you try it again and close the issue if it is working for you now, please?

[2018-07-05 12:41] #330 closed

[2018-07-05 12:45] KharitonOff commented on #329
no need for explicit consent on our side, but a possibility for project owners to get a user consent to the processing the data in accordance to the project owner's privacy policy

[2018-07-05 13:11] pelsasser commented on #348
@KharitonOff - issue looks to be resolved! Thanks so much for the quick response!

[2018-07-05 13:11] #348 closed

[2018-07-06 08:34] KharitonOff commented on #328
done

[2018-07-06 08:34] #328 closed

[2018-07-06 08:50] KharitonOff commented on #173
This feature is finally live! 😃  You can use a whitelist of contributors (also with wildcard \*) for your repo/org. To do so you just need to click "Edit" button and type `*[bot]` or a comma separated list of user names into whitelist field
![screen shot 2018-07-06 at 10 36 16](https://user-images.githubusercontent.com/8480657/42368999-ea3b6fc4-8108-11e8-918f-732a328a39b2.png)
![screen shot 2018-0

[2018-07-06 08:50] #173 closed

[2018-07-06 08:50] #241 closed

[2018-07-06 08:52] #349 closed

[2018-07-06 08:53] #350 closed

[2018-07-06 11:40] matz3 opened #351 "List of signed contributors gone after adding whitelisted user"
URL to the linked Repo/Org: https://github.com/SAP/ui5-fs, https://github.com/SAP/ui5-tooling

Steps to reproduce the problem:

1. Click new "Edit" button
2. Add whitelisted user (e.g. "dependabot")
3. Refresh project list

What is the expected result?
List of signed contributors is still there as before

What happens instead?
List of signed contributors is empty. Even after logoff and logon again

[2018-07-06 12:12] KharitonOff commented on #351
@matz3 could you look into browser log, please? Do you see any errors there?

[2018-07-06 12:17] KharitonOff commented on #351
I could reproduce this issue on my own now. I'll try to fix it as soon as possible. Thank you!

[2018-07-06 12:59] KharitonOff commented on #351
@matz3 I found the problem and the fix is on it's way... You can get your contributors back by editing the repo and selecting the 'SAP individual CLA' again.
The problem was: there are different urls, leading to the CLA. On edit, the wrong url was taken for the default SAP's CLA (my fault).

[2018-07-06 13:03] KharitonOff commented on #351
btw. the github name of dependabot is `dependabot[bot]`, so you have to whitelist either `dependabot[bot]` or `*[bot]` or `dependabot*`

[2018-07-08 22:04] pethers commented on #173
Thanks @KharitonOff have updated the settings with codacy-badger,*-bot . After a recheck it's all green for bots now, used https://github.com/Hack23/cia/pull/51 for test and all looks good :)

[2018-07-09 07:41] #351 closed

[2018-07-09 07:44] KharitonOff commented on #343
thank you for a good proposal!

[2018-07-09 08:44] KharitonOff commented on #173
@pethers great! Thank you for testing and letting us know that it works for you!

[2018-07-09 12:39] #156 closed

[2018-07-09 12:46] KharitonOff commented on #156
I linked the name of the CLA file with the CLA page. You can easily navigate to this page by clicking on the link. I hope it is sufficient for your use case.
![screen shot 2018-07-09 at 14 43 52](https://user-images.githubusercontent.com/8480657/42451239-e8491196-8386-11e8-9783-5766b18f2b7f.png)

[2018-07-11 22:06] decause opened #352 "Contributor has signed CLA but sill shows check as "pending" on pull request"
URL to the linked Repo/Org: https://github.com/twitter/chill/pull/314

Steps to reproduce the problem:

1. I double checked at our export list and can confirm that the user has signed the CLA, but the check is still "pending" on the pull request.

What is the expected result?
The check should pass, and the dot should be green.

What happens instead?
The check is pending, and the dot is yellow.

[2018-07-11 22:09] decause commented on #352
It seems like the bot is looking for "Zanfeng Feng" and the entry in our export is fengzanfeng?

[2018-07-12 06:34] KharitonOff commented on #352
@decause yes, this happens often. Some contributors doesn't use the same e-mail for their commits as they have stored in their GitHub account. That's why we placed the info in the comment from CLA Assistant

there is also a link to the GitHub documentation with proposal how to solve this https://help.github.com/articles/why-are-my-commits-linked-to-the-wrong-user/#commits-are-not-linked-to-any-use

[2018-07-19 20:22] kevincox opened #353 "Send email on new signatures."
It would be good to have the option to send signature notifications, and copies of the provided information to an email address. This would allow easy archiving of the signatures.

I think the email should include at least:
- Signers name and email.
- Date
- Version/text of CLA signed.

[2018-07-20 07:39] KharitonOff commented on #353
I like your idea! It corresponds to the issue #299
It would be great to have the possibility to export/receive the content of the signed CLA in any possible form!

[2018-07-22 02:23] prestonvanloon opened #354 "CLA assistant is down"
https://cla-assistant.io/ returns "internal server error"

[2018-07-22 12:12] prestonvanloon commented on #354
Its back online today

[2018-07-22 12:12] #354 closed

[2018-07-31 12:37] #323 closed

[2018-07-31 17:46] hentisemmle opened #356 "Must specify two-factor authentication OTP code using GITHUB_TOKEN"
https://github.com/Semmle/cla-test

Steps to reproduce the problem:

1. Setup docker / mongo as per instructions. Created semmle-cla user for user/pass/token setup.
2. Set env vars for HOST, PROTOCOL,GITHUB_CLIENT,\
    GITHUB_SECRET,GITHUB_USER,GITHUB_PASS,GITHUB_TOKEN,MONGODB
4. link repo
3. Create pull request

What is the expected result?

cla assistant comments on the PR

What happens instead

[2018-08-01 09:29] hentisemmle commented on #356
The solution is to use the GITHUB_TOKEN cvalue in GITHUB_PASS.

The documentation is not very clear on having to do this if using a TOKEN. I suggest you update it.

[2018-08-01 09:46] #356 closed

[2018-08-02 09:06] KharitonOff commented on #356
@hentisemmle I'm glad, that you could solve this issue! Would you mind to make a contribution to this project by updating our README correspondingly? I would really appreciate it!

[2018-08-02 23:06] ry opened #358 "Transfer repo"
I transferred a repository `ry/deno` to `denoland/deno` and stupidly didn't think to look at CLA assistant first - and now can't find any mention of `deno` on the cla-assistant site. Any idea how to get that data back?

[2018-08-03 05:26] ry commented on #358
Resetting oauth allowed me to get access to the data.

[2018-08-03 05:26] #358 closed

[2018-08-03 05:37] firewicca opened #359 "Hello World 🕯🔥💎"
URL to the linked Repo/Org:

Steps to reproduce the problem:

1.
2.
3.

What is the expected result?

What happens instead?

[2018-08-03 06:04] firewicca opened #360 "Hello!"
Go

URL to the linked Repo/Org:

Steps to reproduce the problem:

1.
2.
3.

What is the expected result?

What happens instead?

[2018-08-03 06:36] akki-jat commented on #352
I am facing the same problem. I have already added account from which I committed to my GitHub account.
Even though it is not reflecting.

[2018-08-03 07:55] KharitonOff commented on #352
@akki-jat If you have already added the email you have used in the commit to your GitHub account, then the CLA Assistant needs to be triggered in order to recheck the PR. It can be done either via a PR webhook (just update the PR by adding a comment or a commit) or via a "Recheck PR" in the CLA Assistant ui (only the project owner can do it)

[2018-08-03 09:10] akki-jat commented on #352
@KharitonOff I added both comment and commit after updating the email, but even thought it is showing pending.
And I can't confirm with "Recheck PR" option.

[2018-08-03 09:13] KharitonOff commented on #352
@akki-jat can you provide me the url of the PR, please?

[2018-08-03 09:17] akki-jat commented on #352
@KharitonOff here it is [https://github.com/webpack-contrib/style-loader/pull/333](https://github.com/webpack-contrib/style-loader/pull/333)

[2018-08-03 09:32] KharitonOff commented on #352
@akki-jat I've reported your issue to GitHub and will let you know as soon they'll contact me. It is definitely not an issue with the CLA Assistant, we rely on the data, provided by GH. If GH can not recognise you as a committer, then CLA Assistant can't do it to either.

[2018-08-03 09:37] akki-jat commented on #352
@KharitonOff ok, thanks.

[2018-08-03 12:43] andrerom commented on #320
In regards to org:

The link to setup org rights should probably be marked as not working with however text that it only works for org owners.

[2018-08-03 12:52] KharitonOff commented on #352
@akki-jat I've just forwarded you the response from GitHub via email

[2018-08-03 13:04] andrerom opened #361 "[Doc] What repo rights does GITHUB_USER, as well as user configuring CLA need to have?"
Partly related to #320.

Would be good if doc was much more clear on what rights does:
- GITHUB_USER need?
- User logging in to administrate instance ("Configure CLA") need?

Context:
We have an issue where web hooks don't trigger CLA check, even if everything seems fine on Github side with 200 response from CLA assistant instance as seen on hook on Github side. However running "Re-check PRs" fixe

[2018-08-05 10:42] akki-jat commented on #352
@KharitonOff thanks, issue is resolved.

[2018-08-06 17:12] #360 closed

[2018-08-07 16:04] kristakhare opened #362 "Way to remove personal information per GDPR"
Have you considered the request for and storage of Full Name, a piece of PII and implications of GDPR for European contributors? It would be great if the tool offered a way to request removal of personal information.

I also wonder if signature (assumed full name) could be replaced by GitHub username, and how would that affect recognition of signature?

[2018-08-08 18:53] kristakhare commented on #362
Thank you for your response! I will close this issue for now, since I think we can customize our fields to address.

[2018-08-08 18:53] #362 closed

[2018-08-13 13:10] hentisemmle opened #363 "Customised landing page"
URL to the linked Repo/Org:

N/A

Steps to reproduce the problem:

1. Setup your own instance of CLA assistant
2. Go to landing page

What is the expected result?

See a custom landing page with branding that matches the owner of the instance

What happens instead?

See the default SAP CLA page.

## Optional

Currently the default installation of CLA on your own instance will show you the default

[2018-08-14 03:30] flemingm opened #364 "can't sign mark fleming -- which is same person as flemingm"
URL to the linked Repo/Org:

https://github.com/dlemstra/Magick.NET/pull/284

Steps to reproduce the problem:

1. add other email for me. And re-verifed. did not find me.

What is the expected result?

verify mark fleming and flemingm as the same person.

What happens instead?

Said one person was not verified.

[2018-08-14 08:05] KharitonOff commented on #364
@flemingm it seems to be solved isn't it?

[2018-08-14 08:25] sssemil opened #365 "Updating contract"
Repo: https://github.com/NordicSemiconductor/Android-BLE-Library

I used to commit on my behalf, but now I'm doing it on behalf of my company. How can I change the contract for any further PRs?

Thanks.

[2018-08-14 08:42] KharitonOff commented on #365
There is no option to change a signature afterwords.
But your use case is absolutely valid and we have to handle it! Unfortunately I can not promise you to have it done on a short term.
The easiest and fastest way for you is to get in contact with the project owner and provide your agreement on behalf of your company formless.
Sorry for that.

[2018-08-14 12:08] sssemil commented on #365
Alright. Thanks, keep up the good work.

[2018-08-15 00:01] flemingm commented on #364
yes --- it could have been a timing issue.

[2018-08-15 00:01] #364 closed

[2018-08-17 15:43] ixalon opened #366 "List of signed contributors gone after adding whitelisted user to linked organisation"
This is similar to https://github.com/cla-assistant/cla-assistant/issues/351 however it is against an Organisation CLA with a link to a gist so there appears to be no way to perform the fix to get the signed user list back.

Is there any way to recover the list?

URL to the linked Repo/Org: https://github.com/beamly

**Steps to reproduce the problem:**

1. Edit linked organisation
2. Modify "Provi

[2018-08-17 16:53] ixalon commented on #366
I've imported a CSV of those who I know have signed the CLA, but the bug still exists.

[2018-08-21 20:27] #238 closed

[2018-08-27 09:28] waldyrious opened #368 "How to handle user being removed from org?"
We have been using cla-assistant for a while in [tldr-pages/tldr](https://github.com/tldr-pages/tldr). I was the one who set it up. However, in accordance to our governance processes, I was recently moved from an owner of the org to collaborator in the repo. This seems to have removed the configuration of cla-assistant from the tldr repo.

The checks (e.g. [here](https://github.com/tldr-pages/tldr

[2018-08-27 09:29] waldyrious commented on #368
This may be related to #366, but as I'm not sure, I opened a separate issue.

[2018-08-28 15:18] sbrl commented on #368
Should we re-add you temporarily until this can be resolved, @waldyrious?

[2018-08-28 20:47] sbrl commented on #368
Invitation sent!

[2018-08-28 21:11] waldyrious commented on #368
Thanks, I've just accepted the invitation. Let's see if that works as a stop-gap solution until this issue is resolved.

One good thing that I can confirm is that logging in to cla-assistant.io I do see tldr-pages listed as a linked project, so things hopefully are connected again. So perhaps a solution to this issue is the ability to transfer such a connection to another accounts (or even better,

[2018-08-28 23:44] KharitonOff commented on #368
@waldyrious I'm sorry for a late response (due to vacation time it takes us a bit longer to handle the issues).
Actually cla-assistant should override your token (if it is not valid anymore) with a new one as soon as somebody, who has a valid permission signs in to it.
In future we would like to stop using personal tokens and use an app token instead.

[2018-08-28 23:58] KharitonOff commented on #366
@ixalon thank you very much for reporting this probmlem and please excuse the long delay in the response (due to vacation time it takes us longer to handle issues).
It seems indeed to be the same problem like #351. I'll try to fix it soon.

[2018-08-30 20:37] kirillDanshin opened #369 "CLA whitelist: do not require bots to sign CLA"
URL to the linked Repo/Org: https://github.com/gramework/gramework

Steps to reproduce the problem:

1. Create repo
2. Connect any bot (e.g. FOSSA)
3. See the PR created

What is the expected result?

Bot should not sign CLA to pass the check

What happens instead?

Bot should sign CLA

[2018-08-30 20:39] kirillDanshin commented on #369
ah, sorry, didn't noticed it in the dashboard

[2018-08-30 20:39] #369 closed

[2018-09-05 16:09] jmdh commented on #366
We were bitten by this problem on our self-hosted version of cla-assistant. The problem seemed to be that the edit operation changed the `gist` element of the `repos` document, replacing the correct working `https://gist.github.com/$USER/$ID` URL with `https://api.github.com/gists/$ID`.

In case this is helpful for someone else in a similar situation, before the bug can be fixed, the following wor

[2018-09-06 07:32] ViktorBasanets opened #370 "SomeIssue"
URL to the linked Repo/Org:

Steps to reproduce the problem:

1.
2.
3.

What is the expected result?

What happens instead?

[2018-09-06 07:32] #370 closed

[2018-09-07 01:33] #315 closed

[2018-09-07 14:45] bd82 opened #371 "Feature Request: Monitoring the CLA status of a whole repository / organization"
Hello and thanks for CLA-assistant! 😄

As I understand CLA-A helps ensure contributors signed the CLA by
adding a **status check** to **pull requests**.
That helps ensure **new** content added to a repository is compliant.

But what if I want to ensure all the **past** contributors have signed the CLA?
Basically compare the list of contributors on a github repo to the list of those that have signe

[2018-09-08 10:49] ilyaigpetrov opened #372 "Feature: Copyright Assignment Agreement (CAA)"
Is it possible to use https://cla-assistant.io for [CAA], not CLA?
Is some special configuration required compared to CLA?

[CAA]: http://wiki.civiccommons.org/Contributor_Agreements/#how-to-accept-code-and-documentation-contributions-legally

[2018-09-08 10:58] ilyaigpetrov opened #373 "Question: Isn't a Contribution Notice in README.md Enough?"
Open source project rust-postgres-macros has [a contribution noitice](https://github.com/sfackler/rust-postgres-macros/blob/7d4cc509e5c96e062ba494ecd7fde020a5e91a21/README.md#contribution) in their README.md:

I want to do the same, but with a project dual-licensed under LGPL + proprietary licenses and Copyright Assignment Agreement (CAA) for contributions.
Isn't such notice enough for accepting p

[2018-09-10 12:25] Pro opened #374 "Access for other organization member"
URL to the linked Repo/Org: https://github.com/open62541/open62541

In #99 you mention that every owner of a repository should see the registered repository when logging in to https://cla-assistant.io/

I registered our organization (open62541) with CLA Assistant and I can also see the linked repo:

![image](https://user-images.githubusercontent.com/251973/45297088-81fae400-b504-11e8-9e7d-b894e0c5

[2018-09-10 12:59] Pro commented on #374
@jpfr is now also a public member of the organization, but the repo does still not show up when he logs in. Could it be that you need to trigger a manual resync of the repo?

[2018-09-10 13:18] KharitonOff commented on #374
@Pro this is an issue of auth scope. You have linked not a repo but an org. In order to link an org or to see linked orgs user needs to extend the provided OAuth scope. @jpfr needs to click on "ConfigureCLA" and choose "want to link an org?"
![screen shot 2018-09-10 at 15 14 56](https://user-images.githubusercontent.com/8480657/45299690-a8248200-b50c-11e8-9191-e76b6af7888f.png)

[2018-09-10 13:37] jpfr commented on #374
Great! I got it to work.
Thanks for the assistance.

[2018-09-10 13:39] #374 closed

[2018-09-11 08:01] KharitonOff commented on #371
Thank you for your comments!

You can import an existing list of usernames into CLA assistant
<img width="446" alt="screen shot 2018-09-11 at 09 59 52" src="https://user-images.githubusercontent.com/8480657/45346471-9513bf80-b5a9-11e8-92f0-78533c504daa.png">

You can also link a whole organization
![screen shot 2018-09-10 at 15 14 56](https://user-images.githubusercontent.com/8480657/45345545-f090

[2018-09-11 08:32] KharitonOff commented on #373
Different companies and projects handle this topic with a different approach depending on the opinion of their legal department. With CLA assistant we try to reduce the pain for contributors in such projects which request a CLA. Maybe you can find an answer to you questions here: https://opensource.guide/legal/#does-my-project-need-an-additional-contributor-agreement

[2018-09-11 08:37] KharitonOff commented on #372
I think you should ask a legal person. CLA assistant requests a github authentication from the contributors, I don't think that this would be enough in the CAA use case.

[2018-09-11 08:42] KharitonOff commented on #363
Thank you for your proposal. Some companies, which set up an own instance of CLA assistant have changed the html and css in order to match their branding. I can hardly imagine how we could make it customisable, but you are very welcome to create a PR

[2018-09-11 08:42] #368 closed

[2018-09-11 09:59] waldyrious commented on #368
I'm sorry @KharitonOff, I didn't really understand this:

I meant to reply when I first read your reply but for some reason it slipped me. Could you clarify the steps we should take?

The situation is currently that I can't be removed as a member of the tldr-pages org because the cla-assistant integration is associated to my account. Are you saying it's possible for another member of tldr-pages (e

[2018-09-11 10:57] KharitonOff commented on #368
Yes. CLA assistant checks the stored tokens of the repos each time an admin signs in. Assuming your token has not enough rights anymore (because you have been moved from an owner of the org to collaborator in the repo) and @sbrl is an admin of the org. As soon @sbrl signs into CLA assistant, the tool checks all stored tokens for the repos @sbrl sees in the list and finds the repo with your (invali

[2018-09-11 11:02] #352 closed

[2018-09-11 14:16] #366 closed

[2018-09-11 14:38] KharitonOff commented on #366
@ixalon I've found and fixed the bug. I'll ship the fix tomorrow to production.
As soon the fix is productive you can just go to edit screen again, check whether the gist url is correct (https://gist.github.com/59e096256358ac91ec2a7760c63817b9) and click save.

[2018-09-11 14:40] KharitonOff commented on #366
@jmdh sorry for the inconvenience and thank you for your comment

[2018-09-11 16:34] waldyrious commented on #368
Ok, thanks, that clarifies things! We'll go ahead and do as you described. Can you do that, @sbrl?

[2018-09-11 17:48] sbrl commented on #368
There - I've converted you to an outside collaborator, @waldyrious, and then signed into [cla-assistant.io](https://cla-assistant.io/). How can I verify that it can rechecked & applied the token update please, @KharitonOff?

[2018-09-11 21:43] waldyrious commented on #368
Do you see the tldr project when you log in to cla-assistant.io? Clicking on it should give you access to the info about the tldr repo's cla-assistant integration, including the ability to view the list of signataries. Can you check if you see anything like that? As for confirming that it is still working, I suppose new PRs to the tldr repo should have the CLA check continue to work normally.

[2018-09-12 07:39] KharitonOff commented on #368
@sbrl I can confirm that the token for the linked repo tldr-pages/tldr has changed

[2018-09-12 09:29] sbrl commented on #368
Thanks, @KharitonOff :smiley_cat:

[2018-09-13 00:48] bd82 commented on #371
Thanks @KharitonOff I play around with #166
To see if I can build a script to run the logic I want.

I am thinking about the scenario of ensuring that everyone with write access to a repo
signed the CLA rather than just that all contributions that went through a PR were signed.
Even with PRs status checks can be skipped so I wonder if a stronger verification can be
done.

[2018-09-13 00:48] #371 closed

[2018-09-13 13:39] #363 closed

[2018-09-16 09:16] #337 closed

[2018-09-20 03:49] ktsaou opened #376 "cla-assistant lost most contributors"
Hi,

A few days ago we installed cla-assistant for https://github.com/firehol/netdata
We imported our previous list of contributors that had signed it in the past and we integrated it with github to receive new ones.

Several people had signed the CLA since then. The total count I recall was 48 contributors.

I see now and it has only 6 contributors signed the CLA.

Any ideas what is happening?

[2018-09-20 08:33] KharitonOff commented on #376
Hi,
I suppose it's because of change you have done on the linked gist file 2 days ago. CLA assistant handles each version of the gist file as a separate version of the agreement. As soon the agreement changes contributors need to sign it again. Unfortunately we do not have a semantic versioning mechanism yet, that means even if you do a minor formatting change CLA assistant treats it as a new cont

[2018-09-20 12:31] ktsaou commented on #376
Oh I see. Thank you!
Since the change I made was to just mention cla-assistant, I understand I can export the contributors and import it to the current.

[2018-09-20 12:31] #376 closed

[2018-09-21 15:13] nac2791 opened #377 "Auth Redirect loop"
Thank you for considering to contribute to CLA Assistant.

## Required

URL to the linked Repo/Org: Application is being run on a GitHub Enterprise instance internally

**Steps to reproduce the problem:**

1. Click Sign in
2. Click Authorize

**What is the expected result?**

The application should authorize the an admin and allow them to the homepage to adjust the settings of the application.

**

[2018-09-25 07:07] devonfw-core opened #378 "I can not login with my account"
URL to the linked Repo/Org:
[https://cla-assistant.io/](https://cla-assistant.io/)

Steps to reproduce the problem:

1. Navigate to [https://cla-assistant.io/](https://cla-assistant.io/)
2. Log in with my devonfw-core GitHub account.

What is the expected result?
I should log in

What happens instead?
I receive an error message: **Internal Server Error**. The status code was 500

Any other informa

[2018-09-25 08:46] KharitonOff commented on #378
according to my logs, your user account has exceeded GitHub's API rate limit. Do you use this user account for any other tools, which access GitHub via API?

[2018-09-26 12:34] KharitonOff commented on #378
Ok. I see. I'll try to find the root cause.
Regarding the multiple repositories with one gist: have you already considered to link the whole org instead of single repositories? You can also use an exception list for the repos in the org, which should be excluded. In this case you would have only one CLA link

[2018-09-26 14:11] KharitonOff commented on #377
I'm sorry for long delay in my response. Unfortunately I haven't try to connect the instance to GHE, so I don't have much experience there. I'll try to reproduce your issue and come back to you as soon I have found something valuable.

[2018-10-04 19:06] tipbruley opened #379 "Badge isn't updaing after I sign the CLA"
URL to the linked Repo/Org:

Steps to reproduce the problem:

1.I've signed the CLA but the badge doesn't update

What is the expected result?
1) Badge updates that I have signed the CLA

What happens instead?
1) The PR page acts like it hasn't been sign.

## Optional
Any other information? (attach screenshot if possible)
https://cla-assistant.io/americanexpress/jest-image-snapshot?pullRequest=109

[2018-10-04 20:44] jackkoenig opened #380 "Is it possible to "re-sign" a CLA or perhaps invalidate a signature?"
URL to the linked Repo/Org: https://github.com/jackkoenig/chisel3-skeleton (not really relevant though)

Steps to reproduce the problem:

1. Sign CLA
2. Realize you messed up
3. Click on link to try to sign again, but you can't

What is the expected result?

If someone messes up (eg. signs on behalf of themselves instead of their employer), it would be nice if they had the ability to "re-sign" the

[2018-10-05 15:27] RandomByte opened #381 "Multiple repositories "forgot" signed CLAs"
### URL to the linked Repo/Org:
https://github.com/SAP/ui5-server/pull/58
https://github.com/SAP/ui5-project/pull/43
https://github.com/SAP/ui5-cli/pull/61
https://github.com/SAP/ui5-builder/pull/81
https://github.com/SAP/ui5-logger/pull/31

### Steps to reproduce the problem:

1. Open any of the pull requests linked above
2. Observe CLAassistant comments "CLA: not signed yet"
3. Observe multiple

[2018-10-08 06:01] #379 closed

[2018-10-08 13:20] KharitonOff commented on #380
@jackkoenig unfortunately there is indeed no possibility to resign the CLA. This is absolutely a valid point, that should be covered. For your current situation I would suggest to contact the project owner and provide your agreement in an informal way.
I'll keep your issue as a feature request and hope that we'll be able to deliver it asap.

[2018-10-08 18:13] jackkoenig commented on #380
Fortunately in this case, I am the project owner so I can facilitate such informal "re-signing". Thank you for your response and I look forward to this feature!

[2018-10-09 12:45] #329 closed

[2018-10-09 20:12] f0rt opened #382 "Question: How to change selected options?"
Team,

I've have signed https://cla.opensource.microsoft.com/.  How can I change my employment status for future PRs and submits?

Thanks,
f0rt

[2018-10-14 08:05] #343 closed

[2018-10-15 12:38] xadupre opened #383 "Signature not taken into account"
Url: https://github.com/onnx/onnxmltools

I signed many times the required CLA with no effect. If I try to sign again, a new page opens telling me I already signed but the previous page associated to the PR https://github.com/onnx/onnxmltools/pull/144 tells me I did not.

I tried with Edge, Firefox. No difference.

Is it possible to unblock me?

Xavier Dupré

[2018-10-15 12:46] KharitonOff commented on #383
Hi Xavier,
you should sign the CLA as @sdpython because you've committed to the PR with this account (email). To do so, sign out yourself from github and sign in to github as @sdpython, navigate to CLA assistant via the link in the PR and accept the agreement.

[2018-10-15 12:46] #383 closed

[2018-10-18 07:55] kevincox commented on #353
Ping

On Thu, 18 Oct 2018, 08:48 stale[bot], <notifications@github.com> wrote:

[2018-10-22 15:04] GuyPardon commented on #318
Sorry for re-opening, but I can't seem to find the admin ui (to see the list of contributors) any more - can you help me find it?

Thanks

[2018-10-22 19:43] KharitonOff commented on #318
@GuyPardon can you check the admin screen again, please? GitHub has recently experienced long time outage of some services, thats why CLA assistant could not display all data correctly.

[2018-10-24 08:34] KharitonOff commented on #318
I assume you could find it again and close the issue, if not feel free to reopen it again 😄

[2018-10-24 08:34] #318 closed

[2018-11-04 14:18] Jamlee opened #384 "i have signed, but have no work , why ?"
![image](https://user-images.githubusercontent.com/5196641/47965218-579a5280-e07f-11e8-9818-eea00918ac6c.png)

URL to the linked Repo/Org:
https://github.com/goproxyio/goproxy/pull/14

What is the expected result?
signed the pull
What happens instead?
not work, it is notify to me to sign again.

[2018-11-04 14:29] KharitonOff commented on #384
Please make sure, that @webboy89860 signs the CLA too (this user has committed to the PR).

On 4. Nov 2018, at 15:19, jam lee <notifications@github.com<mailto:notifications@github.com>> wrote:

[image]<https://user-images.githubusercontent.com/5196641/47965218-579a5280-e07f-11e8-9818-eea00918ac6c.png>

URL to the linked Repo/Org:
goproxyio/goproxy#14<https://github.com/goproxyio/goproxy/pull/14>

[2018-11-04 14:39] Jamlee commented on #384
got it , thanks

[2018-11-04 14:39] #384 closed

[2018-11-05 11:34] sdirix opened #386 "Unable to link repository (Webhook API error)"
URL to the linked Repo/Org: https://github.com/eclipsesource/jsonforms-tooling

## Steps to reproduce the problem:

1. Login to CLA Assistant
2. Setting up CLA for a new repository (organization)

## What is the expected result?

CLA Assistant integration successful:
 - Webhook is created
 - CLA Assistant shows repository in list of linked repositories
 - CLA Assistant reacts to PRs

## What happe

[2018-11-06 10:31] KharitonOff commented on #386
@sdirix your repository is stored in the DB with wrong repository id (I don't know how this could happen). We crosscheck the data stored in our DB with 'real' data from GH, that's why cla assistant can't find it and list it as linked one.
I've removed the DB entry manually. Could you try to link the repo again, please?

[2018-11-06 13:10] sdirix commented on #386
Thanks for looking into this issue! Yes, the linking now worked. Thanks for the efforts!

One more thing I don't understand, maybe this is related to the database issue so I will mentioned it here. If it's an own issue I'll open another issue if you prefer.

We share the same gist for multiple repos, however it seems that a different number of people are actually linked.

For privacy reasons I wil

[2018-11-06 16:28] KharitonOff commented on #386
This is possible in case the repo jsonforms and jsonforms-ui-schema-editor haven't had ```shared``` flag previously and had some contributors before you changed it to ```shared```.
The only workaround to bring them to the same set of contributers is to export the set A and import it again for the repo jsonforms-tooling e.g.

[2018-11-06 16:53] sdirix commented on #386
Thanks for the advice. I'll close this as the original issue was resolved. Thanks again!

[2018-11-06 16:53] #386 closed

[2018-11-09 16:38] robinmuilwijk commented on #361
Hi, we are still eager to solve the issue posted on August 3. Does anyone have a suggestion to our problem?

[2018-11-09 16:46] robinmuilwijk commented on #320
@KharitonOff if you need our help in testing/replicating #361, please ask. We are still eager to setup the cla-assistant on our repositories.

[2018-11-12 07:04] capsulecorplab opened #387 "Is it possible to trigger specific CLA's depending on content of PR?"
If, say, a PR includes a png image, is it possible to trigger a CLA specific for handling image copyright? i.e., the CLA(s) triggered is contingent on the contents of the PR.

[2018-11-12 08:56] KharitonOff commented on #387
No, the scenario you've described is currently not possible with CLA assistant. But we are always open for new contributions 😄

[2018-11-12 09:47] KharitonOff commented on #361
@robinmuilwijk sorry for long delay, I've overseen the actual problem your are facing, I thought this issue was just requesting a detailed documentation.
GITHUB_USER doesn't need any special rights. This should be a github user with credentials, who will write/edit/delete comment on PRs (no special rights are needed for this activities on GitHub).
Project owners (users who links a repo or an org o

[2018-11-12 09:51] robinmuilwijk commented on #361
@KharitonOff thanks for the answer, I'll check with @andrerom if he can look at this.

[2018-11-12 19:29] capsulecorplab commented on #387
@KharitonOff Duly noted. Thanks for the response!

[2018-11-12 19:29] #387 closed

[2018-12-03 04:47] rburgst opened #388 "sign up doesnt seem to work for micronaut-core"
https://github.com/micronaut-projects/micronaut-core/pull/993

Steps to reproduce the problem:

1. submitted pull request
2. CLAassistant told me to sign
3. I clicked on the sign button

What is the expected result?

* CLAassistant should state that the CLA was signed

What happens instead?

* CLAassistant still shows as pending even though I now signed the thing 2x

![image](https://user-images.g

[2018-12-03 04:47] rburgst commented on #388
needless to say, I hit the recheck button many many times.

[2018-12-03 04:58] rburgst commented on #388
my bad, I have 2 github accounts and made the commit from the "other" email address.

[2018-12-03 04:58] #388 closed

[2018-12-07 23:41] abieyu opened #389 "adibaulan@gmail.com"
URL to the linked Repo/Org:

Steps to reproduce the problem:

1.
2.
3.

What is the expected result?

What happens instead?

[2018-12-08 20:00] MatheusRV opened #390 "Internacionalization"
How to create multi idioms? How about https://github.com/projectfluent/fluent?

[2018-12-10 09:38] KharitonOff commented on #390
Thanks for your proposal. I don't see any possible application for our project yet.

[2018-12-10 09:38] #390 closed

[2018-12-10 09:38] #389 closed

[2018-12-14 14:39] KateChuen opened #391 "Keep getting prompted to sign the CLA"
https://cla-assistant.io/SAP/cloud-commerce-spartacus-storefront

What happens instead?

I've signed the CLA multiple times, signing out and signing back in. Removing and adding email addresses, but no luck. It keeps saying "Pending" next to the CLA thing. But if I go to the CLA page, it tells me that I have already signed it.

Any other information? (attach screenshot if possible)
![cla](https://

[2018-12-14 16:17] KharitonOff commented on #391
@KateChuen have you also added `kate.chuen-cheong@hybris` to your github profile?

[2018-12-17 08:55] #372 closed

[2018-12-17 08:55] #373 closed

[2018-12-17 13:42] Ecsy opened #393 "Gmail period and plus sign support"
**Steps to reproduce the problem:**

1. Create a gmail email account. For example: claassistant@gmail.com
2. Create an github user with a verfied email of: claassistant+github@gmail.com
3. Use CLA Assistant in your repo.
4. Sign CLA.
5. Create PR.

**What is the expected result?**

CLA check should pass.

**What happens instead?**

CLA check fails. Only exact match will pass.

**Notes**

All the f

[2018-12-18 08:30] KharitonOff commented on #393
@Ecsy I wonder how does GitHub handle email addresses with period and plus sign? If I make a commit with 'claassistant+github@gmail.com' and in my github account is 'claassistant@gmail.com' stored. Would GitHub assign this commit to my user?

[2018-12-19 03:55] zhouhesheng opened #394 "I signed the CLA already but the status is still pending."
URL to the linked Repo/Org:

Steps to reproduce the problem:

1.
2.
3.

What is the expected result?

What happens instead?

[2018-12-19 04:52] basil-bourque opened #395 "Garbled text (apparently a character encoding issue, apparently an apostrophe was intended)"
URL to the linked Repo/Org:
https://cla-assistant.io/vaadin/framework?pullRequest=11387

Steps to reproduce the problem:

1. Display the CLA document, prompting "Sign in with GitHub to agree".
2. Look in section # 6 for phrase “any third partyâ€™s copyrights” where apparently “any third party’s copyrights” was intended.

What is the expected result?

Apparently “any third party’s copyrights” was i

[2018-12-19 08:30] KharitonOff commented on #394
@zhouhesheng can you provide a link to your pull request?

[2018-12-20 08:06] KharitonOff commented on #394
If this issue relates to this PR: https://github.com/zhuhaow/NEKit/pull/224 then you should ask @HansonZ to sign the CLA, because he is the committer of the PR.

[2018-12-20 08:06] #394 closed

[2018-12-20 13:47] michael-spengler commented on #395
Dear @basil-bourque .

Thank you for reporting this.

The CLA assistant uses https://gist.github.com/ to store the individual CLAs.
We just checked and saw that the "strange characters" come from the CLA stored in the gist file.

Recommendation: Contact the owners of the repo (https://github.com/vaadin/framework) and ask them whether they would like to correct their gist file and with this the con

[2018-12-20 13:47] #395 closed

[2018-12-20 23:10] hhrutter opened #396 "Recheck PR"
Hello!
Great project!
Is the `Recheck PR` feature also supposed to work on already closed PRs?
Ideally I want the corresponding contributors to sign the CLA.

[2018-12-21 08:56] hhrutter commented on #396
Understood.
So what is the recommended way of getting contributors of past PRs to sign the CLA after the fact.

[2019-01-01 17:38] #378 closed

[2019-01-08 05:56] #393 closed

[2019-01-09 11:33] maximdidenkoepam opened #400 "Status check not working"
Hello,

I can't merge my PR because of incorrect status of CLA. I have signed it several times, but result is the same. Could you help me to resolve the issue?

https://github.com/folio-org/ui-users/pull/637

![screenshot_1](https://user-images.githubusercontent.com/43472449/50896854-00b05100-1413-11e9-9f1a-58fd8f2af804.png)

Thanks,

[2019-01-09 13:12] michael-spengler commented on #400
Hi.

Good news: There seems to be a simple solution for this.
It seems that the user who committed the changes is slightly different from the username who signed the CLA --> maximdidenko vs maximdidenkoepam

Does this already solve this issue?

[2019-01-09 13:15] #400 closed

[2019-01-11 19:13] chet-ensign opened #401 "Can a person see/filter a list of the people who have signed CLAs"
One of our needs is for staff or for a maintainer to be able to look at CLA records to see if a person has signed the CLA. For example, if one of our member companies contacts us and asks for a list of their employees who have signed CLAs. We have a home-grown CLA solution (I like yours better!) and I've attached a screen shot.

Is something similar possible with CLA Assistant?

![cla-list](https:

[2019-01-15 07:59] KharitonOff commented on #401
Unfortunately there is no such feature in CLA Assistant yet.

You can review the whole list of contributors by clicking on the number of signers in the admin UI. You can sort the list by name in order to find the user easily. You can also export the the whole list with all metadata in a .csv format.
![screen shot 2019-01-14 at 14 47 19](https://user-images.githubusercontent.com/8480657/51166377-8f

[2019-01-15 10:07] #396 closed

[2019-01-15 10:09] #391 closed

[2019-01-15 14:19] chet-ensign commented on #401
Thanks for the prompt answer. This gives me the info I needed. The key thing is that there are ways to retrieve the list.

[2019-01-15 14:19] #401 closed

[2019-01-16 19:56] BenLloydPearson opened #403 "Add Optional Configuration to Ignore Contributions from GitHub Org Members"
CLA-Assistant is missing a fairly important feature: the ability to automatically ignore members of known organizations. I.e. it should be possible to tell CLA-Assistant to ignore members of specific GitHub organizations where my account is set to owner.

This would be useful because many GitHub organizations often already have some sort of agreement between members to assign copyright to the owne

[2019-01-17 08:53] derberg opened #404 "Error when enabling CLA for organization"
URL to the linked Repo/Org: https://github.com/kyma-incubator

Steps to reproduce the problem:

1. I went here https://cla-assistant.io/ and clicked
2. Wanted to configure CLA for kyma-incubator but got 404
3. even though 404 displayed I refresh the page and see integration was created but without webhook

What is the expected result?
Integration works with first use and webhook managed by cla-ass

[2019-01-17 08:54] derberg commented on #404
nice coincidence, issue number is 404 as well 🦊

[2019-01-18 08:54] KharitonOff commented on #404
Do you have admin rights for this github organization?

[2019-01-18 09:11] kevincox commented on #353
Bump

[2019-01-18 11:50] derberg commented on #404
yes, I'm the owner of the organization, I even created it

[2019-01-22 12:55] KharitonOff commented on #404
@derberg I'm very sorry for the long delay... unfortunately I can hardly find enough time to analyse your problem. I will take a look into your issue as soon as possible, hopefully this week.

[2019-01-22 14:35] cxcv opened #405 "adding of new email addresses after cla alredy signed"
Hi there,

At https://github.com/grafana/grafana/pull/12765
I've already signed the CLA with my primary email address.
Then I've updated the PR using an alternate email address.
Hence the CLA was not signed with this alternate address, I've added it to my github account.
Now the merge page at https://github.com/grafana/grafana/pull/12765 says the alternate email address did not sign the CLA, but a

[2019-01-22 14:45] KharitonOff commented on #405
There was a tiny "recheck PR" url in the comment of CLA assistant. This was needed to be clicked to trigger CLA assistant and recheck the PR. Now everything looks good again

[2019-01-22 14:45] #405 closed

[2019-01-23 00:05] derberg commented on #404
Can I help somehow? probably without access to logs not really...

[2019-01-23 00:16] derberg commented on #404
I created a new test org https://github.com/orgs/cla-assistant-io-test/ and I'm getting exactly the same issue. I also tried to enable CLA for individual repo and it worked fine. Looks like in general, functionality for enabling CLA for organization stopped working

[2019-01-23 00:36] derberg commented on #404
did some more testing and found the reason:

<img width="814" alt="screen shot 2019-01-23 at 01 33 21" src="https://user-images.githubusercontent.com/6995927/51574640-f4b29d80-1eae-11e9-910f-97b3bfaddee6.png">

So once I remove restrictions, all is fine, the linking works and webhook is created. But the cla-assistant is not added there so I can approve it when restrictions are enabled

[2019-01-23 00:40] derberg commented on #404
oh damn, I somehow workaround it. so to summarize:

1. I disabled 3rd party restrictions
2. created link with CLA and webhook was created
3. enabled 3rd party restrictions
4. went to edit mode of the webhook created by cla, and through below warning panel I was able to get to the page where I could see that I need to first approach CLA Assistant application.
<img width="816" alt="screen shot 2019-

[2019-01-23 16:08] KharitonOff commented on #404
I'm glad that you've found the solution. Thank you very much for detailed description of your findings. We can use your issue now as a reference in case someone faces the same problem!
👍

[2019-01-28 21:49] jefgen opened #406 "Unable to remove a user from CLA."
It seems there is no way at all to **remove** a user from the list of users covered by the CLA.

(Aside: There was a previous issue filed here #201, but that was closed due to it being "stale", and then labeled as "wontfix".)

We have a real world case of a user leaving a team, and now we need to update the list of users covered under the CLA to remove the username. Unfortunately, it doesn't appea

[2019-01-29 02:00] MichaelTsengLZ commented on #406
Try to hit this end-point `https://cla-assistant.io/api/cla/terminateSignature`
with header like this:
[code]

with body like this:
[code]
[Here](https://github.com/cla-assistant/cla-assistant/blob/64edc29aad2c46896fb358bebde7e29d2234b7df/src/server/api/cla.js#L756) is the implementation details

[2019-01-29 03:09] jefgen commented on #406
Thank you very much @MichaelTsengLZ !

I think it worked, as I now see an `end_at` associated with the user recorded.

Though there doesn't appear to be anything in the Web UI that indicates that the CLA no longer applies to that user...

I'm guessing that if they were to open a new pull-request then the CLA-Assistant would think that they are no longer covered? (Is that correct?)

[2019-01-29 21:57] MichaelTsengLZ commented on #406
Correct, they will have to sign the CLA again when they submit a new pull request.

[2019-01-30 18:05] jefgen commented on #406
Got it! -- Thank you again!

[2019-02-05 17:19] hentisemmle opened #411 "Adding CLA to Org fails be is listed"
URL to the linked Repo/Org: https://github.com/Semmle

Steps to reproduce the problem:

1. Add CLA to org
2. Opps! Something went wrong!
3.

What is the expected result?
Works
What happens instead?
Opps! Something went wrong!

Screenshot of error.

![screenshot at 2019-02-05 16-57-02](https://user-images.githubusercontent.com/28868601/52291226-ca121b80-2969-11e9-9319-31102e3e24f0.png)

The org is

[2019-02-06 15:06] KharitonOff commented on #411
@hentisemmle I think you have the same problem like the issue #404 describes... do you?

[2019-02-06 15:06] #406 closed

[2019-02-11 18:24] benwerd opened #413 "CLA signing is case sensitive, but whitelisting is not"
URL to the linked Repo/Org: https://github.com/unlock-protocol/unlock/

Steps to reproduce the problem:

1. Push a PR with an all-lowercase version of your username
2. Sign CLA
3. Push another PR with a capitalized version of your username
4. CLA assistant treats this as a new user, says it hasn't signed
5. Import CSV into CLA assistant containing capitalized version of username to whitelist it

*

[2019-02-12 14:24] KharitonOff commented on #413
@benwerd thank you for letting us know! Unfortunately I don't understand the issue completely :( Do you have a sample PR where the username is in all caps? As far I know, GitHub enriches the metadata of commits with user infos depending on the email address you use. I've never heard about a possibility to change the username... if you mean the user.name in git config, CLA assistant doesn't take it

[2019-02-12 14:26] KharitonOff commented on #403
the PR #410 seems to address this issue.

[2019-02-12 17:07] benwerd commented on #413
It's actually possible to change the username case when you commit via the command line - the underlying issue is with git, not with GitHub. It's probably a fairly edgy edge case, but it happened to us nonetheless!

See: https://github.com/unlock-protocol/unlock/pull/1419

We merged it anyway, but it was a startling thing to see.

[2019-02-12 17:11] BenLloydPearson commented on #403
Based on the response I received from the developer, it doesn't seem to solve my problem. We need to automatically accept contributions from users of organizations we control. E.g. if a user is a member of the GitHu org the repo is hosted under (or one of the other organizations we control), their contributions should be automatically accepted. #410 is designed to accept contributions from other w

[2019-02-13 10:29] KharitonOff commented on #413
Unfortunately we can't do much about it. CLA assistant relies fully on the information provided by GitHub APIs. Since GitHub itself is unable to identify the committer and assign this commit to a GitHub user we can not check whether this user has signed the CLA or not.
Here you can see that the committer of this commit is not identified. Gray octocat as avatar is the sign that GitHub could not ass

[2019-02-13 15:20] KharitonOff commented on #403
You can also use the feature of #410 to whitelist your own organization. This would work if members of the Org open PRs not from own forks but from repository branches.

@BenLloydPearson yes, you can get the list of members for all organizations where you (a user who has linked the organization in CLA assistant) are a member too.

[2019-02-13 15:44] AloisReitbauer opened #414 "Can the CLA assistant handle CLA signed by organisations"
Is there a way to add an entire organization as whitelisted for contribution. I understand how it will work for individual users. In case of corporate CLAs you will want the members of a Github group be able contribute.

Is this currently supported? If not, where in the code would this be added ideally.

[2019-02-13 16:21] KharitonOff commented on #414
There is a PR open, which already addresses your request: #410
I hope it is ok for you to wait until we'll be able to merge it.

[2019-02-13 22:18] BenLloydPearson commented on #403
This issue with that approach is that we often invite non-employees to be collaborators with write access to the repo, but they still need to sign the CLA. They would be capable of creating PR's from the organization and be able to bypass the CLA check.

[2019-02-14 07:36] hentisemmle commented on #411
Morning @KharitonOff

Thank you for the link.Still received and error, but it seems to be functioning as expected now.

Kind regards
Henti

[2019-02-17 10:48] #361 closed

[2019-02-17 21:33] tendonstrength opened #415 "I've singed the CLA agreement for repo but the check still doesn't pass"
URL to the linked Repo/Org: https://github.com/mochajs/mocha/pull/3738

Steps to reproduce the problem:

1. I opened the above-mentioned PR
2. I signed the CLA agreement with the email tendonstrength@gmail.com
3. It shows that I've signed it successfully on the CLA site (see screenshot below).

What is the expected result?

The check should pass and the PR should be mergeable

What happens instead

[2019-02-18 09:49] KharitonOff commented on #415
CLA assistant checks whether all **committers** of a PR have signed the CLA or not. In this case you (@tendonstrength) are the author of the PR but not a committer

![screen shot 2019-02-18 at 10 38 31](https://user-images.githubusercontent.com/8480657/52941657-9e2f6680-3369-11e9-91b4-10fec6e716e7.png)

Probably you have used another e-mail address in git config as the one stored in your GitHub ac

[2019-02-18 10:09] glucaci opened #416 "Automatically add branch protection rule"
It will be very useful, when configure the CLA for a repository, if it will add/update automatically the master branch protection rule and configure the status checks to pass before merging, as required.

[2019-02-20 16:01] BenLloydPearson commented on #403
@KharitonOff I've given this some consideration and it's possible #410 might resolve our issue at least partially. For the use case I describe, I was hoping for a solution that doesn't require developers to follow specific practices (e.g. I will have to notify our developers make sure that all internal contributions come from a branch on our repo rather than forks of the developer's personal accou

[2019-02-25 02:58] superbrothers opened #417 "Why does cla-assistant want `public_repo` scope?"
Hi, I have a question that is why does cla-assistant want `public_repo` scope?

According to https://github.com/cla-assistant/cla-assistant/issues/78#issuecomment-150146810, @KharitonOff said "public_repo - read all public repositories in order to provide a selection of your repos to set it up", but `no scope` can also read all public repos.

- `(no scope)`: Grants read-only access to public infor

[2019-02-25 10:16] KharitonOff commented on #403
@BenLloydPearson, sounds good. We are just waiting for all CLAs to be signed and then we'll be able to take over the changes. I see your point and I think this solution resolves the problem in a pretty simple way. But if it wont work in practice, we can still improve it.

[2019-02-25 10:44] KharitonOff commented on #416
@glucaci thank you for your proposal. Indeed some repository owners consider CLA as a mandatory requirement for taking over change proposals. But this is not the case for all users of CLA assistant. There are many of them, who prefer to be able to ignore CLA assistants check status and merge PRs despite unsigned CLA. Therefore I'd prefer to keep it optional

[2019-02-25 16:21] glucaci commented on #416
Optional is also good, but will be nice to can specify this option when the repository is linked with the CLA-Assistant.

[2019-03-04 23:50] dguido opened #418 "Make CLA Assistant play nicely with Github application restrictions"
Steps to reproduce the problem:

1. Link CLA Assistant to your Github organization
2. Turn on organization-wide application access restrictions in Github settings
3. Refresh cla-assistant.io and note the organization has disappeared

What is the expected result?
Github receives a third-party application request for the organization, which can be approved by an organization Owner.

What happens ins

[2019-03-05 09:55] KharitonOff commented on #417
Thanks for pointing out! We'll check on it in our time.

[2019-03-05 10:01] KharitonOff commented on #418
Thank you very much for this issue and detailed description. This seems to be related to the #404
Were you able to find a workaround and link your org? Should we handle your issue with higher priority or can we take some more time?

[2019-03-05 13:17] dguido commented on #418
#404 looks like a different issue. Responding to this is not urgent. I simply removed the access restrictions to the organization in question.

[2019-03-07 07:08] gregzaitsev opened #419 "Security issue: Unauthorized use of account (CVSS 7.2 - High Risk)"
URL to the linked Repo/Org:
https://github.com/cla-assistant/

Steps to reproduce the problem:

1. Create account A on github with e-mail that has not beed used yet
2. Setup git config with existing user B's email. User B must have signed CLA agreement previously.
3. Without user's B consent, user A may commit to git and CLA bot will recognize this commit as both user's A and user's B commit. User

[2019-03-07 16:19] KharitonOff commented on #419
Do you have an example of the described use case?
Generally speaking CLA assistant relies fully on the GitHub APIs. Only committers with GitHub account can sign a CLA and only committers with GitHub account can pass CLAs check.
Now if a user (A) makes a commit with foreign email (B) GitHub will assign this commit to a user according to the email address stored in the commit (user B in our case). T

[2019-03-07 16:29] gregzaitsev commented on #419
Hi, thanks for a prompt response! Yes, I have an example here:

https://github.com/aragon/aragonOS/pull/486

Some (not all) commits in this PR are from user gregzaitsev with email address in commit message of gz@usetech.com that is assigned to user usetech-Jenkins that did not do any commits. Only email address associates this user with this PR.

I agree this might be an issue with github API, but

[2019-03-08 10:02] KharitonOff commented on #419
Yes, also in your example you can see that GitHub assigns the commits, which you have done with gz@usetech.com to another user (@usetech-Jenkins). So I can't see what can be done on our side to recognize whether the committer is a real user or not.

Let's agree that the main concern of the CLA assistant bot is simply the validation whether the user A or B has signed your CLA or not. So there is no

[2019-03-08 13:51] KharitonOff commented on #419
Nevertheless thank you for creating this issue and letting us know about possible security risk! We appreciate it very much.
I close this issue here since the described problem can only be solved on the GitHub side.

[2019-03-08 13:51] #419 closed

[2019-03-11 23:15] krgolovan opened #420 "Signed CLA shows unsigned because of unregistered user"
URL to the linked Repo/Org:
https://github.com/webdriverio/webdriverio/pull/3698

Steps to reproduce the problem:

1. Commit changes as unregistered user
2. Add email used in that commit to  your github user

What is the expected result?
CLA signed

What happens instead?
Show 'CLA not signed' button when click it shows that CLA already signed

[2019-03-12 02:34] dguido opened #421 "UI is cut off when importing a CSV"
Steps to reproduce the problem:

1. Click the import button
2. Upload a CSV file
3. Look at the UI

![Screen Shot 2019-03-11 at 10 28 28 PM](https://user-images.githubusercontent.com/294844/54170574-a309a680-444d-11e9-8ef8-619e70f14437.png)

What is the expected result?
The window should resize with the window and expand to fill available space, or have a scroll bar.

What happens instead?
Certain

[2019-03-12 03:02] dguido opened #422 "cla-assistant.io is not responding to incoming webhooks"
URL to the linked Repo/Org:
https://github.com/trailofbits/algo/pull/1351

Steps to reproduce the problem:

1. Activate a Github org in cla-assistant.io
2. Create a new pull request
3. There is no status check for the CLA on the PR

What is the expected result?
cla-assistant.io responds to Github with the required information to evaluate CLA acceptance

What happens instead?
cla-assistant.io respo

[2019-03-12 03:19] krgolovan commented on #420
Just needed to commit one more time to re-trigger CLA assistant.

[2019-03-12 03:19] #420 closed

[2019-03-12 15:52] KharitonOff commented on #422
Thanks @dguido for reporting this.
Looks like a bug...

[2019-03-13 16:59] KharitonOff commented on #422
to be honest, I can not find any trail neither in logs nor in our code 😕
You can trigger the check via "Recheck PRs" this should create status for all open PRs
<img width="373" alt="Screen Shot 2019-03-13 at 17 52 40" src="https://user-images.githubusercontent.com/8480657/54298416-fa785580-45b8-11e9-8602-82f70cbdde64.png">

Now the question is, whether the issue persists or not. It'd be great if y

[2019-03-13 19:10] dguido commented on #422
I clicked "Recheck PRs" for the 3 organizations that I have linked to cla-assistant: `crytic` `osql` and `trailofbits`. Then, I opened a recent PR where this is a missing CLA check, trailofbits/algo#1345, and noted that the check from cla-assistant is still missing. Upon manual inspection, Github user `0xmilkmix`, has not signed a CLA for our organization so I would expect cla-assistant to flag on

[2019-03-14 09:17] aosman-tibco opened #424 "Database bootstrap fails when using Amazon DocumentDB"
URL to the linked Repo/Org:

Steps to reproduce the problem:

1. Start cla-assistant pointing to Amazon DocumentDB Cluster

What is the expected result?
cla-assistant starts successfully

What happens instead?
cla-assistant fails with the following error:

[code]

Amazon DocumentDB is a new service that is mongodb 3.6 compatible but has some builtin limitations. It appears that we're hitting a cha

[2019-03-14 10:23] KharitonOff commented on #422
ok, I believe to have found the root of all evil...
Could you remove the trailing comma in the field "Exclude the following repos from the org" and click "Recheck PRs" again, please?

[2019-03-14 12:14] dguido commented on #422
Good catch! I removed the trailing comma in the listed of repositories excluded from `trailofbits`, then pressed "Recheck PRs" on `trailofbits` `crytic` and `osql`. I waited a few minutes and then opened the same trailofbits/algo issue as above. It is still missing the cla-assistant check.

[2019-03-14 13:26] KharitonOff commented on #422
Do you mean trailofbits/algo#1345 ? I can see CLA status there. CLA assistant doesn't comment on the existing PRs but it creates a status.
Btw. GitHub has not recognized @0xmilkmix as a committer there (see gray octocat symbols near commit messages). This means that he used a different email address for the commits than he stored in his GitHub account. CLA assistant checks only committers and not

[2019-03-14 13:29] dguido commented on #422
Hooray! The status was not there when I checked. It must have taken a bit longer than I expected to show up. Thank you so much! I will check that the other PRs in my orgs have a status check from cla-assistant.

[2019-03-14 15:34] KharitonOff commented on #424
The Problem seems to be in the long index of the cla collection. Maybe you can provide a custom name of the index using `indexOptions`
https://docs.mongodb.com/manual/reference/method/db.collection.createIndex/#options-for-all-index-types

Change this lines: https://github.com/cla-assistant/cla-assistant/blob/d4c1226aa2b980981e12a7c42f528af1683ae74b/src/server/documents/cla.js#L32-L35
to this
[cod

[2019-03-18 11:51] Ashex commented on #424
This change worked, I was able to bring up cla-assistant with documentdb. I should be able to migrate my existing database be renaming the index considering the change sets the index name to a static value.

[2019-03-18 17:18] BenLloydPearson commented on #403
@KharitonOff , when will #410 make it into the hosted version of CLA-Assistant? It doesn't appear to be there yet.

[2019-03-19 10:04] KharitonOff commented on #403
@BenLloydPearson thanks for asking :) I'll do it this week.

[2019-03-20 01:27] rianquinn commented on #411
I guess we had the same issue:
https://github.com/Bareflank/hypervisor/issues/753

Do we know what could cause this?

[2019-03-20 08:48] KharitonOff commented on #411
@rianquinn did you try to link the whole organization @Bareflank in CLA assistant? If so, you probably need to request an approval for CLA assistant in GitHub to access the org (to do so, please follow the steps described here https://help.github.com/en/articles/requesting-organization-approval-for-oauth-apps )

[2019-03-20 19:49] KharitonOff commented on #403
@BenLloydPearson the feature is live 😃

[2019-03-20 19:52] KharitonOff commented on #414
@AloisReitbauer now you can test this feature on https://cla-assistant.io

[2019-03-22 16:10] Serg046 commented on #380
Maybe just to add Remove button into Contributors list? After that Recheck PRs button could be clicked.

[2019-03-22 16:17] Serg046 commented on #353
As I understand the email is sent by GitHub, so we see there what we see in the PR.
But I am not sure if we want CLA text right there...

[2019-03-25 15:17] BenLloydPearson commented on #403
@KharitonOff Thanks! I've implemented it in our instance so I can test it out. Since this technically solves this issue, I'll go ahead and close it. With that said, I'm still hoping to get a developer to help me build this feature out a bit more so I'll hopefully have some additional improvements for you in the near future.

[2019-03-25 15:17] #403 closed

[2019-03-25 18:29] syndbg opened #425 "Release schedule/cycle"
Hi, @KharitonOff

Sorry for asking here (not sure if this is the right place), but how often do you people release (github release)?

I see that there are a lot of bugfixes since last release and it's better for everyone to use a specific github release instead of deploying from your latest master (not sure how stable is that).

[2019-03-26 13:29] KharitonOff commented on #425
@syndbg thanks for asking. We don't have any release schedule.
Sorry for not triggering the github release function last time. I'll fix it immediately. You are very welcome to provide any further feedback.

[2019-03-26 13:57] dpetrick opened #426 "Loss of contributor signatures on config change"
URL to the linked Repo/Org: https://github.com/prisma/prisma

Steps to reproduce the problem:

1. Sign into CLA dashboard.
2. Edit linked repository and add whitelist for some GitHub users.
3. Save configuration.

What is the expected result?
All currently signed contributors are still present for the linked repository, whitelist is in effect.

What happens instead?
Lost all contributor signatures

[2019-03-26 15:30] KharitonOff commented on #426
@dpetrick Sorry for the inconvenience! Changed gist url caused this issue (https://gist.github.com/timsuchanek/f86241715fd26f82512c32380c9e85c8 has changed to https://gist.github.com/f86241715fd26f82512c32380c9e85c8). Actually this bug should have been fixed already...
I've rolled back the gist url to the previous one. Now you should see all your signees again.

[2019-03-26 15:31] KharitonOff commented on #426
The "Updated at" points to the version of the Gist file (CLA). It is correct, that it remained at the original date

[2019-03-26 15:38] dpetrick commented on #426
@KharitonOff Thank you kindly for the fast response. I can confirm that everything is in order again.

[2019-03-26 15:38] #426 closed

[2019-03-27 07:49] KharitonOff commented on #426
@dpetrick great! You should also click "Recheck PRs" button to synch all open Pull Requests and update their status

[2019-03-27 14:37] syndbg commented on #425
@KharitonOff I see that new releases are made now. Thank you very much :tada:

I think the issue can be closed.

[2019-03-27 14:37] #425 closed

[2019-04-03 07:29] DureSameen opened #427 "2 Contributors CLA issue"
URL to the linked Repo/Org:

Steps to reproduce the problem:

1. Sign in Visual Studio with hotmail or any address not associated with github
2. Push changes and create pull request
3. ClA signed but still CLA signature is required from non-github email address
4. Add and verify that email to your github Account
5. but still CLA signature is required from non-github email address

What is the expe

[2019-04-03 07:32] KharitonOff commented on #427
@DureSameen can you provide the link to the PR where the issue appeared, please?

[2019-04-03 07:42] DureSameen commented on #427
https://github.com/eventflow/EventFlow/pull/619

[2019-04-03 07:48] KharitonOff commented on #427
There was a small "recheck" link at the end of the comment, which triggers CLA assistant to recheck the PR.
<img width="792" alt="Screen Shot 2019-04-03 at 09 43 08" src="https://user-images.githubusercontent.com/8480657/55461670-4b49ff80-55f5-11e9-8e14-f772d5f52d0a.png">
Now everything is fine again :)

[2019-04-03 07:48] #427 closed

[2019-04-04 06:38] Gerhard-Kanzler opened #428 "Cannot assign when name changed."
I have Changed my name on Github so now i can't assign to CLA :(

[2019-04-04 08:44] KharitonOff commented on #428
Unfortunately yes. The solution would be not to rely on the user name, but user id. As far I know, there was an attempt to switch from user names to ids, but it was not finished :(

[2019-04-05 12:01] webknjaz opened #430 "Authentication as a GitHub App"
Hi,

I've noticed that this project uses a dedicated user account. This approach has a number of limitations and is not very flexible.
It seems like a modern way of doing this is setting up a [GitHub App](https://developer.github.com/apps/) which is easily installable, has more flexible access control and a broader rate limiting boundaries.
I know that [Probot](https://probot.github.io/) supports

[2019-04-08 09:01] KharitonOff commented on #430
@webknjaz yes, you are right. We also thought about it and would like to move CLA assistant to GitHub Apps... As soon we get more capacity to tackle this issue, we'll do it. But we are always open for any kind of support from our community too. So let's see how soon we"ll be able to do it.
Thank you very much for your advice, and in case you are willing to support us here a bit more we'd appreciat

[2019-04-08 09:36] thojansen commented on #430
Our latest thoughts are that we would love to evaluate GitHub Actions and Probot and see how far we could get while eliminating the need of a centrally managed database to store contributors and rather move something like a `CONTRIBUTORS` file in the repository (currently we have quite a lot of self-hosted instance). Maybe this will end up in a spin-off with a reduced feature set, but a much simpl

[2019-04-08 09:39] webknjaz commented on #430
Well, I don't have resources to contribute directly but I've got some knowledge (currently building a framework similar to Probot but in Python 3.7 — [octomachinery](https://octomachinery.dev/)).
So feel free to ping me should you have any questions about GitHub Apps type of integration :)

[2019-04-08 23:13] andschwa commented on #414
@KharitonOff I am trying to test this feature, but when I add my organization name to the whitelist, it just complains:

"Authentication required"

I am not sure what's up :/

[2019-04-08 23:20] andschwa commented on #414
Well that's bizarre. I closed and re-opened and what do you know? It was some cache issue. So that worked.

[2019-04-08 23:23] andschwa commented on #414
Well, that's unfortunate. I tried whitelisting the `openenclave` GitHub organization (of which I am the sole member) and opening a test here: https://github.com/openenclave/test-repo/pull/3 but that doesn't seem to work as I expected, it still wants me to sign the CLA.

[2019-04-09 15:16] jeffwilcox commented on #430
@thojansen interested to understand a little more about decentralizing the database of contributors... it would be a nice GitHub-native approach to things, but the signed Gists, who signed, company names, dates, etc., could be rather personal to some. Would that be somehow in the repo or where would that knowledge live?

[2019-04-10 06:48] thojansen commented on #430
The idea here was really to tackle two points at once. If we would get rid of a central database, more companies would be able to use the hosted offering. Also switching to s.th. else would be easily possible if we could create a reasonable format.

For small projects, a simple `CONTRIBUTORS` file should do the job which would just list the GitHub handles. Maybe also add it to the readme as done b

[2019-04-10 13:06] KharitonOff commented on #414
@andschwa sorry for long delay and thank you very much for pointing this issue out! The problem should be fixed now. Can you try and confirm, please?

[2019-04-10 17:01] andschwa commented on #414
@KharitonOff Cool! Ok, it works as expected for users of some org making a PR to repos in the same org. Thank you!

However, my understanding of the implemented logic leads me to believe that it won't let me whitelist authors from some external org making contributions directly in m,y repo. Instead, the logic lets me whitelist PRs made _from_ some external org's fork. Is that right? If so, I can w

[2019-04-10 18:19] webknjaz commented on #430
The problem with this one is that whenever a user changes their handle it'll point to somebody else.

[2019-04-11 07:40] KharitonOff commented on #414
Yes, you are right, there is no membership check. I suppose you'd prefer to have a solution like @BenLloydPearson described in #403
In case you'd like to become an active contributor to CLA assistant you can synch with Ben and jointly develop a possible solution 😄I will be happy to provide you with all information you may need.

[2019-04-11 11:23] thojansen commented on #430
More specifically, we could include the user id.

| id | login | company |
|---|-------|-----|
| 578543 | [webknjaz](https://github.com/webknjaz) | Ansible Core RedHatOfficial |

[2019-04-11 11:56] webknjaz commented on #430
@thojansen user id sounds good. You could also include a github-generated email which includes that id.
It's visible at https://github.com/settings/emails and for me is `578543+webknjaz@users.noreply.github.com`. This is how GitHub addresses username changes now...

[2019-04-11 17:23] andschwa commented on #414
Thanks @KharitonOff! I will keep that in mind and let you know (I'd be doing it for work so I'd need to make sure I have time).

[2019-04-12 01:36] superbrothers commented on #417
Are there any updates?

[2019-04-15 06:15] choeppler commented on #380
There is another interesting use case for re-signing besides messing up. In the life of a developer employment relationships change, so one might contribute to a project as an individual but then continue to contribute on behalf of one or another employer some time later:

As contributor I want to be able to re-sign a CLA in order to correctly reflect copyright / IP ownership of submitted contribu

[2019-04-17 11:02] iliakan opened #432 "New org is not detected"
1. I had several repos linked.
2. Then I created an org and moved them there.
3. Now at cla-assistant.org I can't see any links.
4. Also I can't see the new org in the list.

I removed cla webhooks manually from my repos, but the new org is not listed, so I can't use cla-assistant any more.

[2019-04-19 22:44] jbadan opened #433 "cla-assistant hanging on several repos"
URL to the linked Repo/Org:
https://github.com/SAP/fundamental-react/pulls
https://github.com/SAP/fundamental/pulls
https://github.com/SAP/fundamental-ngx
https://github.com/SAP/fundamental-vue

Steps to reproduce the problem:

1. Open a pull request on either fundamental or fundamental-react repo
2. CLA-Assistant hangs on "Expected — Waiting for status to be reported"

What is the expected result

[2019-04-19 23:41] jbadan commented on #433
Turned out our linked CLA setup had been deleted from https://cla-assistant.io/
I'm not sure how that happened, but it is working again after redoing the links.

[2019-04-19 23:41] #433 closed

[2019-04-22 21:19] jspisak opened #434 "Change the grant to © ONNX Project Contributors”, instead of naming any companies"
Current we list Microsoft and Facebook for beneficiaries however, given our move to open governance, we would like to make this generic and future proof.

[2019-04-25 16:41] #434 closed

[2019-04-26 02:12] MichaelTsengLZ commented on #432
I think you need to give org permission to the CLA-Assistant. There are two ways.
- The first way:
1. You could sign out of the CLA-Assistant and Github at the same time.
2. Sign in the CLA-Assitant. It will ask org permission at that time.
- The second way:
1. Go to your Github user settings.
2. Click the `Applications` on the left.
3. Click the `Authorized OAuth Apps` on the top
4. Choose CLA As

[2019-04-29 00:14] azu opened #436 "Does not show repository on Configure CLA"
URL to the linked Repo/Org: [asciidwango/js-primer][]

**Context of permisson**

I(@azu) have a [Owner](https://help.github.com/en/articles/repository-permission-levels-for-an-organization) permisson for [asciidwango/js-primer][] repository.
But, I have not [Owners](https://help.github.com/en/articles/permission-levels-for-an-organization) permisson for `asciidwango` organization.

In this context

[2019-04-30 11:05] KharitonOff commented on #436
We use following API to get the repos for the list: https://developer.github.com/v3/repos/#list-your-repositories for ```affiliation``` parameter we use ```owner, organization_member```

This API seems not to consider you as an owner of asciidwango/js-primer because @asciidwango is the owner and you have 'just' the owner rights.

I suppose if you would get the membership  in this organization (wit

[2019-05-09 03:09] azu commented on #436
I see. Thanks.

[2019-05-09 03:09] #436 closed

[2019-05-10 22:05] 0925042781 commented on #432
https://github.com/cla-assistant/cla-assistant/issues/432#issuecomment-486900373

[2019-05-10 22:56] 0925042781 opened #439 "https://github.com/cla-assistant/cla-assistant.git"
URL to the linked Repo/Org:

Steps to reproduce the problem:

1.
2.
3.

What is the expected result?

What happens instead?

[2019-05-10 22:57] #439 closed

[2019-05-21 11:42] #413 closed

[2019-05-24 04:36] kunzese opened #440 "Error 524: A timeout occurred"
URL to the linked Repo/Org:

https://github.com/Comcast/snowdrift/pull/2

Steps to reproduce the problem:

1. Fill out the form
2. Click on `I agree`
3. Wait

What is the expected result?

That the CLA is signed.

What happens instead?

[2019-05-24 06:50] chaseadamsio opened #441 "CLA status showing "pending" after signing CLA w/ email address from commit"
**URL to the linked Repo/Org:** https://github.com/webpack/webpack-cli/pull/892

**What is the expected result?**

Signing the CLA for a PR with a commit that has:

1. a single author
1. in a GitHub org (with the same email address as the user) [this PR was done in an org called `chaseadamsio-forks`]
1. with the same email address in the commit as is in the GitHub email settings

should set the ch

[2019-05-24 08:51] KharitonOff commented on #441
@chaseadamsio sometimes the update request of the CLA assistant doesn't reach GitHub. The easiest way to let CLA assistant update the PR status is to retrigger a PR webhook by making a change on the PR (pushing a new commit or by closing and reopening the PR).

[2019-05-24 09:19] KharitonOff commented on #440
@kunzese thanks for letting us know. Could you try to sign the CLA again and let me know whether you are successful this time, please.

[2019-05-24 12:39] chaseadamsio commented on #441
👍 I force pushed a rebase of w/ an empty commit and that did the trick. Thanks!

[2019-05-24 12:39] #441 closed

[2019-05-25 03:11] kunzese commented on #440
@KharitonOff unfortunately not, still the same issue.

[2019-05-25 19:18] SubhanAli94 opened #443 "Unable to sign CLA"
URL to the linked Repo/Org:
https://github.com/android/plaid/pull/707#issuecomment-495941763

Steps to reproduce the problem:

1.I created a pull request but after creating a pull request I received a message from bot to sign cla. I signed it and wrote 'I signed it!' multiple times with different accounts but it isn't allowing me to pass that.

What is the expected result?
cla:yes should e visible

[2019-05-26 10:57] #415 closed

[2019-05-27 07:47] KharitonOff commented on #443
Though google doesn't use CLA assistant for checking the CLA signatures I believe to be able to help you here... :)
It seems, that your agreement is accepted by @googlebot, however there are 3 last commits, which cannot be assigned to any github user (see the grey octocat icon instead of your user icon near the commit message). This happens when the email address, you have used for the commit (see

[2019-05-27 18:30] SubhanAli94 commented on #443
Hi KharitonOff, my this email id is already associated with GitHub account. Its my default email id.

[2019-05-28 16:35] pkfrank opened #444 "Recover list of contributors"
Earlier today, we added a bot as a whitelisted user.  We did not change any other settings, nor did we adjust the CLA itself.

Upon saving that new whitelisted user, we realized that we had lost the entire list of contributors who had already signed the CLA in our project.  Even when selecting the "All Versions" option in the contributors list, we still can't recover the full list.

1) Can you ple

[2019-05-28 19:59] KharitonOff commented on #444
Hi Peter,
I'm sorry for the inconvenience. I've changed the gist url back to the previous one (it was overwritten because of a bug).
All signatures made before the change are still available and valid. Re-upload would work too.
On "Recheck PRs" CLA assistant starts to check all open pull requests in all repositories of your organisation and update the statuses of the PRs.

[2019-05-28 22:24] pkfrank commented on #444
Thanks very much for your help, @KharitonOff.

To be clear, should we ever need to whitelist a new user or bit, is the expected functionality that it will trigger a "new" CLA?  Or was that the bug in question?

[2019-05-29 07:38] KharitonOff commented on #444
This is currently the bug, if you make some changes on the linked item (repo or org) it can happen that the gist url changes from this format https://gist.github.com/<gist owner>/<gist id> to this one https://gist.github.com/<gist id>. CLA assistant considers this two as different URLs and acts like you'd have linked a new CLA.
We'll keep this issue open till we have fixed the bug and we'll notify

[2019-05-29 13:05] pkfrank commented on #444
Understood, thanks for that explanation and for all of your hard work in maintaining this project!

[2019-05-29 13:19] KharitonOff commented on #443
I see. But the Problem seems to be with GitHub not the @googlebot because your commit is still not assigned to your account (maybe you have a typo in your email adress either in commit or in your account). For more information about it visit https://help.github.com/articles/why-are-my-commits-linked-to-the-wrong-user/#commits-are-not-linked-to-any-user

[2019-06-12 08:42] KharitonOff commented on #417
@superbrothers I've removed the scope. But the change will come with the next major release first.

[2019-06-12 08:42] #417 closed

[2019-06-17 13:11] #444 closed

[2019-06-23 14:53] #424 closed

[2019-06-24 14:38] mtreinish opened #446 "CLA check never reports on PRs"
URL to the linked Repo/Org: https://github.com/Qiskit/qiskit-ignis

Steps to reproduce the problem:

1. Open a new PR and/or push an update to an existing PR

What is the expected result?

The CLA assistant bot will comment on whether all commit authors have signed the CLA or not.

What happens instead?

The bot never responds and because it's a required check on the repo it's stuck waiting. For e

[2019-06-24 18:03] mtreinish commented on #446
It started returning again

[2019-06-25 09:26] #411 closed

[2019-06-26 08:01] IceflowRE opened #447 "Invalid url in readme"
`http://contributoragreements.org/` seems not to be available anymore.

[2019-06-26 08:06] KharitonOff commented on #447
I can still access it

[2019-06-26 08:08] IceflowRE commented on #447
Yes, your right, seems the company network who is doing weird stuff here. Sorry for bothering you.

[2019-06-26 08:08] #447 closed

[2019-06-26 13:22] mtreinish commented on #446
Sorry to flip flop on this, but it's back to the same state, the open PRs have been sitting for hours without the bot returning.

[2019-06-26 13:49] KharitonOff commented on #446
No problem. You seem have linked the whole organisation and the bot doesn't work properly for this repo... In our logs we see, that the user (his/her token) doesn't have enough rights for creating a status on PRs. I assume the user, who has linked the organisation doesn't have admin rights for this one repository. Can you confirm it?

[2019-06-26 14:07] mtreinish commented on #446
Hmm, the organization link was done by @jaygambetta who definitely has admin rights on this repo. We also didn't change anything related to users or permission levels and it was working fine just a few days ago.

[2019-06-26 14:21] KharitonOff commented on #446
ok... sometimes it can happen that if another user with org-membership right (but still limited right for some repos) signs into the admin view of CLA assistant the token of the linked org gets overwritten.
In order to fix it, I would suggest that the admin of your org goes to the CLA assistant and clicks on "Recheck PRs" for your organisation. This should solve the issue.

<img width="373" alt="S

[2019-06-26 14:25] KharitonOff commented on #446
I am sorry for the inconvenience :( We hope that in the near future we'll be able to switch from user tokens to the App Tokens using GitHubApp solution. Then there will be no confusion with rights and tokens any more.

[2019-06-26 15:51] mtreinish commented on #446
Ok, it looks like doing that fixed it. Thanks for the help.

[2019-06-26 15:51] #446 closed

[2019-06-27 16:47] #353 closed

[2019-06-28 04:26] GregTheGreek opened #448 "Bot required to sign CLA"
URL to the linked Repo/Org: https://github.com/ChainSafe/ssz-js/pull/112

Steps to reproduce the problem:

1. Activate any bot and the pr will be blocked by the CLA

What is the expected result?
Greenkeeper should not be required to sign CLA

[2019-06-28 06:02] moonming opened #449 "have signed the CLA already but the status is still pending"
PR: https://github.com/iresty/apisix/pull/167
![图片](https://user-images.githubusercontent.com/26448043/60320637-ee1fd900-99ac-11e9-9256-e4af31118d5a.png)

But @xiwangzishi already signed the CLA, I confirmed in the contributors list:

![图片](https://user-images.githubusercontent.com/26448043/60320603-d47e9180-99ac-11e9-92de-3b824bc8660e.png)

URL to the linked Repo/Org:

Steps to reproduce the prob

[2019-06-28 06:48] ghuntley commented on #448
This is covered in the README. Whitelist `greenkeeper[bot]`

[2019-06-28 06:50] ghuntley commented on #449
I think there is some infrastructure problems atm as I'm having issues _installing and configuring_. https://twitter.com/GeoffreyHuntley/status/1144454752425529345

[2019-06-28 07:21] ghuntley opened #450 "There is no CLA to sign for [organization]/[repository]"
# background

1. cla-assistant via the account `uno-platform-robot` has been installed at https://github.com/unoplatform into the organisation with an exclusion for `uno` so that it does not run on the main repo (yet).
2. a brand new repository has been configured for testing the integration
3. a pr has been raised at https://github.com/unoplatform/cla-testing/pull/1, when I click on it....

![201

[2019-06-28 07:49] KharitonOff commented on #450
@ghuntley thank you very much for the very good described issue. The problem here seems to be with your escaped quote signs `\"You\"`. It should work if you use double backslash: `\\"You\\"`

[2019-06-28 08:26] ibakshay commented on #449
It looks like the committer  [emitle](https://github.com/emitle)  hasn't signed the CLA yet.  Could you please check if he/she has signed the CLA and then reach out to us ?.
<img width="778" alt="Screen Shot 2019-06-28 at 10 18 59" src="https://user-images.githubusercontent.com/33329946/60328596-dfc2c480-998e-11e9-9b13-13b9256b54fc.png">

[2019-06-28 08:30] ghuntley commented on #450
Thanks for the fast reply @KharitonOff. `\\"You\\"` was indeed the fix.

[2019-06-28 08:31] #450 closed

[2019-06-28 08:37] moonming commented on #449
@ibakshay yes, fixed. thanks very much :)

[2019-06-28 08:37] #449 closed

[2019-06-28 10:00] ibakshay commented on #448
Like [ghuntley](https://github.com/ghuntley) mentioned, just whitelist all the bots and users who don't need to sign the CLA :)

[2019-06-28 13:04] #448 closed

[2019-07-01 10:40] ibakshay commented on #403
@BenLloydPearson Hi Ben, I am currently working on CLA Assistant.
As you have mentioned that your team will work on developing additional improvements on this topic, Can you tell me if there is progress on this matter?

[2019-07-01 10:50] derberg opened #451 "https://cla-assistant.io/ unstable"
Since few days, from time to time it is taking a lot of time to log into https://cla-assistant.io/ and also CLA checks are slow in response, I clicked "recheck" more times in few last few days that I had to in last few years.
Sometime error is Error 524

Are you aware of the problem?

[2019-07-01 11:23] KharitonOff commented on #451
Thanks for the issue. We've noticed some outages and log response times from time to time too. Unfortunately we weren’t able to find the root cause yet. It would be very helpful if you could provide us a more specific timeframe next time you notice an outage/long delay in response, please.

[2019-07-01 11:50] derberg commented on #451
the current issue started few minutes before I created this issue and it is still ongoing, CLA can't be used at all.
I just tried to access it from public internet

![Screen Shot 2019-07-01 at 13 49 05](https://user-images.githubusercontent.com/6995927/60434301-202c7780-9c07-11e9-8ab2-776ce4bf31d3.png)

[2019-07-01 15:43] KharitonOff commented on #451
It should work well again. The problem is not solved completely. Let's keep this issue open.

[2019-07-02 11:55] derberg commented on #451
The issue is still there. POST to recheck PRs also fails with 524

![Screen Shot 2019-07-02 at 13 53 31](https://user-images.githubusercontent.com/6995927/60510903-e9229880-9cd0-11e9-9465-6d7d1f147693.png)

[2019-07-02 12:02] ibakshay commented on #451
It should work now. We are looking into this issue for a permanent solution.

[2019-07-04 14:50] derberg commented on #451
sorry guys but looks like this is happening again. Once the UI loads after all those errors, I can trigger "Recheck" and see the POST call after long run ends with 200 but nothing happens, the Pr is still hanging https://github.com/kyma-project/kyma/pull/4752

![Screen Shot 2019-07-04 at 16 48 41](https://user-images.githubusercontent.com/6995927/60675010-b7016a00-9e7b-11e9-923b-078c51b5a9e0.png)

[2019-07-04 15:34] KharitonOff commented on #451
Hi Lukasz, no problem. Feel free to report the issue any time. I just retriggered the check for this specific PR, it looks good now. In case you'll need it, you can use the API GET call: https://cla-assistant.io/check/kyma-project/kyma?pullRequest=4752
We are still searching for the root cause of the performance problems.

[2019-07-07 05:53] jennifer-shehane commented on #444
@KharitonOff I am also experiencing this issue. I discovered the new whitelist feature recently so I went in and added a bot to our whitelists for all of our repos.

2 of our repos then showed as disabled. I went back to update the gist url to the correct url and now they have NO contributors. Can I recover the contributors on these repos? It was quite a lot on one of them especially.

Specificall

[2019-07-08 14:01] ibakshay commented on #444
Hi Jennifer, Thank you for reaching out to us.
So you have unlinked these 2 repositories and then linked again?

If yes,  Could you please check whether the gist URL for these two repositories you have updated is in this format `https://gist.github.com/<gist id>` but not this format`https://gist.github.com/<gist owner>/<gist id>`
![Screen Shot 2019-07-08 at 15 59 06](https://user-images.githubuser

[2019-07-08 14:32] jennifer-shehane commented on #444
@ibakshay Yes, it does seem that the 2 repos were unlinked, albeit unintentionally. I just wanted to edit the whitelist urls and did not want to unlink them.

I only noticed the next day that they were unlinked when the hooks in our PRs were no longer verifying users that I knew had already signed the CLA.

The gist url is currently displaying in this format: `https://gist.github.com/cf22bc6c6b552

[2019-07-08 14:45] ibakshay commented on #444
The gist URL will display in this `https://gist.github.com/<gist id>` even if you linked the item(repository or org) in this format`https://gist.github.com/<gist owner>/<gist id>`.

Hence, Now the easiest solution could be, If you can try to unlink these 2 repositories and then link again  with this URL `https://gist.github.com/cf22bc6c6b55219d0f9a76d04981f7ae`

[2019-07-09 03:44] jennifer-shehane commented on #444
Ok, thanks @ibakshay. This did work. For others, to 'unlink' a repo:

On the repo row, click **...** (More..) and select **Edit**. From the **Select a Gist** dropdown, select **No CLA** and click **Save**. The repo should now show as **Disabled**.

<img width="1109" alt="Screen Shot 2019-07-09 at 10 03 16 AM" src="https://user-images.githubusercontent.com/1271364/60857647-56827c00-a231-11e9-8dca-6

[2019-07-09 03:50] jennifer-shehane opened #452 "The width of repository name in 'Linked Repositories' is not wide enough to read."
URL to the linked Repo/Org: https://github.com/cypress-io/cypress-example-kitchensink

Steps to reproduce the problem:

1. Have multiple linked repos within an organization domain.
2. Go to cla-assistant and look at 'Linked Repositories' list
3. I can't tell the repos apart with the current width of the 'repository' column. They are truncated with ellipsis, so I have to hover over each one and loo

[2019-07-09 06:43] rsora commented on #451
Hi there,
Unfortunately, I have a similar problem:
My PR is stuck in pending state on the CLA check since yesterday, when it was created  (https://github.com/arduino/arduino-cli/pull/267)

I asked for check multiple times via https://cla-assistant.io/check/arduino/arduino-cli?pullRequest=267 but nothing happens.
![image](https://user-images.githubusercontent.com/35916119/60864637-6fd0fb80-a224-11e

[2019-07-09 07:26] ibakshay commented on #451
Hi @rsora, I have checked your issue and it looks like the `ArduinoBot` has committed in this pull request  (https://github.com/arduino/arduino-cli/pull/267). Could you please check If you have whitelisted 'ArduinoBot' otherwise the CLA Assistant will consider this bot as a  `user` and It expects a signature from `ArduinoBot`

<img width="831" alt="Screen Shot 2019-07-09 at 09 11 30" src="https://

[2019-07-09 07:31] fafa0803 opened #453 "Switch to an open source database?"
Hi,

I really like what you are doing and I would like to use the cla-assistant.
Do you have any plans to switch from mongoDB to an open source database? Since last year October, the latest versions of Mongo DB are no longer provided under an open source license, but under the server side public license.

[Daimler AG acting on behalf of Daimler TSS GmbH.](https://github.com/Daimler/daimler-foss/bl

[2019-07-09 08:07] rsora commented on #451
@ibakshay OMG thanks, I didn't noticed it at all :blush:
Sorry for creating noise in the issue!

[2019-07-09 14:13] KharitonOff commented on #453
Hi Fabian,
it is great to hear, that you are interested in using our tool! Currently we do not have concrete plans for switching from mongoDB to any other DB. But maybe you can take a look into the issue #430. There is an ongoing discussion about possible development directions for CLA assistant, which we are going to evaluate and test. @ibakshay will take a closer look into this topic in the next

[2019-07-09 23:41] ibakshay commented on #451
hi @derberg, We have done the potential fix for the performance issue which you have experienced recently. Could you tell us if you are still facing the performance related issue?

[2019-07-10 06:06] obar1 opened #454 "user deleted in github still in the list for open pull request"
URL to the linked Repo/Org:

Steps to reproduce the problem:

1. create a user
2. sign off a cla
3. drop the user and go back to the cla

What is the expected result?
ou get stucked
What happens instead?
you cannot go ahead as the user does not exist and cla cannot be signed anymore

[2019-07-10 13:58] KharitonOff commented on #454
Can you provide the link to the PR where this issue appeared, please?

[2019-07-12 07:03] obar1 commented on #454
@KharitonOff  sure
https://github.com/delta-io/delta/pull/84

[2019-07-12 08:39] ibakshay commented on #454
Hi @obar1, Is `Databricks CLA Assistant` is a  self-hosted CLA Assistant of yours?

<img width="797" alt="Screen Shot 2019-07-12 at 10 08 49" src="https://user-images.githubusercontent.com/33329946/61113495-b590fc80-a48e-11e9-9900-4c6e0fadee0c.png">

[2019-07-12 09:12] obar1 commented on #454
it s from datadricks

[2019-07-12 09:24] KharitonOff commented on #454
I believe the solution for your problem would be to add the email address used for commits from Mario_Amatucci to a (your) GitHub account. Since the user was removed GitHub can not recognize the committer.
In general CLA assistant checks whether all committers (not the author of the PR) have signed the CLA.

[2019-07-12 19:56] srl295 opened #457 "org-wide CLA not configurable?"
We switched @unicode-org to a single organization-wide CLA, however, I can't find org-wide settings to configure the whitelist, etc.

URL to the linked Repo/Org: https://github.com/unicode-org/jira-github-pr-check/pull/16#issuecomment-510656788

Steps to reproduce the problem:

1. noticed the above PR. I want to whitelist the dependabot's PR
2. went to https://cla-assistant.io and logged in

What

[2019-07-12 20:38] KharitonOff commented on #457
Hi Steven,
have you linked the whole org or separate repositories? If you link the whole org, you can make org-wide settings (click on the three dots button on the right in the org entry)
![Screen Shot 2019-07-12 at 22 30 50](https://user-images.githubusercontent.com/8480657/61156996-25d26900-a4f5-11e9-925a-fb5ab6b960fb.png)

To be able to link the whole org you need to provide further auth-scope

[2019-07-12 20:40] srl295 commented on #457
@KharitonOff someone else on the team (@jefgen) linked the org, but I don't see "linked repositories". I see the following:

![Captura de Pantalla 2019-07-12 a la(s) 12 57 15 p  m  (2)](https://user-images.githubusercontent.com/855219/61157316-a7e97000-a4aa-11e9-8d03-a085e49b2da4.png)

[2019-07-12 21:24] KharitonOff commented on #457
Can you click on "Configure CLA" and follow the link I posted above? Then you should be able to see and edit the linked org too (if you have admin rights)

[2019-07-12 21:36] srl295 commented on #457
@KharitonOff That fixed it! I didn't want to click that because I didn't want to reset everything.

*edit* but now it does not show any contributors?!

[2019-07-12 21:56] KharitonOff commented on #457
Ok, yes. Every time you link your repo/org with a new or changed CLA contributors need to sign the (changed) agreement again. In case you use the same content of the CLA, you can import the previous signatures. But this is rather a legal question, whether the agreement, signed for a repo can be imported and used / is valid for the whole organization (multiple repos).

[2019-07-12 23:03] srl295 commented on #457
Yes, it's the identical CLA and already covers all of the repos.  So, we had re-imported all the signatures when moving to the org-wide CLA.  The question is why did I need to click "configure CLA" again, and did I just wipe out the signatories once again?

[2019-07-13 08:37] KharitonOff commented on #457
You need to click "Configure CLA" just to come to the place where you can provide an extended scope for CLA assistant, only then CLA assistant is able to access your organization information and show it in the list of Linked Orgs (usually we do not request this scope, only from users, who are willing to link also the whole org).
It is enough to link the org only once (like @jefgen did). So you don

[2019-07-13 09:13] ibakshay commented on #452
Hi @jennifer-shehane, I don't know if you already know this feature `org-wide CLA`of CLA Assistant or not. If you already know, then great 💯.
If not, this might be helpful to you. Instead of linking each and every repository of an organization, you can also configure Organization wide CLA. You can have a look at issue  https://github.com/cla-assistant/cla-assistant/issues/457# on how to configure

[2019-07-15 04:26] jennifer-shehane commented on #452
@ibakshay No, I didn't know ya'll had this, Thanks!

[2019-07-16 20:51] directionless opened #459 "Org and repos aren't appearing in my manage list"
Hi. I'm an owner of [kolide](https://github.com/kolide), and I'm trying to understand how cla-assistant was configured. I know it was configured by a former employee, but not much else.

When I visit https://cla-assistant.io/ I do not see the expected linked repositories or orgs. I expect to either see the org listed (there is a org webhook) or I expect to see links to both [kolide/launcher](https

[2019-07-16 22:29] ibakshay commented on #459
Hi @directionless, The contributors have to sign again if the `gist URL` or `gist version` is changed.
It can be the case where your contributors have signed in this format `https://gist.github.com/<gist owner>/<gist id>` but you have linked the gist in this format `https://gist.github.com/<gist id>`. Because if you select the gist from the drop-down when configuring CLA then the gist will be in t

[2019-07-16 22:30] srl295 commented on #457
Could you find out (without scope) that I have _linked repos which themselves belong to a linked org_?

Anyway, I think the UI can be improved.

[2019-07-16 22:32] srl295 commented on #457
@KharitonOff  Looking at https://github.com/unicode-org/jira-github-pr-check/pull/16#issuecomment-510656788 is there a reason why adding the id 'dependabot'  to the allowed list doesn't allow the CLA?  Is it something different than a github ID, being a bot?

[2019-07-16 23:14] directionless commented on #459
Thank you for the suggestion. I just tried updating that to the form `https://gist.github.com/<gist owner>/<gist id>`, but upon save it reformats to `https://gist.github.com/<gist id>` and does not give me access to the old owners.

I still don't see any access for the other repositories cla-assistant is configured with

[2019-07-17 15:28] ibakshay commented on #459
@directionless  So, you have pasted the gist URL `https://gist.github.com/<gist owner>/<gist id>` and then clicked **save**, but still you are not able to retrieve the old signatures ?.  Can you try once again because in most of the cases this will solve the problem :).
![image](https://user-images.githubusercontent.com/33329946/61387369-4b28f380-a8b6-11e9-83b6-f60ebd0597ee.png)
The gist URL will

[2019-07-17 15:45] ibakshay commented on #459
To be able to link the whole organization you need to provide additional auth-scope. Then you can link the whole organization.
**Steps:**
1. click on **Configure CLA**
2. Then select **want to link an org** as below
![image](https://user-images.githubusercontent.com/33329946/61389742-b7f1bd00-a8b9-11e9-86aa-ad8d79a5138e.png)

After you provide this extra auth scope, you will be able to link the wh

[2019-07-18 07:49] directionless commented on #459
@ibakshay I tried it several times, but sure. Once more with screenshots:

<img width="999" alt="Screen Shot 2019-07-18 at 00 24 33" src="https://user-images.githubusercontent.com/179542/61439150-d37ab900-a8f5-11e9-92c0-5af5b28a64fd.png">
<img width="999" alt="Screen Shot 2019-07-18 at 00 24 45" src="https://user-images.githubusercontent.com/179542/61439151-d37ab900-a8f5-11e9-8efe-768c6140ea10.png

[2019-07-18 11:16] ibakshay commented on #459
@directionless thank you for the details. You are not able to see the `kolide` organization even though it has already linked because you need to provide further 'auth-scope' in order to link the whole organization.
![image](https://user-images.githubusercontent.com/33329946/61453334-1a9c9480-a95e-11e9-8da8-445de78d0e47.png)

 After you accept this extra 'auth-scope', you can see the 'kolide' orga

[2019-07-18 14:27] directionless commented on #459
@ibakshay Ah. What you wrote was:

Which I did not interpret as meaning it needed that permission to see _existing_ links. But, having granted those permissions, I can now see the existing links.

Which also helps resolve the kolide/fleet issue -- When it's configured for the individual repository it overrides and maintains a separate list than when it's configured for the org as a whole.

So I gu

[2019-07-18 14:27] #459 closed

[2019-07-18 16:54] unityjeffrey opened #460 "Unable to Load"
URL to the linked Repo/Org: https://github.com/Unity-Technologies/ml-agents

Steps to reproduce the problem:

1.  Logged into cla-assistant.io via my Github login
2.  The repo is not loading the list of linked repositories
3.  Can't get to the list of users

What is the expected result?
Should be able to see a list of the linked repositories on cla-assistant.io

What happens instead?
The loading s

[2019-07-19 03:01] rlizzo commented on #460
I'm having the same issue. Cannot verify new PRs for the repository https://github.com/tensorwerk/hangar-py

[2019-07-19 03:48] rlizzo commented on #460
Seems to be working again?

[2019-07-19 12:04] ibakshay commented on #460
Hi @unityjeffrey,  are you still facing the same issue ?. Are you able to see your linked repositories now?

[2019-07-19 13:12] KharitonOff commented on #457
@srl295 sorry for the long delay. In order to whitelist the dependabot you should use its login name (which is not obvious unfortunately). We can find the login name of committers (including bots) by calling github api `https://api.github.com/repos/<repo_owner>/<repo_name>/pulls/<pull_number>/commits`.

dependabot's login name is `dependabot-preview[bot]` now (previously it was another name)

[2019-07-19 14:42] unityjeffrey commented on #460
hi @ibakshay - it looks to be working now

[2019-07-19 14:42] #460 closed

[2019-07-19 14:42] unityjeffrey commented on #460
thank you!

[2019-07-22 12:48] TimNilimaa opened #461 "Does not work with MFA/2FA active on GitHub account"
URL to the linked Repo/Org: https://github.com/Speedygeek/ZendeskApi_v2/pull/447

Steps to reproduce the problem:

1.Enable/Enfore MFA/2FA on your GitHub account
2. Try to sign a CLA
3. See the not so beautiful error message

What is the expected result?
The CLA signed
What happens instead?
malformated HTML error message

[2019-07-22 12:52] ibakshay commented on #461
Hi @TimNilimaa, Could you please provide the link to pull request where you are facing this issue?

[2019-07-22 13:09] TimNilimaa commented on #461
@ibakshay Comment updated. The CLA is now signed as I went on to disable MFA/2FA and then retried to sign the CLA and it worked. That is why I even created this issue. Now I have re-enabled MFA/2FA.

[2019-07-24 08:26] jennifer-shehane opened #463 "Timeouts from cla-assistant?"
URL to the linked Repo/Org: https://github.com/cypress-io/cypress/pull/4755/

Steps to reproduce the problem:

1. Visit https://cla-assistant.io/

What is the expected result?

Loading of repos

What happens instead?

I was having my cla assistant show as pending in my GitHub checks.

<img width="783" alt="Screen Shot 2019-07-24 at 2 52 49 PM" src="https://user-images.githubusercontent.com/1271364

[2019-07-24 08:49] ibakshay commented on #463
@jennifer-shehane Thank you for reaching out to us again and providing detailed insights into the problem .. CLA Assistant should be working without any performance issue now. We are aware that users are facing performance issues lately. Hopefully, in our next release,  this performance issue should be resolved. We will keep this issue open till then.

 I just retriggered the check for this Pull R

[2019-07-24 09:05] jennifer-shehane commented on #463
Great 👍 Yeah, I see that it's loading quite quickly now. Was able to retrigger checking the PRs and everything is good.

[2019-07-24 09:05] #463 closed

[2019-07-25 14:20] normanrz opened #464 "Whitelist organization doesn't work"
### URL to the linked Repo/Org:
https://github.com/scalableminds/webknossos/pull/4200

### Steps to reproduce the problem:

1. One of our team members (member of `scalableminds` org) created a PR
2. `scalableminds` is whitelisted for that repo

### What is the expected result?
There should be no CLA request since he is a member of the whitelisted org.

### What happens instead?
There is a CLA requ

[2019-07-25 20:36] andschwa commented on #464
Chiming in a second instance of this: also started seeing it on every PR today after having used it fine for a couple months.

[2019-07-25 22:46] ibakshay commented on #464
Hi @normanrz @andschwa,   I just checked and I'm sorry It seems like a bug :/.

Anyways,  I have rolled back to the previous version, So CLA Assistant should be working fine :).
You can do `Recheck PR` now, then the comment and status will be changed.

[2019-07-26 07:10] normanrz commented on #464
Thanks for investigating and rolling back. Appreciated!

[2019-07-27 06:16] directionless opened #465 "Service timeouts causing a no CLA on a PR?"
Hi! We have cla-assistant configured for the kolide organization. It does not appear inside https://github.com/kolide/launcher/pull/502 or https://github.com/kolide/fleet/pulls

The github webhook delivery log shows Service Timeout errors for the opened and synchronized events. Though it shows for success for other ones.

Do you know what's going on?

[2019-07-27 06:46] KharitonOff commented on #465
Both PRs are looking good. I believe you are expecting CLA assistant to comment on this PRs. CLA assistant doesn’t comment PRs from contributors who have already signed the CLA by design. We don’t want produce to much noise. Only if there is a “new” committer CLA assistant will create a comment asking for accepting the CLA and of course update the comment as soon all committees sign it.

[2019-07-27 16:01] directionless commented on #465
I had expected it to post something as a completed check, but didn't see anything last night.

I do see them this morning, and having not taken a screen shot, I don't know if it this is a my error in reading it, or if there was a delay.

The service timeout, however, I have in github's webhook logs

[2019-07-29 12:17] #464 closed

[2019-08-02 06:21] maheshika opened #466 "Unable to add/link a new organisation"
URL to the linked Repo/Org: https://github.com/wso2

Steps to reproduce the problem:

1. Click on Configure CLA
2. Click on dropdown

What is the expected result : organizations which are not linked should be listed in the drop down.

What happens instead : Non of the new organizations are listed

[2019-08-02 09:11] ibakshay commented on #466
Hi @maheshika, Organizations is not showing up in the drop-down because you need to grant further 'auth-scope' permission for linking organizations.
I already explained the steps on how to grant this permission for CLA Assistant in accessing your organization here https://github.com/cla-assistant/cla-assistant/issues/459#issuecomment-512337855 .
If something is not clear, then feel free to reach o

[2019-08-02 09:27] KharitonOff commented on #466
If you aren’t able to link just **new** organisations, then you probably need to request an approval for CLA assistant in GitHub to access the new orgs (to do so, please follow the steps described here https://help.github.com/en/articles/requesting-organization-approval-for-oauth-apps )

[2019-08-05 03:10] ygqygq2 opened #467 "Signed up CLA shows CLA not signed yet."
I've signed CLA but assistant still says not signed.

In the project pr.
https://github.com/cloudnativeapp/charts/pull/45

[2019-08-05 03:23] ygqygq2 commented on #467
https://github.com/cla-assistant/cla-assistant/issues/415
the same as.

[2019-08-05 03:23] #467 closed

[2019-08-05 03:23] ibakshay commented on #467
Hi @ygqygq2, The Pull request looks fine, I just checked.

[2019-08-05 23:45] theblindprogramm3r commented on #467
I'm hitting the same problem with PR: https://github.com/KhronosGroup/OpenXR-SDK-Source/pull/108

[2019-08-05 23:46] theblindprogramm3r opened #468 "Signed CLA, not showing as signed"
URL to the linked Repo/Org:

Steps to reproduce the problem:

1. Reivew : https://github.com/KhronosGroup/OpenXR-SDK-Source/pull/108
2.
3.

What is the expected result?
- Shows CLA signed

What happens instead?
- Shows CLA not signed

[2019-08-06 00:12] ygqygq2 commented on #467
![image](https://user-images.githubusercontent.com/17672440/62502395-c0d31000-b821-11e9-9731-449c3a030931.png)

@theblindprogramm3r The gitconfig email must be added into your github email.

[2019-08-06 01:29] theblindprogramm3r commented on #467
@ygqygq2 my gitconfig e-mail is listed in the github e-mails.

[2019-08-06 05:31] maheshika commented on #466
Hi Both, Went through the given steps and was able to add the other organizations. Thank you very much.

[2019-08-06 05:31] #466 closed

[2019-08-06 11:53] ibakshay commented on #468
Hi @theblindprogramm3r, I can now see that CLA is signed in this pull request   KhronosGroup/OpenXR-SDK-Source#108. So, CLA Assistant took some time to change the comment and status of this PR?

[2019-08-07 13:49] jhtitor opened #471 "Doesn't work at all in TOR Browser"
Not sure if that's a TOR Browser issue, or a generic Firefox issue, but that's what I see when I visit https://cla-assistant.io/

![cla-nothing](https://user-images.githubusercontent.com/34790146/62627907-d0358480-b919-11e9-8c74-468f8039cf84.png)

If that's of any help, here's the console output:

![cla-console](https://user-images.githubusercontent.com/34790146/62627922-d62b6580-b919-11e9-9956-77

[2019-08-07 15:36] Khronoswebmaster commented on #468
We are seeing more issues with CLA Assistant taking many hours to update the comment and status of PRs. When we try to login to CLA Assistant, we end up with a spinning Link in a grey circle forever. Is CLA Assistant experience technical difficulties?

This PR is also not updating after 18 hours:
https://github.com/KhronosGroup/OpenCL-Headers/pull/53

[2019-08-07 15:40] ericnakagawa opened #472 "Issues configuring stand-alone cla-assistant"
URL to the linked Repo/Org: http://134.209.212.84:5000

Steps to reproduce the problem:

1. Click [Sign in with GitHub]
2. Note error.

Configuration, .env:
export PORT=5000
export PROTOCOL=http
export HOST=134.209.212.84
export MONGODB="mongo path, successfully "
export GITHUB_CLIENT=clientkey
export GITHUB_SECRET=clientsecret

export GITHUB_USER=botusername
export GITHUB_PASS=botpass

Github app

[2019-08-07 15:54] Khronoswebmaster commented on #468
Currently (August 7, 2019 11:53AM ET) seeing  timeouts when attempting to load cla-assistant.io:

              <span class="cf-error-type">Error</span>
              <span class="cf-error-code">524</span>
              <small class="heading-ray-id">Ray ID: 502a6645ee1eca5b &bull; 2019-08-07 15:50:55 UTC</small>
            </h1>
            <h2 class="cf-subheadline">A timeout occurred</h2>

On t

[2019-08-07 17:03] ibakshay commented on #468
Hi @Khronoswebmaster, Yes we are facing some technical issues time and time again and we are trying to fix it. Now, https://cla-assistant.io should be loading properly.

However, I have reviewed your Pull request KhronosGroup/OpenCL-Headers#53 and I don't think this  Pull Request is affected because of the technical issue. The comment is not updating because @kcencele has committed in this pull re

[2019-08-07 17:12] ibakshay commented on #471
Hi @jhtitor, We were facing technical issue lately and it was not browser-specific.  Now https://cla-assistant.io/ is working fine and I checked in Google Chrome Browser. Can you check in your TOR Browser now and let us know If you are still facing the issue so that we will know whether It is a generic issue or specific to TOR browser.

[2019-08-07 17:20] Khronoswebmaster commented on #468
@ibakshay ... right you are :-)

[2019-08-07 18:07] jhtitor commented on #471
@ibakshay, thanks for the quick reply, I've checked again, and it's the same - an empty page, and a bunch of templating/angular.js errors in the console.

[2019-08-08 12:35] doodeehee70 commented on #472
ซ้ำของ #

[2019-08-08 14:25] ibakshay commented on #471
@jhtitor oh that's bad:/. And you have tried in another browser also right ?.
Just to make sure whether the issue is Tor Browser specific or the issue is with your Github account linking CLA Assistant.

[2019-08-08 23:07] ericnakagawa commented on #472
@doodeehee70 Which #?

[2019-08-09 21:21] #472 closed

[2019-08-10 00:39] doodeehee70 opened #473 "CLA Assistant"
`

URL to the linked Repo/Org:

Steps to reproduce the problem:

1.
2.
3.

What is the expected result?

What happens instead?

[2019-08-10 00:39] doodeehee70 commented on #473
A

[2019-08-10 07:02] ibakshay commented on #472
Hi @ericnakagawa,   Sorry for the late response. Are you able to configure the CLA Assistant now? (because you have closed the issue), If not I can help you configuring CLA Assistant :)

[2019-08-10 07:04] ibakshay commented on #472
@ericnakagawa,  The previous reply which  I deleted is not from our team.

[2019-08-12 12:48] #452 closed

[2019-08-13 06:57] jennifer-shehane commented on #452
Thanks for being so responsive. The new design is so helpful for us. 👍

[2019-08-13 08:22] pacaceres opened #474 "Cannot view guideline documents."
URL to the linked Repo/Org:
https://github.com/SAPDocuments

Steps to reproduce the problem:

1. Open link to CLA assistant page
2. Try to view Contributing Guidelines documents:
https://github.com/SAPDocuments/Tutorial-Contribution/blob/master/contributing.md
https://github.com/SAPDocuments/How-To-Contribution/blob/master/contributing.md

What is the expected result?
Open the documents so I can r

[2019-08-13 08:30] ibakshay commented on #474
Hi @pacaceres, You can view the Guidelines of this project here in https://github.com/cla-assistant/cla-assistant/blob/master/README.md

[2019-08-14 21:04] NicolasPelletier opened #475 "Using two distinct CLAs"
Good afternoon,

My company wants me to implement two CLAs in repositories in our github.com organizations: One for individual and one for corporations.

Apparently, Apache does this ( see [ICLA](https://www.apache.org/licenses/icla.pdf) and [CCLA](https://www.apache.org/licenses/cla-corporate.pdf) ) and they want me to make our organization support this feature.

Is such a thing possible with cla

[2019-08-14 21:12] NicolasPelletier commented on #475
I now see from your own [CONTRIBUTING.md](https://github.com/cla-assistant/cla-assistant/blob/master/CONTRIBUTING.md) that you require corporation to send you a paper copy of a signed agreement.

So, I think I expect that you do NOT support this feature in automation, otherwise you probably would have used it on your own repositories.

I will not close this question, but wait for your confirmation

[2019-08-15 10:46] #473 closed

[2019-08-15 11:24] ibakshay commented on #475
Hi @NicolasPelletier, Like you told our CLA Assistant automation solution is only for `ICLA` and not for `CCLA`.

However, If any organization has signed a `Corporate CLA (CCLA)`(in paper copy) already,  then you can whitelist that organization by adding that  `organization name` in the whitelisting field in our CLA Assistant tool.

![Screen Shot 2019-08-15 at 13 00 27](https://user-images.githubu

[2019-08-15 23:31] #432 closed

[2019-08-16 15:22] NicolasPelletier commented on #475
Thanks.

[2019-08-16 15:22] #475 closed

[2019-08-19 19:02] dagrooms52 opened #476 "CLA Assistant Waiting For Status To Be Reported"
URL to the linked Repo/Org:
https://github.com/Azure/Azure-AppServices-Diagnostics

Steps to reproduce the problem:

1. Submit Pull Request

What is the expected result?
CLA Assistant check completes successfully

What happens instead?
CLA Assistant reports "Expected -- Waiting for status to be reported"
Screenshot below

Workaround:
Pushed a new commit which triggered a re-check and cleared the C

[2019-08-20 08:12] ibakshay commented on #476
Hi @dagrooms52, I believe there was some problem with the network traffic and So, CLA Assistant took some time to respond.

You can also use this API `GET https://cla-assistant.io/check/azure/Azure-AppServices-Diagnostics?pullrequest=229` for one particular Pull Request to retrigger the CLA Assistant check If CLA Assistant takes time to respond.

[2019-08-22 08:58] lizrice opened #477 "All project admins should see the same CLA status"
**Steps to reproduce the problem:**

We have a project with more than one admin, and we'd like all admins to be able to see / administer the CLA. Admin user A links the repository in cla-assistant, and everything appears to be working fine, but for admin user B not everything is as expected

**What is the expected result?**

Both user A & B should see the same status for the repository and its CLA

[2019-08-22 11:35] ibakshay commented on #477
Hi @lizrice, Could you please request the `user B` to check again? Sometimes this can happen If there is heavy network traffic on our side.

If the `user B` is still not able to see all the fields in the table then feel free to reach to us again.

[2019-08-23 00:50] knqyf263 commented on #477
`user B` is me. Then, I'm still not able to see all the fields😔

[2019-08-23 09:03] ibakshay commented on #477
Hi @knqyf263, oh okay. Could you please check If you have [Admin Permission](https://help.github.com/en/articles/repository-permission-levels-for-an-organization#permission-levels-for-repositories-owned-by-an-organization) for the repo `trivy`. It can be the case where you will have `push` and `pull` permissions but not the `admin` access.

[2019-08-23 09:08] lizrice commented on #477
Oh, that will be it. @knqyf263 you do now! Can you check if it works now?

So sorry, I thought that was already the case. Thanks for your help @ibakshay

[2019-08-25 04:45] knqyf263 commented on #477
@ibakshay I can see it now. Thank you for your cooperation 🙏

[2019-08-28 08:07] #477 closed

[2019-08-28 08:07] #476 closed

[2019-08-30 17:38] hhrutter opened #479 "no access after moving repo to org"
CLA Assistant kind of stopped working since I moved the repo hhrutter/pdfcpu to pdfcpu/pdfcu.

Although I just merged in a PR and it seems that cla assistant was involved but
there is no way for me to doublecheck the signers of the CLA.

I am unable to add the migrated repo.

[2019-09-01 15:15] #440 closed

[2019-09-02 08:17] GeoDerp opened #480 "Getting "Contributor License Agreement is not signed yet." on pull request"
### Issue
Getting ```Contributor License Agreement is not signed yet.``` although it already has been.
other commits (almost exactly the same) have passed without a problem but these two seem to be stuck.

### URL to the linked Repo/Org:

[bitfocus/companion/802](https://github.com/bitfocus/companion/pull/802)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;commit: 16172199a17107aa3f8b994bca4793bde9f0a978
[bi

[2019-09-02 09:08] ibakshay commented on #480
Hi @GeoDerp,  I can now see that CLA is signed for both the Pull Requests [801](https://github.com/bitfocus/companion/pull/801) [802](https://github.com/bitfocus/companion/pull/802). The CLA Assistant has commented `CLA not signed` because you didn't add the Email address you used for those 2  commits to your  GItHub Account. After you added the Email address, the CLA Assistant recognised you as a

[2019-09-02 10:09] GeoDerp commented on #480
im not even sure where Geo comes from. All the commits are under GeoDerp and have my associated email address. https://github.com/bitfocus/companion/commit/16172199a17107aa3f8b994bca4793bde9f0a978.patch (my primary email is : 18461782+GeoDerp@users.noreply.github.com)

In saying that Geo does show up when I commit via command line: with the email geo@localhost.localdomain (git default email (only

[2019-09-02 10:40] ibakshay commented on #479
Hi @hhrutter,
Is the repo `hhrutter/pdfcpu` still linked to CLA Assistant?

Could you please give us more details on this so that I can understand your issue better  ..

[2019-09-02 11:06] hhrutter commented on #479
Hi!

The repo hhrutter/pdfcpu was linked to CLAAssistant.
I migrated the repo to pdfcpu/pdfcpu and now I am stuck.
I am also the admin of the pdfcpu org.
I need  to have pdfcpu/pdfcpu linked to CLAAssistant in a way
so I don't need anybody to sign again.

The gist I was using is still there:
https://gist.github.com/hhrutter/04f84e2276b0703f2d9c85c479534cae

Thank you

[2019-09-02 11:19] ibakshay commented on #479
Oh okay, I got the context of your issue. Thank you for the explanation.

So you are not able to link the organization `pdfcpu` to the CLA Assistant right ?

Are you able to view the organisation `pdfcpu`  like below screenshot when you are trying to link it to CLA Assistant ?

![Screen Shot 2019-09-02 at 13 16 56](https://user-images.githubusercontent.com/33329946/64111118-2e704e80-cd84-11e9-8f39

[2019-09-02 11:24] hhrutter commented on #479
The org/repo dropdown just shows me my repos but no organization.

[2019-09-02 12:06] GeoDerp commented on #480
Worse case scenario I can completely delete the pull requests and start again. This time making sure ```git config --global user.email``` is definitely set up properly.

[2019-09-02 12:11] ibakshay commented on #479
`pdfcpu` organization  is not showing up in the drop-down because you need to grant further `auth-scope` permission for linking organizations.

**steps:**

1. click on **Configure CLA**
1. Then select **want to link an org** as below

<img width="451" alt="Screen Shot 2019-07-17 at 17 26 35" src="https://user-images.githubusercontent.com/33329946/64113641-2536b000-cd8b-11e9-919c-68f9a3d184c2.png">

[2019-09-02 12:12] ibakshay commented on #480
@GeoDerp If you have the patience to do so 😉

[2019-09-02 15:27] hhrutter commented on #479
Does not work for me. No link.
But I remember I managed to grant this access once a couple of days ago.
This is what I get now:

<img width="647" alt="Screenshot 2019-09-02 at 17 24 14" src="https://user-images.githubusercontent.com/11322155/64124231-bc5d3100-cda6-11e9-876a-c11d7aef1087.png">

[2019-09-03 05:40] GeoDerp commented on #480
Yeah, Ill just do that

[2019-09-03 05:40] #480 closed

[2019-09-03 07:33] ibakshay commented on #479
Then you probably need to request an approval for CLA assistant in GitHub to access your organisation `pdfcpu` and to do so, please follow the steps described here https://help.github.com/en/articles/requesting-organization-approval-for-oauth-apps )

[2019-09-03 08:39] hhrutter commented on #479
Excellent! Now it works! Thanks!

[2019-09-03 08:39] #479 closed

[2019-09-03 15:05] #443 closed

[2019-09-05 13:42] directionless commented on #465
Seems unlikely that this will be debugged any further.

[2019-09-05 13:42] #465 closed

[2019-09-07 16:13] HEBOS opened #481 "Service does not work"
URL to the linked Repo/Org:

Steps to reproduce the problem:

1.
2.
3.

What is the expected result?

What happens instead?

[2019-09-08 16:25] prestonvanloon opened #482 "Service not working"
No statuses are being reported.

No linked repos are listed in cla-assistant.io.

[2019-09-08 18:17] ibakshay commented on #482
Hi @prestonvanloon, Could you please send the URL of the affected Pull Requests, So that we can look into your issue on what exact happened ?.

[2019-09-08 18:19] ibakshay commented on #481
Hi @HEBOS, Could you please send the URL of the affected Pull Requests because our service seems to be working just fine !.

[2019-09-09 02:11] prestonvanloon commented on #482
It's working now. The pull requests were in https://github.com/prysmaticlabs/prysm.

[2019-09-09 02:11] #482 closed

[2019-09-09 06:38] ceisele-r commented on #481
@ibakshay I have the same problem, this one does not seem to be working: https://github.com/bpmn-io/tiny-svg/pull/7

I get:

and sometimes a bunch of errors from Cloudflare when reloading the page

[2019-09-09 06:46] scudette commented on #481
Service seems down at the moment - maybe overloaded?

Navigating to https://cla-assistant.io/ times out and github web hooks seem to be mostly failing with `We couldn’t deliver this payload: Service Timeout`

[2019-09-09 07:19] scudette commented on #481
Going to the site now shows:

[code]

It seems down.

[2019-09-09 08:30] ibakshay commented on #481
I am sorry for the inconvenience. We have seen some performance outages and long response time in the past 3 days. I will look into it.
@scudette Yes I believe It was overloaded.
However, CLA Assistant service is up and running without any issue now :) .

[2019-09-09 08:57] scudette commented on #481
Thanks @ibakshay :-). Trying to redeliver the github web hooks still times out - maybe it will get better over time :-).

[2019-09-09 09:43] ibakshay commented on #481
😄 @scudette  Could you give us the URL of the affected pull request ?

[2019-09-09 09:50] scudette commented on #481
When I click redeliver it spins for a while and fails with a timeout.

![image](https://user-images.githubusercontent.com/3856546/64521122-c2b95300-d33a-11e9-92b5-076048cf1b48.png)

[2019-09-10 14:57] ibakshay opened #483 "CLA Assistant Lite GitHub Action"
Hello Community,

We are in development of CLA Assistant Lite Github action (a light version of CLA Assistant). With this Action, we can get rid of the need of a centrally managed database and rather storing all the contributors data in something like  a `cla.md` file.  I understand, this action won't be able to provide all the feature-sets  of the current `CLA Assistant OAuth App` , However, this

[2019-09-11 13:03] daveaglick commented on #483
Love this idea!

While that seems like a great user experience and I'd prefer it without any other considerations, I'm a little worried about how easy it is and whether it adequately expresses an intent to "sign" the CLA.

What about requiring a comment with specific wording like "I, Dave Glick, agree to the terms of this CLA". You could provide a template in the comment from the bot:

I also noti

[2019-09-11 14:09] germanattanasio commented on #483
I was looking into deploying this in a database I own because the original app is sometimes slow, but I agree with all your points, especially removing the need for the UI or database.

[2019-09-11 19:44] thojansen commented on #483
@daveaglick Agree that a comment would be more specific. This could even enable custom fields, but would require a clear syntax, e.g. put a comment which ends with something like the following.

Hereby, I sign v1 of the  CLA with Name: Thomas Jansen, E-Mail: my@email.com

[2019-09-11 20:36] Chainoy1 opened #485 "CLA Assistant."
URL to the linked Repo/Org:

Steps to reproduce the problem:

1.
2.
3.

What is the expected result?

What happens instead?

[2019-09-13 21:39] pzou1974 opened #486 "when I tried to check in code it asked me to sign both pzou1974 and pzou"
URL to the linked Repo/Org:
https://github.com/keikoproj/addon-manager/pull/14

Steps to reproduce the problem:

1.  go to https://github.com/keikoproj/addon-manager/pull/14
2.  I used user pzou1974 and it is signed but I still got blocked.
3.  not sure why pzou is related to pzou1974

What is the expected result?

What happens instead?