[2014-11-08 00:07] benboeser opened #1 "Create marketing page"
As a first time user I have no idea what CLA assistant does for me.

Have a marketing type page available that explains the high level features.

What is CLAHub? Purpose, Why should the end user care?

Change Sign in label from sign in as admin to: 'Sign in with GitHub'

[2014-11-08 00:08] benboeser opened #2 "Logo"
No need for a logo per se... but add some 'style' to the fonts. CLA in bold and assistant in regular weight.

[2014-11-08 00:08] benboeser opened #3 "main page - add repo"
Change to ‘Add repo’ interaction (same to ReviewNinja)
Don’t show all repos

[2014-11-08 00:09] benboeser opened #4 "main-page - settings"
- Settings - Pop up-> change to interaction that lives directly on the first page (expand the repo section and allow for entering the gist URL right there)

Once the Gist is connected you would also have a link to a detail page that directs the user to a detail page page

[2014-11-08 00:09] benboeser opened #5 "detail-page"
Show a list with all users who signed the CLA for this repo … userID, date and other relevant attributes

[2014-11-08 00:11] benboeser opened #6 "main page - add gist"
Explain the gist functionality / What is the implication, where do I create a gist, talk a little about the 'lifecycle'(what if I change a gist)
Include screenshots,..

[2014-11-08 00:11] benboeser opened #7 "Pull Request Integration"
- on the PR: more explanation next to the label
- wording on status API: shorten… the language (Rachel can help with suggestions)

[2014-11-08 00:12] benboeser opened #8 "Sign-process"
As a user signing the CLA - redirect to repo (no thank you page)

[2014-11-08 00:12] benboeser opened #9 "Names"
a few more name proposals:
cla sign
CLA signer

[2014-11-08 09:10] #9 closed, assigned to nobody

[2014-11-28 15:31] #3 closed, assigned to nobody

[2014-12-17 13:15] #7 closed, assigned to nobody

[2014-12-18 15:16] #6 closed, assigned to nobody

[2014-12-18 15:57] KharitonOff opened #10 "pull request with multiple committers"
- set pull request status to green only(?) if all committers have agreed to the CLA

[2014-12-18 16:02] KharitonOff opened #11 "show correct icon for repos and forks"

[2014-12-19 09:09] KharitonOff opened #12 "on new version of CLA"
show changes to previous version if the user has signed the previous version

[2014-12-19 09:45] #4 closed, assigned to nobody

[2014-12-23 09:52] #11 closed, assigned to nobody

[2015-01-02 14:05] #12 closed

[2015-01-07 08:12] KharitonOff opened #13 "Possible mismatch of comment on pull request with its status"
Comments from CLA assistant show only the current state of CLA for the PR (whether user has signed or not the current version of CLA). So the comment can change it's description from "signed" to "not signed yet" later after the PR was merged if the content of CLA changes. That would lead to a mismatch of the PR status (green) and the comment (yellow).

[2015-01-12 09:39] KharitonOff commented on #13
better approach would be to change CLA assistant's comment on pull request instead of using generic svg image

[2015-01-13 06:56] thojansen opened #14 "sign cla once per version"
Detect pre-existing CLA with a contributor and not require signing of CLA for every project. So a signed CLA is valid for all repositories connected to that CLA (version).

[2015-01-13 06:57] thojansen opened #15 "corporate CLAs"
Support the notion of Corporate and Individual CLAs. Ensure that a Corporate CLA is in place before presenting individual CLAs for signing. Periodically (or on a per project basis!) validate the affiliation of the individuals with their employers.

[2015-01-13 06:58] thojansen opened #16 "CLA discovery"
Support search / query of the CLAs singed via the tool.
- Which businesses have signed CLA with SAP?
- Who are the individuals from each of those businesses contributing to SAP’s Open Source projects
- Which projects have those individuals contributed to?

[2015-01-20 13:16] #13 closed

[2015-01-20 13:17] #10 closed

[2015-01-21 07:25] KharitonOff opened #17 "Scroll down the CLA"
Require users to scroll down to the end of the CLA before they can select “I agree”

[2015-01-21 07:28] KharitonOff opened #18 "provide option to view and revoke CLAs"
Provide an option to view all signed CLAs and to revoke CLAs for future pull requests.

[2015-01-21 07:36] KharitonOff opened #19 "Provide capability to query database to see who has accepted the CLA"

[2015-01-21 07:39] KharitonOff commented on #15
Comments from Chris:
Support for Corporate CLA.
  - This would require a user to indicate whether they are participating in the project as an individual or on behalf of a corporation (for example, see ubuntu’s process here: http://www.ubuntu.com/legal/contributors/submit.
  - This would also require the system to maintain a CCLA with a list of authorized contributors (with list of GitHub IDs). Som

[2015-01-21 07:41] KharitonOff commented on #19
related to #16

[2015-02-23 10:02] KharitonOff commented on #8
done with new design

[2015-02-23 10:02] #8 closed

[2015-02-23 10:03] KharitonOff commented on #5
done with new design

[2015-02-23 10:03] #5 closed

[2015-02-23 10:18] KharitonOff commented on #2
Almost done, first version is already there. Should be discussed.
Maybe we can take text out of the logo.

[2015-02-23 10:23] KharitonOff commented on #1
waiting for Chelsea's design proposal ...

[2015-02-23 18:17] hrj opened #21 "How do I use this?"
I have been watching this repo for a while now, hoping for a public announcement.

It's not clear to me whether you plan to roll this out as a service. Or is it supposed to be a Bring-Your-Own-Server project?

If it's the latter, a few words on how to run and configure this would be appreciated.

Thanks!

[2015-02-24 08:15] thojansen commented on #21
Thanks for your interest in the project @hrj. We plan to have a service up and running for SAPs open source projects very soon. Right now we would recommend to set up your own server. For this you need to set up a mongo database, set the environment variables (see .env.example) and then run the app via npm install/ npm start.

[2015-03-11 09:40] #16 closed

[2015-03-11 09:40] #19 closed

[2015-03-11 09:45] thojansen commented on #17
Discussed and decided against this.

[2015-03-11 09:45] #17 closed

[2015-03-12 11:54] KharitonOff opened #23 "mention all committers who have not signed CLA yet"
If there are multiple committers in pull request all of them should sign the CLA. It is not transparent yet who has already signed the CLA and who not.
The possible solution could be: write names of all committers into comment who has not signed the CLA and update it after each signature.

[2015-03-12 12:12] thojansen commented on #23
**1** out of **2** committers have signed the Contributor License Agreement (CLA).
- mail1@domain.com :white_check_mark:
- mail2@domain.com :x:

..something like this @KharitonOff ?

[2015-03-12 12:26] KharitonOff commented on #23
yes, or like this:
1 more committer has to sign the CLA:
- mal2@domain.com

[2015-03-17 14:02] KharitonOff opened #24 "show all activated repos I can access"
show all active repos where I have admin rights (even if I haven't activated it)

[2015-03-20 13:14] #2 closed

[2015-03-20 13:14] #1 closed

[2015-03-20 13:14] #24 closed

[2015-03-20 13:16] thojansen commented on #14
discussed this and want to keep this rather on a per-project basis

[2015-03-20 13:16] #14 closed

[2015-03-20 13:22] thojansen opened #26 "documentation on how to run own instance of cla assistant"
provide a documentation on how to run a custom instance

[2015-03-20 13:22] thojansen commented on #21
see #26

[2015-03-20 13:22] #21 closed

[2015-04-02 12:10] KharitonOff opened #27 "write PR-comments in name of cla-assistant user"
instead of repository owner.

[2015-04-02 15:50] #27 closed

[2015-04-29 14:23] yaseminc opened #31 "Error Boxes"
**highlight error fields (=text boxes)**

- outline orange # ff803f
- box filling: #ffe5c9
- add orange text description beneath text box
![screen shot 2015-05-12 at 11 12 58 am](https://cloud.githubusercontent.com/assets/11296839/7583688/e058f960-f897-11e4-953a-76512c9c39bd.png)

**Error message if:**

1. repository is already linked with a CLA Gist file:
"Whoops! This repository is already linke

[2015-04-29 14:49] yaseminc opened #32 "Options: Choose a CLA in Gist"
We have **two options**:

- choose a CLA from the **drop-down menu**
- paste a URL from Gist in a **type-in box**

**drop-down menu:**
View default choice. If not acceptable,
- click on down-arrow to show choices
- scroll through list if necessary
- click on one option to select it.
-grouping options by repo owners?

e.g: **reviewninja**

            reviewninja/welcome
            reviewninja/dco

[2015-04-30 09:12] yaseminc commented on #31
Feedback for "My Signed CLAs": "You have no signed CLAs so far."

[2015-04-30 12:45] yaseminc opened #33 "changes landingpage"
- [x] Sign In Button landingpage to white
- [x] Feature icons 2x2
- [x] Font-size of discriptions in 'FEATURE' icon hovers to 18px
- [x] Text for slides
- [x] implement info & icons for 'HOW IT WORKS'
- [x] Delete screenshots
- [x] Footer: terms of Service & Privacy policy
- [x] Footer: Do not link to 'Apache License'
- [x] Footer: Delete 'Email Us'
- [x] Bottom on page: another sign in button
- [

[2015-04-30 12:46] yaseminc commented on #33
Font-size of discriptions in 'FEATURE' icon hovers

[2015-04-30 12:47] yaseminc commented on #33
Text for slides

[2015-04-30 12:47] yaseminc commented on #33
HOW IT WORKS

[2015-04-30 12:49] yaseminc commented on #33
Update screenshots

[2015-05-04 09:07] KharitonOff opened #34 "Error messages in new design"
- [ ] user has no repos in github - let him know that cla-assistant doesn't make much sense without github repos

[2015-05-05 08:12] yaseminc opened #35 "List of my signed CLAs"
- [ ] extra site for 'my signed CLAs': **Where?**

- [ ] Link on Landingpage
- [ ] Link in footer of CLA assistant to view own contributions with signed CLAs

[2015-05-05 08:53] yaseminc opened #36 "Terms of Service & Privacy Policy"
Check with legal department which terms of service and privacy policy we should use to link on landingpage.

Currently we use this:
http://www.sap.com/corporate-en/about/legal/terms-of-use.html

[2015-05-06 09:35] yaseminc commented on #34
see: https://github.com/cla-assistant/cla-assistant/issues/31

[2015-05-06 09:36] #34 closed

[2015-05-06 09:36] KharitonOff commented on #31
- [ ] user has no repos in github - let him know that cla-assistant doesn't make much sense without github repos

[2015-05-07 09:15] yaseminc opened #37 "wording"
We're happy to get some help with the wording:

- Pop Up "Contributors who signed a CLA" --> List of contributors?

[2015-05-11 12:26] yaseminc opened #38 "pop up fade in"
- [x] please let it pop up from the center :smiley:

[2015-05-11 12:31] yaseminc opened #39 "Landing page: signature animation"
start playing when mouse over

[2015-05-11 12:34] casche opened #40 "Thin text a bit difficult to see on lower resolutions"
The thin text that is placed on the background image is a bit difficult to see when using a monitor with a low DPI. Not a problem for retina displays.. just old cheap monitors :)

I would suggest adjusting the font-weight to bit slightly bigger.

![screen shot 2015-05-11 at 9 33 02 am](https://cloud.githubusercontent.com/assets/5832943/7564834/e34a02fe-f7c0-11e4-979d-cecd1865651c.png)

[2015-05-11 14:13] yaseminc opened #41 "Text: Info Box 'Don't have one?'"
adapt discription

[2015-05-11 14:20] #38 closed

[2015-05-12 08:41] spadgos opened #42 "Consider compressing images"
The [logo image](https://cla-assistant.io/assets/images/logo.png) is 1.1MB. Running it through the optimiser at tinypng.com reduced it to 10kb and it looks just as nice. :)

![](https://tinypng.com/web/output/m3du5q269uuea015.png/logo.png)

[2015-05-12 08:51] yaseminc commented on #40
@mierschp @KharitonOff pls change to font-weight: 400 :)
thx @casche !

[2015-05-12 08:53] #33 closed

[2015-05-12 08:55] yaseminc opened #43 "Text for Slides"
either quotes "what people said about CLA assistant" (but who? :stuck_out_tongue: )

-or-

short, catchy statements about the tool

[2015-05-12 10:25] thojansen commented on #42
@KharitonOff can you make sure to reduce the images and load time for the redesign such that this is fixed?

@spadgos :+1: for pointing this out.

[2015-05-13 08:08] KharitonOff commented on #40
We tried it out, but it doesn't look nice :(
We'll see wether we can set the font-weight depending on the user's DPI...

[2015-05-13 09:23] KharitonOff opened #44 "create default entry for CLA drop down list"
and link it to the SAP individual CLA gist file (create a .json file in order to make it possible for other companies store their CLAs a default ones)

[2015-05-13 10:49] #39 closed

[2015-05-14 17:34] MitchK opened #45 "View bug when site is loading"
Hey :)

The site is showing the {{ }} tags for a sort period of time because Angular.js is not loaded immediately. With a fast internet connection, I think it is not a big issue. But on mobile and/or with slow internet connections, it may look a bit ugly :)

I think ```ng-cloak``` should fix it.

Cheers :)

[2015-05-15 09:10] KharitonOff commented on #44
@yaseminc is the styling of the categories in Gist dropdown ok?

[2015-05-15 09:15] yaseminc commented on #44
@KharitonOff maybe try it left-aligned, like in this example:
https://github.com/cla-assistant/cla-assistant/issues/32 :)

[2015-05-15 13:15] KharitonOff commented on #45
Thnak you, Mitch! I'll take a look on it

[2015-05-15 14:20] #41 closed

[2015-05-15 14:22] KharitonOff commented on #32
@yaseminc could you review it again :)?

[2015-05-15 14:31] yaseminc commented on #32
have a little less indent :)
![bildschirmfoto 2015-05-15 um 16 29 47](https://cloud.githubusercontent.com/assets/11296839/7654759/abd958bc-fb1f-11e4-84d9-a8adeafe2885.png)

[2015-05-19 14:25] #44 closed

[2015-05-26 14:25] KharitonOff opened #46 "Export list of signees"
- [x] .csv?
- [ ] .pdf?

any other formats?

[2015-05-26 14:29] KharitonOff commented on #37
we need help from a native speaker to review all texts on:
- landing page
- administration view incl. all popups

[2015-05-26 14:32] KharitonOff opened #47 "FAQ"
provide answers to following questions in README:
https://github.com/eslint/eslint/issues/2503

[2015-05-26 14:40] KharitonOff opened #48 "Error Page for non-existing repositories"
or better error message for contributors navigating to an inactive Repo/CLA to sign

[2015-05-26 17:04] dfarr commented on #37
I can look at this tomorrow!

[2015-05-27 07:10] thojansen commented on #15
As per discussions with legal, CCLA handling will be an exceptional case not covered by our tool.

[2015-05-27 07:10] #15 closed

[2015-05-27 08:40] KharitonOff commented on #35
related to #18

[2015-06-01 13:06] yaseminc commented on #37
@dfarr thanks! Did you have a chance to look at it yet?

[2015-06-02 08:12] #46 closed

[2015-06-02 08:13] KharitonOff commented on #46
let's wait for user feedback

[2015-06-02 08:14] KharitonOff commented on #42
done in the new design version

[2015-06-02 08:14] #42 closed

[2015-06-02 08:18] KharitonOff commented on #35
further ideas:
 - provide ordering function on columns
 - don't show the gist url, but a button for modal view with CLA content

[2015-06-02 08:20] KharitonOff commented on #32
please reopen if something is missing

[2015-06-02 08:20] #32 closed

[2015-06-02 08:27] KharitonOff opened #49 "set pull request status to green if all committers have signed the CLA"
Current state is: CLA assistant checks committers of a new PR and if there are no committers who hasn't signed the CLA yet it doesn't do anything on the PR (it creates nor a comment neither a status of the PR saying that everything is ok).

Should be: CLA assistant should set PR status to green also initially if there are no committers who hasn't signed the CLA. Otherwise it isn't clear whether CL

[2015-06-02 10:38] mierschp commented on #35
so far every signed CLA of the user will be shown in the list, even the older versions. That means that the same repo will be listed several times. These entries should not be shown in the list, so that only the actual signed version of the CLA is listed

[2015-06-02 13:15] KharitonOff commented on #49
already done ;)

[2015-06-02 13:15] #49 closed

[2015-06-02 15:44] dfarr commented on #37
Sorry guys! Looking now :)

[2015-06-02 21:58] thojansen commented on #37
please check #50

[2015-06-02 22:01] thojansen commented on #43
We could just describe the workflow again. Later we can change that to customer quotes. @KharitonOff ?

- Sign in with GitHub
- Accept CLA
- Done

[2015-06-03 06:06] yaseminc commented on #43
Sorry about closing this, my phone tricked me.
@thojansen so you want to address the contributor rather than the repo owner?
Also just a thought, the slides start rotating not only when the user gets to the anchor, so the user might find the statement "accept CLA" or "done" first, what could be irritating?

[2015-06-03 08:09] KharitonOff opened #51 "still need app.min.js"
good point, but it doesn't work without app.min.js now because of feature directive. You can paste feature.html template instead of lines 84-87 or re-add app.min.js and I'll fix that point later.

|commit|file reference|pull request|   |
|------|--------------|------------|---|
|cc0039852364826fd8df3cd557df3d25ff0f0521|[src/client/login.html#L24](https://github.com/cla-assistant/cla-assistant/blob

[2015-06-03 08:21] KharitonOff opened #52 "success modal view has no header any more"
@yaseminc what do you think from design perspective?

|commit|file reference|pull request|   |
|------|--------------|------------|---|
|cc0039852364826fd8df3cd557df3d25ff0f0521|[src/client/modals/templates/linkSuccess.html#L3](https://github.com/cla-assistant/cla-assistant/blob/cc0039852364826fd8df3cd557df3d25ff0f0521/src/client/modals/templates/linkSuccess.html#L3)| #50 |[![#50](http://app.revie

[2015-06-03 08:23] KharitonOff commented on #52
![bildschirmfoto 2015-06-03 um 10 14 29](https://cloud.githubusercontent.com/assets/8480657/7955677/7ed745a8-09da-11e5-8d25-8c96e1333dd9.png)

[2015-06-03 08:27] yaseminc commented on #52
was there a specific reason to leave it out?

[2015-06-03 08:31] KharitonOff opened #53 "another sign-out icon"
@yaseminc which one should we take?

|commit|file reference|pull request|   |
|------|--------------|------------|---|
|cc0039852364826fd8df3cd557df3d25ff0f0521|[src/client/home.html#L53](https://github.com/cla-assistant/cla-assistant/blob/cc0039852364826fd8df3cd557df3d25ff0f0521/src/client/home.html#L53)| #50 |[![#50](http://app.review.ninja/assets/images/icon-alt-36.png)](http://app.review.ninja

[2015-06-03 08:31] KharitonOff commented on #53
![bildschirmfoto 2015-06-03 um 10 15 13](https://cloud.githubusercontent.com/assets/8480657/7955853/b78c0ff4-09db-11e5-8819-f2d59f87ba34.png)

[2015-06-03 08:48] yaseminc commented on #53
the current one fits better to the stroke weight of the CLA logo and the other icons imo. the arrow of the shown icon for "sign out" feels too mighty. BUT a tooltip (sign out) would be nice.
![bildschirmfoto 2015-06-03 um 10 47 37](https://cloud.githubusercontent.com/assets/11296839/7956107/ffad8446-09dd-11e5-9e5a-47c3f2084e0f.png)

[2015-06-03 08:49] yaseminc commented on #53
color for the tooltip should be a lighter grey though

[2015-06-03 15:13] thojansen commented on #43
ok, but right now I have no idea for catchy statements or quotes.
@dfarr @benboeser any ideas for some rotating statments in the following section of the landing page?

![screen shot 2015-06-03 at 08 12 10](https://cloud.githubusercontent.com/assets/5912220/7963573/4c22a132-09c8-11e5-9015-c29cfb1e5ecd.png)

[2015-06-05 11:09] CLAassistant commented on #23
mention all committers only if there are more than one, otherwise it looks like this:
![bildschirmfoto 2015-06-05 um 13 07 53](https://cloud.githubusercontent.com/assets/11571300/8004887/147b2dae-0b84-11e5-927f-061d375422c7.png)

[2015-06-05 12:00] #23 closed

[2015-06-05 12:02] KharitonOff commented on #23
only one committer in PR:
![bildschirmfoto 2015-06-05 um 13 53 45](https://cloud.githubusercontent.com/assets/8480657/8005531/6daafda8-0b8b-11e5-9d7a-9e16514fc7d5.png)

two committers in PR:
![bildschirmfoto 2015-06-05 um 13 58 13](https://cloud.githubusercontent.com/assets/8480657/8005535/70d35066-0b8b-11e5-8fac-734b35ffe5aa.png)

[2015-06-08 11:08] KharitonOff commented on #52
I suppose the the header and the content were repeating each other. Maybe we can use another wording there, like "Well done" or "Success", "Congrats" ...
@yaseminc, @dfarr what do you think about it?

[2015-06-08 11:11] #53 closed

[2015-06-08 11:12] #51 closed

[2015-06-08 11:14] KharitonOff commented on #37
done with pr #50

[2015-06-08 11:14] #37 closed

[2015-06-08 14:53] KharitonOff commented on #47
@thojansen @yaseminc what do you think about this? Do we need more points or should we add further points as soon further questions will arrive?

## FAQ
### Where is the list of signees stored?
We store all the data in a MongoDB hosted by mongolab.com. As soon SAP gets its own cloud foundry platform ready for external usage we will probably move to this one.

### Is there a way to import/export th

[2015-06-08 15:04] yaseminc commented on #47
**Please find my suggestions in **bold** ;) **

Where is the list of signees stored?

We store all the data in a MongoDB hosted by mongolab.com. (Not sure if we need this, because it is an unsure info and not necessarily interesting for the user. if it ever happens, we can share the info ;) "As soon **as** SAP gets its own cloud foundry platform ready for external usage, we will probably move to t

[2015-06-08 15:06] yaseminc commented on #52
I thought it already said "success"?

[2015-06-08 15:12] KharitonOff commented on #52
it was "You created a new link!"

[2015-06-08 16:27] thojansen commented on #47
Saying that we *probably* move somewhere is not really that helpful. I would skip that part. Everything else I think is fine and then we can expand this as soon as questions come in.

[2015-06-09 11:22] KharitonOff commented on #47
:+1: @yaseminc @thojansen
thank you

[2015-06-09 11:24] #47 closed

[2015-06-09 14:39] KharitonOff commented on #52
I'm not sure if it's better now or not. @yaseminc ?

![bildschirmfoto 2015-06-09 um 16 34 58](https://cloud.githubusercontent.com/assets/8480657/8060445/a0b09e28-0ec5-11e5-8d99-4a0bb447e369.png)

[2015-06-09 14:59] yaseminc commented on #52
I am not sure either. First, the space above and beneath 'Success' is definitely too much... My view is first led to the illustration, then to the button, afterwards I read the text below the illustration. The headline is floating and the words double in the meaning.. @KharitonOff could you send me a shot of the very first mockup I did for this to compare, please?

[2015-06-10 13:26] #52 closed

[2015-06-15 15:49] jeffmcaffer opened #55 "spelling mistakes on github.io page"
This is the text from the main claassistant.github.io page
"Got to Gist.GitHub.com, save a CLA text file there.
Choose the creted file or copy and paste the URL in CLA assistant. "

First word I assume is "Goto".  Then in the last sentence is should be "created" not "creted".

[2015-06-16 09:20] KharitonOff commented on #55
Thank you for pointing this out, @jeffmcaffer.
We asked a native speaker to look over all our texts and rewrote some texts according to his feedback. Hopefully there no typos anymore :) If you find some again, please, let us know.

[2015-06-16 09:20] #55 closed

[2015-06-16 09:28] KharitonOff commented on #43
easy to set up
easy to use
2 clicks from pull request to signed CLA
open source

[2015-06-17 15:15] kevinsmeets commented on #26
Hi Guy's,

I'm trying to setup cla-assistant on a dedicated server running a CentOS 6.6 (Final) installation.

I've installed NodeJS v0.10.36, NPM v1.3.6 and MongoDB 3.0.3 and downloaded the cla-assistant repo (master branch). Then I proceeded to setup MongoDB (creating user and database) and to set some environment variables as shown by the .env.example. I set PORT to 3000, PROTOCOL to http, HOST

[2015-06-17 15:20] kevinsmeets commented on #26
I see that most URL's in my text are not shown as I hoped.
Just to clarify, the callback URL is: http://my-server/auth/github/callback
I should have remembered that certain brackets are not allowed/shown on GitHub, doh!

Thanks, Kevin

[2015-06-18 09:06] KharitonOff commented on #26
Hi Kevin,

thank you very much for your Interest on CLA assistant! And so sorry for the spare info on how to set up CLA assistant. We are still working on the app and lot of things are changing continuously, so the short description you had is a bit outdated now. We have describe it again in more detail, see README.md.

It would be great if you could review the description and validate, whether it

[2015-06-18 09:06] #26 closed

[2015-06-18 14:19] kevinsmeets commented on #26
Hi Guys,

Thank you for your quick reply and the updated README.md
I have cla-assistent running and properly configured and it works like a charm :+1:

Thanks, Kevin

[2015-06-18 15:06] thojansen commented on #26
awesome :shipit:

[2015-06-19 14:39] mierschp commented on #35
@yaseminc I'm currently working at a solution to show the version-status of a CLA and could use your help as designer,  because currently I'm using the link-icons of the "Linked-CLA's", but in this context I don't think we should use them.

These icons should have two states:
- inactive/failure
-ok

Do you maybe have some ideas?

[2015-06-19 14:46] KharitonOff commented on #35
@yaseminc  in case you would like to see how it looks right now, you can go to https://preview.cla-assistant.io login and then go to https://preview.cla-assistant.io/my-cla ;)

[2015-06-22 11:26] yaseminc commented on #35
hi @mierschp and @KharitonOff, so you want to indicate the status of the version of each CLA, do I get this right? I'd say take a grey filled circle and a white " ! " (like the current icon for inactive link) for inactive/failure and a check-icon in a circle for OK (green, and only the outline like in the icon for active link). can you do this by programming/ taking the icons from fontawesome or w

[2015-06-22 13:12] yaseminc commented on #35
like those:

(those are just screenshots, please don't use them ;) )
![bildschirmfoto 2015-06-22 um 15 11 03](https://cloud.githubusercontent.com/assets/11296839/8282426/fc5115d4-18f0-11e5-8b5a-b372bc8021ee.png)

![bildschirmfoto 2015-06-22 um 15 11 18](https://cloud.githubusercontent.com/assets/11296839/8282427/fc68ab2c-18f0-11e5-829c-ca2a1410a6a6.png)

[2015-06-23 08:05] mierschp commented on #35
hey @yaseminc we were trying around to do this by programming and some online tools, but it doesn't look that well... ^^
It would be really awesome, if you could send us some svgs :)

We really liked your idea with the "!" in a  filled circle and the check-icon in a green circle.
But we didn't dicide yet, which color to choose for the "!"-icon, whether red or grey. Maybe you could decide, which on

[2015-06-23 08:07] yaseminc commented on #35
sure, I'll send it to you ;)

2015-06-23 10:06 GMT+02:00 mierschp <notifications@github.com>:

[2015-06-26 11:58] #36 closed

[2015-06-28 13:54] thojansen opened #56 "update dependencies"
@KharitonOff @mierschp can you check if we can update our dependencies?

- [ ] https://david-dm.org/cla-assistant/cla-assistant
- [ ] https://david-dm.org/cla-assistant/cla-assistant#info=devDependencies

[2015-07-02 08:16] #56 closed

[2015-07-03 09:13] yaseminc commented on #35
sorry guys, I'll do it on the weekend!

[2015-07-06 15:06] KharitonOff commented on #35
no problem, just take your time :smiley:

[2015-07-07 08:29] blaesius opened #59 "System is down"
Hi colleagues,
 the system seems to be down, therefore I cannot sign the CLA

[2015-07-07 08:33] KharitonOff commented on #59
HI,
I'm checking the issue. Sorry for that!
We'll let you know as soon it's fixed.

[2015-07-07 08:46] blaesius commented on #59
It seems to be the case that the signing did work now.
I got an empty page several times, but now the system is telling me that I signed it :)

[2015-07-07 08:55] thojansen commented on #40
Shall we close this one?

[2015-07-07 09:03] yaseminc commented on #40
yeah, we don't want to change it..

[2015-07-07 14:39] #40 closed

[2015-07-09 11:58] #59 closed

[2015-07-10 10:14] DenisGorbachev opened #60 ""Sign in" broken on cla-assistant.io"
Hey, first off, thanks for the service — that's exactly what I need!

However, here's what happens when you click "Sign in":
![sign-in](https://cloud.githubusercontent.com/assets/829578/8616610/6cdebc80-2705-11e5-805e-7c6173e80d46.png)

I have removed the "?admin=true", and signed in, but was greeted with a blank page:
![empty](https://cloud.githubusercontent.com/assets/829578/8616638/97bbc196-270

[2015-07-10 11:39] KharitonOff commented on #60
Hi Denis,
thank you very much for reporting the issue!
The Problem should be solved now.

[2015-07-10 14:37] #60 closed

[2015-07-10 15:39] DenisGorbachev commented on #60
@KharitonOff Thanks you for a quick response! I confirm, the site is working now.

[2015-07-20 10:36] KharitonOff opened #61 "Don't ask repository owners to sign a CLA ?"
should we differentiate between repository owners and "external" committers?

pro:
 - there is actually no need to sign a CLA from side of the repository owner(s)
 - teams, which work with pull requests, are not "bothered" about signing CLA

contra:
 - it is hard to test/validate for newcomers, whether CLA assistant work properly
 - each person have to sign a CLA only once (until it changes) - sho

[2015-07-20 10:36] KharitonOff commented on #61
@thojansen , @mierschp , @yaseminc any thoughts on this?

[2015-07-20 10:48] thojansen commented on #61
No, would not change this behaviour. I think any pull request should be checked and even project members can very easily sign the CLA via one click. We cannot assume that every contributor or owner is legally allowed to contribute. Maintaining another list is not easier that just clicking two buttons, so I would opt for sticking with the current flow.

[2015-07-20 10:59] mierschp commented on #18
@KharitonOff I think we should rename this topic to "revoke CLAs" only,  because the option to provide a view of all signed CLAs is already treated in #35

[2015-07-20 11:10] KharitonOff commented on #18
@mierschp let's create a new issue for revoking and close this one as soon the we have linked the new view on the landing page

[2015-07-22 08:18] matz3 opened #62 "Link multiple repos in one flow"
Although the process of linking a repo doesn't require too much effort it might be helpful to have the possibility to select multiple repos in step `(2) Choose a repository` as you have to select the CLA over and over again when adding a bunch of repos.
An option to pre-select all repos of one Org/User might also be cool when starting to use CLA-assistant and activating all your repositories for i

[2015-07-27 11:42] KharitonOff commented on #62
Good idea!
We should find a better way of linking CLA and repos from the UX perspective:
selecting multiple repos and/or preselecting the CLA (let user select a CLA only once and not on each link action)

[2015-07-27 11:44] #61 closed

[2015-08-11 22:24] kwquick opened #63 "hook running, but not doing anything"
I setup a test repository (kwquick/test_cla) and it's identified as status green (everything is ok) for cla-assistant, and I see the hook, but a non-confirmed client doesn't see prompts and I don't see any indications in the pull request that they have not confirmed the cla.  Can you help identify what is wrong?  I can grant you access to this test repo if needed.

[2015-08-12 07:41] KharitonOff commented on #63
Hi Kevin,
the problem here is, that the committer of both pull requests is not a github user. CLA assistant doesn't cover this use case yet.
Definitely there should be at least a notification from the CLA assistant that this committer hasn't sign the CLA. We will probably not provide a possibility to sign a CLA without a github account, but we'll fix the notification logic.
I suppose that if aztsm

[2015-08-12 20:24] kwquick commented on #63
Hi Anton,

That was indeed the problem, and when my test committer associated his email with his github account it started working just fine.

I agree that getting signatures from non-github-accounts is probably out of scope, but having a notification of the issue on the pull request would definitely be nice.

Thanks, and I'm enjoying the cla-assistant!

[2015-08-14 10:48] sdirix opened #64 "Store more information about the CLA signer"
The CLA assistant really helps to deal with CLA signments for GitHub projects in an easy and intuitive way.

Currently the information collected about the CLA signer is limited to the GitHub username. This could lead to traceability problems when a contributer deletes his GitHub account or does not use GitHub anymore. Also some organisations request more information about contributors in general.

[2015-08-14 13:40] KharitonOff commented on #63
should be solved via 0efa36ff24b7baa43ca8693aec14b2367a7481fd

[2015-08-14 13:40] #63 closed

[2015-08-21 13:36] KharitonOff commented on #64
Thank you for your proposal, Stefan.
We have created CLA assistant with the intention to simplify the contribution process and make it for the contributors as easy as possible to sign a CLA. Providing any kind of a form would reduce the simplicity  for the enduser.
I think it's a good Idea to query the GitHub profile.

[2015-08-24 14:49] ferventcoder opened #65 "Write access to Gists?"
Is this the only way to get read access to gists?

![image](https://cloud.githubusercontent.com/assets/63502/9443213/75521ec6-4a45-11e5-8518-8122fc17e81b.png)

[2015-08-25 09:28] KharitonOff commented on #65
unfortunately there is no read-only access scope for gists (public and secret). So we have to choose between read-only public gists or read and write access to be able to read also "secret" gists.
As there are lot of CLA assistant users, who uses secret gists, we need this permission.

[2015-08-25 12:02] matz3 commented on #65
What about letting the user decide between public and private like [Huboard](https://huboard.com/login) does?

[2015-08-25 12:11] thojansen commented on #65
@matz3 actually this does not make too much sense for gists.. secret gists are visible to anyone having the URL so there is no real distinction for public and private usage. Currently around 50% of our users are using secret gists, so we would also rather not change this.

[2015-08-25 12:55] matz3 commented on #65
Didn't know that. Makes sense.

[2015-08-25 13:49] ferventcoder commented on #65
No worries, answers my question about GitHub permissions, which are sometimes wonky. :)

[2015-08-25 13:51] thojansen commented on #65
:+1:

[2015-08-25 13:51] #65 closed

[2015-08-25 15:33] jdanyow opened #66 "multiple repos, same CLA"
Thanks for your work on this project!

We're evaluating using using CLA assistant with [Aurelia](http://aurelia.io).  Aurelia's design partitions each module in separate GitHub repository.

We would like potential contributers to be prompted to sign the CLA only once for all repos in the [Aurelia github organization](https://github.com/aurelia).

For example, if I'm a new contributer and create a

[2015-08-25 15:35] jdanyow opened #67 "migrating to cla-assistant"
Related to https://github.com/cla-assistant/cla-assistant/issues/66

When migrating to CLA assistant we'd like to pre-fill the list of CLA signers.  Is this possible?

[2015-08-25 15:40] EisenbergEffect commented on #67
We are very interested in using cla-assistant for Aurelia. Currently, we have a Google doc with a list of community members who have already signed our CLA. Basically, it's a list of email addresses. We would like to be able to import this list into cla-assistant so that we don't have to ask everyone to re-sign the CLA and so that we don't have to track signatures across two data sources for histo

[2015-08-27 09:08] KharitonOff commented on #67
Hi, glad to hear that you are interested in CLA assistant :smile: . We are thinking about implementation of  an import functionality.
CLA assistant integrates completely into GitHub workflow and identifies committers by their GitHub account now. That means that a list of email addresses would not be enough yet. We'll keep in mind your use case by further implementation and we'll try to cover it.

[2015-08-27 09:23] KharitonOff commented on #66
We had the same requirement from SAP. After some discussion we came to the point that it's clearer for the contributor (and from the legal perspective) to sign a CLA per repository.

[2015-09-15 21:07] cgrail opened #68 "After I've successfully signed the CLA still get "not signed yet""
For the PR I've signed the CLA and I get a success message. But the CLA status doesn't change.
https://github.com/SAP/sap.github.com/pull/8
but worked for:
https://github.com/SAP/BUILD/pull/27

[2015-09-16 06:47] KharitonOff commented on #68
Hi Christian,
the only thing you need to do is to add the e-mail address you used in your commit https://github.com/cgrail/sap.github.com/commit/09f797481bf4a1deb63c37b60a9324ed6a7ed3d8 to your github account. GitHub and CLA assistant so can not recognize you as a committer.

[2015-09-17 18:27] cgrail commented on #68
@KharitonOff Thanks for your help. This fixed the issue.
But shouldn't you also fix your code? I mean there should be at least an error message which states that the E-Mail addresses don't match. All I got was a success message.

[2015-09-18 07:34] KharitonOff commented on #68
Yes, you're right, we should make it clearer what's wrong with such PRs.
We can make it more transparent writing an info into the PR-comment. Something like: "The committer XY seems not to be a GitHub user. XY needs a GitHub account in order to sign the CLA. If you have already a GitHub account, please add the email address used for this commit to your account ([for further information, click here

[2015-09-18 13:30] #68 closed

[2015-09-18 17:53] cgrail commented on #68
:+1: great

thanks

[2015-09-19 11:55] thojansen commented on #68
:+1:

[2015-10-03 14:49] stuartpb opened #70 "Use separate repo for CLA + list of signees"
As described in [this comment](https://github.com/jonsneyers/FLIF/issues/14#issuecomment-145230848).

[2015-10-06 13:19] KharitonOff commented on #70
from my point of view it would make the contribution process more complicated (comparing to few clicks needed to be done in CLA assistant).
And the biggest problem I see here is that the personal information should be stored in a public repository, that could be a reason for some developers not to sign the CLA.

[2015-10-07 17:17] bdarnell opened #71 "CLA disappeared for cockroachdb/cockroach"
The CLA for `cockroachdb/cockroach` no longer appears when I visit cla-assistant.io, and cla-assistant is no longer doing anything on our pull requests (even though we still have the web hook configured for https://cla-assistant.io/github/webhook/cockroach). It looks like this stopped working on or around Oct 1. Any idea what's going on, and whether this can be recovered?

[2015-10-07 23:22] bdarnell commented on #71
Not sure if you changed anything, but it's back now.

[2015-10-08 07:43] KharitonOff commented on #71
Ok, glad to hear, that it works for you again. Please let us know if you notice any disfunction again.

[2015-10-08 07:43] #71 closed

[2015-10-16 17:44] casche opened #74 "CLA Commiter's List Not Updated After Rebase/Force Push"
I created a PR with one commit on RN, https://github.com/reviewninja/review.ninja/pull/989. I then noticed that my author details were not set correctly.

I rebased the branch with the right authors and removed the original commit. Then force pushed to master.

CLA assistant still lists both commiters :cry:

[2015-10-20 20:05] benboeser opened #75 "Add screenshots to marketing page"
Hi @KharitonOff - like I mentioned before. Would be good to have a few screenshots on the marketing page of the actual tool. Gives users an idea what they are signing up for.

[2015-10-20 20:29] benboeser opened #76 "Badge for CLA assistant"
Would it be helpful to have a badge which indicates how many contributors already signed a CLA?
It shows how big of a community is working on the repo.

@thojansen @KharitonOff @dfarr - what do you think?

[2015-10-20 20:47] thojansen commented on #76
i think something like

![badge](https://img.shields.io/badge/CLAs_signed-137-0594c6.svg)

would be pretty cool :+1:

[2015-10-20 20:58] thojansen commented on #43
let us rather go with #75

[2015-10-20 20:58] #43 closed

[2015-10-21 07:47] dfarr commented on #76
:+1:

[2015-10-21 08:26] matz3 opened #77 "CLA status reporting not working"
It seems that CLA-assistant is not reporting a success status for several PRs in the SAP/openui5 repo:
https://github.com/SAP/openui5/pull/653
https://github.com/SAP/openui5/pull/654
https://github.com/SAP/openui5/pull/655

It just says "Waiting for status to be reported", but on https://cla-assistant.io/ I can see that the CLA has been signed.

The WebHook is active and I already tried to deactiv

[2015-10-21 08:42] afrische opened #78 "cla-assistant wants too many authorizations"
Hi,
i earlier signed a CLA and tried to login again just now. I was greeted with a request with a request to modify the authorization (ain't going to happen). Maybe related to #77 ?

* Existing access is `public access`
* the request is for :
[code]

[2015-10-21 12:29] thojansen commented on #78
This is the set of permissions we require for the **admin** role to set up CLA assistant for a project and not for a **contributor** to an already enabled project. In case you just log in to the main route **/** we currently assume that you want to enable CLA assistant for a new repo.

@KharitonOff We should also check again that we need all permissions for both cases.

[2015-10-21 13:53] #77 closed

[2015-10-21 14:01] KharitonOff commented on #77
It is solved now at least for the openui5 repository. The problem was caused by a "wrong" access token stored in our DB.

[2015-10-21 14:58] matz3 commented on #77
Thanks :+1:

[2015-10-22 08:08] #70 closed

[2015-10-22 08:31] KharitonOff commented on #78
As @thojansen wrote we use 2 different OAuth scopes for contributors and administrators:
**contributor** scope:
  - user:email - we need it just for user identification

**admin** scope:
  - user:email - user identification
  - public_repo - read all public repositories in order to provide a selection of your repos to set it up
  - read:org - include also organization repositories into the selecti

[2015-10-22 08:31] #78 closed

[2015-10-22 08:37] KharitonOff commented on #74
solved.
I'l add a "recheck" functionality in CLA assistant for repo owners soon, so they'll be able to resolve such kind of problems :)

[2015-10-22 08:37] #74 closed

[2015-11-05 12:39] spf13 opened #79 "need to show all signers for any version, not just the last one"
For the CLA-assistant to be usable it needs to capture and show all contributors and when they signed and for what version of the CLA. As it is currently written any modification to the CLA virtually resets a record of all signers rather than showing the list of users who accepted a CLA for their contributions and what the version of the CLA that they accepted.

The readme states "You as repositor

[2015-11-05 14:20] KharitonOff commented on #79
Good point! :+1:
We have had this functionality in an older version of CLA assistant, but it was skipped later on by redesign.
Your request is absolutely valid, let's bring it back...

[2015-11-09 14:15] KharitonOff commented on #79
@spf13 , could you check the new version, please? Does it work for you as expected?

[2015-11-09 16:26] matz3 opened #80 "Issues when there are more than 100 repositories / gists"
I am currently not able to see all the activated repositories as there are more than 100 repos available to me on GitHub.
The same applies to linking new repos and I guess also to gists.

I guess the paging feature of the GitHub API needs to be used / enabled to read further entries.

See
https://github.com/cla-assistant/cla-assistant/blob/4bd0ec5095298a7aad7aa5f8fb30f3ed86644648/src/client/contro

[2015-11-09 16:47] spf13 commented on #79
Yes, this works... but it's a bit weird to have to export the list multiple times.. I can see why some may want this, but it would be great to have an export of all signings in one file as well.

[2015-11-10 14:40] #80 closed

[2015-11-10 14:48] KharitonOff commented on #80
thank you very much, for pointing to this. Now it should work fine. Could check it, please?

[2015-11-10 14:58] matz3 commented on #80
Wow, that was fast!
Works for the repos, thanks! :+1:

[2015-11-10 22:09] bkerensa opened #81 "Signer not being notified"
I setup everything properly and did the link but contributors are not being notified when they create first PR

[2015-11-11 06:26] bkerensa opened #82 "Allow import of CLAHub CSV Files"
CLAHub is unmaintained it would be great if we could easily import info of people who already signed into CLA Assistant.

Thanks SAP for hosting this!

[2015-11-11 06:30] #82 closed

[2015-11-11 06:33] bkerensa opened #83 "Link Based CLA Signing"
It would be nice if there was someway to link to a CLA in our contributing.md instead of notifying people upon PR. The use case for this would be getting previous contributors to sign the CLA and CLA Hub actually does this.

so something like https://cla-assistant.io/cla/[githuborg/reponame] could be the URL and then projects could link to the CLA on their websites or contributing.md's etc

This w

[2015-11-11 08:35] KharitonOff commented on #83
This is already given: `https://cla-assistant.io/<githubOrg>/<githubRepo>` is the pattern e.g.:
https://cla-assistant.io/cla-assistant/cla-assistant

[2015-11-11 08:38] KharitonOff commented on #81
Could you provide the name of the repository you have linked, please?

[2015-11-11 08:45] KharitonOff commented on #79
Ok, I see... Would you expect a list with user name as a unique key or username + gist version as a unique key?

Name | Version
--------|------------
User A | 1
User B | 2
User C | 2

or

Name | Version
--------|------------
User A | 1
User B | 2
User B | 1
User C | 2

[2015-11-11 13:07] spf13 commented on #79
I think the latter is better. I can filter it on my end if I need to.
On Wed, Nov 11, 2015 at 3:45 AM Anton <notifications@github.com> wrote:

[2015-11-13 14:52] #83 closed

[2015-11-26 14:56] jstoiko opened #86 "PR check not green although all contributors signed"
It's happening here: https://github.com/brandicted/nefertari/pull/125

We're trying to figure out why - despite the fact that all 3 participants have signed - the CLA check is still not green.

Update: seems like some of the commits attached to the PR have a "co-commiter": https://github.com/brandicted/nefertari/pull/125/commits could that be the reason?

[2015-11-26 15:42] KharitonOff commented on #86
there is a function in CLA assistant which rechecks open pull requests and updates their statuses. Could you trigger it please?
![bildschirmfoto 2015-11-26 um 16 31 26](https://cloud.githubusercontent.com/assets/8480657/11426280/382c2be4-945b-11e5-83a4-d331124a5206.png)

ok, but abyssusj and postatum should also sign the cla.

[2015-12-08 20:14] #75 closed

[2015-12-12 01:12] zbeekman opened #87 "Not all organization repositories showing up"
I am trying to add a CLA dialogue for PRs to an organization (created today, and it was formerly a user) but it's not showing up in the list of repositories...

[2015-12-14 20:53] zbeekman commented on #87
OK, I seem to have resolved this issue by following these instructions: https://gitter.zendesk.com/hc/en-us/articles/202460552-Why-isn-t-my-GitHub-organisation-appearing-

You may want to add some sort of note to the FAQs

[2015-12-14 20:53] #87 closed

[2015-12-16 17:15] OmgImAlexis commented on #76
:+1:

[2015-12-16 17:19] OmgImAlexis opened #88 "Allow badge type to be selected"
I much rather the flat svg version of github badges as seen on [shields](http://shields.io/), it'd be nice to be able to pick between plastic, flat and flat-square for not only the badge the is used on PR comments but also when/if https://github.com/cla-assistant/cla-assistant/issues/76 is added.

[2015-12-24 00:36] zbeekman opened #89 "still being maintained?"
It seems as though SAP has abandoned this project... Is it still maintained?

[2015-12-28 12:53] thojansen commented on #89
Yes, this project is still active and maintained. Is it running productively for currently 252 repos and is still growing.

[2015-12-28 12:53] #89 closed

[2015-12-29 01:58] zbeekman commented on #89
Thanks for the response.

[2016-01-14 09:41] fommil opened #91 "option to disable the comment on PRs when the author has signed already"
It looks like we always get a comment on our PRs, is that right? According to the documentation:

* Comments on *each* opened pull request to ask the contributor to sign the CLA

Is it possible to **not** comment on a PR if the contributor has already signed it? It could get rather noisy and annoying (many people get emailed with comments on PRs).

BTW, I'm talking at http://scalasphere.org next m

[2016-01-16 06:34] JTSBTSENT opened #92 "$JTZ\"

[2016-01-16 09:58] #92 closed

[2016-01-16 18:49] mquandalle commented on #76
I think relying on [shields.io](http://shields.io/) would be a good idea. For instance using @thojansen’s example: https://img.shields.io/badge/CLAs%20signed-137-blue.svg

[2016-01-16 18:50] mquandalle commented on #35
Any news on that?

[2016-01-16 18:52] mquandalle commented on #91
In my experience users that previously signed the CLA don’t receive the cla-assistant comment on further PRs. One of such example: https://github.com/wekan/wekan/pull/458

[2016-01-16 19:24] fommil commented on #91
OK cool! I must have not signed it for the test repo. We have many projects and I could easily have lost count.

[2016-01-16 19:24] #91 closed

[2016-01-18 09:49] #81 closed

[2016-01-18 09:49] #79 closed

[2016-01-20 18:37] opcfoundation-org opened #93 "Retroactively requiring users to sign CLA?"
Hello,
First, this is a GREAT tool!
I have just incorporated cla-assistant to an already-live repository which has pending pull-requests.
In my testing I can see how new pull requests trigger the cla-assist.
I have several pending pull requests; how can I associate those to a cla-assist so those users sign the CLA?
Thank you.

[2016-01-21 08:29] thojansen commented on #93
Yes, this is possible. In the list of linked repositories you can **Recheck PRs**.

![screen shot 2016-01-21 at 09 20 45](https://cloud.githubusercontent.com/assets/5912220/12475142/0875b6f8-c021-11e5-95ed-f8308eee47c9.png)

![screen shot 2016-01-21 at 09 29 27](https://cloud.githubusercontent.com/assets/5912220/12475198/7e6df0aa-c021-11e5-8ecb-d229f82abeb7.png)

[2016-01-21 08:29] #93 closed

[2016-01-21 14:09] opcfoundation-org commented on #93
Ah, yes you can. Thank you for that tip; most helpful.
There is one very minor issue... when clicking the "..." button the 2 buttons do not fully display, for me, the "Recheck" button actually says "Rech". It seems to be because of the magnification setting of Firefox.
I agree this issue is resolved. Thank you.

[2016-01-21 14:32] thojansen opened #94 "rendering issues on firefox"
firefox seems to have some issues when rendering the page
![screen shot 2016-01-21 at 15 31 47](https://cloud.githubusercontent.com/assets/5912220/12483253/28296502-c054-11e5-94fe-121c2ee36725.png)

[2016-01-21 14:33] thojansen commented on #93
agreed.. i have created a separate issue for that .. #94

[2016-01-22 14:20] #94 closed

[2016-01-22 17:28] benboeser commented on #67
I am sure you have noticed already. But the import feature is available under:
![screen shot 2016-01-22 at 9 27 46 am](https://cloud.githubusercontent.com/assets/4432507/12517970/7d656c6e-c0ea-11e5-93fc-89178172523d.png)

[2016-01-22 17:30] thojansen commented on #67
This is based on a list of github users (not emails).

[2016-01-23 15:47] Midorusha opened #95 "Multiple committers under same GitHub account aren't linked"
I have multiple email addresses associated with my GitHub account. Once I completed signing, it only recognized my GitHub account and my primary email address. The two were coalesced under my GitHub name, but the other email address is still visible.

[2016-01-25 10:09] KharitonOff commented on #95
Are you referring to https://github.com/PerfectlySoft/Perfect/pull/85?
It seems that the email address "midorusha@github.com" of the committer cdavis is not assigned to any GitHub account. Could you check please if it's also added to the list of your emails?

[2016-01-25 15:21] Midorusha commented on #95
Yes, I am referring to that commit. The cdavis email address is also
associated with the midorusha@github.com account.

On Mon, Jan 25, 2016 at 4:09 AM, Anton <notifications@github.com> wrote:

[2016-01-27 09:48] KharitonOff commented on #95
Just because you are writing "with the midoruscha@github.com **account**" I think that you have misunderstood my question. Please excuse me if I'm wrong. I just want to be clear that we are using the same terms :)
Your account Midorusha should have standard email address called "midorusha@users.noreply.github.com". That means if you use email address "midorusha@github.com" for your commits github

[2016-01-27 19:46] Midorusha commented on #95
Ah I see the issue, midorusha@github.com was a mistake in the terminal. I was confusing cdavis with an email address and not a user name. Sorry about that.

Can I just change the commit author and cla-assitant will pick up any changes?

[2016-01-28 13:01] KharitonOff commented on #95
No problem, I'm glad that we've sold this issue. Yes, changing the commit author should work fine.
CLA assistant needs only to be triggered via a webhook (e.g. you can add a new commit to the PR or you just wait until somebody opens a new PR or the repository owner clicks on the "Recheck PRs" in CLA assistant) in order to reflect it on the PR.

[2016-01-29 03:06] jstoiko opened #96 "Transferring repositories to a new organization"
We transferred a bunch of repositories to a new github org that were linked to cla-assistant. Re-linked the repositories but now we lost our signatures. (we're using cla-assistant.io) Any way we can get them back?

[2016-01-29 12:36] KharitonOff commented on #96
Thanks for pointing it out. CLA assistant doesn't support repository transfer yet. But it should be for sure implemented. I've done some preparation for that. Could you check the list of signed CLAs in CLA assistant again, please?

[2016-01-29 13:42] jstoiko commented on #96
It looks good. Thanks for that!

[2016-02-02 07:20] dolmen opened #97 "Too wide GH API permissions required just to sign a CLA"
CLA Assitant requires too wide permissions when I'm using it just to sign a CLA.
For example, why does it want to be able to write to my repos?

[2016-02-02 10:12] KharitonOff commented on #97
this question is already answered in https://github.com/cla-assistant/cla-assistant/issues/78
To sign a CLA you access CLA assistant via a specific link `https://cla-assistant.io/<org_or_user>/<repository_name>`

[2016-02-02 10:12] #97 closed

[2016-02-02 14:52] dolmen commented on #97
It appears that despistes I arrived on CLA assistant via a such link, the authentication process failed in some way (probably because I have cookies disabled by default for all sites), so I have probably been redirected to the home page where I clicked on the "sign up with GitHub", and that's probably the reason why I have been asked so many perms.

So I think that you track more the users coming

[2016-02-08 14:41] thojansen commented on #96
The workflow is now to add a renamed/ transferred repository again to CLA assistant.

[2016-02-08 14:41] #96 closed

[2016-02-09 11:41] #95 closed

[2016-02-09 11:41] #86 closed

[2016-02-09 11:44] thojansen opened #98 "provide option to import a list of emails instead of GitHub users"
Right now it is only possible to import a list of GitHub users which have already signed a CLA. The idea would be to also allow the import of a list of emails which can then automatically assigned to GitHub users when checking incoming PRs in CLA assistant. This would make migrations from existing systems easier.

[2016-02-09 11:45] thojansen commented on #67
Closing this issue and opening #98 for importing emails instead of GitHub users (which is already possible)

[2016-02-09 11:45] #67 closed

[2016-02-09 12:55] #45 closed

[2016-02-09 13:00] thojansen commented on #31
closing for now

[2016-02-09 13:00] #31 closed

[2016-02-12 13:55] #76 closed

[2016-02-12 23:47] dmodoomsirius opened #99 "Is there a way to give another user access to see who has signed the CLA create links etc."
I am apart of a org with 2 owners we want to be able to set up the cla-assistant for each repo but have the same amount of access.

[2016-02-12 23:49] dmodoomsirius opened #100 "CLAHub"
Is there a away to import users who have singed a cla from CLA hub over git cla-assistant?

[2016-02-13 12:00] thojansen commented on #100
In CLAHub you can download the **users who have signed** as a csv file and then upload it again in CLA assistant. Note however that only the GitHub username is imported.

<img width="1014" alt="screen shot 2016-02-13 at 12 57 05" src="https://cloud.githubusercontent.com/assets/5912220/13027462/9532c512-d251-11e5-8541-d455a91b9473.png">

[2016-02-13 12:00] #100 closed

[2016-02-13 12:05] thojansen commented on #99
All owners can see the list of **linked CLAs** and perform actions (see all signed users per version, export, import, ..). Owners just need to authorise/ log in to CLA assistant at https://cla-assistant.io.

[2016-02-13 12:05] #99 closed

[2016-02-14 11:19] mquandalle commented on #76
Thank you @KharitonOff!

[2016-02-15 20:54] niemyjski opened #101 "Share a single cla for all projects in an organization"
We have like 15 open source projects under a single organization and we'd like to share a single cla link.. Is this possible?

[2016-02-16 20:18] thojansen commented on #101
Any contributor needs to sign the CLA per repository, but you can use the same CLA stored as a gist file for all repositories.

[2016-02-16 21:45] niemyjski commented on #101
but I don't want it per repository, I want the database to be per github organization. It's kind of redundant to have them sign the same exact cla for every project esp in a micro service era...

[2016-02-16 21:50] thojansen commented on #101
understood.. then this should be the same as #66

[2016-02-16 21:50] #101 closed

[2016-02-16 22:04] ejsmith commented on #66
Yeah, I really don't want people to have to sign the CLA a bunch of times. We have several repositories as well. Would love to have this feature.

[2016-02-16 22:05] niemyjski commented on #66
I agree with @ejsmith, we could really use this

[2016-02-28 11:47] JeromSar opened #102 "Recheck PRs doesn't check all pull requests"
Hello,

Thanks for providing CLA assistant to the public for free. I found it incredibly handy.

The recheck PR feature is incredibly handy for repositories where the CLA is added afterwards, but it does not check all PRs, as can be seen in this picture:

![TotalFreedom Repository](https://www.screenshottr.us/v/00f0353f4b2ac52411e9f9aedb2d3981/577cc43d0766d0d8e5129617eb37b02e.png)

[2016-02-28 11:53] JeromSar commented on #18
Keep in mind that some CLAs can not be revoked be definition. I think the CLA provider should be able to toggle this feature on and off per CLA.

[2016-02-28 15:54] thojansen commented on #18
Thanks. This would be rather a "revoke for future (not yet opened) PRs". It does not make sense to do this for merged/ open PRs.

[2016-02-28 15:56] thojansen commented on #18
Also: It is unclear if we enable this feature at all.

[2016-03-01 13:22] KharitonOff commented on #102
Is this issue already solved for you? I couldn't find any open PR without status from CLA assistant in your repo...

[2016-03-01 15:49] JeromSar commented on #102
@KharitonOff I accidentally deleted a branch which the PRs in question were based on, thus closing those PRs. By reopening the PRs one by one, cla-assistant was triggered and the status appears again.

As far as I am aware, this is still a bug.

[2016-03-03 22:35] reem commented on #64
I am also considering using cla-assistant for an open source project at work, and storing emails, names, or any other information available other than just github username would be a wonderful feature and would make it much easier to adopt cla-assistant in many organizations.

[2016-03-05 16:07] urbanhusky opened #103 "Status: webhook missing"
I'm trying to set up cla-assistant for our BudgetFirst/BudgetFirst organisational repository.
After linking it and approving access, the status shows ok for gist, but not okay for webhook. I also don't think that the integration works properly.

What am I missing?

[2016-03-07 10:17] KharitonOff commented on #103
I assume you heave push rights for this repo and you are one of the owners in this organisation, aren't you? Could you check the repo settings please, whether the webhook for CLA assistant was set and it is inactive or it wasn't set at all?

You could also try to remove and re-add your repo in CLA assistant.

[2016-03-07 14:34] mpierre0220 opened #104 "Problems with the port on Cloud Foundry"
I am trying to test cla-assistant deployed on Cloud Foundry. Clound Foundry apps listen to a port that is set up automatically for you but but in accessing the app's URL you don't use that port. Seems like Cloud foundry router does the magic for you.

In setting by app's credentials for Cla-assistant on Github, at first I did not use that port, did not think of that. But I did provide that port to

[2016-03-07 15:56] KharitonOff commented on #104
skipping the HOST_PORT variable was the right decision if you have no port in the destination url (you can also just unset HOST_PORT env. variable, no need to comment it out).
Regarding the second problem: could you check/provide the browser console output, please.

[2016-03-07 16:49] mpierre0220 commented on #104
Thanks for your quick reply.

Regarding the port, I have uncommented config.js and did not set the environment variable HOST_PORT
For the 2nd problem, here is the screenshot of my browser ... ![cla-mgr](https://cloud.githubusercontent.com/assets/6641778/13575352/781cc83a-e456-11e5-81dc-0d524c9b5d99.PNG)

Here is the screenshot of the console

![console](https://cloud.githubusercontent.com/assets/6

[2016-03-07 16:58] mpierre0220 commented on #104
Github did process the file that I cut and pasted above. Here is the zipped version of the same

[app.min.zip](https://github.com/cla-assistant/cla-assistant/files/161709/app.min.zip)

[2016-03-07 17:26] KharitonOff commented on #104
ok, probably you missed the build step. Could you run ` ./node_modules/grunt-cli/bin/grunt build` on your server or run the build task on your local machine and push all sources to CF (that should also work).
The build step minifies and uglifies the client code. The server should have the src/client/app.min.js

[2016-03-07 18:02] mpierre0220 commented on #104
Yeah, I have been building and pushing stuff to the server....in setting up the environment variables you have to restage...perhaps that restaging has erased the built files on the server. I have pushed again and it is working now. Thanks for your help.

[2016-03-07 18:02] mpierre0220 commented on #104
Closing the issue.

[2016-03-07 18:02] #104 closed

[2016-03-07 18:40] urbanhusky commented on #103
Okay, my mistake was that I used another account purely for managing that and that account was not also an owner. So this doesn't work if you don't have owner privileges?

[2016-03-08 09:02] KharitonOff commented on #103
Yes, CLA assistant needs certain rights, e.g. to create a webhook. If a user isn't allowed to do it on its own, he/she can't provide this right to CLA assistant.
As I understand it works for you now and I may close this issue, if not feel free to reopen it :)

[2016-03-08 09:02] #103 closed

[2016-03-09 01:23] laughinghan opened #105 "Customize CLAassistant comment wording"
Hi, this is a really useful service, thanks!

I've love to be able to customize the wording of the automated comment:

![image](https://cloud.githubusercontent.com/assets/225809/13622215/094d3dfc-e552-11e5-9140-be4875b3c3a0.png)

I personally find it to be kind of little unfriendly and would like to make it a little less stiff. (Also, the text "sign our Contributor License Agreement" should probab

[2016-03-09 09:52] KharitonOff commented on #105
You are very welcome to create a pull request and propose another wording.
Here is the place where commit messages are generated:
https://github.com/cla-assistant/cla-assistant/blob/master/src/server/services/pullRequest.js#L6-L44

For the future I'll keep in mind your request regarding the possibility to customize the comment text.

[2016-03-09 12:14] brbmi opened #106 "Webhook call returns unsupported event"
Hi again,
I am running into an issue when doing a pull request. I am not prompted to sign the CLA., I debugged this to the array webhooks in src/server/app.js. That array is empty, so when github calls cla-assistant with the pull request, it looks up the event in the array and finds nothing and fails the call with an Unsupported event error. I looked in app.js for where the array is loaded, pretty

[2016-03-09 22:54] mpierre0220 commented on #106
Hi, I opened this issue with another ID. This is still related to deploying cla-assistant on Cloud Foundry. I made a change to app.js that loads the webhooks array and this seems to take care of the "Unsupported event" error.
This is the fix I made in src/srver/app.js line 83
                       } else if (files === 'webhooks'){
                            webhooks[path.basename(f,'.js')] = req

[2016-03-10 01:43] gollogly commented on #101
I was just wondering if there is the capability for a user only to sign the cla once for a repository and not each time a PR needs to be contributed. (how does this work so once the sign on the first pull request, it is remembered for future PRS ?)

I wasn't clear from the comments and looking at the main web site. This was my only reservation and the tools looks very useful to me.

[2016-03-10 03:03] martingollogly opened #107 "Does the CLA need to be signed per PR if already accepted for a repo"
I have seen other issues related to this #66 but was just wondering if there is the capability for a user only to sign the cla once for a repository and **not each time a PR needs to be contributed**. (how does this work so once they sign the agreement on the first pull request, it is remembered for future PRS for the user?)

I wasn't clear from the comments and looking at the main web site. This

[2016-03-10 09:36] KharitonOff commented on #106
Hi, thank you very much for pointing to this problem. Your fix is absolutely correct.
CLA assistant comments only once on a new PR in case the contributor hasn't signed CLA yet. All other PRs of the user get only green status (without any comment from CLA assistant). This is also the case in your screenshot: the green checkmark shows that the user has already signed the CLA. Because of the bug you

[2016-03-10 09:42] KharitonOff commented on #107
Sorry for the unclear description. CLA assistant comments only once in the first PR of a user who hasn't signed a CLA yet. If the user signs the given CLA all his further PRs get only the green status from CLA assistant but no comments anymore (as long the linked CLA remains the same).

[2016-03-10 09:42] #107 closed

[2016-03-10 09:48] KharitonOff commented on #101
please see #107

[2016-03-10 15:17] mpierre0220 commented on #106
Hi, my remaining question is whether the person doing the PR is expected to click on Check to go sign the PR in the case he has not signed the CLA yet. It would seem that upon receiving the PR request and seeing that the CLA is not signed, cla-assistant should present the CLA to the person for him to sign it and it should inform Github on the status of signing the PR. I don't know if Github enforc

[2016-03-10 15:48] KharitonOff commented on #106
No, the person doing the PR is expected to click either on "CLA not signed yet" icon or on details link in status bar (which is open if there is a yellow or red status) to go to sign the CLA.

![bildschirmfoto 2016-03-10 um 16 28 02](https://cloud.githubusercontent.com/assets/8480657/13674305/47bce2a4-e6dd-11e5-9534-2295f0215170.png)

after signing the CLA the comment gets changed to

![bildschirm

[2016-03-10 15:56] mpierre0220 commented on #106
Excellent response. Now that I have the fix in, I will test this flow. I will let you know if there is any issue. Your response has been very helpful. Thanks a lot.

[2016-03-10 19:59] jenlampton opened #108 "Add contributors to GitHub team"
This is a fantastic tool, thanks for building it (and giving it back!).

I wonder if there is interest from anyone else to add support for adding people to organizations after signing a CLA?

[2016-03-10 21:26] thojansen commented on #108
I like the idea. We could even evaluate the option to only use a GitHub team to track people having signed the CLA (although this conflicts with another requirement to store more information on users like their E-Mail address). I think the fact that we currently store this in our database is not ideal (and most likely the reason why a few have opted to setup their own instance). Would love to get

[2016-03-11 08:43] KharitonOff commented on #108
Interesting Idea.
But in this case we won't be able to determine the version of signed CLA.

[2016-03-11 15:32] mpierre0220 commented on #106
Hi I have protected the branch as you have suggested. At first, I would not get the screenshots you mentioned above. It would say that it is waiting for the CLA to be signed, then when I refresh it would say that the CLA is signed without prompting me to sign. I kept playing with it, creating new ids and, adding them to cla-assistant, cloning a repo, modifying it, doing pull requests. Now I am rec

[2016-03-11 15:55] KharitonOff commented on #106
Regarding your first point (and having in mind what I've seen as I checked some your new users and forks and their PRs :wink: ) I would check whether the user who signs the CLA is the same user who made a commit. There is a difference between an author (person who opens a PR) and a committer. CLA assistant checks committers of a PR and not it's author. So as soon all committers of the PR have sign

[2016-03-11 16:25] mpierre0220 commented on #106
Great ;-) I will be careful to distinguish between PR creators and committers.... really careful ;-)
I will create another PR to cla-assistant the PM with the ping.js fix. Thanks for your help.

[2016-03-12 04:20] brbmi commented on #106
Looks like everything has snapped into place. In all my tests, I was committing under the id that installed git on my system even if I had forked the repo under a new id. I had to actually do git config --global --replace-all user.name and user.email with that of the new user so the committer could change. But I believe that my original scenario allowed me to uncover the bug with the empty webhook

[2016-03-12 04:24] brbmi commented on #106
Closed!

[2016-03-12 04:24] #106 closed

[2016-03-12 04:31] brbmi opened #109 "Add a handler for a ping event in web hooks"
There needs to be a handler for the ping event in web hooks. It should simply a status of 200. Currently when installing a web hook, it does a ping but since there is not a handler as there is one for the pull request event, file pull_request.js in src/server/webhooks, the call fails. I will do a Pull request for the fix and close this issue.

[2016-03-14 10:46] gollogly commented on #107
Excellent, thanks for this

Martin

[2016-03-17 04:36] laughinghan opened #111 "Option to not require people to sign CLA all over again"
Feature Request: When updating a CLA, be able to mark it as "compatible" with previous versions or something so that contributors who've signed a previous version don't have to all re-sign the new, completely equivalent one.

Rationale: While it makes sense in general that just because a contributor has signed a past version of a CLA, it shouldn't be assumed they agree to the current one too, it's

[2016-03-17 10:13] KharitonOff commented on #111
Nice Idea :+1:
Currently you could export and import the list of contributors in case you don't want that your contributors have to sign the new version again. So it is some kind of workaround, but the question is whether it is sufficient for the rare cases of doing minor changes on the linked CLA?

[2016-03-18 03:22] thojansen commented on #111
We could offer a button "take over from previous version" which would mimic export/ import. Not a big fan of the implicit behaviours, but it is a very valid request. The other option would be to activate new versions in CLA assistant (and not take the latest gist) explicitly (with some options). Any other thoughts?

[2016-03-18 18:39] laughinghan commented on #111
I didn't think of that, useful workaround, I will go do that.

Oh! I like that.

[2016-03-18 18:43] laughinghan opened #112 "Loading indicator while loading your "Linked CLAs""
The first few times I was def worried that you'd lost all my CLAs

![image](https://cloud.githubusercontent.com/assets/225809/13888375/5ee37d40-ecfe-11e5-9319-2094c20886c5.png)

(Note: I really appreciate this service you're providing, I'll probably try to submit a PR for this)

[2016-03-19 22:12] thojansen commented on #112
@laughinghan thanks for your valuable feedback. Please let us know in case you need any help to get this PR done.

[2016-04-08 17:11] dcrosta commented on #64
@KharitonOff What if the CLA gist could contain some metadata about additional required fields that each organization wants to collect -- e.g. email address or full/legal name. It wouldn't have to be automatically enabled for all CLA-Assistant users (satisfies the streamlining criteria), but places that want this extra information could collect it.

[2016-04-11 11:02] KharitonOff commented on #64
Thank you for your proposal, we are thinking in the same direction: provide an opportunity to add required fields... We'll take your Idea to use metadata in gist in consideration. Do you have any example or ideas how it could look like?

[2016-04-11 11:51] dcrosta commented on #64
@KharitonOff something like:

[code]

Which would cause 3 text fields to be created, 2 of them required (the ones with `*`s), and one required checkbox.

My only concern would be what text that might trigger this formatting may already exist in CLAs out there. If I were someone using CLA Assistant, I wouldn't want my CLA form changing out from under me. Is there a way to grandfather in existing CL

[2016-04-11 11:58] thojansen commented on #64
@dcrosta right now, I think we would rather provide a fixed set of predefined (optional) fields instead of mixing that with the CLA text itself (which might cause some problems). The assumption right now is that these optional fields would be more or less similar for different projects. Feedback appreciated.

[2016-04-12 08:40] matz3 opened #113 "Status not updated after adopting commit email"
There seems to be some issue which happened in this PR:
https://github.com/SAP/openui5/pull/874

As far as I understand, it was like this:
- Opened PR with a commit author email which is not liked to user account
- Signed CLA (user is showing up the list with date of PR)
- Amend commit to change mail
- Status is still "not signed yet" even after running "Recheck PRs"

Might be related to #102 (reg

[2016-04-12 12:11] sdirix commented on #64
Thanks for looking into this issue.

Fields I would like to suggest:
 * Email
 * Name
 * Mailing address
 * Country
 * Phone (Optional)
 * Corporate Contributor Information
 * I AGREE

Offering predefined fields is probably the easiest solution to implement. However I would like to suggest to be able to add an own description to each field or at least to the whole form. For example the amount of i

[2016-04-12 14:24] dcrosta commented on #64
From our attorney, these are the fields we'd want in addition to the general CLA agreement:

1. Full Name
2. Email Address
3. Name of any entities with rights to the contribution (e.g. your employer)
4. A checkbox with "I have read and agree to the CLA"

Re #3, our CLA says "If Your contribution is on behalf of an entity (such as your employer), or if there is an entity that has rights to your con

[2016-04-15 16:21] kfitzpatrick opened #114 ""not signed yet." when I've clicked the link multiple times"
For https://github.com/grafana/grafana/pull/4675

I suspect there was an issue because the original commit may have had the wrong email address. I've since fixed the commit, but I still get the error message.

[2016-04-15 16:22] kfitzpatrick commented on #113
I believe I'm still having the same issue ref: #114

[2016-04-18 02:16] maniankara commented on #114
Same here. In my case, I used two different email address when I did my commits. Tried:
 - Adding the email to github account, still "not signed yet"
 - Modified the commit's email with `rebase`, same, no luck.

[2016-04-19 11:39] #102 closed

[2016-04-19 11:56] KharitonOff commented on #114
CLA assistant needs to be triggered after you change the author of the commit. It happens normally via pull request webhook (e.g. if you do a further commit on the PR). The repository owner can also trigger it manually by pushing the "Recheck PRs" button in CLA assistant.
Unfortunately we had some problems with this "recheck"-functionality (see #102 ). But now it should be fixed.

[2016-04-19 11:56] #114 closed

[2016-04-19 12:01] KharitonOff commented on #113
indeed it seems to be related to #102 and thus fixed.

[2016-04-19 12:01] #113 closed

[2016-04-19 18:35] JeromSar commented on #102
@KharitonOff Thanks for the fix! :)

[2016-04-20 15:20] wmark opened #116 "as collaborator, signing the CLA does not get tracked"
I am a collaborator with https://github.com/mholt/caddy. I have signed the CLA for a PR, and then for the entire project and I still cannot push to *master* due to:

[code]

I suspect that this is due to me being collaborator number 75 (due to paging?) and/or **cla-assistant** not having copied me to its database.

My expectation is that my *git pushes* don't get rejected by *status check "licence

[2016-04-20 15:43] KharitonOff commented on #116
this issue seems not to be related to CLA assistant but to the GitHub feature "protected branches"
https://help.github.com/articles/about-protected-branches/
It looks for me like you have no push rights for master yet... could it be the reason?

[2016-04-20 21:07] thojansen commented on #116
CLA assistant only sets a status on commits of PRs. Even if we would set the status on commits of a given branch (e.g. like travis), you could only push to a protected branch once that commit was already pushed to another branch and the status has passed.

[2016-04-21 07:28] #116 closed

[2016-04-21 12:15] wmark commented on #116
Thanks for looking into this!

[2016-04-22 07:25] thojansen commented on #105
Closing this for now, as our comments are more friendly now. Not sure if we really need an option to customise this per project.

[2016-04-22 07:25] #105 closed

[2016-04-22 07:29] thojansen commented on #18
For now, we will not enable this feature.

[2016-04-22 07:29] #18 closed

[2016-04-22 07:37] thojansen opened #117 "switch to angular2/ es6"
- move the app to angular2/ typescript in the frontend and es6 in the backend
- make it easier for others to contribute to the project

[2016-04-22 07:45] thojansen opened #118 "CLA assistant v2"
This issue tracks the progress for *v2*. **Any feedback is highly appreciated** as quite a lot of changes are planned for this major release. One of the fundamental changes is that we want to switch to signing on a per-repo basis to signing on a per-CLA basis. Thus, in the future, contributors would only sign a CLA once in order to contribute to all projects having that CLA assigned. Please let us

[2016-04-22 08:00] thojansen commented on #118
@brbmi @jenlampton @jdanyow @EisenbergEffect @ejsmith @niemyjski @sdirix @reem @dcrosta @matz3 @yaseminc @dfarr @benboeser @dtornow @pmn @bkeepers @brntbeer

[2016-04-22 15:30] bkeepers commented on #118
This is really interesting. The only question I have is if there is enough legal clarity around the scope of what I am agreeing to when I accept the CLA. How do I know which repositories it applies to? When new repositories start using that CLA in the future, how do I know that I'm contributing to a project covered by a CLA I previously accepted?

/cc @mlinksva

[2016-04-22 16:01] thojansen commented on #118
Yes, I agree. Currently we see that this is usually defined in the CLA text itself, stating that you are contributing to SAP/ some other company or some open source foundation regardless on how this is integrated into the PR flow of a single repository.

Similar to the oauth flow we could also show the "scope" of the CLA and ask again in case of new and not yet agreed repositories. Do you think th

[2016-04-22 16:30] mlinksva commented on #118
In "on a per-CLA basis" is a CLA unique to an organization? I imagine it must be. If so "per-organization" would be clearer than "per-CLA". Whether on a repo or organization basis, a new CLA is going to require new consent.

Per repo and org seem like use cases one or the other of which a recipient or contributor (or contributor's employer) might prefer.

[2016-04-22 19:03] niemyjski commented on #118
No it's on a per repo which sucks :(

[2016-05-12 12:37] JuliusSweetland opened #119 "Unable to link an organisation repo"
I am the owner of the OptiKey repo (which is owned by the OptiKey organisation) - CLA doesn't recognise this repo and allow me to link it. Am I doing something wrong or is this a genuine issue?

[2016-05-12 14:41] KharitonOff commented on #119
Hi Julius,
that's strange, it seems to be a bug.
Could you call this API, please :
https://api.github.com/user/repos?per_page=100&affiliation=owner,organization_member
(e.g. you can use postman with basic authentication) and check whether your repository is in the list and permissions for this repo are set to true (at least "push" should be true)
[code]

[2016-05-12 14:47] JuliusSweetland commented on #119
@KharitonOff I cannot authenticate as I use 2 factor authentication (2fa) and so get this response:
'''
{
  "message": "Must specify two-factor authentication OTP code.",
  "documentation_url": "https://developer.github.com/v3/auth#working-with-two-factor-authentication"
}
'''

Do you know how to specify a 2fa code in the request?

[2016-05-12 14:58] JuliusSweetland commented on #119
@KharitonOff Ignore that - I figured out how to issue personal access tokens and now get this result from the request:

[code]

[2016-05-13 07:59] KharitonOff commented on #119
@JuliusSweetland thank you, that looks good. So do I understand you right: you don't see the OptiKey/OptiKey repo in the dropdown list under Step 2 "Choose a repository"?
![bildschirmfoto 2016-05-13 um 09 54 30](https://cloud.githubusercontent.com/assets/8480657/15241541/f48358d4-18f0-11e6-8894-7dc964e15cd6.png)

[2016-05-16 10:25] JuliusSweetland commented on #119
@KharitonOff That is correct:
![image](https://cloud.githubusercontent.com/assets/4722561/15287160/f080f07e-1b58-11e6-83b9-a4f78b3abdfc.png)

[2016-05-17 09:16] KharitonOff commented on #119
@JuliusSweetland I think (and hope) we found the Issue 😄  Could you check your github profile settings please, whether the ["Organization access" for CLA assistant](https://github.com/settings/connections/applications/50f062943f087ec041c6) to OptiKey is provided?

![bildschirmfoto 2016-05-17 um 11 04 53](https://cloud.githubusercontent.com/assets/8480657/15317072/2f551e34-1c20-11e6-8116-5311eb7365

[2016-05-17 13:15] JuliusSweetland commented on #119
That's resolved it. Thank you.

[2016-05-17 13:15] #119 closed

[2016-05-17 13:31] KharitonOff commented on #119
Great!! Thank you very much for opening this issue and have fun with CLA assistant 😉

[2016-05-30 18:03] mmoayyed commented on #64
Just adding a bit of feedback in support of this issue:

We are hoping to use the CLA assistant with this project:
https://github.com/apereo/cas

Once of the concerns here is that the click-thru functionality as presented here does not or may not quite pass the legal muster, and so if we could design the process in such a way where additional data is collected from the contributor at least in the

[2016-05-30 18:06] mmoayyed opened #120 "Do not present CLA form if consent is already granted"
I have:

- Logged into Github. Signed in.
- Have already accepted the CLA for a given project

If I then browse to: https://cla-assistant.io/org/projectname I am presented with the CLA form again. This should not happen, as I have already done so. Some form of confirmation would be better to indicate there is nothing to be done.

[2016-06-03 15:55] camlorn opened #121 "Explicitly E-mail signers and repository maintainers when a CLA is signed"
Hi,
I've been evaluating various CLA handling options for my project.  This comes closest to what I need, but shares the same problem with all the others thus far.  Specifically, lack of a good paper trail.

It is my understanding that it is important that I be able to reproduce the paper trail no matter what.  Would it be possible to get CLA Assistant explicitly e-mailing both parties?  I conside

[2016-06-03 16:07] camlorn commented on #118
I'm looking at adopting CLA Assistant.  My feedback thus far:

We need per repository agreements.  I see the appeal of per organization agreements, but I'm an individual with no legal department.  CLA Assistant's support for per-repository signing is a major draw for me due to the extra clarity of scope.  If I could have my way, I'd actually go further: I consider per pull request to be ideal.  Th

[2016-06-03 16:26] camlorn commented on #64
I'm also looking at using CLA Assistant with agreements from [Harmony Agreements](http://harmonyagreements.org).

When you generate these agreements, they specifically want name and address.  I am nervous about removing these fields because I am not fortunate enough to have easy access to legal advice.

It would be really helpful if this were given priority.

[2016-06-03 16:28] thojansen commented on #118
@camlorn if you could help out on the accessability part that would be awesome. Reporting open issues or half finished PRs on that end would help a lot (whatever works best). So far angular 2 is still challenging for productive usage but we plan to give it another try soon. Now we have one more reason to switch.

Regarding CLA signing, we now plan to support it either per repo (as it is now), or p

[2016-06-13 05:07] ThorstenBux opened #122 "CLA-Assistant integration not working"
Hello all,

I tried to integrate CLA assistant into several projects but somehow it does not accept the CLA signing.

You can have a look here:
https://github.com/ThorstenBux/Testing
Change a file and open a pull request. For me it always shows CLA not signed even though I signed it.
You can see this here:
https://github.com/ThorstenBux/Testing/pull/5

Thanks for your support
Thorsten

[2016-06-13 08:43] KharitonOff commented on #122
Hi Thorsten,

thank you very much for opening this issue. I found the cause: it seems that since 11th of June Github started to use a special account for commits, which are done via github web interface: https://github.com/web-flow
As CLA assistant checks the list of PR-committers it founds a committer who hasn't singed your CLA and it's web-flow 😄

I'll let you know as soon we'll fix it.

[2016-06-13 09:17] #122 closed

[2016-06-13 10:37] KharitonOff commented on #122
Now the fix is productive. Could you check it, please?

[2016-06-13 10:43] ThorstenBux commented on #122
Hi thanks for your very fast reaction.

If I create new PRs it works like a charm. However the previously created PR still show that the CLA is not signed.
I even tried the option "Recheck PRs" on the cla-assistant.io website. But no difference.

[2016-06-13 10:54] KharitonOff commented on #122
now it seems to work, does it?

[2016-06-13 22:01] ThorstenBux commented on #122
Awesome, yes all works well now. Thanks a lot

[2016-06-17 02:35] rstradling opened #123 "Sign the agreement (multiple times) but project says it still is not signed"
https://github.com/ensime/ensime-sbt/pull/212 is the pull request where I am trying to sign the CLA.  It comes up.  I say sign it.  It says thank your for signing and now will take you back to github.  It still has that I have not signed it (and this is after multiple refreshes of the UI)

[2016-06-17 07:51] KharitonOff commented on #123
the reason is that you have signed the CLA as @rstradling but commits are done by @ryanstradling - these are two different users 😉
So, as soon you as @ryanstradling sign the CLA it will set the status of the PR to green.

[2016-06-17 07:51] #123 closed

[2016-06-21 16:30] subhasisb opened #124 "licence/cla — Waiting for status to be reported (https://github.com/PBSPro/pbspro/pull/68)"
For a pull request we have on our repository: https://github.com/PBSPro/pbspro/pull/68 the contributor has actually signed the CLA, but still the status check is showing as waiting for status. Am not able to merge the PR since this is mandatory status check.

Do you know whats wrong? And how I can fix this and go ahead.

[2016-06-21 18:33] KharitonOff commented on #124
You can "recheck" the PR of your repository by pushing the "Recheck PRs" button in CLA assistant
<img width="498" alt="bildschirmfoto 2016-06-21 um 20 27 37" src="https://cloud.githubusercontent.com/assets/8480657/16241722/4c2cef10-37ef-11e6-89c3-9264e325548d.png">

[2016-06-22 03:44] subhasisb commented on #124
Thanks - it worked. Closing the ticket

[2016-06-22 03:44] #124 closed

[2016-06-28 06:39] thojansen commented on #121
Right now I would really like to avoid to send mails. We would need to hook CLA assistant to another third party provider (for sending mails) and likely also need to update our legal terms etc. And I also would not like to send a contributor a mail and disregarding the GitHub notifications settings.

@KharitonOff @JNKielmann what do you think about splitting the comments up into separate actions a

[2016-06-28 08:04] KharitonOff commented on #121
I don't think that splitting the comments would solve the raised issue. This would produce more spam for those who is subscribed for GitHub notifications and still not achieve those, who's not subscribed.
But I would like to avoid sending mails either.
I think in sense of a "paper trail" we have a download feature for the repository owner and maybe we can put more focus on the issue #35 for the si

[2016-06-28 08:46] thojansen commented on #121
I think the paper trail part is important for the project admin and not the contributor. If you are intersted in the complete chain of events, you can subscribe and get emails. We cannot and should not force this behaviour. Right now I think we could only offer split comments optionally and even that might not solve everything.

[2016-06-28 21:02] camlorn commented on #121
Yes.  But.  Suppose it does reach some sort of legal action.  The contributor may not care about the e-mail, but now there is no proof that the project admin didn't fake the records.  The contributor's e-mail doesn't show it, so this is a reasonable stance to take.  Given that this doesn't actually increase the burden on contributors very much and does in fact make the paper trail stronger, I'm no

[2016-07-04 00:30] phantom-voltage opened #128 "CLA-Assistant not detecting full github name with dash in it"
I tried to sign a CLA from the cla-assistant in the Emby Repository. It's not detecting my full username with the dash.

https://github.com/MediaBrowser/Emby/pull/1918

[2016-07-04 13:49] JNKielmann commented on #128
Hello phantom-voltage,
thank you very much for reporting this issue.
I do not think the problem you are having is related to the dash in your name. The commit in your pull request is actually not linked to your github account.
https://github.com/MediaBrowser/Emby/pull/1918/commits
(Notice it only shows "phantom" as committer and your profile picture is not shown.)
To fix this you can add the email

[2016-07-09 19:37] cvogt opened #130 "cla-assistant does not find one of my repositories"
it does not show xdotai/play-json-extensions for me

[2016-07-11 08:42] KharitonOff commented on #130
could you check your rights on this repository, please. You should have "owner" rights there in order to be able to link the repo in CLA assistant.
You can see it in settings of your repository -> Collaborators & teams

[2016-07-12 14:38] cvogt commented on #130
@KharitonOff it's an org repository, so I am not the owner, but I am Admin. It's exactly the same as for xdotai/lens and that one can be found and I am using cla-assistant for it. The only difference I know of is that xdotai/play-json-extensions used to be cvogt/play-json-extensions but I moved it to the xdotai org at some point.

[2016-07-13 05:43] xaxiclouddev opened #132 "@xaxiclouddev"

[2016-07-13 08:34] thojansen commented on #130
Can you check the organisational access in your settings for CLA assistant?

![screen shot 2016-07-13 at 10 32 43](https://cloud.githubusercontent.com/assets/5912220/16796890/3d21103a-48e5-11e6-832e-8c74a8f721ad.png)

[2016-07-13 08:34] thojansen commented on #132
Can we help you somehow?

[2016-07-13 09:06] xaxiclouddev commented on #132
I don't have know how to develop and deploy to my page.
Thanks for help.

[2016-07-13 10:21] #132 closed

[2016-07-13 12:18] KharitonOff commented on #130
@cvogt could you go through the steps here https://help.github.com/articles/managing-an-individual-s-access-to-an-organization-repository/ and check your access rights for the repo, please?

[2016-07-13 14:30] cvogt commented on #130
@thojansen @KharitonOff Please mind that cla-assistant works fine for me for other repos in that same organization. It needs to be something repository specific, not organization specific. I am not an owner of the organization, but I have Admin rights in all repositories we use cla-assistant for including play-json-extensions for which I fail to use it.

@KharitonOff @thojansen I cannot click "man

[2016-07-13 14:32] cvogt commented on #130
@thojansen actually I can see "manage access". Looks all good.

![image](https://cloud.githubusercontent.com/assets/274947/16807083/237b7af8-48e5-11e6-8889-4d1e65abe81e.png)

![image](https://cloud.githubusercontent.com/assets/274947/16807060/0dcb72da-48e5-11e6-857c-d586682583aa.png)

[2016-07-13 17:32] ajpevers opened #133 "Cannot sign CLA, but I've signed it before and it has worked"
I want to sign the CLA on pull request https://github.com/magento/magento2/pull/5496
and on https://github.com/magento/magento2/pull/5625

I've committed pull requests (https://github.com/magento/magento2/pull/4897) that have signed CLA's with the same github user and the same commit email address.

What's going wrong here?

[2016-07-14 06:07] thojansen commented on #133
@KharitonOff It seems that they are running a modified version of CLA assistant and hosting it themselves.

[2016-07-14 08:28] KharitonOff commented on #130
@cvogt the point is: CLA assistant uses following GitHub-Api to read your repositories https://developer.github.com/v3/repos/#list-your-repositories and it calls this api with parameter affiliation=owner, organization_member the result of this call is represented in the drop-down list. We use this parameter to sort repos out where the user has not enough rights (e.g. setting web hooks)
You can try

[2016-07-14 08:35] #128 closed

[2016-07-14 15:25] TamalSaha opened #134 "Can't link after unlink-ing once"
Hi,
I created cla link for a repo once. Then deleted the git repo and recreated it under the same organization. Now, I can't create cla links anymore. How do I fix this issue?

Thanks.

[2016-07-14 15:32] KharitonOff commented on #134
@TamalSaha could you give me the name of the repository?

[2016-07-15 02:54] TamalSaha commented on #134
https://github.com/appscode/data is the repository. I see the name of the repository in the dropdown list. After I click the "Let's go" green button, I see the following animation and nothing happens. I have waited more 5 mins and then closed the tab
![cla-nothin](https://cloud.githubusercontent.com/assets/94814/16862216/c2635efc-49fc-11e6-8874-ef0432a56445.png)
.

[2016-07-15 07:52] ajpevers commented on #133
Okay, so I need to let them fix it?

[2016-07-15 07:52] ajpevers commented on #133
And if they would not run a modified version, would it work correctly?

[2016-07-15 08:25] KharitonOff commented on #133
We can hardly analyze the problem without access to the system/logs.
You can ask the repository owner (someone who has admin/owner rights on this repo) to push "Recheck PRs" button in the admin view of the CLA assistant. Maybe that will solve the problem.

[2016-07-15 08:27] KharitonOff commented on #134
Could you try it again, please?

[2016-07-15 13:32] TamalSaha commented on #134
Thanks @KharitonOff. It worked this time. Did you fix any bug or was this some one-off manual thing?

[2016-07-18 07:39] KharitonOff commented on #134
@TamalSaha This was a special, exclusive fix only for you 😏
We will fix this bug too, but it will take some time... so it would be great if you unlink your repo in CLA assistant first before you delete and recreate it in GitHub 😄

[2016-07-18 08:08] TamalSaha commented on #134
:) Thanks for the info. I have another repo in similar situation. I was just testing to make sure it was really a bug. I am going to file another issue if the bug is not fixed by the time we are ready to make it public, again.

[2016-07-18 08:08] #134 closed

[2016-07-18 20:28] xaxiclouddev opened #135 "@XAXICLOUDDEV"

[2016-07-19 14:49] #135 closed

[2016-07-19 17:24] cvogt commented on #130
none of my xdotai/ repositories show up using that api route. Not even the ones I successfully added via cla-assistant. However, they all show through https://api.github.com/user/repos?per_page=100&affiliation=collaborator

[2016-07-19 17:29] cvogt commented on #130
Neither of the repositories I added (xdotai/lens xdotai/diff), nor the one I am failing to add (xdotai/play-json-extensions) show up using that api route. Some other unrelated xdotai/* repositories do.

However all the ones I care about (including xdotai/play-json-extensions) show up through https://api.github.com/user/repos?per_page=100&affiliation=collaborator

[2016-07-20 09:48] KharitonOff commented on #130
@cvogt could you check this api: https://api.github.com/user/repos?per_page=100&affiliation=owner,organization_member&page=2 , please, whether you can find your repos there (excepting xdotai/play-json-extensions)?
We restrict the afflilation to owner and organization_member in order to select those repos, where the user has enough rights (e.g. setting webhook). Only if the user has this rights he/

[2016-07-20 14:16] #133 closed

[2016-07-25 11:13] thojansen commented on #35
skipping this for now.. we will however fix #120 and make it possible to view an already signed CLA

[2016-07-25 11:13] #35 closed

[2016-07-27 08:00] ttmc opened #136 "Let contributor accept one of several CLAs"
This project has the right idea, but before we can use it, we need contributors to be able to choose between accepting our "Individual CLA" (which covers just their contributions) or our "Entity CLA" (which covers everyone in their team/company/organization). See our current CLA page to see what I mean:

https://www.bigchaindb.com/cla/

[2016-07-27 11:35] lipis opened #137 "Save also the GitHub id, email and name if provided."
Right now I can see that only the username is being saved (or exported) but the username can change and sometimes we need more info.. The only thing that is not changeable is the GitHub `id` and that should be definitely saved and maybe storing the extra things like email and name.

- id
- name
- email

https://api.github.com/users/lipis

[2016-07-27 12:29] KharitonOff commented on #137
this issue is related to #64
we are working on it and we are going to roll out this feature soon 😃
would you like to test it as soon we are ready?

[2016-07-27 12:38] thojansen commented on #136
Right now we do not support _Corporate CLAs_ within the tool. We had some discussions around this topic (see #15) and decided against a tool support for this case. Right now this is rather handled manually and on a case-by-case basis. Having said that, I would suggest that you make it clear in the CLA itself that only individual CLAs are covered (maybe you can even add a custom checkbox in the fut

[2016-07-27 12:38] #136 closed

[2016-07-27 12:41] lipis commented on #137
of course..!! that would save the world..

[2016-07-27 12:45] lipis commented on #64
We are willing to test as soon as it's out :)

[2016-07-27 13:10] thojansen opened #138 "audit logging"
Similar as other applications, CLA assistant should offer an audit log to show (possibly export) all important actions on a given repository/ organisation. In addition to the CLA export, this should help admins to follow up on all the action which were taken (import list of GH users, linking and unlinking of a repository or organisation, signing of a CLA, creation of a new CLA version).

[2016-07-27 13:11] thojansen commented on #121
After giving this some thoughts, we think the best way is to introduce an audit logging as described in #138, similar to how other applications approach this problem.

[2016-07-27 13:11] #121 closed

[2016-07-29 13:31] KharitonOff commented on #64
@sdirix, @reem, @dcrosta, @mmoayyed, @camlorn, @lipis, @matz3, @jdanyow, @ejsmith, @niemyjski
We are almost done! 🎉
Now we need your help! It would be great if you could test the current version and give us your feedback:
 - are there any problems/issues? Is this state stable enough from your point of view? Is it usable as it is?
 - which features are still missing? What should be done to convince

[2016-08-01 09:10] lipis commented on #64
@KharitonOff Awesome stuff!

What about `radio` buttons? We could easily describe them as well if you are not supporting them at the moment with something like that:

[code]

[2016-08-01 09:24] lipis commented on #64
We could also provide another field called `description` that could look something like this:
<img width="576" alt="screen shot 2016-08-01 at 12 23 06" src="https://cloud.githubusercontent.com/assets/125676/17289547/da01e99a-57e2-11e6-81c2-5f1da10ab08e.png">

[2016-08-01 09:50] lipis commented on #64
I created a dummy projects for testing it this and it looks my "testers" are getting `401` :)
https://github.com/lipis/cla (anyone is welcome to create a new PR to see it action..)

[2016-08-01 10:12] lipis commented on #64
It looks like you have to be logged in to https://preview.cla-assistant.io before signing (if it's just part of the preview then it's totally fine).

[2016-08-01 15:24] KharitonOff commented on #64
@lipis : 👍 thank you very much for testing and issue reporting! I've fixed the logging issue. Now the signer should see the CLA without logging into the tool.

Radio-buttons should work now too. I changed your proposal to following schema:
[code]

The 'description' attribute is currently used for tool-tip... I'll discuss with our designer your suggestion.

[2016-08-01 15:42] lipis commented on #64
Good stuff! The schema is even simpler so that's perfect..

As for the description don't forget the mobile users.. one design to rule them all.. simple text as suggested is more straightforward as people have to read the whole thing anyway since it's a CLA.. Plus it will be clearer to make as less mistakes as possible.

[2016-08-01 15:49] lipis opened #140 "What is the suggested setup to run cla-assistant on our own instance?"
We will have to host our own version. What would be the suggested way of achieving this to fulfill most of the following requirements:

- Preferable running on AWS (we could check alternatives, so don't hesitate to suggest if not)
- Minimal effort for setup/maintain/sync with the master project
- Detailed instructions for setting up tools on the suggested platform
- Backup support
- Paid services

[2016-08-01 16:33] dcrosta commented on #64
This looks great -- many thanks! Any idea when it will be released to the production CLA-Assistant?

[2016-08-01 16:39] raphaelrobert opened #141 "Term of Use"
We would like to use your service, but unfortunately the Terms of Use are not very user friendly (https://gist.github.com/CLAassistant/3a73e4cd729c9d0a6e30).

Particularly section 4:
*By transmitting or uploading any Content (defined below) to the Website, You grant to SAP a perpetual, irrevocable, nonexclusive, worldwide, fully paid up and royalty free, unlimited license to use such Content witho

[2016-08-02 10:10] sdirix commented on #64
Thank you very very much for implementing this feature!

I really like that you went with the flexible route of allowing users to create form descriptions. I tested the preview and it works as expected! Great!

As @lipis already mentioned, I would also strongly prefer that the 'description' is rendered as text above or below the input.

Currently when the metadata is invalid, the user only sees an

[2016-08-02 10:22] thojansen commented on #141
We have reached out to our legal team to check this. Thanks for mentioning that.

[2016-08-02 10:33] thojansen commented on #140
In general there are not many requirements and AWS should be fine for hosting (we use a cloud foundry based provider for hosting/ might be less effort on your side). Apart from the application, you also need a mongoDB, which we are hosting on mLab (automatic backup, SSL, ..). In terms of the overall stack, the db would be the most important part as the CLAs are stored there. The app just connects

[2016-08-02 10:49] lipis commented on #140
Thanks @thojansen!

We are "forced" to run our own instance because of the #141.. if you can change that part we can send a small thank you basket to your offices in Berlin :) It's right next to ours..

[2016-08-02 10:55] thojansen commented on #140
Ok, understood. Please let us check if we can change that.

[2016-08-02 17:45] matz3 commented on #62
@KharitonOff I would like to share my feedback (based on https://github.com/cla-assistant/cla-assistant/issues/64#issuecomment-236180650):

The preview-version doesn't really solve this issue like I've described it (linking multiple repos without having to link the whole org).

In case you want to link ALL repos this is fine and even better than my suggestion.

But it might be the case that one wa

[2016-08-02 19:05] thojansen commented on #62
We tried to keep it simple, so now it is either per org or per repo which also reflects how GitHub sends events. And I will suggest to link the SAP org completly.

[2016-08-03 06:58] matz3 commented on #62
Exactly. That's what I meant. As I don't really need it I see no reason to add this unless other people would like to have it.

[2016-08-03 10:57] KharitonOff commented on #64
Ok, I see! Thank you for pointing out my misunderstanding! 😏  And yes, I prefer creating our own Schema. I've described it now, based on your suggestion:

[code]

The metadata json could look like this one:
[code]

@lipis , @sdirix : regarding description: we have decided to put the description in the input field (in sense of consistency) like we have it in the "link screen" :
![bildschirmfoto 201

[2016-08-03 12:00] lipis commented on #64
Just my 50cents.. the placeholder is usually used for some example text and it will go away right after the first character or some possible autocomplete forms and the end user will never going to see the possible instructions that could be easily missed if they "know" how it should be :D

[2016-08-04 09:17] KharitonOff commented on #64
@lipis ok, thank you for your input! In your proposal the space between the fields with and without description would be unequal. We've placed the description out of the input field, behind the label.

![bildschirmfoto 2016-08-04 um 10 56 41](https://cloud.githubusercontent.com/assets/8480657/17396710/e969086a-5a34-11e6-8d4c-32512549e4d2.png)

[2016-08-04 09:34] lipis commented on #64
Looks pretty good!! Thank you..

[2016-08-04 15:51] dcrosta commented on #64
@KharitonOff this is all looking very very good :) Any idea when it will be released to production?

[2016-08-04 17:20] KharitonOff commented on #64
@dcrosta we are going to release it next week 🙂

[2016-08-05 08:31] thojansen commented on #48
v1.4 is released now to production

[2016-08-05 08:31] #48 closed

[2016-08-05 08:31] thojansen commented on #62
closing this for now and waiting for more requests. v1.4 is released now to production

[2016-08-05 08:31] #62 closed

[2016-08-05 08:32] thojansen commented on #64
We decided to release v1.4 today to production :shipit:. Thanks for testing everything and giving us valuable feedback. Let us know in case you have any problems.

[2016-08-05 08:32] #64 closed

[2016-08-05 08:34] thojansen commented on #66
v1.4 is released now to production with the option to link orgs :shipit: instead of repos. Let us know in case you face any issues.

[2016-08-05 08:34] #66 closed

[2016-08-05 08:34] thojansen commented on #109
v1.4 is released now to production with the ping event :shipit:

[2016-08-05 08:34] #109 closed

[2016-08-05 08:35] thojansen commented on #120
We are now showing the signed CLA without the sign button as part of v1.4 which is released now to production :shipit: 🎉 .

[2016-08-05 08:35] #120 closed

[2016-08-05 08:39] thojansen opened #143 "hidden custom fields"
Make it possible to create hidden custom fields (e.g. the Github id).

[2016-08-05 08:40] thojansen commented on #137
The id field is already supported, but we would like to have the option to mark a custom field as _hidden_ in order to not be able to change it 😄 . Tracking under #143

[2016-08-05 08:40] #137 closed

[2016-08-05 08:42] thojansen commented on #140
Closing this issue now in favour of changing our TOS, which is tracked under #141. Still waiting for feedback from our colleagues.

[2016-08-05 08:42] #140 closed

[2016-08-05 08:44] mmoayyed commented on #120
Excellent

[2016-08-05 08:46] lipis commented on #140
🏇 🎆 🌾 🌴 👍

[2016-08-05 08:49] thojansen commented on #118
We have now shipped v1.4 ahead of v2.0 with the option to sign a CLA per org instead of doing it per repo. Some parts like the porting to angular2 are moved to v2.0 as there were some technical challenges (also angular2 is still not released as of writing this). Thanks for your valuable input on this. Since this was mainly about discussing how to proceed with the signing process, we are closing th

[2016-08-05 08:49] #118 closed

[2016-08-05 08:50] KharitonOff commented on #130
please reopen if you still need some help from our side

[2016-08-05 08:55] thojansen commented on #98
After some internal discussions we are closing this for now. We feel that it is more consistent to import GitHub handles than e-mails and right now not worth the effort to implement all edge cases for supporting e-mails.

[2016-08-05 08:55] #98 closed

[2016-08-05 13:02] #88 closed

[2016-08-05 18:28] bdarnell opened #144 "Asking people to sign CLA again"
In the last day or two cla-assistant has starting asking people who have already accepted the CLA for cockroachdb/cockroach to sign it again. Users who do so show up a second time in the exported report twice. For example, it says I signed twice on the following days:

    bdarnell    Aug 5, 2016 2:23:54 PM
    bdarnell    Jul 21, 2015 1:26:39 PM

[2016-08-08 08:41] KharitonOff commented on #144
@bdarnell sorry for that! We have released v1.4 last Friday and there was a bug. This problem should be solved since Aug 6. Could you check/keep your eyes on it, please.

Thank you very much for reporting this issue!

[2016-08-08 11:20] #144 closed

[2016-08-08 19:45] tomdee opened #145 "Linked repositories list is blank (it used to contain ~6 entries)"
I use CLA assistant on a number of repos under `projectcalico` org. The list of linked repos has been blanked at some point in the last few weeks and I'm not sure why.

[2016-08-08 20:23] KharitonOff commented on #145
Do you see this repositories in the drop down list on the "Create new link" view?
This issue could be related to #130
Do you have admin rights in this organization?

[2016-08-08 22:50] tomdee commented on #145
I think the app had become unauthorized. It's now working OK so closing.

[2016-08-08 22:50] #145 closed

[2016-08-09 02:00] Unknwon opened #146 "Still showing pending even if I've signed CLA"
Example test PR: https://github.com/gogits/gogs/pull/3404

[2016-08-09 05:32] Unknwon commented on #146
False alarm, realized that all commits authors should sign to pass the check.

[2016-08-09 05:32] #146 closed

[2016-08-09 12:39] 0xbaadf00d opened #147 "Don't work"
Your CLA system don't work.

I have contributed to GOGS project (here PR link)
https://github.com/gogits/gogs/pull/3371

But CLA system don't aware i have already validated CLA on your website :
https://cloud.githubusercontent.com/assets/1005086/17516052/76382388-5e3c-11e6-967d-2fff159564eb.png

[2016-08-09 12:51] KharitonOff commented on #147
So far everything is ok. CLA assistant checks all committers and the first commit was done with another e-mail.
![bildschirmfoto 2016-08-09 um 14 42 57](https://cloud.githubusercontent.com/assets/8480657/17516610/c2096044-5e3f-11e6-856d-af7068bbb269.png)
As mentioned in CLA assistant's comment you can add this address to your github account to let Github identify you as the committer of this commi

[2016-08-09 12:51] #147 closed

[2016-08-09 13:02] 0xbaadf00d commented on #147
I can't add "None" as email address on github. I you check last commit, you will see that the email address is OK and if you check Github username and commit author, you will see is the same (0xBAADF00D == 0xbaadf00d)

[2016-08-09 13:12] KharitonOff commented on #147
Ok, I see. The problem is, CLA assistant relies completely on GitHub-Api and as long GitHub can't identify you as a committer of the first commit CLA assistant can't do it either 😞
Maybe this link can help you: https://help.github.com/articles/changing-author-info/
another way I could imagine is to create a new PR with recommitted/squashed changes, see http://stackoverflow.com/questions/5189560/sq

[2016-08-11 16:18] bennyn commented on #141
Any update on this?

[2016-08-11 16:21] thojansen commented on #141
Not yet.. vacation time.

[2016-08-12 03:04] sunglim opened #148 "Feature: More custom field"
Now cla-assistant is able to receive the user data that are saved only* in user's github account. right?

It would be nice if we can add more custom field. and save it to mongolab.
(I want to add 'telephone number' and 'country' field)

[2016-08-12 03:26] sunglim commented on #148
Ooops. it's already done. https://github.com/cla-assistant/cla-assistant/issues/64

Sorry!

[2016-08-12 03:26] #148 closed

[2016-08-15 06:33] thojansen commented on #141
We have now updated our TOS according to your feedback. We hope that you are now able to use our service.
https://gist.github.com/CLAassistant/3a73e4cd729c9d0a6e30

[2016-08-15 06:33] #141 closed

[2016-08-15 10:21] zetok opened #149 "content "window" is too small"
Example:
![spectacle kn8740](https://cloud.githubusercontent.com/assets/3148759/17661957/38bf04c0-62da-11e6-8ff7-cdce653a9f8c.png)

Not only a waste of space, but it makes reading through CLA harder.

[2016-08-17 21:40] d4l3k opened #150 "CLA status shows up as Pending incorrectly"
https://github.com/cockroachdb/cockroach has been encountering a lot of "Pending" statuses for people who have already signed the CLA.

This seems to have been a issue since at least July 18th. It's a common enough problem that we have documentation on how to fix it: https://github.com/cockroachdb/cockroach/wiki/licence-cla-PR-glitch.

For instance, it just happened again to https://github.com/coc

[2016-08-18 15:48] lipis commented on #141
That's awesome! Thanks @thojansen :) Once we are going to verify it with our legal team.. we'll let you know..

[2016-08-26 00:04] nuno-agostinho opened #152 "Contributor Covenant Code of Conduct as the CLA"
It would be great if in the license selection you could allow people to choose the latest version of the [Contributor Covenant Code of Conduct](http://contributor-covenant.org/) and easily update it when new versions are released.

[2016-08-29 07:58] KharitonOff commented on #152
ok, that sounds interesting, but wouldn't it be a bit confusing for users to sign Code of Conduct in a CLA tool? There is also at least one placeholder ([INSERT EMAIL ADDRESS]) in the document, which should be filled...
I think CLA assistant is not the right tool for that. Nevertheless I could imagine that a modified version of CLA assistant would meet your requirement well.

[2016-08-29 08:18] KharitonOff commented on #150
Thank's for reporting this! The problem is that github api needs some time (sometimes more than 3 seconds) to respond with appropriate payload after a new PR was created. I'll try to fix it on our side.

[2016-09-06 17:51] lipis opened #154 "CLAassistant is posting twice for new contributors"
https://github.com/lipis/cla/pull/18

Not sure if it's because if it's because I was linking and unlinking this project a few times in the past..

Feel free to submit random PRs if you want to debug it somehow to that project as it serves only as a test..

[2016-09-06 17:58] lipis opened #155 "Too much empty space on top"
I'm no designer or anything but do we really need this extra space?

<img width="640" alt="screen shot 2016-09-06 at 19 57 03" src="https://cloud.githubusercontent.com/assets/125676/18284926/469af01a-746c-11e6-97f2-056a4ab3cb01.png">

[2016-09-07 07:02] KharitonOff commented on #154
@lipis you've linked this repo on both instances: preview.cla-assistant.io and cla-assistant.io
That's why there are two comments from CLA assistant 😏

[2016-09-07 07:02] #154 closed

[2016-09-07 07:19] lipis commented on #154
I had this feeling that it was my fault :) Thanks..

[2016-09-09 20:18] waldyrious opened #156 "Provide a link to add to CONTRIBUTING.md"
After setting up cla-assistant for a project I help maintain ([tldr-pages](https://github.com/tldr-pages/tldr)), at no step I could find a link to the CLA page (i.e. not the gist, but the actual page at cla-assistant.io).

Eventually, by clicking in the "Details" link in [a pull request](https://github.com/tldr-pages/tldr/pull/1048), I figured out that a link in the form https://cla-assistant.io/t

[2016-09-09 21:31] thojansen commented on #152
Right now CLA assistant is not the right tool for this, so we are closing this issue. However the current code base would be a good starting point if you want to enforce signing a code of conduct. The workflow would be different as a user would sign a code of conduct once globally and not per repo or organisation, but an opt-in could be also per repo or org. We have discussed this workflow for CLA

[2016-09-09 21:31] #152 closed

[2016-09-12 08:49] dennisoelkers opened #157 "Option to exclude repositories if organization is linked"
When you link an organization, a github orga webhook is installed which adds the PR check for every PR of every repository. It is desirable though, to be able to exclude repositories from this, so all repositories from orga n _excluding_ repos x, y & z are linked. In certain scenarios it is much less effort to link an orga and exclude some repositories than selectively including only the desired r

[2016-09-12 08:52] matz3 commented on #157
Seems to be related to my comment (2.) here: https://github.com/cla-assistant/cla-assistant/issues/62#issuecomment-236983994

[2016-09-12 21:14] tomdee opened #158 "Linked organizations aren't visible to other users"
I set up a linked organisation but other people in my github org can't see it. They can only see the linked repositories that I previously set up. I've made people "owners" and given them admin rights but they still can't see the linked orgs in the cla-assistant UI. What am I doing wrong?

[2016-09-13 08:30] KharitonOff commented on #158
Did the other users provided CLA assistant with extended scope ("admin:org_hook")? To do so, they need to click the "Create new link" button and click on the link "want to link an org?" under point "2 Choose a repository". After that they should see the linked org too.

[2016-09-14 17:11] tomdee commented on #158
Yes that work! Thanks. Quite a non-intuitive UX though - can it be made easier/more obvious?

[2016-09-15 13:59] lipis commented on #158
If I link an org.. how can I invite (or what's the procedure) so other admins can see the activities of that org?

[2016-09-19 07:57] KharitonOff commented on #158
Everybody sees the linked repos/orgs for which he/she has owner rights (even if another person has linked the repo/org). For the linked orgs there is the only extra step to do is to provide CLA assistant with extended scope as described above.

[2016-09-19 08:11] lipis commented on #158
@KharitonOff Thanks.. we'll check that out..

[2016-09-22 11:01] lipis opened #159 "Is it possible to ask for a recheck a specific PR"
Instead of rechecking them all in one organization?

[2016-09-22 12:02] KharitonOff commented on #159
unfortunately not. A recheck on a specific PR happens only if the webhook is triggered (e.g. by a new commit on the PR)

[2016-09-22 14:42] thojansen commented on #159
@KharitonOff via an API call 😄 ?

[2016-09-22 15:44] lipis opened #160 "Is it enough to have only the username in the CSV file when importing?"
Or what's the general suggestion if we want to exclude all the members of our organization?

[2016-09-22 15:45] thojansen commented on #160
this is currently the only way to do it and yes, the username is the only thing which is needed

[2016-09-22 15:51] #160 closed

[2016-09-22 15:51] lipis commented on #160
Thanks!

[2016-09-22 16:01] lipis opened #161 "Show the extra fields (metadata) through the UI without exporting the list"
Now that the metadata is supported it would be great to see the extra stuff within the UI... the only way now is to export in CSV and import it somewhere..

[2016-09-23 08:25] KharitonOff commented on #159
Ok, there is no API on CLA assistant side for that. The only thing I could imagine is to 'redeliver' the webhook from GitHub (go to repo settings -> webhooks -> find under 'Recent Deliveries' the call for the given PR and click on 'Redeliver'-button) 😏

OR

create an API call with similar payload 😄
 - "action" (open, reopen or synchronize)
 - "number"
 - "repository" with "id", "name", "owner"."lo

[2016-09-30 11:40] #157 closed

[2016-10-05 10:40] elbenfreund opened #164 "[Question] Proof of CLA"
hello community,

please excuse if this is the wrong place to raise the issue, but I was wondering what sort of actual proof cla-assistent provides to be presented in front a court of law if it ever comes down to it. Is there any actual signing procedure and/or a way to extract a signed document (pdf)?
I am aware of the (lovely) possibility to export contributors that signed via csv, but I somehow

[2016-10-06 16:49] thojansen commented on #164
To our current knowledge our current measures are sufficient and our legal team was fine with the taken approach (electronically stored documents in a systems as a record). We had a discussion with Microsoft and they are using DocuSign to go one step further, but so far we have decided to keep this more lightweight. Having said that, we would be happy to see how an integration into DocuSign (or s.

[2016-10-06 16:49] #164 closed

[2016-10-13 16:12] imbriaco opened #166 "Export API / Periodic Export?"
First of all, thank you for creating the cla-assistant. I've evaluated many of these tools and this is definitely the best available option in my experience.

I'm wondering if there is any way to periodically export the contributor CSV other than manually logging in through the web UI? It seems like exposing an API endpoint that I could fetch an export from would be the easiest path, but I wasn't

[2016-10-26 09:06] KharitonOff commented on #166
Thank you for your positive feedback!
There is an API that gives you the list of signed CLAs (not in csv format, but as JSON). The only Problem is: you need a Session ID.
I'll rewrite the authentication part to provide the possibility to access APIs with username and github token.

[2016-10-27 13:38] KharitonOff commented on #166
Now you can use the POST API `/api/cla/getAll` to collect all signed CLAs for your repo. You have to provide following parameters in the request body:
`repoId` and `gist.gist_url` as json e.g.:
[code]
For authentication you can use a valid github token. You can provide it either as a body-field `token` or as a header-field `x-token`.
Would this solution help you?

[2016-10-27 20:05] imbriaco commented on #166
The API request makes sense, though I'm not sure how I would go about getting the GitHub token. I'm assuming that you specifically mean a token for the cla-assistant OAuth application? Could the cla-assistant web UI expose that somewhere?

[2016-10-28 08:02] KharitonOff commented on #166
You can use your "personal github token". If you go to settings in your github profile you can generate a github token under "Developer settings -> Personal access token". We use it only for identification towards GitHub.

[2016-10-28 15:05] imbriaco commented on #166
I didn't even realize you could choose the scopes when you created a personal access token and I used to work at GitHub. Derp! Yes, this will work great. Thanks so much!

[2016-10-28 15:07] imbriaco commented on #166
Actually, one more question @KharitonOff -- can I use `orgId` instead of `repoId`?

[2016-10-28 15:10] imbriaco commented on #166
Nevermind, tested it for myself and it works great. I really appreciate it!

[2016-10-28 15:10] #166 closed

[2016-10-29 12:54] Kostronor opened #168 "Not checking the full commit range"
It seems that cla assistant is missing commits in fairly long prs, like this one f.e.:
https://github.com/Minecolonies/minecolonies/pull/238

After more then 250 commits it misses the newest ones and so misses some contributors (only found 4 out of at least 6).

Will it be possible to bump this limit up somehow?

[2016-10-29 20:26] kborchers opened #169 "Recheck PRs on newly added org are all pending"
After adding an org and clicking "Recheck PRs", all open PRs are checked but all come back as pending and are stuck that way.

This may be related to #150 but is a bit different in that because the org is new, there isn't even a workaround because there is no webhook payload to resend. Any thoughts appreciated. I'm also happy to help work on the solution to this and #150 but I'm new to this code b

[2016-11-02 09:57] KharitonOff commented on #169
Do I understand you correctly: the status of all PRs in the org remains "pending" even if all committers of the PRs have signed the CLA?

The workaround mentioned in #150 is actually an "old" one - "Recheck PRs" does the same. But if you wisch you can resend the webhooks also for the org. You have to just navigate into org settings and select "Webhooks" there
![bildschirmfoto 2016-11-02 um 10 55 5

[2016-11-02 12:23] kborchers commented on #169
Sorry, I believe this issue was filed before I fully understood how things work. I was not expecting the unsigned CLA to leave the status as pending but expected it to fail the check. If the expected outcome is for the check to always be pending until the CLA is signed, this is working properly and you can close this issue. If it should actually fail the check, then it is not doing that.

[2016-11-02 12:38] kborchers opened #170 "CLA check gives false positive when committing with another user"
If 2 users collaborate on fork, and neither have signed the CLA, if one of those users rebases a PR or in some other way modifies a commit so that they become the committer but the author is still the other user, when the CLA check is done, it currently only checks the committer so the author is not asked to sign the CLA.

[2016-11-02 13:08] KharitonOff commented on #169
No problem. CLA assistant check has indeed only two statuses: pending and success.

[2016-11-02 13:08] #169 closed

[2016-11-02 16:00] KharitonOff commented on #150
I've increased the number of retries to 10. Have you experienced this issue since end of August again?

[2016-11-02 16:00] #150 closed

[2016-11-02 16:01] #159 closed

[2016-11-03 12:06] #170 closed

[2016-11-03 16:01] lipis opened #172 "How to approve the greenkeeper?"
https://github.com/wireapp/wire-webapp/pull/382

I whitelisted the `greenkeeper` and `greenkeeperio` but no luck :)

[2016-11-03 16:02] lipis commented on #172
Found it :) https://github.com/greenkeeperio/greenkeeper/issues/236

[2016-11-03 16:02] #172 closed

[2016-11-04 15:17] finnp opened #173 "Automatically ignore bot users"
Hey,

GitHub recently introduced bot users (aka integrations). It would be nice if bots would be automatically white-listed, since they can't sign any CLA. They always include the tag `[bot]` in their committer name, e.g.  `greenkeeper[bot]`, which users are not allowed to use.

Also if there is a full user object, the `type` key can be checked, which is set to `"Bot"`.

So It would be rather easy

[2016-11-04 16:04] KharitonOff commented on #168
@Kostronor can you click on "Recheck PRs" in CLA assistant please and check wether it is working now

[2016-11-04 16:05] #158 closed

[2016-11-04 16:12] Kostronor commented on #168
@KharitonOff I clicked it, waited 2 minutes and clicked it again. So far no update for the pr as it seems.

[2016-11-04 16:19] KharitonOff commented on #168
@Kostronor ok, thank you! I'll keep on searching ...

[2016-11-04 16:21] Kostronor commented on #168
@KharitonOff If there is any more Info I can supply please tell!

[2016-11-07 09:20] mookid8000 opened #174 "Seems to fail when trying to retrieve repositories/organizations"
When creating a new link, nothing shows up in the "Choose an org or a repo" select box.

The console reveals that the server experienced something bad:

<img width="534" alt="skaermbillede 2016-11-07 kl 10 18 00" src="https://cloud.githubusercontent.com/assets/32968/20052269/9db83122-a4d3-11e6-858f-b05e05f4780a.png">

[2016-11-07 09:23] KharitonOff commented on #174
Thank you for reporting this issue! I've just pushed the possible bugfix...
Could you retry please and let me know, whether it works for you now or still fails?

[2016-11-07 09:26] mookid8000 commented on #174
I just tried.... but still nothing shows up in the box.

I also get these periodically – don't know if it's related:

<img width="625" alt="skaermbillede 2016-11-07 kl 10 25 08" src="https://cloud.githubusercontent.com/assets/32968/20052527/a60bcfb8-a4d4-11e6-93b1-b6c516c52914.png">

[2016-11-07 10:10] KharitonOff commented on #174
Yes, the 404 was related... 😞  The app was crashing
Now it should be solved. Can you confirm it?

[2016-11-07 10:21] mookid8000 commented on #174
🎉

<img width="962" alt="skaermbillede 2016-11-07 kl 11 20 23" src="https://cloud.githubusercontent.com/assets/32968/20054218/3aeeb616-a4dc-11e6-90e8-0899b66c1c09.png">

Thank you for the super-quick response and subsequent fix! 😄

[2016-11-07 10:21] #174 closed

[2016-11-08 11:50] #168 closed

[2016-11-08 12:44] KharitonOff commented on #168
now it should work with large commit ranges. I was looking for the root cause on the wrong side. The threshold of 250 is set by GitHub...
Now we take all commits pushed to the PR-branch since the date of the PR base commit.

[2016-11-08 20:50] iphydf opened #175 "Provide an API or direct download link to CSV exports"
I'd like to periodically mirror the data from cla-assistent so I don't rely on it being available and so I can use the data when generating reports.

[2016-11-08 20:51] #175 closed

[2016-11-08 22:36] Kostronor commented on #168
@KharitonOff I kicked off a new recheck and now 13 contributors are found. That looks like a solid number so I'd say it is done.

Thanks a lot for the fix!

[2016-11-10 19:56] bseddon opened #176 "Organization repositories do not appear in the link list"
I followed the on-screen instructions to allow cla-assistant access to my account and then the addition step to allow cla-assistant to access the organization of which I am a designated administrator.

I believe I have followed these instructions correctly but the only repos in the drop-down list of the link dialog are those associated with my person account.  The repository I am hoping to see is

[2016-11-10 21:17] KharitonOff commented on #176
could you check the issue #130
is it related to your problem?

[2016-11-10 23:55] bseddon commented on #176
I do not think it applies.  The dialog in #130 is about whether the person is owner of the organization.  I stated in my question that I am administrator.  My mistake.  I am admin but I am also owner (see screenshot).  I am bseddon and in the first instance I grant the cla-assistant rights.  I then agreed when asked to grant rights to the organization xbrlquery.

I do not know if is it relevant bu

[2016-11-11 00:45] bseddon commented on #176
As a double-check I worked out to issue an API request using PowerShell using this query:

https://api.github.com/orgs/xbrlquery/members?access_token=xxx&affiliation=owner,organization_member

My details are listed in the JSON response.  You can see the query includes the same affiliation you use in your queries as mentioned by you (@KharitonOff ) in your last response on #130.

[2016-11-11 01:10] bseddon commented on #176
I am beginning to understand something about my problem.  Maybe you can help.  I have created a new user and made the new user an owner of the target organization.  When I visit cla-assistant.io and sign in with this user I am prompted to authorize access by cla-assistant to the organization.  This is just like before.

However, I noticed that alongside the 'organization' tile/button there is a bu

[2016-11-11 08:43] KharitonOff commented on #176
Ok, glad that you were able to link your org 👍

----

" _If I log out I am unable to login as a different user because the site seems to remember my previous sign in details. I had to use a different browser to be able to login as the new user_."
If you log out and log in again in cla-assistant it uses the user you are logged in in github with. So it behaves pretty the same way like github in the

[2016-11-11 09:48] bseddon commented on #176
Even if I accept your point, I think you are missing mine.  In effect I was able to be re-prompted for my login by using another browser.  That's not the issue that really confronted me.

The real issue is that it does not appear that my prior authorization settings can be revealed on the cla-assistant.io site so I am unable to change them,  Now that I have created a new account and I have allowed

[2016-11-11 10:09] KharitonOff commented on #176
Ok, I think that I understand your point now: you want to grant cla-assistant access to newly created organisation and don't know how you can do it (since you went through the authorisation process already).
To grant an access to an organisation afterwards you should go to the User Setting in GitHub -> Authorized Applications -> choose CLA Assistant and click on the "Request access" button near th

[2016-11-11 11:17] bseddon commented on #176
You are right, I did miss that screen.  I have been confused because the options within the cla-assistant.io site for my two accounts are different (see the last screenshot).  I can see it is better to be able to manage accesses from my account.

Thanks for your help.

[2016-11-11 11:24] bseddon opened #177 "Can I revoke access for a specific organization?"
I have granted access for two organizations to cla-assistant.  I really only want/need one to be granted access.  I can see I am able to revoke the whole cla-assistant application but is it possible to revoke access to just one of the organizations?

In the Authorized Applications screen for cla-assistant there was a button to allow/grant access to a specific organization but there seem to be no e

[2016-11-11 11:28] bseddon commented on #176
I am interest to know why the UI of the 'Create Link' dialog is different for my two accounts (see the last screenshot from me).  As far as I can see the two accounts are configured in the same way.  But maybe not.

[2016-11-11 12:39] KharitonOff commented on #176
the UI in this both cases is different because @bseddon has provided CLA assistant with wider scope (admin:org_hook) already and @xbrlquery-admin hasn't. That means, that @bseddon can link orgs and @xbrlquery-admin cann't. But @xbrlquery-admin as an owner of the org can link single repos in this org.

[2016-11-11 12:45] KharitonOff commented on #177
Yes you can do it 🎉

For that you have to go into settings of your organization...
https://help.github.com/articles/denying-access-to-a-previously-approved-application-for-your-organization/

[2016-11-11 12:45] #177 closed

[2016-11-11 13:42] bseddon commented on #176
Thanks

[2016-11-11 13:42] #176 closed

[2016-11-11 15:08] purplefox opened #178 "Capture email address, address etc"
Hi,

We're looking for something like cla assistant to manage CLAs for our projects.

I took a look and it only seems to captire github username. I'm not sure this is really enough information in order to identify a signer as anyone can just create a github account.

Is there any way of exposing, at the least email address too? It would also be great if the user could input extra fields such as ad

[2016-11-11 15:13] KharitonOff commented on #178
Hi,

can you take a look on the issue #64
You can use "custom fields" for requesting users to enter their e-mail-address and others.

[2016-11-11 15:18] purplefox commented on #178
Thanks. Is there any documentation / guide that explains how to setup these extra fields?

[2016-11-11 15:21] KharitonOff commented on #178
yes, our README.md 😄
check the "Request more information from the CLA signer" section
If something is still unclear feel free to raise your questions here

[2016-11-11 15:43] purplefox commented on #178
Thanks. I have created a gist here:
https://gist.github.com/purplefox/9e9ce33631d631ac3b7af6ff8cc730c1

But I get an error when trying to sign the CLA:

====
There is no CLA to sign for Tesco/mewbase

(Unexpected string in JSON at position 103)
====

Seems like something wrong with the JSON, but not sure what. Any ideas?

[2016-11-11 15:46] KharitonOff commented on #178
yes, there is a comma missing after first "githubKey": "name"

[2016-11-11 16:37] purplefox commented on #178
Thanks I corrected that and now get:

(Unexpected token < in JSON at position 250)

[2016-11-11 17:15] purplefox commented on #178
So.. I replaced the JSON with the exact same one from your README and it works, then I tried removing the "category" field as we don't want it, and get the same error again.

So it seems that a field called "category" is mandatory. Is there any way around this as we don't want to give users this choice?

[2016-11-11 18:39] KharitonOff commented on #178
hmm... it works for me also without category
here is the gist, i forked from yours:
https://gist.github.com/KharitonOff/3cc2554f1b5da6659911022642909ec2

and the linked repo:
https://cla-assistant.io/kharitonoff/cla1

[2016-11-13 05:35] dschaper opened #179 "Just can't get a check to pass"
https://github.com/pi-hole/testRepo/pull/14

Clicking on the CLA link shows that I've signed it, but coming back to the webpage shows no sign. Checked webhooks and all are green. No clue where we are going wrong.

[2016-11-13 08:20] KharitonOff commented on #179
Hi, did @PromoFaux signed the CLA?

[2016-11-13 17:13] dschaper commented on #179
That would be a problem, thanks for the quick reply, PEBCAK...

[2016-11-13 17:13] #179 closed

[2016-11-14 19:39] prashantv opened #180 "Phone number field should not be a input type=number"
It doesn't allow "-" in the phone number, and gives a little "up/down" arrow on the side, which is not very useful for phone numbers.

[2016-11-14 21:55] KharitonOff commented on #180
Yes, you are right.
The CLA form is created by the repository owner, where you opened your pull request. Could you contact him/her, please.

[2016-11-14 21:55] #180 closed

[2016-11-15 08:37] KharitonOff commented on #178
I assume everything is working fine for you now...

[2016-11-15 08:37] #178 closed

[2016-11-15 19:54] purplefox commented on #178
Still can't get it to work without category.... but I can live with that
for now.

On Tue, Nov 15, 2016 at 8:37 AM, Anton <notifications@github.com> wrote:

[2016-11-29 12:50] christoffer opened #181 "Page says I've accepted, badge on Github says I haven't"
I've signed the CLA (using this account which is github.com/christoffer): https://cla-assistant.io/dequelabs/axe-core?pullRequest=256
but on the pull request, the CLA is still unaccepted: https://github.com/dequelabs/axe-core/pull/256

I've tried clearing cookes, incognito mode and revoking + re-authing the CLA application.

Just let me know if there's any more information I can provide that's use

[2016-11-29 12:52] KharitonOff commented on #181
@christoffer-dropbox is the committer of this PR. He/she has to sign the CLA.
So did you sign it in name of the "christoffer-dropbox" ?

[2016-11-29 14:12] christoffer commented on #181
Oh, that's interesting! It's on the committer basis, and not the PR basis! That makes sense, thanks for figuring this out!

[2016-11-29 14:12] #181 closed

[2016-12-02 09:30] iamale opened #182 "Change excluded repositories list"
In case new repositories are added that aren't covered by the CLA etc.

[2016-12-05 09:34] KharitonOff commented on #182
Good point. You are very welcome to contribute to CLA assistant 😄
Otherwise the workaround would be to relink your org every time you want to change exclude pattern.

[2016-12-05 20:46] iamale commented on #182
@KharitonOff I'll look into this, probably this weekend. The app looks quite complex to me, though, and it would be nice if you pointed me where to start :)

[2016-12-06 09:28] KharitonOff commented on #182
Sure, I can support you on this.
The main view of the CLA assistant app is implemented in
/src/client/templates/home.html and corresponding controller is /src/client/controller/home.js
each item of the linked repo / org is handled in
/src/client/templates/settings.html and corresponding controller is /src/client/controller/settings.js

The settings view/controller would probably the best place whe

[2016-12-09 14:37] Infra-Red opened #184 "Sign CLA for entire organization"
Hi!
Is there any way to sign CLA for entire organization with cla-assistant bot?

[2016-12-09 22:22] thojansen commented on #184
Yes, CLA assistant can be either activated/ linked to a repo or an entire org.

[2016-12-09 22:22] #184 closed

[2016-12-09 22:41] Infra-Red commented on #184
@thojansen Sorry, but can you clarify how it can be done? When i exported csv with list of users for repository i observed `Signed for Organisation: FALSE`, which option configure this parameter.

[2016-12-12 08:41] KharitonOff commented on #184
@Infra-Red If you link not only a repo but your organization in CLA assistant then each signature is valid for the whole organization.
If you don't see a list of your orgnizations in the dropdown then you should provide CLA assistant with additional rights first. To do so just click on the "(want to link an org?)" link
<img width="392" alt="bildschirmfoto 2016-12-12 um 09 38 05" src="https://cloud

[2016-12-12 15:31] mmoayyed opened #185 "CLAassistant thinks CLA isn't signed, yet it is"
![image](https://cloud.githubusercontent.com/assets/1205228/21104800/26028190-c045-11e6-9658-70fc81b80fb3.png)

Issue:
https://github.com/apereo/cas/pull/2193

The CLA contributors list shows that DavidRG13 has indeed signed the CLA. What is the reference to "David Rodriguez" ?

[2016-12-12 15:32] mmoayyed commented on #185
cc @DavidRG13

[2016-12-12 15:55] KharitonOff commented on #185
"David Rodriguez" is the name of the committer. Probably @DavidRG13 is "David Rodriguez" but the e-mail address used in this commit was not added to @DavidRG13's profile. That's why GitHub doesn't recognize the committer (this is explained also in CLA assistant's comment and there is a link to GitHub Wiki).

[2016-12-12 15:55] #185 closed

[2016-12-23 11:42] xlttj opened #186 "Problem with signing CLA after changing username/email"
https://github.com/pimcore/pimcore/pull/1145 says I'd have to sign the CLA for pimcore/pimcore.

I've done that before for that repository but **changed username and email address** since then. Now when I try to sign again as requested on https://cla-assistant.io/pimcore/pimcore?pullRequest=1145 it reads „You have signed the CLA for pimcore/pimcore“.

I contacted GitHub support and they said that

[2016-12-23 12:46] KharitonOff commented on #186
That sounds for me like a Problem with session cookies... Could you try to sign out from Github, logout from CLA assistant (https://cla-assistant.io/logout) and call the url again https://cla-assistant.io/pimcore/pimcore?pullRequest=1145. Or call this url from another browser.

If this won't help, I'll be able to look in it next week first 😄 (sorry for that)

[2016-12-23 16:20] xlttj commented on #186
Signing out and back in helped. Thanks!

[2016-12-23 16:20] #186 closed

[2017-01-03 07:31] louiesanyu opened #187 "How long deal with Contributor License Agreement?"

[2017-01-03 12:27] thojansen commented on #187
Can you elaborate a bit more?

[2017-01-06 15:01] jilvin opened #188 "Unable to import csv file containing github usernames of contributers who have already signed the CLA."
Tried in Mozilla Firefox Developer Edition 51.0a2 (2016-10-17) (64-bit).

[2017-01-06 15:04] jilvin commented on #188
Also correct the spelling "contributer" to "contributor" in the front-end of the software.

[2017-01-06 20:06] camlorn opened #189 "I'm getting checks on an unadded repository"
Hi,
https://github.com/libaudioverse/libaudioverse shouldn't be on my CLA assistant account, but I'm getting a check saying that all contributors have signed a test CLA anyway.  What do I need to do about fixing this?

I did try it briefly for experimentation and figured I forgot to turn it off, but I'm not seeing the repository listed and I really need it gone.

[2017-01-06 21:41] KharitonOff commented on #189
hi, it seems that you have transferred your repo... so you can't unlink the repo in CLA assistant now... To stop CLA assistant reacting on new PRs you can delete the webhook in github: go to https://github.com/libaudioverse/libaudioverse -> settings -> webhooks

[2017-01-06 21:41] #189 closed

[2017-01-09 11:31] mropert opened #190 "EU regulations conformance"
Hello,

Could you tell me if cla-assistant is conform to the EU eIDAS regulation on digital signatures?
In particular, I'm interested to know if it meets either the "simple", "advanced" or "qualified" criteria.

Thanks!

[2017-01-09 21:07] thojansen commented on #190
Hi there, good question. We have not done any qualifications/ certifications w.r.t. eIDAS or s.th. similar. As we rely on GitHub as a identity provider, they would also be part of that I guess. Is this a requirement for you? Any further hints/ pointers?

[2017-01-09 21:09] thojansen commented on #188
Does it work for you in another browser?

[2017-01-10 00:37] mropert commented on #190
As a french company, we need the CLA signing process to conform to the french law which is governed by EU eIDAS regulations.
There are 3 levels are guarantee (simple, advanced and qualified) with various requirements.
In the case of CLA I think "simple" (or "low") would be acceptable but it still requires to be able to prove the identity of the signatory and the authenticity of the record.
In our

[2017-01-10 07:42] thojansen commented on #190
This is where we follow the same flow as all other GitHub applications. We use oauth to obtain a user token and that token is used for authentication and the proof for that specific identity. I am wondering if we automatically reach the first stage by implementing server-side oauth. I will reach out to a few colleagues internally and try to get some more information on that topic.

[2017-01-10 12:52] #187 closed

[2017-01-11 00:36] opichon opened #191 "cla assistant is not working"
https://github.com/tecnickcom/TCPDF/pull/49

This PR says that I haven't signed the CLA.
In fact, I have signed the CLA for tecnickcom/TCPDF several times. If I try to sign it again, CLA tells me I have already signed it.

[2017-01-11 15:00] KharitonOff commented on #191
the PR you mentioned says that @meroshan (the committer of the PR) haven't signed the CLA ;)
As soon @meroshan signs it the PR will get green status from CLA assistant

[2017-01-11 15:00] #191 closed

[2017-01-12 19:18] thojansen commented on #190
Ok. Right now we cannot judge the relevance of eIDAS and if it is applicable for CLA assistant. We can answer technical questions on how user authentication and such are performed, but cannot guarantee any conformance with that regulation.

[2017-01-12 19:18] #190 closed

[2017-01-15 01:42] broidy opened #192 "Issue after update github username"
I got an issue after upated my username.
The cla list is empty. Also i tried to connect my new org (name is the old username) but the list of repo/org is empty.

To repro:
- Change the username via https://github.com/settings/admin
- Connect to https://cla-assistant.io/

Thanks for your help.

[2017-01-15 01:56] broidy commented on #192
My bad. Work.

[2017-01-15 01:56] #192 closed

[2017-01-25 11:06] drcsystems2 opened #194 "I have signed agreement many time still it shows it is not signed."
Hello
for my pull request I have signed agreement but still it shows agreement is not signed. My pull request is https://github.com/magento/magento2/pull/8249
please let me know what is issue with it ?

Thanks.

[2017-01-25 12:20] KharitonOff commented on #194
hi,
the committer should sign the CLA. In your case it's @dhavalsolankidrc :)

Regards

[2017-01-25 12:20] #194 closed

[2017-01-25 12:32] dhavalsolankidrc commented on #194
Okay thanks it was my mistake in push. :)
let me try again.

[2017-01-27 02:36] aoberoi commented on #160
if the CSV i am providing for import has the other metadata, is there a way we can support importing that all too?

my use case is i started with a CLA attached to a repo, but then i wanted to link that CLA to the whole owning org. i exported the list from the repo (which includes my metadata) and when i import it to the org i only have github username. i think this would be a common pattern among

[2017-01-27 21:23] aoberoi opened #195 "Import with metadata"
Right now, only the github username is imported from a CSV. That means all data regarding who this person is that beyond what github has is lost (name, email, etc). It would be great to not lose that data.

related: #160

[2017-01-27 21:25] aoberoi opened #196 "Sync signers lists across repos and/or orgs"
Currently, my company has more than one Org on github, yet we have just one CLA. I've synced a CLA to one of the orgs, but if I add it to the others then the lists are not in sync. It would be great to have a way to link bucket together both orgs and repos so that they can all be under the same CLA.

[2017-02-02 03:50] PaulStovell opened #197 "Repository owners being asked to sign CLA"
Is there a way to prevent CLA Assistant asking owners of the repository to sign the CLA?

E.g., I have 10 team members who contribute to the repository. I want CLA Assistant to ask the general public to sign the CLA, but not my team members.

[2017-02-03 07:34] bosstjann opened #198 "Added email to github but still says that it is not signed."
I have a problem that I have accepted CLA with my primary GitHub account.

It says Name SurName seems not to be a GitHub user. You need a GitHub account to be able to sign the CLA. If you have already a GitHub account, please add the email address used for this commit to your account.

I have added my email which was used for commit but nothing changed.

[2017-02-03 09:17] KharitonOff commented on #197
Unfortunately not. The workaround you can do: is to import the github names of your team members  into CLA assistant.

[2017-02-03 16:13] cwoodwar6 commented on #198
I am having this same issue. The commit shows my profile picture now instead of the default image when a commit is not associated, so I know GitHub has associated my account.

[2017-02-03 16:54] thojansen commented on #198
Can you post links to your PRs?

[2017-02-03 16:56] bosstjann commented on #198
https://github.com/eclipsesource/jsonforms/pull/487

[2017-02-03 17:05] cwoodwar6 commented on #198
https://github.com/uber/okbuck/pull/382

[2017-02-06 10:48] #198 closed

[2017-02-15 08:54] torkelo commented on #111
so I did a minor change to the CLA, and now seems to have lost all the previous signatories, how can I get them back, export / import them?

[2017-02-15 08:56] OozmaKappa commented on #111
you can view the list of signers (by clicking on the number, probably "0") and select the previous version of the CLA in the popup

[2017-02-15 08:58] KharitonOff commented on #111
you can view the list of signers (by clicking on the number, probably "0") and select the previous version of the CLA in the popup

[2017-02-15 08:59] torkelo commented on #111
@OozmaKappa thanks!

[2017-03-07 09:03] matz3 opened #200 "Status check not working"
PR: https://github.com/SAP/openui5/pull/1363

CLA has been signed, but the status is still `not signed yet`. Re-check from PR comment and from admin UI didn't work.

Redirect seems to be broken aswell, see https://github.com/SAP/openui5/pull/1363#issuecomment-284247309.

[2017-03-07 09:21] KharitonOff commented on #200
Hi Matthias,

CLA assistant checks the signatures of the committers of the PR, so @sbell-bluefin and not @stu-b-doo should sign the CLA.

[2017-03-07 09:21] #200 closed

[2017-03-07 09:39] stu-b-doo commented on #200
ah, that's my old account. Need to change my git email address. Successfully signed - thanks!

[2017-03-07 09:41] matz3 commented on #200
@KharitonOff thanks! I missed that. Would be helpful to show the username if it differs from the one opening the PR.

[2017-03-07 09:50] sbell-bluefin commented on #200
Also worth pointing out that the first time I tried signing this from the committer's github account - I accessed the PR while logged in as the committer but the assistant's 'sign me in with github' was picking up the other account, which was also logged in in a different tab, same browser session.

Not saying this is something that needs fixing as such, just something to be aware of in case of si

[2017-03-07 14:49] KharitonOff commented on #155
fixed by #199

[2017-03-07 14:49] #155 closed

[2017-03-07 14:49] KharitonOff commented on #149
fixed by #199

[2017-03-07 14:49] #149 closed

[2017-03-08 15:23] david-wire commented on #188
I am also unable to import the csv file on Mozilla Firefox 51 on MacOS (I also tried on Chrome and Opera). The 'Import' button is not clickable. Do I have to unlink the csv file that was previously imported?

[2017-03-08 19:54] kkimdev opened #201 "Ability to remove a user from CLA"
We can arbitrarily add a user by importing CSV feature, but in case it's a mistake, there is no way to undo it.

For example, me and other people accidentally added "Greenkeeper" and other variants while trying to get around https://github.com/greenkeeperio/greenkeeper/issues/236 .

[2017-03-13 02:19] lucumt opened #202 "I have signed CLA but the CLA check still said I haven't check"
Hi
I have made a pull request at https://github.com/spf13/hugo/pull/3170,to merge it,they need me to sign the CLA,but I have check it and the website still said I haven't sign it,I don't know why,can you help me to check it,please?

Thanks in advance!

![21](https://cloud.githubusercontent.com/assets/5226038/23839102/8cf3c782-07d6-11e7-9037-e67d724604f1.png)
![22](https://cloud.githubusercontent.c

[2017-03-13 06:30] lucumt commented on #202
After update my commit infomation,it works fine now!

[2017-03-13 06:30] #202 closed

[2017-03-20 10:03] mickaelandrieu commented on #143
Hello @thojansen isn't already the case? See https://github.com/cla-assistant/cla-assistant/blob/master/src/client/templates/customField.html#L1

Except if I'm wrong, every HTML5 types can be generated by this directive, so "hidden" fields can already be generated.

Mickaël

[2017-03-20 10:09] thojansen commented on #143
@KharitonOff can you check if we can close this and if not provide some points on what is currently missing?

[2017-03-20 10:21] mickaelandrieu commented on #143
@thojansen / @KharitonOff , see https://github.com/cla-assistant/cla-assistant/pull/204

[2017-03-22 09:03] #143 closed

[2017-03-28 17:57] SendGridDX opened #206 "Delay updating GitHub after signing CLA"
When someone signs the CLA, in some cases the PR is updated right away, in other cases there can be a delay for several minutes.

Any guidance on where I should focus my debugging would be appreciated. Thanks!

[2017-03-29 13:36] nilsher opened #207 "I have signed but still in pending"

[2017-03-29 14:38] KharitonOff commented on #207
can you provide more Information? Which repository and which PR do you mean?

[2017-03-29 14:40] nilsher commented on #207
I was able to figure i out myself. Had to redo everything and change the commitname to "nilsher" when i did the commit it was "nils hermansson" which isnt my github username....

[2017-03-29 14:40] #207 closed

[2017-03-29 14:47] KharitonOff commented on #206
@SendGridDX since GitHub API doesn't respond reliably strait after creating a PR, we enforce CLA assistant to wait a minute before trying to update the PR status. You can find this setting in config.js (see server.github.enforceDelay) You can overwrite it by setting env. parameter "GITHUB_DELAY" to any other value
The implementation of this delay is in src/server/webhooks/pull_request.js

[2017-03-29 15:38] #206 closed

[2017-04-04 09:25] KharitonOff commented on #188
In Chrome 57, Firefox 52, Safari 10.1 and IE 11 import feature is working as expected

[2017-04-04 09:25] #188 closed

[2017-04-06 13:33] lipis opened #211 "Suddenly all our cla-assistant related tasks are not completing"
We didn't change anything and it looks like everything is green from the our dashboard. Any clues?

https://github.com/wireapp/wire-webapp/pulls

[2017-04-06 13:35] bennyn commented on #211
**Screenshot of the issue:**

![capture](https://cloud.githubusercontent.com/assets/469989/24757128/90f71698-1ade-11e7-9a43-32b627b34137.PNG)

Problem exists since yesterday.

[2017-04-06 14:44] KharitonOff commented on #211
Sorry for this!
We changed the status context from licenCe/cla to licenSe/cla. This caused problems in repositories which have licenCe/cla as required status on protected branch. If you change your repo settings requiring the "new" status, this should be fixed.

[2017-04-06 14:47] lipis commented on #211
Awesome! Typos are evil.. 👹

[2017-04-06 14:47] #211 closed

[2017-04-07 12:10] AlAnRudenko commented on #161
Thansk!

[2017-04-15 19:26] franciscop opened #212 "Am I an affiliate for using this?"
I have read the CLA and while I am not a lawyer, the main doubt I had was this:

Am I supposed to copy that file in a new gist and change that for my company? Or am I supposed to keep it as-is? In the last case I'd need to be an affiliate of SAP SE, am I an affiliate of SAP SE for using this project?

[2017-04-17 14:05] thojansen commented on #212
You would either create your own or copy and paste and remove SAP with s.th. else. For more context, see https://opensource.guide/legal/

[2017-04-17 14:05] #212 closed

[2017-04-19 02:26] slvnperron opened #213 "CLA Stopped working, error: Unexpected token in JSON"
Hello,

We haven't changed the Gist recently but the CLA Assistant page stopped taking submissions. Here's our page: https://cla-assistant.io/botpress/botpress?pullRequest=136

The gist: https://gist.github.com/slvnperron/78043257a9b5bd8910f6ea779ad58f90

Error:

[2017-04-19 07:37] KharitonOff commented on #213
@slvnperron It looks good to me. Have you already found the problem/solution ?

[2017-04-19 10:48] slvnperron commented on #213
@KharitonOff thanks for the quick reply, we found the issue. Escaping double quotes using `\"` in our gist JSON used to work fine but now it seems like it is not supported. Not sure is escaping is valid JSON though.

[2017-04-19 11:45] KharitonOff commented on #213
Great!
The .md file should support `\"` but the metadata file, which has JSON format and is parsed in javascript, needs two backslashes `\\"`. It's pretty weird :)

[2017-04-19 11:45] #213 closed

[2017-04-20 12:37] huneau opened #214 "cla email invalid"
I've got that
![cla](https://cloud.githubusercontent.com/assets/9199240/25231089/bdde9494-25d6-11e7-8517-830dd1f57eeb.png)

I can't see where I should verify my email.

[2017-04-20 12:46] KharitonOff commented on #214
This message says that there are some commits in your PullRequest which were done with another e-mail address than the one you have assigned to your profile. If you add the e-mail address (the invalid one) to your Profile then GitHub and CLA assistant will recognise you.

[2017-04-20 13:04] KharitonOff commented on #214
oh... moment, it looks like "invalid-email-adress" is a github user, isn't it? Could you provide a link to the PR?

[2017-04-20 13:13] huneau commented on #214
https://github.com/wekan/wekan/pull/1003

I think you right... I forget to set a user.email in my git config -_-'

[2017-04-20 14:45] huneau commented on #214
think, I rework my branch here https://help.github.com/articles/changing-author-info/ and certificate is validate

[2017-04-20 14:45] #214 closed

[2017-04-20 14:48] huneau commented on #214
Maybe a better explicit message, or clicable something :/

[2017-04-20 15:10] KharitonOff commented on #214
normally there is a better message, assuming user has used a valid (but not assigned to his/her github profile) email address for the commit. We haven't had such constellation like yours so far.

[2017-04-20 18:28] pavolloffay opened #215 "Change license"
Hello,

I have signed https://cla-assistant.io/uber/jaeger-client-java with my personal details and now I would like to change it and sign with company details.

[2017-04-21 12:20] KharitonOff commented on #215
@pavolloffay unfortunately it is not possible yet to change the signature.
CLA assistant does "basic" verification of signatures based on github user accounts. So we do not support differentiation between private and corporate CLAs. Some repositories/organisations (like uber) use so called "custom fields" as workaround to collect different data, but there is no functional support on our side to ha

[2017-04-21 12:20] #215 closed

[2017-04-26 08:38] mstrelex opened #217 "CLA appears as not signed"
I added additional email to my account and CLA still appears as not signed:
https://github.com/appium/appium-uiautomator2-driver/pull/70

[2017-04-26 09:05] KharitonOff commented on #217
CLA assistant needs to be triggered again to recheck the PR. This happens:
 - as soon you add a commit to your PR
 - when the repository owner clicks the "Recheck PR" in CLA assistant UI

[2017-04-26 09:33] mstrelex commented on #217
Thanks.

[2017-04-26 09:33] #217 closed

[2017-05-10 19:57] tomdee opened #218 "Getting double notifications on Github"
For example on this issue https://github.com/projectcalico/cni-plugin/pull/328

I'm seeing it with multiple users and none of them have changed their github usernames

[2017-05-10 23:10] sawilde commented on #197
@PaulStovell I just signed it myself for my own open source repo - I am not sure if there was an import functions then - not much details about the format though - I assume the first column is the github username

![image](https://cloud.githubusercontent.com/assets/297165/25925088/abd9aa50-3629-11e7-9926-ee420d8e8b68.png)

[2017-05-11 07:14] KharitonOff commented on #218
Please check the issue #211

[2017-05-12 21:15] tomdee commented on #218
Yes, that's it! Thanks.

[2017-05-12 21:15] #218 closed

[2017-05-22 10:10] limonte opened #220 "URGENT! 404 Not Found: Requested route ('cla-assistant.io') does not exist."
![](https://i.imgur.com/241hBLK.png)

[2017-05-22 11:32] KharitonOff commented on #220
Hi @limonte Sorry for that!
Now it should be working fine again.
Our node version, we have used was outdated :(

[2017-05-22 11:33] #220 closed

[2017-05-22 11:43] greenkeeper[bot] opened #221 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-05-28 00:24] Franck-Dernoncourt opened #223 "Changing the URL of the gist containing the CLA"
Is it possible to change  the URL of the gist containing the CLA (without having to export the  list of users who signed the CLA, unlink the repository, relink the repository with a a new gist URL and import the user list)?

![image](https://cloud.githubusercontent.com/assets/15331/26525096/6c79081c-431a-11e7-94a6-326dcc77b685.png)

[2017-05-29 07:37] KharitonOff commented on #223
unfortunately not. It works only the (long) way you have described.

[2017-05-29 07:37] #223 closed

[2017-05-30 19:41] MichaelTsengLZ opened #224 "The way of generating the redirect url is not working properly on windows server"
I deployed cla-assistant on azure app service. It works pretty well except the redirects.

https://github.com/cla-assistant/cla-assistant/blob/master/src/server/controller/default.js#L23
https://github.com/cla-assistant/cla-assistant/blob/master/src/server/controller/default.js#L35

[2017-05-31 00:43] MichaelTsengLZ opened #225 "How to implement the feature of showing custom field based on other custom fields"
I have a scenario that person can sign a CLA on behave of the employer or himself/herself. Based on the person's choice, I need to collection different information about the user. Is there any convenient way to implement that? Thank you so much.

[2017-05-31 09:09] KharitonOff commented on #225
unfortunately not. We support only the "personal" CLAs. For corporate CLAs there is a workaround with custom fields, but you have no option to show/hide any fields depending on user input.
But we are open for contribution :)

[2017-05-31 09:09] #225 closed

[2017-05-31 09:22] thojansen commented on #224
Can you provide some examples on how this breaks on azure? Also, you are always welcome to create a PR to fix this.

[2017-05-31 09:24] KharitonOff commented on #224
I'm working on it.. The problem is using path.join for url was not a good idea ;P

[2017-05-31 14:26] #224 closed

[2017-05-31 16:04] MichaelTsengLZ commented on #224
Thank you so much. I will send a pull request instead of just pointing that out next time.

[2017-06-01 23:00] MichaelTsengLZ commented on #196
It would be great if cla-assistant has this feature.

[2017-06-02 16:48] MichaelTsengLZ opened #226 "Can we skip CLA when a PR only has some small minor changes, e.g. 1 line change."

[2017-06-02 19:10] MichaelTsengLZ commented on #226
Close it for now. I can work on this later.

[2017-06-02 19:10] #226 closed

[2017-06-05 05:42] vivekrsharma opened #228 ""Status waiting to be reported" never completes"
Already signed CLA for repo https://github.com/yarpc/yarpc-java and yet
I can't merge this PR (https://github.com/yarpc/yarpc-java/pull/323). It is
blocked stating that waiting for the status to be reported.

I've tried unlinking and reimporting the repo under https://cla-assistant.io/ but
it didn't help either.

[2017-06-05 07:05] KharitonOff commented on #228
Sorry for that! Please check the issue #211

[2017-06-05 07:05] #228 closed

[2017-06-05 16:07] VyvojRSnet opened #229 "Unable to sign up CLA"
I´ve already signed CLA at project
https://github.com/TheThingsNetwork/arduino-device-lib/pull/205

But it's 3 days showing that I was not... Why ?

[2017-06-05 16:08] VyvojRSnet opened #230 "Unable to see list of projects where CLA i signed"
There is missing functionality to see list of projects where I've signed CLA when I log in to https://cla-assistant.io/

[2017-06-05 16:28] vivekrsharma commented on #228
No problem. How do I change that from licence/cla => license/cla? Is that going to be under .git directory?

[2017-06-05 16:39] vivekrsharma commented on #228
I got it. For posterity, https://help.github.com/articles/about-required-status-checks/ this needs to be done. Also, this needs administrative access on the branch.

[2017-06-05 19:22] KharitonOff commented on #229
CLA assistant checks committers of the PR, so in your case @IntelliDust have to sign the CLA.

[2017-06-05 19:22] #229 closed

[2017-06-05 22:07] MichaelTsengLZ commented on #197
I have a microservice to tell cla-assistant who need to sign a CLA and who don't need to. For example, we don't need employees to sign CLAs but need vendors to sign. What's the best generic design?

[2017-06-05 22:54] MichaelTsengLZ opened #232 "Enable certain people NOT to sign a CLA"
I extend the problem(https://github.com/cla-assistant/cla-assistant/issues/197) further.

Not everyone needs to sign a CLA in our company. For example, employees don't need to sign while vendors do need. There are two designs to achieve it.

First, develop a microservice which tells the cla-assistant whether the committer needs to sign a CLA or not.

Second, develop a microservice to sign a CLA fo

[2017-06-06 01:04] rjones-lf opened #233 "No obvious way to import repos in an org you didn't select the first time around"
I have an account which owns two orgs. On the first run through, I only selected one org to install the webhook. I would like to install the webhook in another org, but I am unable.

[2017-06-06 07:32] KharitonOff commented on #232
Great idea 👍 Like the first one better too.
I could imagine some kind of "white list" where you can enter login names and emails of users (and bots, this would solve the issue #173 too). Using some kind of regex pattern could be helpful to include larger user groups, like employees of your company.

[2017-06-06 08:08] KharitonOff commented on #233
I think this comment relates to your issue: https://github.com/cla-assistant/cla-assistant/issues/176#issuecomment-259924887

[2017-06-06 14:55] thojansen commented on #197
As mentioned in #232, i think the question is if this is a specific services only relevant for you or if this is something CLA assistant should provide to everyone.

- If this is a simple pattern, I guess we should make this part of CLA assistant itself.
- If you need to hook up your IdP system, maybe we can specify an interface for a "validation/ whitelist endpoint".

Can you share some insights

[2017-06-06 16:27] MichaelTsengLZ commented on #197
Sure. The custom check is based on the user's company email. However, not all employee provide their company email on GitHub.  We have a microservice that already linked Github accounts with employee info(including company email). So I think that specifing an interface for a "validation/whitelist endpoint" is the right way to go.

[2017-06-06 16:36] MichaelTsengLZ commented on #197
Could you give me some guidance on how to specify an interface for a "validation/whitelist endpoint" please?

[2017-06-06 16:36] MichaelTsengLZ commented on #232
@thojansen and I discuss the problem a little bit.(https://github.com/cla-assistant/cla-assistant/issues/197)
Regex pattern cannot solve my problem. Because not all employee provide their company info(e.g company email) on their Github account. And currently, our team have an internal microservice that already linked employee Github account with their company info. So I think that specifying an in

[2017-06-06 20:52] MichaelTsengLZ commented on #232
Close this issue and refer this to https://github.com/cla-assistant/cla-assistant/issues/197

[2017-06-06 20:52] #232 closed

[2017-06-06 20:52] MichaelTsengLZ commented on #197
Discussed the problem with my tech lead. He thought the hookup solution may not be a good solution because cla-assistant may not work properly when IdP system has some problems. What's more, maintain a whitelist is hard in a complicated situation. He prefers to insert CLA record with some specific field into the CLA table.
We are planning to do this:
[code]
Any thought?

[2017-06-07 14:31] thojansen commented on #197
So you are looking into an API to add users to a whitelist? Or maintain it separately?

[2017-06-07 16:21] MichaelTsengLZ commented on #197
A record in the whitelist may simply be a CLA record in CLA collection marked with `type=employee`. I want to add an API endpoint for third party system or use the current /api/cla/sign API to create the record. Is that OK?

[2017-06-07 16:37] MichaelTsengLZ commented on #197
And I want to contribute back to the cla-assistant.

[2017-06-08 14:12] thojansen commented on #197
Sure, that sounds good.

[2017-06-11 23:29] cvogt commented on #130
@KharitonOff Hi, I'd like to re-open this please. Can't see the button though.

So I finally went through this with github support.

The repository I would like to use cla-assistant for does not show up in

https://api.github.com/user/repos?per_page=100&affiliation=owner,organization_member

but it does show in

https://api.github.com/user/repos?per_page=100&affiliation=owner,organization_member&p

[2017-06-12 09:01] KharitonOff commented on #130
@cvogt ok, very strange :(
Could you send me the screenshot of all xdotai/* repos from the list (in CLA assistant), please? I would like to compare the GitHub API response with the output of CLA assistant.
We collect data from all pages (here are the relevant code lines: https://github.com/cla-assistant/cla-assistant/blob/master/src/client/controller/home.js#L130 -> https://github.com/cla-assistan

[2017-06-12 09:15] #233 closed

[2017-06-12 16:00] cvogt commented on #130
I just tried it again, this time logging out first then logging in and now it shows up. Maybe a caching issue somewhere. Should have tried it before. Thank you in any case :). Sorry for the noise.

[2017-06-12 16:00] #130 closed

[2017-06-13 07:32] KharitonOff commented on #130
No problem, glad your problem is solved now 😃

[2017-06-14 16:27] greenkeeper[bot] opened #235 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-06-20 08:45] sschuberth opened #238 "Minor formatting issue in SAP's own CLA"
SAP's [own CLA](https://gist.github.com/CLAassistant/bd1ea8ec8aa0357414e8) has `###SAP Individual Contributor License Agreement` which actually should be `### SAP Individual Contributor License Agreement` (add space after `###`).

[2017-06-20 17:58] thojansen commented on #238
Yes, thanks for reporting. This is due to the recent changes in the markdown format.

[2017-06-21 22:50] tessr opened #239 "Differentiate between employees and external contributors"
We don't currently require employees to sign the CLA, but in order for CLA Assistant to pass they need to "sign" it (or otherwise be added to the list of people who have signed the CLA).

Is there a way to differentiate between employees (whom CLA Assistant can ignore) and people who have actually signed the CLA?

[2017-06-22 08:20] KharitonOff commented on #239
I'm closing this issue as it is related to #197

[2017-06-22 08:20] #239 closed

[2017-07-04 07:55] sschuberth commented on #197
For reference, the discussion in #61 is also related.

[2017-07-10 10:35] sschuberth opened #240 "Allow any org admin to see / export the list of signers"
If CLA assistant was configured for an org, it would be nice if *any* admin of that org would be able to see and export the list of signers from the CLA assistant web interface. Currently, you have to login as exactly that admin of the org who has initially configured CLA assistant for the org.

[2017-07-10 11:19] KharitonOff commented on #240
@sschuberth could you check the issue #158

[2017-07-10 11:27] sschuberth commented on #240
Thanks for pointing that out. Indeed, pretending that I'd like to create a new link (without actually doing that) by clicking on `Create new link` -> `want to link an org?` -> `Yes, let's go for it!` worked to make the linked organization show up.

[2017-07-10 11:27] #240 closed

[2017-07-11 21:53] loewenstein opened #241 "CLA signed but assistant still says not signed"
I have got a PR on my repo https://github.com/SAP/bosh-kubernetes-cpi-release/pull/1

The author has two github users. He committed with one, opened the PR with another. In the cla assistant I only see one of his users. @amitkgupta claims (and sent me a screenshot) that he gets a already signed screen when trying to sign with his second user.

Any idea what could be wrong here?

[2017-07-11 23:03] alunarbeach opened #242 "Already Signed CLA for Uber/Hoodie. Still it complains. But the page is shown as signed."
https://cla-assistant.io/uber/hoodie?pullRequest=220

[2017-07-12 07:32] matz3 commented on #241
It seems that one user is still not signed. See [my comment in the PR](https://github.com/SAP/bosh-kubernetes-cpi-release/pull/1#issuecomment-314680324).

[2017-07-12 07:56] KharitonOff commented on #241
there is no entry with @amitkgupta in the DB. He should Sign out from github and try to sign the CLA. CLA navigates him to the Sign In-page where he should use credentials of @amitkgupta

[2017-07-12 07:56] loewenstein commented on #241
Discussing that with Matthias we might have found the root of the confusion.

I suppose the PR author signed in with the correct user in github, however he was still signed in with his other account with @CLAassistant.

[2017-07-12 07:59] KharitonOff commented on #242
that seems to be solved now... ?

[2017-07-12 07:59] #242 closed

[2017-07-12 11:01] alunarbeach commented on #242
Yes. Thank you.

- Anbu

[2017-07-12 11:44] loewenstein commented on #241
@KharitonOff no matter if the proposed workaround actually works or not, I would consider the status quo a UX issue that should be properly fixed. Could be done by:
1. Showing the current user on CLA sign up page
2. Provide a way to switch user or logout on CLA sign up page

WDYT?

[2017-07-12 12:33] giladgray opened #243 "why so many permissions?"
Why does a CLA assistant need to be able to write to my public repositories?
Any chance of slimming the required permissions?

<img width="515" alt="cla-assistant-permissions" src="https://user-images.githubusercontent.com/464822/28117791-77e7a67e-6717-11e7-9c15-ba770eae6903.png">

[2017-07-12 12:37] KharitonOff commented on #243
CLA assistant needs this permissions to set webhooks and to be able to react on new PRs in your repository.

[2017-07-12 12:59] giladgray commented on #243
ok but if i just want to sign someone else's CLA? not actually use it myself.

[2017-07-12 13:00] giladgray commented on #243
makes sense to need more permissions if i'm going to actually create a CLA, but this is way too much friction for a simple contribution to someone else's project that happens to use this tool.

[2017-07-12 13:02] KharitonOff commented on #243
for that, you needn't sign in to CLA assistant via the landing page. Just navigate to the appropriate CLA (link on the comment in the PR) and click "Sign in with GitHub to agree"

[2017-07-12 13:07] giladgray commented on #243
hmm i did do that the first time but it didn't work on the PR (https://github.com/FezVrasta/popper.js/pull/351 says unsigned CLA). now it takes me to the full sign-in page.

glad to hear it's _supposed_ to work how i expected. not sure what's wrong here though.

[2017-07-12 13:11] KharitonOff commented on #243
ok, if I click on "Contributor Licence Agreement" or on the "CLA not signed"-badge than I land on "https://cla-assistant.io/FezVrasta/popper.js?pullRequest=351" where you can sign the CLA

[2017-07-12 13:20] giladgray commented on #243
yep i did that, and i clicked the button, and then it reloads me to the main page with the permission-full sign in button. i think i've done my part, but the PR still thinks it's unsigned.

[2017-07-12 13:30] KharitonOff commented on #243
oh, ok.... there is something wrong

[2017-07-12 13:38] KharitonOff commented on #243
could you try to access and sign the CLA via https://cla-assistant.io/FezVrasta/popper.js please ?

[2017-07-12 15:32] giladgray commented on #243
🎉 that worked! thanks!

[2017-07-12 15:32] #243 closed

[2017-07-13 01:17] MichaelTsengLZ opened #244 "Questions about the way of handling webhook event"
Since I'm making some changes,  I'm confused by the code which handles webhook event. For me, [cla.check()](https://github.com/cla-assistant/cla-assistant/blob/master/src/server/services/cla.js#L108) is able to handle a webhook event. The function [handleWebhook()](https://github.com/cla-assistant/cla-assistant/blob/master/src/server/webhooks/pull_request.js#L15) first get commits(**but don't use

[2017-07-13 19:02] thojansen commented on #244
@KharitonOff would be the right one to help out here 😃

[2017-07-13 20:42] rjones-lf opened #245 "Export all signers for all projects"
I would like to be able to export all signers to all CLAs for my account in one file with one click. Currently, it is a very click heavy process and error prone.

[2017-07-14 09:20] KharitonOff commented on #244
The main reason of getting commits first and calling cla.check() afterwards is the problem with GitHub API we faced lately: sometimes the PR API (https://developer.github.com/v3/pulls/#list-commits-on-a-pull-request) didn't respond with appropriate data straight after the PR was created, it took a bit of time until the API responded as expected.

So, in order to handle this latency I added this ap

[2017-07-17 23:49] #244 closed

[2017-07-18 00:56] MichaelTsengLZ opened #246 "Sign only once when multiple orgs or repos lined with the same gist"
The same problem as the [issue196](https://github.com/cla-assistant/cla-assistant/issues/196), Microsoft has multiple orgs and thousands of repos, we'd like the contributors to sign the same CLA only once. Are there any reasons why we cannot add this feature?

I'd like to change the code in [cla.sign()](https://github.com/cla-assistant/cla-assistant/blob/master/src/server/api/cla.js#L342) and [cla

[2017-07-18 08:06] KharitonOff commented on #246
@MichaelTsengLZ good point, we had this idea already in mind (see #118) but user feedback wasn't very supportive 😏

[2017-07-19 06:12] MichaelTsengLZ commented on #246
Sounds like those don't support the feature have relatively simple organizations and CLA settings. In Microsoft, we have multiple orgs and each org has it's own CLA. What's more, there are some repos even have different CLA from its org CLA. So contributors may need to sign the same CLA for multiple times.
I'm really interested in the idea of @thojansen which enables the contributors to decide wha

[2017-07-19 07:39] KharitonOff commented on #246
Ok, I think your second proposal could be indeed easily done. We can add a checkbox on the "create new link" view, which decides whether signatures should be on CLA-basis or not (default "not" - means the current implementation works as it is). If it is checked, we use the check function as you've suggested above.

[2017-07-19 13:44] joekrill opened #247 "Can't sign CLA?"
I'm trying to sign the CLA for this PR: https://github.com/FezVrasta/popper.js/pull/356. I follow the [link](https://cla-assistant.io/FezVrasta/popper.js?pullRequest=356) and clicked "Sign in with Github to agree", and ultimately just get redirected to the [CLA assistant homepage](https://cla-assistant.io/) -- no message or anything else indicating success or failure.

I've tried revoking and reau

[2017-07-19 13:47] KharitonOff commented on #247
can you try to sign the CLA via this link (https://cla-assistant.io/FezVrasta/popper.js), please?

[2017-07-19 14:01] joekrill commented on #247
That seemed to do it -- thanks so much @KharitonOff!

[2017-07-19 14:01] #247 closed

[2017-07-19 15:54] giladgray commented on #247
@KharitonOff sounds like #243... perhaps there's really a bug in the software?

[2017-07-19 16:21] MichaelTsengLZ commented on #246
Thank you so much for your guidance. I will send a PR soon it. 👍 👍 👍

[2017-07-21 05:40] MichaelTsengLZ commented on #246
Here is the PR and I also want to discuss the concerns in the PR.
https://github.com/cla-assistant/cla-assistant/pull/250

[2017-07-21 08:06] KharitonOff commented on #247
@giladgray Yes, sure. I have this problem in mind, will take a look on it as soon I have some time for it.
I suppose there is an issue because of "." in the repo name 😕

[2017-07-25 06:36] MichaelTsengLZ opened #251 "Enable link repo with a different CLA from its org CLA if exists"
As I mentioned earlier in issue #246, Microsoft has a more complex CLA configuration. One scenario is that we may need to override the org CLA with a different CLA. We are planning for the following changes.

1. We'd like to change the code that tries to get org CLA first and if not exists then get repo CLA. We will flip the order.
2. Since we allow overridden CLAs, we will delete the repo webhook

[2017-07-25 07:04] MichaelTsengLZ opened #252 "Add endpoints for third-party system to create CLA signature records for employees"
As discussed in the issue #197, we'd like to add endpoints for other micro systems to create CLA signature records for a large group of employees. And delete the record when an employee leaves the company.

[2017-08-11 07:53] adrianbrink opened #253 "Can't access one of my organisations and can't reauthorise"
I just joined another organisation and had to request access. That access was granted but the repos still don't show up. Also the link to reauthorise CLA-bot disappeared.

[2017-08-11 09:05] KharitonOff commented on #253
I think your issue is related to #130 or #176

[2017-08-14 14:07] FezVrasta commented on #247
Any news on this? My users are still having this problem.

[2017-08-16 12:58] axelfontaine opened #255 "Heading are rendered with link glyph permanently visible when using .md file"
.md File:

[code]

Rendering:

![image](https://user-images.githubusercontent.com/684824/29364332-57d4c83e-8293-11e7-9362-a0ba259fca07.png)

[2017-08-18 07:01] c0ze commented on #77
Hello there,

We have a similar issue at iron

https://github.com/iron-io/functions/pull/637

what could be the cause ?

[2017-08-21 07:23] c0ze opened #256 "CLA status reporting not working"
first this https://github.com/iron-io/functions/pull/637
then this https://github.com/iron-io/functions/pull/640
looks similar to #77

[2017-08-22 10:32] c0ze commented on #256
@KharitonOff can you please have a look into this ?

[2017-08-24 10:33] LexManos commented on #256
Seems to be happening to me as well. Last PR CLA-Assistant was active on was 7 days ago [here](https://github.com/MinecraftForge/MinecraftForge/pull/4312#issuecomment-323029342). Worth noting that that was just a comment, and that PR doesn't have a CLA check.
After that we've had a few PRs with no word from the bot. And clicking the 'Recheck PRs' button in the settings panel does nothing...
Curren

[2017-08-24 13:19] KharitonOff commented on #256
@c0ze Sorry for that and for the late response. I'm currently on vacation, that's why I could not react in time and I still have limited access to analyse the problem.
If your problem is related to the issue #77 (wrong access token), then you can just log in to cla-assistant.io and a new token will be stored for your repos.
If there are some problems with the webhook on github, you can either chec

[2017-09-01 13:30] #253 closed

[2017-09-03 22:00] LexManos commented on #256
Hate to bump this, but I have no idea how long you're on vacation. But it's been 10 days. Any update on this?

[2017-09-04 01:40] c0ze commented on #256
My problem has been solved after deleting the link and recreating again.
It seems my problem was about the #211 .
(Make sure to export your contributions before deleting your link if you're going about this route.)

[2017-09-04 07:59] KharitonOff commented on #256
@LexManos CLA assistant has indeed wrong/outdated token stored for your repository. I've changed the token-update mechanism. The workaround from @c0ze would solve the issue in your case, but I hope you haven't tried it yet :) If not, it would be very helpful if you would logout and login into CLA assistant and trigger the "Recheck PRs" button.

[2017-09-04 08:01] KharitonOff commented on #256
@c0ze glad to hear, that your problem is solved now! 👍  Sorry for the inconvenience!

[2017-09-06 01:37] LexManos commented on #256
@KharitonOff Thanks for taking a look, I was out of town for PAX this weekend and didn't have time to check in on this.
However, Relogging and hitting recheck seems to of worked. I did not try the workaround. So that's good.
Just a suggestion it would be cool to see some form of progress/feedback for the recheck button. As right now it just clicks and freezes the page for a second. But seems to of

[2017-09-06 07:53] KharitonOff commented on #247
@FezVrasta now it should work again. Could you let me know, please if it doesn't?

[2017-09-06 12:41] KharitonOff commented on #251
@MichaelTsengLZ I found one minor issue:
<img width="632" alt="screen shot 2017-09-06 at 14 35 25" src="https://user-images.githubusercontent.com/8480657/30112299-24b32aca-9311-11e7-97e6-bbf9371c8f3c.png">
this happens if I "relink" the repo/org to use the same gist as shared one and the user signs the shared gist for another repo.

[2017-09-06 15:46] MichaelTsengLZ commented on #251
Do you expect to filter out the same contributors and just show the latest signature?

[2017-09-06 16:04] jeffmcaffer commented on #251
@KharitonOff is this when the user first signed CLA when the gist was NOT shared and then, after relinking as shared, signed again?

[2017-09-07 08:50] KharitonOff commented on #251
@jeffmcaffer exactly.
@MichaelTsengLZ yes, I would prefer to see only the last signature, then it wouldn't show my user as "2 contributers"

[2017-09-07 13:05] FezVrasta commented on #247
it seems to work now, thanks!

[2017-09-07 13:07] KharitonOff commented on #247
Great! Thank you!

[2017-09-07 16:08] MichaelTsengLZ commented on #251
@KharitonOff All right, I will send a pull request today.

[2017-09-08 08:31] #112 closed

[2017-09-22 06:34] luluhongxu opened #258 "Alibaba Individual Contributor License Agreement"
Alibaba Individual Contributor License Agreement

[2017-09-25 09:38] kusma opened #259 "garbage prepended to all headings"
Things like `{:"aria-hidden"=>"true", :class=>"octicon octicon-link"}` gets prepended to all headings in the CLA for our project. This seems to be after a recent change.

This is what it looks like:
![image](https://user-images.githubusercontent.com/47073/30802184-f5f25bb4-a1e5-11e7-878a-c892103bdf94.png)

[Here's an affected link](https://cla-assistant.io/fusetools/fuselibs-public?pullRequest=488

[2017-09-25 11:46] KharitonOff commented on #259
@kusma which browser do you use?
I see your CLA (in Chrome, Firefox and Safari) as follows:
<img width="717" alt="screen shot 2017-09-25 at 13 42 30" src="https://user-images.githubusercontent.com/8480657/30806832-97c3ea96-a1f7-11e7-8b76-3ed88053b1a8.png">

Still, don't like the added anchor links, but it is an old issue. I'll try to find a quick fix for the link icons.
Sorry, but I could not repr

[2017-09-25 11:53] #255 closed

[2017-09-25 11:53] #258 closed

[2017-09-25 11:53] #256 closed

[2017-09-25 12:43] kusma commented on #259
@KharitonOff: I experienced this using Chrome. However, it seems the problem has been resolved now. Perhaps it was something in github's end?

[2017-09-25 12:43] #259 closed

[2017-09-29 16:49] nerdlem opened #260 "Inconsistent signed status"
I'm being told by cla-assistant that I've not signed the CLA, but when I click on the "Details" link, the page tells me I've already signed it.

Example: https://cla-assistant.io/spf13/cobra?pullRequest=531

Am I doing something wrong?

Thanks

[2017-10-01 21:54] arproio opened #261 "I have signed a CLA but it's always in pending status"
https://github.com/iliakan/javascript-tutorial-cn/pull/15

I have signed CLA for this project but it's always in pending status after several "recheck". could you please kindly take a look at this?

account: arproio

[2017-10-02 07:36] KharitonOff commented on #261
Did @deshengxu also sign the cla? He/she as a committer should sign it.

[2017-10-02 07:36] #261 closed

[2017-10-02 07:39] KharitonOff commented on #260
HI @nerdlem, @uniregistry should sign this CLA, because @uniregistry made commits in this PR

[2017-10-05 08:57] lipis opened #263 "How can I add another admin to the linked organization?"
We are both owners of an organization but when he signing in into the `cla-assistant.io` there is nothing on his side.. so the question is how two people can admin the same organization?

[2017-10-05 09:12] KharitonOff commented on #263
@lipis nice to see you here again ;)
your colleague should click the "Link" button first and then under point 2 select "want to link an org?" and provide additional auth-rights to CLA assistant

<img width="327" alt="screen shot 2017-10-05 at 11 06 09" src="https://user-images.githubusercontent.com/8480657/31219388-62f41430-a9bd-11e7-8869-d5ce661559cf.png">

If he has already done this and still c

[2017-10-05 09:22] lipis commented on #263
Awesome! Thanks @KharitonOff.. nice to see that this project is still alive and kicking :)

[2017-10-05 09:22] #263 closed

[2017-10-12 14:50] SpadarShut opened #264 "Sign in with github to agree just reloads page"
For this PR https://cla-assistant.io/FezVrasta/popper.js?pullRequest=454 I click `Sign in with github to agree` but it just reloads page. First time it showed github authorization, I allowed, but still I can't et this page to show I agreed.

[2017-10-15 18:36] fbalicchia opened #265 "signed CLA but assistant still says not signed."
Hi,
I've signed CLA but assistant still says not signed.
[Cla signed](https://www.dropbox.com/s/98mr4tmlnqtfwaq/Clasigned.png?dl=0
)
My userid is fbalicchia@gmail.com and it the only git account present.
I've checked email settings section in my account and it is configure corretly.
Pull request that Assistant need to approve is
https://github.com/Graylog2/graylog2-server/pull/4247.
Have you any s

[2017-10-15 20:51] joschi commented on #265
@fbalicchia As far as I see the problem is that the email address which committed the changes (`filippo<DOT>balicchia<AT>openmindonline<DOT>it`) isn't registered in your GitHub account as a secondary email address.

Also see https://help.github.com/articles/why-are-my-commits-linked-to-the-wrong-user/#commits-are-not-linked-to-any-user

[2017-10-16 08:02] KharitonOff commented on #265
Thanks @joschi

[2017-10-16 08:02] #265 closed

[2017-10-18 08:17] KharitonOff commented on #264
Sorry for this! Unfortunately I could not reproduce this issue or find the bug till now... We experience it only with this repository.
I'll work on this issue so far I have enough time again.

[2017-10-22 18:00] chasehainsworth opened #266 "Commit blamed to generic email"
After setting up Git on a new machine, I forgot to set my actual email to user.email. I made a commit, and it was blamed to: name@computername.local. Now, I am unable to [sign the CLA](https://github.com/sendgrid/docs/pull/3159) in a PR, since some of my commits aren't blamed to my actual email.

Adding the generic email to my account hasn't fixed it.

[2017-10-23 13:38] KharitonOff commented on #266
it looks like you solved this issue on your own, should we close it?

[2017-10-23 19:20] #266 closed

[2017-10-25 17:22] walmartlabs-cla-admin commented on #196
We are already at 4 orgs at least with hundreds of repositories. This feature would certainly help a lot.

[2017-10-25 17:24] mosabua opened #267 "Export CSV only shows invalid characters"
We are using a metadata setup and I would like to be able to export the list now and then for our own records. However it seems that only invalid data (character encoding shows up). Is this feature supposed to work?

[2017-10-25 19:40] MichaelTsengLZ commented on #196
We are Open Source Program Office at Microsoft. We've already made [contribution]( https://github.com/cla-assistant/cla-assistant/pull/250) back to the CLA-Assistant to support the scenario. Thank CLA-Assistant team again to have this awesome project. 👍 👍 👍

[2017-10-26 07:35] KharitonOff commented on #267
@mosabua, yes it is. It works for me as expected. Could you provide more information, please? For which repo and gist are you trying to export signatures? Can you send me also an example of invalid data you get, please.

[2017-10-26 07:52] #260 closed

[2017-10-26 17:45] mosabua commented on #267
Anton, can I email you that info please? You can contact me via the email in my profile. https://github.com/mosabua

[2017-10-26 22:48] walmartlabs-cla-admin commented on #267
Thanks for reaching out. Turns out that the file is not comma but semicolon separated. In addition I found that the encoding was just picked up wrongly by my csv import tools (LibreOffice) and when playing around with different encodings it ended working just fine with ISO8859.

[2017-10-26 22:49] mosabua commented on #267
Thanks for reaching out. Turns out that the file is not comma but semicolon separated. In addition I found that the encoding was just picked up wrongly by my csv import tool (LibreOffice) and when playing around with different encodings it ended working just fine with ISO8859.

[2017-10-26 22:49] #267 closed

[2017-10-27 13:53] tapdancemobile commented on #264
bump on this for me. I have tried it on two separate computers and two browsers...

[2017-10-27 14:00] splix commented on #264
more context to @tapdancemobile issue:

- PR is here https://github.com/ethereumproject/emerald-mobile-wallet/pull/1
- there were same repo with that name, and @tapdancemobile already signed CLA for previous repo

[2017-10-27 15:24] KharitonOff commented on #264
@tapdancemobile  @splix thanks, for reporting this. I think I can solve your problem by the end of the next week. Sorry for long delay. I hope it's ok for you.

[2017-10-27 15:52] splix commented on #264
@KharitonOff sure, take your time. let us know if you'll need more information. thank you