[2021-06-11 01:11] liuarui commented on #696
THX, I will try

[2021-06-15 00:35] MikyungKim opened #697 "CLA Assistant Status is not updated"
URL to the linked Repo/Org: https://github.com/enactjs/agate

Steps to reproduce the problem:

1. Make a branch
2. Create a commit and push
3. Make a PR (ex. https://github.com/enactjs/agate/pull/602)

What is the expected result? CLA Assistant status should be passed.

What happens instead? CLA Assistant status is not updated and it blocks the merge.

~Other members don't have this issue. I'm won

[2021-06-15 07:01] liuarui commented on #696
cla.js.foundation server error , done

[2021-06-15 07:01] #696 closed

[2021-06-23 17:58] michael-spengler commented on #606
@ibakshay: What would be the GitHub Action based (https://github.com/cla-assistant/github-action/blob/master/README.md) way to deal with such things or are those challenges not relevant at all there?

I see a rapidly growing number of people are using rather the "lightweight CLA handling" (https://github.com/cla-assistant/github-action/blob/master/README.md) and I wonder if it is a good idea to ad

[2021-06-26 17:21] #606 closed

[2021-06-28 16:14] KharitonOff commented on #697
Thanks for your patience @MikyungKim . @ryanjduffy has linked your organisation with CLA assistant. Can you confirm that he still has admin rights on your repository? It looks to me like CLA assistant can not set the status due to outdated/invalid token.

[2021-06-29 18:19] ryanjduffy commented on #697
I was re-added to the org and was able to download the contributors and unlink CLA assistant so @MikyungKim + the team should be able to set up CLA assistant again and import the existing contributors if they choose to.

[2021-06-30 01:23] MikyungKim commented on #697
Thank you @ryanjduffy and @KharitonOff!
We will follow up soon. I'm closing this issue.

[2021-06-30 01:23] #697 closed

[2021-07-06 22:22] Lil-Moon opened #700 "i did sign the CLA and stil lstatus pending"
URL to the linked Repo/Org:

Steps to reproduce the problem:

1.
2.
3.

What is the expected result?

What happens instead?

[2021-07-07 13:52] mrpalide commented on #680
I have same problem.
I get `Service Unavailable` error.

[2021-07-09 09:20] johanfol opened #701 "Request to sign CLA from new computer - never succeeds"
https://github.com/mojaloop/fraud_risk_management

Steps to reproduce the problem:
1. Sign the CLA
2. Commit and merge code a few times
3. Use a new computer
4. Requested to sign the CLA again - but it doesn't pick up:
![image](https://user-images.githubusercontent.com/36838637/125054691-c6d56980-e0a6-11eb-945c-875daed50ac2.png)

What is the expected result?
1. Not sure why I am requested to sign

[2021-07-09 09:26] johanfol commented on #700
Hey @Lil-Moon - do you have the same symptoms as per this issue?
https://github.com/cla-assistant/cla-assistant/issues/701

Have you signed a CLA before, or is it your first time signing?

[2021-07-09 09:30] johanfol commented on #700
Furthermore, if either of these is the PR you're referring to, both of them is picking up that it is signed now...
https://github.com/openmultiplayer/web/pull/357
https://github.com/openmultiplayer/web/pull/356

[2021-07-09 09:36] elnyry-sam-k commented on #701
@johanfol - any chance your other machine is using a different GitHub ID (or isn't configured to use one)?

[2021-07-09 09:41] johanfol commented on #701
Same GitHub ID - if you click on my UserID you should see all my previous PR's to the same repository, with this GitHub ID.

[2021-07-19 15:23] KharitonOff commented on #680
Can you provide a specific link, which doesn't work for you, please?

[2021-07-19 15:31] KharitonOff commented on #701
In the related PR @Messulethe92 is the sole committer of the PR, so this user needs to sign the CLA, not the author of the PR.

[2021-07-19 20:20] celanthe commented on #680
Update: We have resolved this issue for now. I will close this issue!

[2021-07-19 20:20] #680 closed

[2021-07-20 02:45] aldringames opened #703 "Issue Resolved"
URL to the linked Repo/Org:

Steps to reproduce the problem:

1. Valet can use iOS
2. Fish Rod contains forms
3. Kpopian Theme at stable

What is the expected result?

What happens instead?

[2021-07-20 06:45] johanfol commented on #701
Thanks, that was the problem.

[2021-07-20 06:45] #701 closed

[2021-07-26 17:47] Gunni opened #730 "Don't want to provide email to you or app"
URL to the linked Repo/Org: Not relevant

Steps to reproduce the problem:
1. Open any CLA
2. Click sign
3. Observe you need to provide all github emails to the app/whoever receives the notification that I signed

What is the expected result?
I do not want to provide the emails.

What happens instead?
It demands email for no reason.

Just link my account ID and be done with it.

[2021-08-02 16:37] caupolicandiaz commented on #661
I'm having a similar issue with a PR. Like the user in the existing the thread above I get acknowledgment that the CLA has been signed but the comment does not update and continues to indicate that it has not been signed. Unlike the example above there is only one comment regarding the CLA.

[2021-08-02 16:49] Shegox commented on #661
@caupolicandiaz can you please link the PR and I can check the logs?

[2021-08-02 17:42] caupolicandiaz commented on #661
[https://github.com/Codecademy/docs/pull/133](url)

[2021-08-02 20:00] Shegox commented on #661
@caupolicandiaz the problem with your pull request is/was that the commits weren't associated with your GitHub account.
When we look into the commits (https://github.com/Codecademy/docs/commit/6123b4a82f520d75acabd2e5b8059c6bd510ea01.patch) we can see that they were authored by `Caupolican Diaz <caupolicandiaz@Caupolicans-MacBook-Pro.local>`, which is probably not the email associated with your Gi

[2021-08-06 08:16] shjNT opened #733 "CLA"
URL to the linked Repo/Org:

Steps to reproduce the problem:

1.
2.
3.

What is the expected result?

What happens instead?

[2021-08-06 08:16] #733 closed

[2021-08-11 06:53] Shegox opened #735 "Project Restructure and handover to the SAP Open Source Program Office"
This is a general information issue for whoever it might concerns.

The TL;DR is that the project ownership of CLA-assistants transitions SAP internally from our developer tooling team to the Open Source Program Office. The general functionality will keep running, but we will do a bit project/repository/organization cleanup.

Something which will happen are following:
- [x] Removing all contributo

[2021-08-11 07:14] Shegox commented on #703
Hi there,
it looks like this issue is not related to CLA-assistant. I'm going ahead and closing it.
Please feel free to open a new issue with further information, if you think we can help you.

[2021-08-11 07:14] #703 closed

[2021-08-11 07:17] Shegox commented on #700
Hi @Lil-Moon,

I'm going ahead and close the issue. If you still experience issues, please feel free to open a new issue and include the link to the affected Pull-Request and we can dig into that.

[2021-08-11 07:17] #700 closed

[2021-08-11 07:19] Shegox commented on #694
Hi @liggitt,

thanks a lot for pointing that out.
We will in an iteration remove the whole kubernetes part of the project. So far as well only some staging services where running it. I'm going ahead and close this and again thanks for pointing this out.

[2021-08-11 07:19] #694 closed

[2021-08-11 07:26] Shegox commented on #687
CLA-assistant offers as well a container image (Dockerfile) and with this and a serverless storage backend (like mlab) you can run a quite easy self-hosted setup.
cla-assistant.io for example runs on Google Cloud Platform Cloud Run (their serverless container runtime) in combination with a hosted mongodb from mlab.
In my opinion vercel and other platforms are too opinionated for cla-assistant and

[2021-08-11 07:26] #687 closed

[2021-08-11 07:27] Shegox commented on #679
Closing this issue for now, as the problem seems to be addressed.
@aak7912, if you have further issues please open a new issue.

[2021-08-11 07:27] #679 closed

[2021-08-11 07:31] Shegox commented on #669
@mtreinish can you please let us know if this indeed was the problem or if you figured out what the problem was? Many thanks in advance.

[2021-08-11 07:33] Shegox commented on #668
Hi @mallikarjuna54,

seems like the problem was resolved. I'm going a head and close this issue. If you have further questions/issues please feel free to open a new issue. Many thanks.

[2021-08-11 07:33] #668 closed

[2021-08-11 07:34] Shegox commented on #667
Hi @atielking, I'm going a head and close this Issue. If your issue still persists please open a new Issue with a link to the affected pull request. Thanks.

[2021-08-11 07:34] #667 closed

[2021-08-11 07:37] Shegox commented on #661
Hi  @caupolicandiaz,

I'm going ahead and close this issue for now. If you have open questions, please feel free to let us know through a new issue.

[2021-08-11 07:37] #661 closed

[2021-08-11 07:46] Shegox commented on #279
Currently there exists a "Recheck PR" button from within the CLA-assistant, which triggers a recheck on all PRs to an associated repostiory/organization:
![image](https://user-images.githubusercontent.com/16856448/128989689-ab541ebb-92e8-4813-8903-0ba2161fcd88.png)

Additionally you can force a manual recheck via manually navigating to following URL:
[code]

I think this should cover this quite go

[2021-08-11 07:46] #279 closed

[2021-08-11 07:49] Shegox commented on #527
Hi @KharitonOff, hi @JusteenR,

just wanted to ask back if you were able to solve the issue and if you could summarize the solution here shortly please?
Otherwise I would go ahead and close this issue in the next two weeks.

[2021-08-11 07:55] Shegox commented on #569
### Summary for someone looking into this

The problem is that by default a user only sees repository based CLA-setups and first requires (through a bit hidden button) give CLA-assistant permission to access organization resources. Only then the user is able to see the organization wide CLA-setups and this is quite confusing if you as an organization owner log in and don't see it.

I think we coul

[2021-08-11 19:06] Shegox commented on #735
@jsoref thanks for pointing that out :)

And everyone is still more than welcome to help out with issues or answering questions 👍

[2021-08-11 20:45] MichaelTsengLZ commented on #735
Thanks for the notice.

From: Tobias ***@***.***>
Date: Wednesday, August 11, 2021 at 12:06 AM
To: cla-assistant/cla-assistant ***@***.***>
Cc: Michael Zeng (OSE) ***@***.***>, Mention ***@***.***>
Subject: [cla-assistant/cla-assistant] Project Restructure and handover to the SAP Open Source Programm Office (#735)

This is a general information issue for whoever it might concerns.

The TL;DR is th

[2021-08-12 10:40] Shegox commented on #380
#688 added an option to revoke a CLA (meaning that CLA-assistant no longer flags the CLA as signed but keeps it for historic purposes around).

As of now the change is not yet live on https://cla-assistant.io, but I hope to get it there in the next two weeks.

[2021-08-12 10:42] KharitonOff commented on #730
Generally CLA assistant doesn't request user email in order to collect the agreement. As you expect account ID is sufficient. Nevertheless we give other companies and projects, that are using our service, an option to collect further user information in accordance to their need/legal regulations, which might include your email address. Since you haven't provided a link to the corresponding PR we c

[2021-08-12 11:37] Gunni commented on #730
What you find when you happen to scrape the internet is _different_ than what a user provides to you directly, providing it directly is sometimes interpreted as a consent to getting spammed. Not saying that you do that but i try to avoid it where possible.

What I dislike the most is that the auth page says it's gonna send all emails on my account, that may include emails i do not want to share.

[2021-08-27 08:15] Shegox opened #740 "[27.08.2021] Database migration & short service interuption"
Update: Database migration finished successfully.

---

Later today we will migrate the productive database of cla-assistant.io to a different host (Azure cosmosDB). This will result in a short period (<15min) where changes are not possible.

I expect cla-assitant.io to still report the status correctly of already signed CLAs.

Signing of CLAs and configuration of CLA-assistant won't work for this

[2021-08-30 08:58] raminda2 opened #742 "cla assistant"
## URL to the linked Repository or Organization

https://github.com/
## Steps to reproduce the problem

1.
2.
3.

## What is the expected result?

## What happens instead?

## Any other information? (attach screenshot if possible)

## Used browser and browser version?

## Any other tested browsers/devices(OK/FAIL):

[2021-08-30 09:00] Shegox commented on #742
@raminda2 can you please update the issue with information about the problem you're experiencing?

[2021-08-30 11:08] #527 closed

[2021-08-30 14:56] KharitonOff commented on #730
Oh, now I see from your PR that you are talking about the scope of the app token... Yes, we request access to the (minimal possible) user information in order to be able to identify the signee as committer.

![Screen Shot 2021-08-30 at 16 52 53](https://user-images.githubusercontent.com/8480657/131358901-c99521f8-02eb-409b-8d50-553cea57ce95.png)

Off course it is your right to reject it and not to

[2021-08-30 15:02] #742 closed

[2021-08-30 15:08] #567 closed

[2021-08-30 17:49] Gunni commented on #730
Providing you with the email address on the commit is NO PROBLEM.

Providing you with ALL EMAILS ON MY ACCOUNT is the problem.

[2021-08-31 08:34] KharitonOff commented on #730
@Gunni yes, I understand your point and it is absolutely valid! I personally try to avoid sharing my email addresses as well...
Unfortunately we can't do much here. We rely on the token authentication solution from GitHub and there we request from signees the least amount of access to their profile. Here you can see what kind of information an application can request https://docs.github.com/en/dev

[2021-08-31 08:44] Gunni commented on #730
Yeah why not use

And then authenticate that user? Or if you really want to use email, prompt for an email address?

[2021-09-01 09:59] KharitonOff commented on #730
Thanks for your proposal. The team will for sure think about it and see whether it is feasible to reduce the scope to (no scope).

[2021-09-01 19:12] TJM opened #745 "Trying to sign, but there is no agreement and no submit"
https://cla-assistant.io/puppetlabs/go-pe-client?pullRequest=61

<img width="1152" alt="Screen Shot 2021-09-01 at 1 18 16 PM" src="https://user-images.githubusercontent.com/1641316/131730838-dc698a6a-915d-4221-9a95-df0351b6ab1b.png">

[2021-09-01 19:24] Shegox commented on #745
@TJM for me it works (although it takes a second to load the tex).

Can you try opening the browser developer tools and look under "network" if there are any errors?

Also can you potentially try a different browser/incognito tab to see if that might be a browser side issue?

[2021-09-01 20:08] TJM commented on #745
Cool, glad it was able to be reproduced. :)

[2021-09-01 20:11] TJM commented on #745
I left it alone, and it eventually shows an error apparently...
<img width="400" alt="Screen Shot 2021-09-01 at 2 11 05 PM" src="https://user-images.githubusercontent.com/1641316/131737829-d9ad3ea0-5729-4a24-816b-8edbb7c82cb0.png">

[2021-09-01 20:11] Shegox commented on #745
[code]

From the request logs it seems that we got quite a bit of requests just now. I assume that in 20min or so when the rate limit resets everything works well again.

This is a bigger underlaying problem that some of the rate limits can be exhausted by other and  I hope in the next weeks to build something which will completely solve the root issue for that.

[2021-09-02 13:21] larshp opened #750 "cla status not reported on PR rebase/merge commit?"
## URL to the linked Repository or Organization
https://github.com/SAP/abap-file-formats

## Steps to reproduce the problem

1. Create a PR
2. push changes to main branch
3. rebase/merge branch into the PR

Example, https://github.com/SAP/abap-file-formats/pull/206, no status is reported for commit `3cb84acafdacc4468d67c6c034d7cb3398cbff5c`
![image](https://user-images.githubusercontent.com/588850

[2021-09-02 13:26] Shegox commented on #750
Thanks for the report @larshp.

We have some problems with running into rate limits, causing the status not to be reported.
Either manually triggering the check via (I just did that):
https://cla-assistant.io/check/SAP/abap-file-formats?pullRequest=206
https://cla-assistant.io/check/SAP/abap-file-formats?pullRequest=211

or pushing a dummy commit should fix this quickly.

In the long term we have

[2021-09-02 13:29] larshp commented on #750
thanks, yea, I did push a dummy commit to https://github.com/SAP/abap-file-formats/pull/211

status for a merge commit was reported in https://github.com/SAP/abap-file-formats/pull/209, so I guess it was just random that the other merged failed 😁

thanks for the fast feedback, I'll close the issue

[2021-09-02 13:29] #750 closed

[2021-09-06 07:38] Shegox commented on #740
Cleanup the old database and this concludes the migration activity

[2021-09-06 07:38] #740 closed

[2021-09-06 11:45] Shegox commented on #503
@aeneasr just to check back again as we're currently looking for issues to look into. Does this still occur?
I spot checked a few PRs in your organization and it seems to be working correctly now?

[2021-09-06 11:52] aeneasr commented on #503
Yes, this did not happen any more! However, sometimes the CLA bot does not leave a comment on PRs!

[2021-09-06 11:59] Shegox commented on #503
Great to hear. Thanks for the update.

Yeah, that is a different problem due to GitHub rate limits. I hope that with a long-term transition to GitHub Apps (#430) we can finally fix that for good. In the mean time if it occurs you can try this: https://github.com/cla-assistant/cla-assistant/blob/master/COMMON_ISSUES.md#cla-assistant-status-or-comment-not-updated

[2021-09-06 12:28] Shegox commented on #730
While the current logic doesn't allow to request the scope after the fact, you can manually do that.
On the OAuth-authorization screen you can just remove the `&scope=user%3Aemail` from the url and hit enter. Now only public scopes are required and we don't see your emails.

A more proper implementation (maybe later) would construct the OAuth URL based on what the CLA requires. If they require the

[2021-09-06 12:40] Gunni commented on #730
That was very helpful, thank you. Got the CLA signed. That solves my problem.

[2021-09-06 13:52] aeneasr commented on #503
Awesome, thank you for the tip! Closing this then as it seems resolved :)

[2021-09-06 13:52] #503 closed

[2021-09-10 05:57] james-callahan opened #760 "Signing in with github "signs" the CLA"
Clicking the "sign in with github button" "signed" the CLA.
--> after signing in with github, I am presented with e.g.:

I however, have not agreed to it.

[2021-09-10 07:24] Shegox commented on #760
Hi @james-callahan,

yes thats how it is currently implemented. Clicking the "Sign-in with GitHub to agree" does the OAuth handcheck with GitHub and after that is done is treated as "signed". I can see that the wording might be a bit irritating.

Non the less, if you signed by accident, you can go to https://cla-assistant.io/ -> Login with GitHub -> "View my signed CLAs" to revoke it again.

[2021-09-10 10:34] #735 closed

[2021-09-13 02:59] james-callahan commented on #760
I can't agree to the permissions logging in there requires (read/write access to gists; read and write access to repository webhooks and services)

[2021-09-13 06:18] Shegox commented on #760
okay, although be assured that the access is only used if you do something in cla-assistant (mainly configuring a CLA for your own project).
Non the less, what you can try:
1. Go to https://cla-assistant/grafana/agent (thats the CLA you signed) and click again on the "Sign in to agree". (You have anyway signed it already so it will only sign you in)
2. Now you should be able to navigate to https:/

[2021-09-13 09:01] Mint-6263 opened #766 "Goog"
:blush:

[2021-09-13 09:06] Shegox commented on #766
Hi there,
it looks like you opened this issue by accident and I'm going to close it.
If you encounter an issue, please make sure to fill out the issue template with as much information as you have. Thanks.

[2021-09-13 09:06] #766 closed

[2021-09-13 18:12] Mint-6263 opened #769 "{"meetingURL":"https://usdolevents.webex.com/wbxmjs/joinservice/sites/usdolevents/meeting/download/relaunch/7acf0701939dc328db0edf5cf940a31b","meetingName":"Briefing on the 2014-2018 Equal Employment Opportunity Tabulation Data","meetingSaveTime":1631556624071}"
## URL to the linked Repository or Organization

https://github.com/
## Steps to reproduce the problem

1.
2.
3.

## What is the expected result?

## What happens instead?

## Any other information? (attach screenshot if possible)

## Used browser and browser version?

## Any other tested browsers/devices(OK/FAIL):

[2021-09-14 05:35] Shegox commented on #769
Hi there,
this doesn't look like a valid issue therefore I'm going to close it.
If you have a problem, please make sure to provide sufficient information about how you encounter it. :)

Many thanks!

[2021-09-14 05:35] #769 closed

[2021-09-15 07:49] Shegox opened #771 "Move away from deprecated angularJS to a new UI framework. Which framework?"
CLA-assistant currently uses angular.js, which is [highly deprecated and security fixes will be stopped end of 2021](https://docs.angularjs.org/misc/version-support-status). To stay up-to-date we will need sooner or later to migrate to a different UI framework.

This issue should be used to discuss what framework we want to use going forward. Things to consider, out of my head, is maintainability

[2021-09-15 16:14] mhusseini opened #772 "Wrong(?) status of CLA aggreement in PR check."
I created the PR https://github.com/JamesNK/Newtonsoft.Json.Schema/pull/279. One check for that PR says that the 'Contributor License Agreement is not signed yet'. But I already signed it. Also, when I click on the details link of that check, I get navigated to https://cla-assistant.io/JamesNK/Newtonsoft.Json.Schema?pullRequest=278 and see the correctly filled-out  license agreement. I can't edit

[2021-09-15 16:35] Shegox commented on #772
Hi @mhusseini,

it looks like your commit ([`0561f6d94b311ed2ee0ebfb5d8ef3c1862ef354c`](https://github.com/JamesNK/Newtonsoft.Json.Schema/commit/0561f6d94b311ed2ee0ebfb5d8ef3c1862ef354c.patch)) is associated with a different email (I assume your work email?) and this email is not linked to any GitHub account. Therefore your signature doesn't count for it.
Please either add the email to your accoun

[2021-09-15 16:57] mhusseini commented on #772
Hi Tobias,

thank you for your quick response. The strange thing is that the address ***@***.******@***.***> is assigned to my GitHub account (as well as the address ***@***.******@***.***>, which is assigned to the same account).
As you suggested, I re-did the commit (i.e. `git reset HEAD~0 & git commit -am “…” & git push --force`) and created a new PR. Both commit and PR were created with the cu

[2021-09-15 19:14] Shegox commented on #772
Hi,

seems like the same problem still happens. When creating the commit make sure that you have the proper email set (via e.g. `git config user.email`). Seems like the email reply censors the emails out, so I can't comment on that.
Currently `mhusseini@softewareproduction.eu` is set as an email again (see the header of commit [`192d6f4cc0e5114d8fc624202f667c724807370c`](https://github.com/mhussei

[2021-09-16 07:44] mhusseini commented on #772
﻿Hi Tobias,

I changed the email address and it worked now. I still don’t understand why it didn’t work with the other email address, since both addresses are connected to my GitHub account. Anyways, it works now.

Thank you and best regards,
Munir Husseini.

From: Tobias ***@***.***>
Date: Wednesday, 15. September 2021 at 21:14
To: cla-assistant/cla-assistant ***@***.***>
Cc: Munir Husseini ***@*

[2021-09-17 05:53] Shegox commented on #772
Closing the issue as the problem was resolved :)

[2021-09-17 05:53] #772 closed

[2021-09-21 05:57] meiliang86 opened #774 "license/cla check fails to report for recent PRs"
licence/cla check is not reporting back for all our recent PRs https://github.com/uber/cadence/pulls

[2021-09-21 06:24] Shegox commented on #774
I'm looking into it. From a first look at the logs it looks like it correctly receives and tries to update the PR status but then stop for whatever reason:
[code]

[2021-09-21 06:35] Shegox commented on #774
Found the problem.

CLA-assistant uses the token of the user who configured it to perform actions. In this case the user, who did the setup for the whole _uber_ organization is now longer part of the the _uber_ organization and therefore the token is now longer allowed to update the commit Status.

To resolve this, please get one of your open source/GitHub admins to go to https://cla-assistant.io

[2021-09-21 06:38] meiliang86 commented on #774
Thanks a lot @Shegox !

[2021-09-21 06:48] longquanzheng commented on #774
@Shegox can you help me with this one? I have been trying very hard to merge it https://github.com/uber/cadence/pull/4498

Thanks in advance!

[2021-09-21 06:58] Shegox commented on #774
@longquanzheng the prerequisite to get it working again is that someone from the uber organization admins goes to cla-assistant.io and updates the authentication. Only afterwards either the "curl" or the "recheck PRs" will work again. Currently the problem is that cla-assistant has no valid token with enough permissions to update the commit status and therefore "nothing" happens.

You can find the

[2021-09-21 09:57] Shegox opened #775 "Hidden GitHub App"
For a first implementation of #430 we want to implement a hidden App auth feature. When available  cla-assistant should use the GitHub App Installation token to interact with GitHub, if not available it should fall back to the "admin user" token like currently.

For this following steps should be implemented:

- [x] Identify all places where GitHub App installation token should be used (incl. Grap

[2021-09-23 07:48] Shegox commented on #774
@meiliang86 @longquanzheng I see that it is now working again (e.g. https://github.com/uber/cadence/pull/4501). Therefore I'm going ahead and close the issue. If there are still problems, please open a new issue. Many thanks.

[2021-09-23 07:48] #774 closed

[2021-09-23 15:56] juergba opened #776 "Error: There is no CLA to sign for mochajs/mocha"
## URL to the linked Repository or Organization
https://github.com/mochajs/mocha

## Steps to reproduce the problem

1. already signed CLA's are not available anymore, e.g. [#4737](https://cla.js.foundation/mochajs/mocha?pullRequest=4737)
![image](https://user-images.githubusercontent.com/44573692/134541150-6beda0e2-8e55-4aaa-8f65-e161b9bfd714.png)

2. in our last PR [#4746](https://github.com/moc

[2021-09-23 16:46] Shegox commented on #776
Hi @juergba,

it looks like you  have your instance of cla-asssistant deployed `https://cla.js.foundation` and are not using our central instance (cla-assistant.io). Do you by chance know who runs this instance (if not maybe your organization owner knows)?
Most likely that runs an outdated version and they need to update to a newer version of cla-assistant.

Infortunately there is nothing which I

[2021-09-23 17:03] juergba commented on #776
@Shegox thank you for your quick reply.

It suppose it must be run by the OpenJsFoundation with its GH user https://github.com/JSFOwner. They are one of Mocha's owner.

@jorydotcom can you have a look at this, please. I suppose this `https://cla.js.foundation` is run by your foundation?

[2021-09-25 09:04] juergba commented on #776
@Shegox thank you for your help.

[2021-09-25 09:04] #776 closed

[2021-09-25 14:51] LodenDarkStar opened #777 "Muiltiple accounts"
I have multiple Git accounts apparently and cant signe as the second account as I get error 403

[2021-09-25 15:58] Shegox commented on #777
@LodenDarkStar can you please link the Pull Request where this occurs?

[2021-09-25 16:32] JamesMcGhee commented on #777
https://github.com/Unity-Technologies/multiplayer-community-contributions

Managed to get around it with another browser,

[2021-09-25 16:37] Shegox commented on #777
It looks like you have two GitHub accounts:

@JamesMcGhee & @LodenDarkStar and as you used as commit email, two different emails (one for each account) you had to sign the CLA with both accounts to get the PR marked as signed.

[2021-09-25 16:37] #777 closed

[2021-09-25 16:42] JamesMcGhee commented on #777
Ya did that the first worked fine, the second forced login as the first signed out tried again got 403 over and over
 the issue is the second link "refresh" whcih opens the page was maybe grabbing the cookie from the other account I assume that as the issue went away when I did the other account on a different browser

[2021-09-27 13:47] hi-rustin opened #778 "Cannot link cla to a repo"
## URL to the linked Repository or Organization

https://github.com/pingcap/tidb-tools
## Steps to reproduce the problem

1. try link the repo with any CLA gist
2. it shows linked successfully

## What is the expected result?

The CLA should be linked and works well.

## What happens instead?
refresh the dashboard, the repo disappeared (even when I created the webhook)

## Any other information? (

[2021-09-27 13:54] hi-rustin commented on #778
I tried some of my personal repositories, using the same gist, and it works.

[2021-09-27 14:25] Shegox commented on #778
@hi-rustin,

just a quick guess, I haven't yet time to look into it in detail. Do you have third-party app restrictions enabled for your org?
https://docs.github.com/en/organizations/restricting-access-to-your-organizations-data/about-oauth-app-access-restrictions &
https://docs.github.com/en/organizations/restricting-access-to-your-organizations-data/approving-oauth-apps-for-your-organization

[2021-09-27 14:46] hi-rustin commented on #778
There are many repos under the organization that use it properly.

[2021-09-27 14:46] Shegox commented on #778
So I just had a couple of more minutes and that seems to not an issue, as other repos in the pingcap organizations are already using CLA-Assistant (e.g. https://github.com/pingcap/dm).

But I looked and I found something very weird. There seems to be an entry in the database associated with a different repository (`repo id: 64638071`). Did sometime ago a different repository with the same name exi

[2021-09-27 15:14] Shegox commented on #778
Hi @hi-rustin,

I checked and it seems that there was a `pincap/tidb-tools` repository sometime ago and there exists as well a dozen signatures for it from ~2017. I updated it in the database and cleaned up the name. Can you try readding the CLA now and see if that works?

Also if you have the browser debug tools open, there should be an API call when the repo is configured and the response header

[2021-09-27 15:20] Shegox opened #779 "Repository linking doesn't work if a previous repository with the same name but different id was linked"
It seems that cla-assistant can't handle if a repository was deleted/renamed and a new one with the same name and owner is created, but has a different id.
CLA-assistant will then throw weird errors and not at all persist information in the database.

Example issue #778

[2021-09-28 01:47] hi-rustin commented on #778
[code]

Thanks for your help!

[2021-09-28 03:02] hi-rustin commented on #778
@Shegox I consulted with my colleague and it did go through renaming and it did go through archiving and reopening.

[2021-09-28 05:34] #778 closed

[2021-10-05 05:50] octogonz commented on #597
My group encountered this problem recently.  Our case is very simple:

1. We want to exempt *our own employees* from having to sign our own company's CLA
2. Our employees are identified based on belonging to a GitHub organization
3. Exempting the organization works fine, unless the PR is from a personal fork
4. For an open source project, we prefer for people to use personal forks, so that they ha

[2021-10-05 08:43] Shegox commented on #597
I fully agree that this would be a good feature to have, especially since it more or less allows "Company Contributor Licence Agreements (CCLA)" .

I think it makes sense to add it as an additional configuration field (instead of reusing the existing "Specify usernames to be always allowed") which is called something like "specify organizations which **public** members are always allowed to contri

[2021-10-05 16:03] srl295 commented on #597
Makes sense to me.

An organization should do _its own api calls_ to make sure its members have public membership. (I think GitHub ought to prompt you when you are added, but anyway. )

[2021-10-05 21:12] octogonz commented on #597
@Shegox  Yes, this would be awesome!  It's exactly what I was envisioning.  Thank you very much!  (Let us know if you need any help with the implementation or testing.)

This probably wouldn't work for our scenario, because a lot of our employee commits are from `4673363+octogonz@users.noreply.github.com`, and (if I remember right) actions performed using the GitHub website *always* appear that wa

[2021-10-06 15:12] Shegox commented on #597
Got a prototype implementation working in #783. So the idea works, just need to separate it out into an additional config field in the UI and backend.

[2021-10-06 16:33] Shegox opened #784 "Migrate to TypeScript"
We should migrate the complete code base [to TypeScript](https://www.typescriptlang.org/docs/handbook/migrating-from-javascript.html) to give us full type support.
Especially the GitHub octokit library provides already types for all responses making it easier to check which values should be present.

[2021-10-06 20:59] octogonz opened #785 "How to share access to the CLA gist and protect against unintended modifications?"
WarnerMedia's CLA Assistant is currently obtaining the legal document from a URL shared by my individual GitHub user:

https://gist.github.com/octogonz/eb8b61a8bf2d2af292c160c187ffa0ed

A concern was raised about this:
- How would another employee update this gist, if I'm not around?
- Suppose that I left the company, and then for some reason I deleted the gist (or my entire GitHub account) -- wou

[2021-10-07 15:55] #785 closed, assigned to nobody

[2021-10-09 12:25] alexey-milovidov opened #786 "Suggested feature: more variability of the messages asking to sign a CLA."
Currently the message in pull requests is always the same:

https://github.com/cla-assistant/cla-assistant/blob/f4ed98f6eef295a10ef47923f69505f0f116537f/src/server/services/pullRequest.js#L16

It can start to be annoying for maintainers that read their notifications, especially the "we really appreciate it" part.
For example, if you say "we really appreciate it" once or twice it's ok, but if you s

[2021-10-13 07:19] Shegox commented on #597
The feature to exempt public members of an organization is now live on our staging system (https://k8s.cla-assistant.io/).
If you have a spare organization (don't use your productive ones), you can test it out there.
I will take some time this week to validate a few things and if everything looks good the change will hit production at the beginning of next week.

[2021-10-14 00:53] octogonz opened #787 "How to remove obsolete URLs from the "Select from Gist" box?"
Following up from #785, we moved our gist from my personal user to a company user account.  The gist URL has changed, but the gist contents have not.

When creating new links, if I select `WarnerMedia_CLA` from the list, it always selects the old URL:
![image](https://user-images.githubusercontent.com/4673363/137232093-2a197527-1c2d-4c84-9feb-82fcfc48a97e.png)

How do we clear out the old entry?

[2021-10-14 05:57] Shegox commented on #787
The dropdown menu lists only the gists of the currently signed in user (plus a list of default, hard configured CLAs (the SAP one)) as a "selection help". To use a gist not under your user, you need to copy the URL in the gist url field below.

The dropdown box should only make it easy to setup. E.g. you have the gist under your user and can directly select it in the dropdown without having to cop

[2021-10-21 20:32] OASIS-OP-Admin opened #793 "CLA configured for organization not recording repository"
I have not been able to find this specific issue, so I'm opening an issue.

We have set up several organizations such as https://github.com/oasis-open. We configured CLA Assistant for the organization and that works as expected: a new contributor to, say, https://github.com/oasis-open/odata-rapid, fails the check and is presented with the form to collect their CLA, in this case https://cla-assista

[2021-10-22 13:55] #793 closed, assigned to nobody

[2021-10-29 23:11] Mraldossri commented on #681
مطلوب مساعدة

[2021-11-10 09:54] Shegox commented on #775
done via #781

[2021-11-10 09:54] #775 closed

[2021-11-15 08:41] Shegox opened #799 "restructure folders"
As part of #784 I noticed that the current folder structure causes some issues.

The goal of this issue is to move to a structure, which cleanly separates server and client code as well as run-time assets like images. Allowing to easily serve them (client assets) or copy them independent of the compiled code (after the typescript migration).

A first folder structure draft is following:
[code]

[2021-11-15 15:02] #799 closed

[2021-11-17 17:51] xfalcox opened #802 "Missing CLA contributors"
## URL to the linked Repository or Organization

https://github.com/discourse/discourse

## Steps to reproduce the problem

1. Log into https://cla-assistant.io/
2. Tries to check the Contributors list
3. Link to the list is gone

## What is the expected result?

I can check my contributors list

## What happens instead?

There is no link

## Any other information? (attach screenshot if possible)

[2021-11-17 17:52] xfalcox commented on #802
Also worth noting that trying to obtain the contributor list via the API is failing. This used to work at least until August 23.

[code]

[2021-11-17 18:03] Shegox commented on #802
I'm currently traveling and can take an in-depth look on Monday.

Can you as well please take a look at the network calls (should be in the network tab of your browsers development tools) and if they fail, get me the x-trace something header and I can crosscheck our logs.

Many thanks already in advance.

[2021-11-17 18:07] xfalcox commented on #802
[code]

Thanks for the prompt response @Shegox. Is there a possibility all data is lost?

[2021-11-17 18:32] Shegox commented on #802
Unlikely and we have backups going back a couple of months at least. But let me check this on Monday in detail as I only have a mobile phone here. :)
Hope that is okay.

[2021-11-17 18:35] xfalcox commented on #802
Thanks @Shegox ! Hope you enjoy your travel!

[2021-11-22 14:51] Shegox commented on #802
Quick update:
- Unfortunately the log files didn't really help. They just showed the 5xx error response code.
- However I cross checked the database manually and all data is there. So it is just a frontend problem.

If you need it urgently I can get you a database export, otherwise I will try to get it working again.

In the meantime, can you try a different browser and/or resetting your cookies p

[2021-11-22 15:41] schloerke opened #804 "Configuring a CLA with a different user does not share Contributor list"
## URL to the linked Repository or Organization

Correct: https://github.com/rstudio/bslib
Missing contributors: https://github.com/rstudio/fontawesome

## Steps to reproduce the problem

1. @trestletech configures a repo, we trigger the CLA via a Pull request. Works as expected.
2. @schloerke configures a new repo following the same steps as @trestletech, I trigger the CLA via https://github.com/

[2021-11-22 17:10] xfalcox commented on #802
Can you please send the JSON export to `rafael@discourse.org` ? Thanks!

Just did it and the contributors list is still empty :cry:

[2021-11-23 12:53] Shegox commented on #802
I just sent them to you now.

I would like to anyway try to figure out the problem. Would it possible for you to ask someone else in the team (with at best admin permissions to the discourse/discourse repo) to log into cla-assistant and see if they can see the signatures?
If not can they as well check the browser network tool and give the `x-cloud-trace-context` of the failed responses.

My curren

[2021-11-23 14:58] xfalcox commented on #802
This nailed it!

I lost admin permissions on the discourse/discourse repo, that is why I can't see nor download the signed list anymore.

Sorry for the noise :bow:

[2021-11-23 14:58] #802 closed

[2021-11-23 14:59] Shegox commented on #802
This is very weird, because it should normally check for `push` permissions and not admin permission 🤔

Or even if that is the case it shouldn't show you the linked repo in the first place.

[2021-11-26 10:03] Shegox opened #806 "For shared gists handle different gist urls for the same gist better"
As outlined in #804 there exists multiple URLs which point to the same gist and we persist the URL we receive and use this as well for checking for cross signatures. This can cause that although someone already signed a CLA, that they get asked to sign the same again.

Our checks and at best our persistence should only use the unique id of the gist instead of the "full" URL.

[2021-11-26 10:05] Shegox commented on #804
Hi, sorry for the long wait.

I had today time and could confirm that behavior in my first test.

After checking the data, I found that this is actually caused by something different.
When you select the CLA from the dropdown the URL used is something like `https://gist.github.com/8e7f48c73e2635b253bd5914bbfeab05` while when copying it from the browser it is expanded and includes the username like

[2021-11-29 15:34] schloerke commented on #804
I removed the `fontawesome` repo and added it back with the shortened gist URL and it worked as expected.

Thank you! Closing

[2021-11-29 15:34] #804 closed

[2021-12-03 10:13] mhansen opened #807 "Clicking 'sign in to github' accepts even without ticking the box: " I accept that the information I provide to sign this CLA will be maintained in accordance with project owner's privacy policy""
This was a big surprise. I thought clicking 'sign in' would just sign in, but I hadn't ticked the "I accept that the information I provide to sign this CLA will be maintained in accordance with project owner's privacy policy" box, so I thought it wouldn't accept. But it still marked me as accepted, despite not agreeing to that.

This was on https://cla-assistant.io/pyroscope-io/pyroscope?pullReque

[2021-12-03 10:19] mhansen opened #808 "CLA Bot says I signed something when I didn't"
This was on https://github.com/pyroscope-io/pyroscope/pull/566

I visited the CLA to read it, but didn't sign it. I don't know why it says I signed it.

![image](https://user-images.githubusercontent.com/105529/144586186-c35c49a9-5a1b-44ed-a436-9a6bbeb771e4.png)

When visiting today, I accidentally signed it due to a combination of https://github.com/cla-assistant/cla-assistant/issues/760 and http

[2021-12-07 01:32] viveksjain opened #809 "Configuring as admin + member of org"
## URL to the linked Repository or Organization

https://github.com/rubrikinc/wachy

## Steps to reproduce the problem

I am trying to setup cla-assistant for the listed repo, however it does not show up in my list of options for `Choose an org or a repo`. I am a member of rubrikinc, but not an owner, and I have admin rights on the wachy repo. I have already linked the org on https://cla-assistant

[2021-12-07 07:41] Shegox commented on #809
Hi @viveksjain,

normally you should only need admin rights for your repository and not owner to set it up.
However I suspect a different problem, can you check (or let your org owner check) if the [cla-assistant OAuth app has third-party access to the organization](https://docs.github.com/en/organizations/restricting-access-to-your-organizations-data/approving-oauth-apps-for-your-organization)? O

[2021-12-07 13:34] hexagonrecursion opened #810 "cla-assistant requires excessive permissions"
[tldr-pages](https://github.com/tldr-pages/tldr) requires that all contributors sign a CLA. For the signing workflow they use cla-assistant. When I tried to log into cla-assistant it first asked for permission to see my email address (a reasonable request when using github OAuth). After I approved the request I got a second request for a long list of permissions including *write* access and *priva

[2021-12-07 13:38] Shegox commented on #810
hi @hexagonrecursion,

thanks for opening the issue. Normally these permissions are only required when you login via the homepage to actually configure it. For just signing a CLA it should only require your email (the first prompt).

What link did you use to access CLA-Assistant?
Via https://cla-assistant.io/tldr-pages/tldr?pullRequest=7516 it should only ask you for the email and redirect you bac

[2021-12-07 14:52] hexagonrecursion commented on #810
cla-assistant posted a comment on my PR. I clicked on the link in the comment

[2021-12-07 14:59] Shegox commented on #810
Ah okay, that is indeed weird. This should only ask you for the email permissions and then take you to the signing.
I assume that you didn't give CLA-Assistant the extended permissions, right?
The [PR in tldr-pages](https://github.com/tldr-pages/tldr/pull/7516) looks at least like you accepted the CLA.

If this is the case I suspect that for whatever reason it redirected you to the wrong place aft

[2021-12-07 15:02] hexagonrecursion commented on #810
I did not give permissions. After that I clicked on the link a second time and everything worked as expected.

[2021-12-07 22:08] viveksjain commented on #809
Yes it should have access
![Screen Shot 2021-12-07 at 2 03 54 PM](https://user-images.githubusercontent.com/1541998/145113091-75f53639-3c77-4f1c-b102-6ab4052c7cb4.png)

I did also try the `/user/repos` API (using octokit) that was mentioned in https://github.com/cla-assistant/cla-assistant/issues/436#issuecomment-487910904, if I set `affiliation: 'owner,organization_member'` then rubrikinc/wachy d

[2021-12-07 23:15] jpmcb commented on #810
Hi all - someone a few weeks back in [spf13/cobra](https://github.com/spf13/cobra) also mentioned something similar: https://github.com/spf13/cobra/pull/1530

I'm not able to reproduce since I already have accepted everything.

[2021-12-08 07:39] Shegox commented on #810
@jpmcb thanks for providing this as well. I will see if I can figure out what happened here, especially since it doesn't seem to be a one off as I hoped :D

[2021-12-15 11:44] yamashi opened #812 "Unable to recover list of contributors"
## URL to the linked Repository or Organization

https://github.com/tiltedphoques/tiltedonline
## Steps to reproduce the problem

1. Unlink a repo
2. Link it again
3. Website says 0 contributors and downloading gives 0

## What is the expected result?

Previously signed CLAs show up.

## What happens instead?

Nothing shows up.

Seems related to #444 but they workaround doesn't seem to be working.

[2021-12-15 11:50] yamashi commented on #812
For future reference I had to add my username in the gist url.

[2021-12-15 11:50] #812 closed

[2021-12-15 11:52] Shegox commented on #812
Thanks for putting the solution in here. I guess this related to #806 and that we treat the "same" gist with different urls (full url vs url without name) as different gists.

[2021-12-16 22:12] seabass-labrax commented on #810
I too have experienced this in trying to sign the CLA for [golangci/golangci-lint](https://github.com/golangci/golangci-lint).

[2021-12-29 03:33] xiaofenhappy opened #818 "Signed CLA but the Status Is Not Updated Even After the Recheck"
## URL to the linked Repository or Organization

https://github.com/gardener/terraformer/

## Steps to reproduce the problem

I've signed the CLA, but in the [PR](https://github.com/gardener/terraformer/pull/114), it still shows the CLA is not signed. I tried retriggering the check with the URL
https://cla-assistant.io/check/gardener/terraformer/?pullRequest=114, but no help.

## What is the expec

[2021-12-29 07:16] Shegox commented on #818
Hi @xiaofenhappy, thanks for opening the issue.

The problem is actually that in your PR the PR author and commit author are two different GitHub users (PR: @xiaofenhappy, commit: @molecule-z) and for CLA-Assistant to mark a PR as signed both need to accept the CLA.
The commit author is determined based on the used email address (you can see it [in the raw patch](https://github.com/gardener/terraf

[2021-12-29 08:03] xiaofenhappy commented on #818
@Shegox Yep, that's the reason.
It works, thanks.

[2021-12-29 08:03] #818 closed

[2022-01-03 00:09] jeffreycwitt commented on #810
Same excessive request here as of jan 2, 2022.
You can see here that after granting read only access, it is now asking for write access.

![image](https://user-images.githubusercontent.com/1146685/147892843-28e33271-a6b4-4f66-a469-42cacf37992e.png)

[2022-01-09 03:19] augustoproiete commented on #629
annoying stale bot is annoying... 🙄

[2022-01-09 11:04] Shegox opened #820 "remove stale bot"
The stale bot currently is way to aggressive and for the moment we should put it on ice

[2022-01-09 18:31] mourner commented on #569
Still an issue.

[2022-01-10 08:23] #820 closed

[2022-01-10 08:54] Symbian9 commented on #691
This issue is a serious BUG, so it could not be just marked as `wontfix`:

- https://github.com/solvespace/solvespace/issues/1098

cc @KharitonOff @Shegox

[2022-01-10 09:28] Symbian9 opened #822 "CLA Assistant is "fishing" bot due to NO way to resign it from repo"
## URL to the linked Repository or Organization

https://github.com/solvespace/solvespace
## Steps to reproduce the problem

- https://github.com/cla-assistant/cla-assistant/issues/561

## What is the expected result?

- https://github.com/solvespace/solvespace/issues/1098

## What happens instead?

- https://github.com/cla-assistant/cla-assistant/issues/691

## Any other information? (attach scre

[2022-01-10 16:40] Shegox commented on #822
As noted in https://github.com/solvespace/solvespace/issues/1098#issuecomment-1009065835 and https://github.com/solvespace/solvespace/issues/1098#issuecomment-1008696674 they were able to remove CLA-assistant, which was set up by a former team member through revoking the third-party OAuth Access and removing the webhook.

https://github.com/cla-assistant/cla-assistant/issues/691 seems to be not re

[2022-01-10 16:40] #822 closed

[2022-01-11 15:05] WhyNotHugo commented on #760
Still an issue.

[2022-01-20 14:10] je-hal opened #824 "Merging of PRs without signing CLAs"
Is there a way to enforce that pull requests cannot be merged if there are still contributors who haven't signed the CLA?

Lately, one of our colleagues merged a pull request before the CLA was signed by an external contributor by mistake. The colleague does not have an admin role, so I would have assumed that merging is not possible without a signed CLA.

## URL to the linked Repository or Organi

[2022-01-20 14:26] Shegox commented on #824
Hi @je-hal,

there is an option for this called "required status checks".
You will need to create branch protection rule and then set `license/cla` as a required status check.
The GitHub docs on "[Creating a branch protection rule](https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/managing-a-branch-protection-rule#

[2022-01-20 17:58] TJM commented on #745
The initial issue is resolved, @Shegox mentioned that there was a larger issue that was the cause of this one, which may already be resolved. I don't know, as I *rarely* use this tool. I would suggest that it can just be closed.

[2022-01-20 19:43] scottwn commented on #809
I have the same problem. I am trying to link https://github.com/AgnostiqHQ/covalent. I am an admin on the repo and a member of the org. I have confirmed that CLA assistant has the right permissions on the repo. However, `AgnostiqHQ/covalent` is not showing up in the "Choose an org or a repo" dropdown in CLA assistant.
![Screen Shot 2022-01-20 at 2 41 53 PM](https://user-images.githubusercontent.co

[2022-01-21 08:48] Shegox commented on #809
@scottwn just to confirm, did you were able to fix this problem and if so, how?
I can see that a [Test PR#1](https://github.com/AgnostiqHQ/covalent/pull/1) from a couple hours ago looks like CLAassistant was configured.

[2022-01-21 08:52] Shegox commented on #745
@TJM thanks for confirming that, indeed I hope that our work towards #430 will solve this permanently, but this is bigger activity.

[2022-01-21 08:52] #745 closed

[2022-01-21 09:00] enzbang opened #825 "No longer able to call api/cla/getAll to backup website data"
Hello,

We started using cla-assistant 5 years ago and this has been a very useful tool for us. Thank you for providing such a tool to the community!

We have been performing backups of all registered contributors by following instructions given at
https://github.com/cla-assistant/cla-assistant/issues/166#issuecomment-256642858

This is unfortunately no longer working (we get an "Unauthorized" ans

[2022-01-21 09:16] Shegox commented on #825
I will take a look on why that happens.
Do you try to get the contributors for a single repository or a for a full organization?
In the meantime can you please try doing a manual curl request and enable response headers (e.g. with `curl -v`)? In there should be some trace identifier, please share that with me. With this I can cross check more easily our logs.

[2022-01-21 09:54] enzbang commented on #825
We get the list of contributors for a single repository.

The trace is 'x-cloud-trace-context': 'f12ae8d20ab99c6125e7b5bd3a118768/4618082281102965823;o=1'

Thank you for your help!

[2022-01-21 11:31] je-hal commented on #824
Hi @Shegox,

thank you - however, we have a machine user [ditaccms-bot](https://github.com/ditaccms-bot) that needs to push to the main branch directly according to our workflow (for the next documentation update).

I assume if we enable the branch protection rule as you describe above our workflow would fail, because the bot hasn't signed the CLA yet. Any ideas how the bot could sign the CLA? 😄
W

[2022-01-21 12:43] Shegox commented on #825
@enzbang thanks a lot. I found the problem, this is indeed an issue on our side and I got a fix ready (#826).
Probably I can deploy that on Monday/starting of next week to cla-assistant.io.

Out of curiosity, did the problem just started to occur or do you have a rough timeframe when it started? I'm asking because I think I actually broke that part as part of some refactoring a couple of months ba

[2022-01-21 13:13] enzbang commented on #825
That's a few months ago, it was reported internally mid November. Given that we had many ongoing changes on our side, I wanted to double check before reporting. Next time I'll try to report such issue sooner.

[2022-01-21 13:35] Shegox commented on #825
Okay perfect, if you need them now, you should be able to still download them via the UI.

[2022-01-21 13:39] wjcunningham7 commented on #809
@Shegox I configured it on behalf of @scottwn since I'm the org owner.

[2022-01-22 04:03] DragonEarin opened #827 "Gitshelp"
## URL to the linked Repository or Organization

https://github.com/
## Steps to reproduce the problem

1.
2.
3.

## What is the expected result?

## What happens instead?

## Any other information? (attach screenshot if possible)

## Used browser and browser version?

## Any other tested browsers/devices(OK/FAIL):

[2022-01-24 08:41] Shegox commented on #827
Hi @DragonEarin,
it seems that you opened the issue by accident without any details.
Please make sure to provide the details in a new issue so we can help you. I will go ahead and close this issue for now.

[2022-01-24 08:41] #827 closed

[2022-01-24 09:35] Shegox commented on #824
When you enable the branch protection rule, each commit needs to be checked before it can be pushed to the matching branch. So even if you sign the CLA as the bot (or better exclude it in the CLA-Assistant settings) you will need to first open a PR, let the check run and can merge it.
![image](https://user-images.githubusercontent.com/16856448/150757548-76c81cc6-cc94-448e-bdde-cae0b501c7c1.png)

I

[2022-01-24 09:49] #825 closed

[2022-01-24 10:30] Shegox commented on #825
@enzbang patch is now live and the API should be working again.
Thanks again for the report!

[2022-01-24 14:52] jsejcksn commented on #730
Hi @KharitonOff: Do you have any information to report at this time about progress on this? Thanks!

[2022-01-24 14:58] Shegox commented on #730
@jsejcksn in the meantime I have taken over cla-assistant from @KharitonOff, but so far I haven't had time to look into it. Sorry. However if you're interested in implementing it, I'm more than happy to help you out/review that!

[2022-01-24 15:25] jsejcksn opened #829 "Extremely long response time for `/api/cla/get` route"
I recently completed the signing experience for a PR. Upon reaching the CLA assistant app, I encountered a blank template view, so I looked in dev tools to see if there was an issue: there was.

Two `POST` requests to `https://cla-assistant.io/api/github/call` responded with `401` status.

Somewhat confused, I closed the tab and tried again. Same result the second time. So I began to do a bit of r

[2022-01-24 15:35] Shegox commented on #829
@jsejcksn thanks for the report. If you have a timestamp and the (`x-cloud-trace` or so) response header of one of the long requests would be very helpful. Then I can more easy check our logs. As well as the link to your CLA signing page (`https://cla-assistant.io/$ORG/$REPO`) please, so I can see if I can reproduce it.
I saw in the past that some requests took a couple of seconds if a lot of API

[2022-01-24 15:56] jsejcksn commented on #829
@Shegox As requested:

[code]

[2022-01-24 16:05] Shegox commented on #829
Perfect, thanks a lot for sharing the details 👍

From a first look it seems that indeed some internal logic causes the delay, as the GitHub API requests are quite fast:
![image](https://user-images.githubusercontent.com/16856448/150818277-4259eda5-058c-4276-8ffc-2223144a2ecb.png)

Comparing that to when I open the page (~4s):
![image](https://user-images.githubusercontent.com/16856448/150818386-a0

[2022-01-25 08:32] je-hal commented on #824
Thanks - I think the GitHub documentation is not 100% clear about whether a PR is needed or not:
![image](https://user-images.githubusercontent.com/34343894/150939770-00c65ddb-6b77-4605-87fe-9424a00425e9.png)

Since there is a separate rule to require pull requests (_Require a pull request before merging_), I still would have hope that the bot doesn't need to open a PR during the workflow executio

[2022-01-25 08:45] Shegox commented on #824
Depending if you have the CLA configured on organization or repository level, you need either repository admin or organization owner and then can login to https://cla-assistant.io and then use the three dots to exclude users/bots from signing the CLA.

[2022-01-25 11:06] enzbang commented on #825
I confirm this is working as expected. Thank you!

[2022-01-27 09:46] teozkr opened #830 "GitHub API connection seems broken"
## URL to the linked Repository or Organization
https://github.com/stackabletech

## Steps to reproduce the problem

1. Open a new PR in a @stackabletech repository (for example: https://github.com/stackabletech/operator-rs/pull/300 or https://github.com/stackabletech/regorule-operator/pull/181)
2. Note that no CLA status is applied to the PR
3. Go to the dashboard (https://cla-assistant.io/)
4. L

[2022-01-27 09:54] teozkr commented on #830
Manual dashboard rechecks now seem to work again, but otherwise the site still seems tired, and webhooks are still timing out.

[2022-01-27 10:03] teozkr commented on #830
The dashboard is now usable again (if a bit slow), and the webhooks seem to work again (although GH still reports them as timed out). Thanks!

[2022-01-27 10:03] #830 closed

[2022-01-27 10:06] Shegox commented on #830
Hi @teozkr,

thanks for detailed report. I assume this is related to some API rate limits by GitHub and CLA-assistant then slows done the requests.

The current long-term plan is to move more and more to GitHub Apps (#430) as this should hopefully ease the rate limit problems and make it way more stable.

[2022-01-27 21:28] Jonas-Sander commented on #807
This needs to be fixed asap!

[2022-01-27 22:05] jpvajda opened #831 "CLA checks are failing in our repos periodically - We couldn’t deliver this payload: timed out"
At New Relic we have a github check for our opensource PRs that requires new contributors to sign our CLA and the check has been failing intermittently the last 2 days.

 We can see the failed history in the webhook logs at the org level.

we receive a an error:

```We couldn’t deliver this payload: timed out```

<img width="1199" alt="Screen Shot 2022-01-27 at 3 03 05 PM" src="https://user-images

[2022-01-28 18:23] dustin-decker opened #832 "Auth redirect loop during first login as admin"
## Steps to reproduce the problem

1. Deploy cla-assistant v2.12.0 with `GITHUB_ADMIN_USERS` set
2. Attempt to sign in as one of the `GITHUB_ADMIN_USERS`
3. Observe auth redirect loop until this page appears:
![Screen Shot 2022-01-28 at 10 22 30 AM](https://user-images.githubusercontent.com/6031416/151600995-4a2cb906-dd51-40d1-832f-033e55416870.png)

4. Do it a few more times and this page appears

[2022-01-28 18:28] dustin-decker commented on #832
Might be related to #377, but this is with github.com, not GHE.

[2022-01-28 19:30] dustin-decker commented on #832
Possibly useful, the first time I observed this error in the logs:

[code]

It has not occurred again though. I also inspected the database and see that there is a token populated for my user.

[2022-01-29 07:39] DragonEarin opened #833 "Vancedteamsdk"
https://github.com/EspressoLogicDemo/Demo_O6dEx/issues/1

[2022-02-03 07:31] Shegox commented on #833
Hi @DragonEarin,

it seems like you opened this issue by accident. If you encounter an issue with CLA-Assistant, please make sure to follow the issue template and create a new issue for it. Thanks a lot.

[2022-02-03 07:31] #833 closed

[2022-02-03 08:42] Shegox commented on #824
I'm going ahead to close this issue as Jens and I followed up via mail on this.

[2022-02-03 08:42] #824 closed

[2022-02-04 20:11] alexey-milovidov opened #835 "It does not work in ~1 of 100 requests."
Simply does not recognize already signed contributors in pull requests.

[2022-02-04 20:12] alexey-milovidov opened #836 "The service is not available in China."
https://github.com/ClickHouse/ClickHouse/pull/34299

[2022-02-04 20:13] alexey-milovidov opened #837 "SAP advertisement better to be avoided."
We are using CLA Assistant for development of [ClickHouse](https://clickhouse.com/)
and SAP advertisement that you have in footer looks way off.

[2022-02-07 05:01] wjcunningham7 commented on #809
I think I might know what the problem was.  Non-owner admin users must be granted permission to manage GitHub apps for the organization.  The page where permissions were missing is https://github.com/organizations/<my_org_name>/settings/apps which included only the org owners by default.

[2022-02-10 04:19] subhasisb opened #838 "cla text not showing"
Hi,

we  use cla-assistant for https://github.com/openpbs/openpbs. When i go into the cla-assistant link for any open PR, it shows an empty screen (and not the cla text).

Also, while the dashboard page shows that 57 persons have signed the CLA (see screenshot):
![image](https://user-images.githubusercontent.com/15310678/153336238-80d6721d-8311-4e96-8f58-e174513b66ec.png)

whereas on clicking the

[2022-02-13 05:00] jcwchen opened #840 "Contributor has signed CLA but sill shows pending CLA on PR for certain branch every time"
## URL to the linked Repository or Organization

https://github.com/onnx/onnx
## Steps to reproduce the problem

If a developer (who has already signed CLA) makes a PR in onnx/onnx targeting certain branch, the CLA check in that PR will be always pending. Besides, basically it happened every time for that branch... The only workaround now is using the command (`https://cla-assistant.io/check/<orgn

[2022-02-14 11:05] oliver-goetz opened #841 "cla-assistant does not return proper HTTP status codes"
cla-assistant.io is returning HTTP status 200 or 302 to pretty much everything. Even the 404 error page is delivered with HTTP status 200.

For some use case this might not be a big issue, but for one it is. There is the URI to trigger a recheck of CLA status in case cla-assistant hung which is pretty useful in those cases. The URI is built like this
`https://cla-assistant.io/check/<organization>/

[2022-02-15 09:26] StenGruener opened #842 "CLA is empty"
Hello, I cannot sign this CLA: https://cla-assistant.io/admin-shell-io/aasx-server?pullRequest=96 the page is just empty.

[2022-02-15 10:00] Shegox commented on #842
Hi @StenGruener,

can you provide a bit more details please (at best a screenshot). What exactly is empty on the page for you?

I assume the CLA text is not shown, right? This might have been a temporary issue, due to depleted rate limits by the user having it configured.
<img width="1407" alt="image" src="https://user-images.githubusercontent.com/16856448/154038407-55d4ffc6-7dd7-4268-b5e8-4fabbdf

[2022-02-15 10:01] Shegox commented on #832
Sorry for the long wait, I was on vacation and will have this week some time to catch up with the open issues. :)
In the meantime were you able to find out more?

[2022-02-15 10:02] Shegox commented on #835
Sorry for the long wait, I was on vacation and will have this week some time to catch up with the open issues. :)

Do you have an example PR/commit where it didn't work, then I can crosscheck our logs. My gut feeling is, because ClickHouse is quite a big organization/repo that a depleted rate limit might cause the problems.

[2022-02-15 10:10] StenGruener commented on #842
now it worked, seemingly a temporary issue

[2022-02-15 10:10] #842 closed

[2022-02-15 10:12] Shegox commented on #836
CLA-assistant.io is hosted on Google Cloud Platform and as far as I could fine Google doesn't impose any traffic filtering.
However according to https://stackoverflow.com/a/66746853, China (mainland) might filter outbound traffic towards Google and therefore to cla-assistant.io.

According to http://www.chinafirewalltest.com/?siteurl=https%3A%2F%2Fcla-assistant.io it should however be reachable fr

[2022-02-15 10:18] Shegox commented on #837
I agree that the current footer might be a bit excessive on the other hand we want as well make sure to get a bit of credit for hosting/providing it. 😄

Maybe something like this would be a better fit, what do you thing?
<img width="1911" alt="image" src="https://user-images.githubusercontent.com/16856448/154041614-7bbf07af-dac6-4bcd-a9d0-0e93475ac62e.png">

[2022-02-15 15:42] KhronosWebservices opened #843 "Extremely slow response from GitHub API - 401 errors"
We appear to be hitting this issue: https://github.com/cla-assistant/cla-assistant/issues/829 today.

Any chance something reverted and brought this issue back to life?

[2022-02-20 18:56] giuliobenetti commented on #838
I have the same problem, following

[2022-02-21 11:56] Artur- opened #847 "From time to time everything is super slow"
## Steps to reproduce the problem

1. Open https://cla-assistant.io/
2. Log in

## What is the expected result?

You are logged in and see the list of repositories

## What happens instead?

There are 30 API calls in the "pending" state
* Two for `getGHOrgsForUser`
* 28 for `get`
and none of them seem to progress

Actually now it finished loading the view. It took 4.6 minutes

## Any other informa

[2022-02-23 21:23] dustin-decker commented on #832
Unfortunately not, I'm not well versed in typescript and have not had much time to dig in. If I can provide additional information to help debug I would be glad to.

[2022-02-24 10:45] giuliobenetti commented on #838
@subhasisb I've fixed the CLA not showing. My problem was due to the fact I've first registered to Github using one e-mail, then I've added a new one and switched to it as my main e-mail. To fix the problem I have:
1) removed old e-mail
2) re-inserted old e-mail(because I still need it)
That fixed the problem with CLA showing.

[2022-02-24 11:10] subhasisb commented on #838
@giuliobenetti  thanks for the tip. However in my case, my email stayed the same, so not the same issue. That said, the problem disappeared by itself, making me think that it was probably a temporary service disruption...

[2022-02-24 11:10] #838 closed

[2022-03-03 13:55] janpio commented on #829
Any update here? Seems to be causing problems for our users as well: https://github.com/prisma/language-tools/pull/1071#issuecomment-1058054268 Any way to help?

[2022-03-07 16:25] KlemenDEV commented on #829
The whole platform is extremely slow and it appears the services no longer work, even the website dashboard

[2022-03-13 11:19] THANAYHORN opened #849 "thana"

[2022-03-14 08:07] Shegox commented on #849
Hi there,

it looks like you opened this issue by accident and I'm going to close this issue. If you encounter a problem, please make sure to provide a detailed description in a new issue. Thanks a lot!

[2022-03-14 08:07] #849 closed

[2022-03-17 17:18] samlaf commented on #65
Isn't there a way to pressure github to include read-only access to private gists...? I can't believe it's still in this state after 5 years.

[2022-03-22 10:51] IDJack opened #851 "The CLA is empty"
When I open https://cla-assistant.io/pingcap/awesome-database-learning?pullRequest=46, the web page is empty.
There is no related text and button to agree
I use Chrome, Firefox and Edge, look the same

![图片](https://user-images.githubusercontent.com/14247115/159465320-aff73b65-15e7-4079-826a-84d5790967db.png)

[2022-03-22 10:57] IDJack commented on #851
Now it works

[2022-03-22 10:57] #851 closed

[2022-03-22 16:51] directionless opened #852 "Unable to exempt dependabot from the CLA requirements"
## URL to the linked Repository or Organization

https://github.com/kolide/launcher

## Steps to reproduce the problem

1. Dependabot opens PR

## What is the expected result?

PR is approved

## What happens instead?

PR is blocked pending signature

## Any other information? (attach screenshot if possible)

https://github.com/kolide/launcher/pull/795 doesn't have CLA signoff. But I have dependab

[2022-03-23 12:29] vss121 opened #853 "cla"

[2022-03-28 09:09] Shegox commented on #853
Hi there,

it looks like you opened this issue by accident and I'm going to close this issue. If you encounter a problem, please make sure to provide a detailed description in a new issue. Thanks a lot!

[2022-03-28 09:09] #853 closed

[2022-03-29 06:30] carlisliu opened #856 "Already Signed CLA, but stills show cla not signed yet in pull request"
in this pr: https://github.com/alibaba/rax/pull/2307
As a committer, I have already signed cla, but stills show `cla not signed yet ` in the pull request
Re-check it just redirect to this pr.

![image](https://user-images.githubusercontent.com/2157653/160547258-e6046620-8ac3-4ad8-8836-87bd695006d2.png)
After I click the Detail link, shows "You have agreed to the CLA for alibaba/rax"

[2022-03-29 06:43] Shegox commented on #856
Hi @carlisliu,

just to be sure: It seems like the initial PR and commits are done with a different account called @chenjun1011. If that is your account as well, you need to sign it using that account to CLA-Assistant and sign the CLA with that account. Only in that way CLA-Assistant can verify that the creator of the PR as well as the commits agreed to the CLA.

If you no longer have access to th

[2022-03-29 08:24] #856 closed

[2022-03-30 01:08] manjus3 opened #857 "Updating a CLA gist file won't trigger an email to the contributors"
## URL to the linked Repository or Organization

https://github.com/
## Steps to reproduce the problem

1. As the owner of a Github repo, create a gist, then link it with CLA assistant
2. As a 3rd party contributor, create a fork of the repo, create a pull request, and sign the CLA
3. As the owner of the repo, merge the contributions into the requested branch.
4. Now, as the repo owner, update the

[2022-03-30 08:57] lauraanddolay opened #858 "Getting "Contributor License Agreement is not signed yet." when pushing a pull request"
Getting Contributor License Agreement is not signed yet. although it already has been.

## URL to the linked Repository or Organization

https://github.com/kyma-incubator/reconciler/pull/978
## Steps to reproduce the problem

1. create a PR it asked for
<img width="919" alt="image" src="https://user-images.githubusercontent.com/98089303/160792202-972e9199-dd3e-474d-8f16-a2aeb7b1d8ba.png">
2. then

[2022-03-30 09:10] Shegox commented on #858
Hi @lauraanddolay,

the problem is that both the person opening the PR as well as each commiter needs to sign the CLA.
In your case you opened the PR, while the commit ([`e955808`](https://github.com/kyma-incubator/reconciler/commit/e955808c51f6cf0d42c35cb7b8cf0392cc9441da.patch)) is associated with @lauraanddola.

You will need to either:
- Sign in as @lauraanddola to CLA-assistant and sign the C

[2022-03-30 09:18] lauraanddolay commented on #858
hi @Shegox, I try to login the @lauraanddola account but it always asked me to input `Two-factor authentication` but i don't contain that digit numbmer and recovery code, what should i do ?

[2022-03-30 09:23] Shegox commented on #858
@lauraanddolay you can try reaching out to GitHub support for [Recovering your account if you lose your 2FA credentials
](https://docs.github.com/en/authentication/securing-your-account-with-two-factor-authentication-2fa/recovering-your-account-if-you-lose-your-2fa-credentials).

If that doesn't work, or you don't want to wait for that. You need to "recreate" your commits with an email which is as

[2022-03-30 09:33] lauraanddolay commented on #858
hi @Shegox , I try to execute below cmds and then reassigned CLA but it seems still `pending` in https://github.com/kyma-incubator/reconciler/pull/978 ....
[code]

[2022-03-30 09:34] Shegox commented on #858
`laura.dong@sap.com` is associated with @lauraanddola. You need to use one of the emails listed in https://github.com/settings/emails

[2022-03-30 09:40] lauraanddolay commented on #858
hi @Shegox https://github.com/settings/emails contains `lauraanddola@sina.com` and it reported error , what should i do ? thanks.
[code]

[2022-03-30 09:41] Shegox commented on #858
This command should work, you need to provide both a name and in `<email>` an email:
[code]

[2022-03-30 09:44] lauraanddolay commented on #858
hi @Shegox finally it works and many thanks.
<img width="398" alt="image" src="https://user-images.githubusercontent.com/98089303/160802489-48e9fb0a-5807-4be6-a41b-c2e321127701.png">

[2022-03-30 09:46] Shegox commented on #858
Great 👍

You should anyway go ahead and open a ticket with GitHub to either recover your old account. Or, if that doesn't work, get your SAP email removed from that account, so you can add it your current account to avoid this problem in the future.

I'm going ahead and close this issue for now.

[2022-03-30 09:46] #858 closed

[2022-03-31 10:54] Halamix2 commented on #520
We have issue with https://github.com/kyma-project/third-party-images/pull/204,
https://cla-assistant.io/check/kyma-project/third-party-images?pullRequest=204 doesn't help

[2022-04-05 21:30] james-deee commented on #661
I also am having this issue @Shegox .

As far as I can tell it's all the same user with the commit and signing the CLA.

https://github.com/grafana/grafana/pull/47290

[2022-04-05 21:31] james-deee commented on #840
Yeah, I am having this same issue on this PR https://github.com/grafana/grafana/pull/47290

[2022-04-06 07:31] rukai commented on #835
Here is an example of it failing: https://github.com/shotover/shotover-proxy/pull/600

I manually retried by pushing a useless change to the PR, so here is a screenshot of the failed request:
![image](https://user-images.githubusercontent.com/5120858/161919752-cf9fb19d-6b01-4200-9eb3-ca147134f084.png)

[2022-04-06 15:28] mc-hamster commented on #837
That's a really nice footer! Would be great to use that too.

[2022-04-09 02:33] JackMa020 opened #860 "hi, I have signed CLA, But the status not update because I reset name?"

[2022-04-11 08:49] xiaowuhu opened #861 "license/cla Expected — Waiting for status to be reported"
Hi, my PR https://github.com/onnx/onnxmltools/pull/539 was stuck there due to license/cla check didn't response.
What should I do in this case?

[2022-04-11 09:40] #861 closed

[2022-04-11 16:15] zhangyangyu opened #862 "fail to run the application"
## Steps to reproduce the problem

1. clone the default branch
2. follow Readme to try running the application, which way(npm start/docker run/docker compose) doesn't matter

## What is the expected result?

successfully running the application

## What happens instead?

fail to run the application, error:

[code]

## Used browser and browser version?

## Any other tested browsers/devices(OK/FAIL)

[2022-04-11 16:27] Jens-G opened #863 "It does not work, and it wants excessive write access"
Why on earth does that thing need write access to set hooks and write gists just to sign someones CLA?

[2022-04-11 17:03] zhangyangyu commented on #862
It's my fault to use a malformed mongoUrl. But it's a pity the error is not obvious.

[2022-04-11 17:08] Shegox commented on #863
@Jens-G if signing it should only require read-access to (at most) your email addresses.
Write access is only needed if you want to set it up for your own projects.
Via which link do you try to sign the CLA? Can you please provide the link and I might be able to help you out.

[2022-04-11 17:09] Shegox commented on #862
@zhangyangyu good point and thanks for providing the solution.

Let me reopen the issue to either:
- better document this
- or provide a better error message

[2022-04-12 11:06] Artur- commented on #847
Today it behaves like this

https://cla-assistant.io/ opens fine

Logging in sends requests to GitHub which work fine.

Then the request to https://cla-assistant.io/auth/github/callback?code=...  is super slow. First time it timed out after 40s with "Service Unavailable". On the second attempt it succeeded after 2min 40s.

After this there is the
https://cla-assistant.io/api/org/getGHOrgsForUser r

[2022-04-12 18:14] zhangyangyu commented on #862
Hmm, trying to catch the error for `mongoose.connect`. But strangely, either try to catch it in the callback or use `then/catch` works. Doesn't learn Node but doing a lot of search, all doing the same but the methods just not work. :(

[2022-04-13 00:05] Jens-G commented on #863
This one
https://cla-assistant.io/jrsoftware/issrc?pullRequest=417

I may add that I revoked the permissions and at the second try it did what you tell. But not so for the first time. Unfortunately I didn't make a screen shot before to prove it, so you have to believe me.

[2022-04-13 09:36] schonauchgut commented on #837
dear team @ SAP, dear @shegox,
first of all, thank you for bringing this solution to the open source world.

Has the footer been further discussed? I really like the suggestion of the new version. You may even want to add some more clarity, stating "CLA Bot solution is provided with <3 from the Open Source Team at SAP" - otherwise the content of self-hosted CLA Bot solutions may be associated with

[2022-04-13 09:43] Shegox commented on #837
Hi all,

sorry for the long wait on this. I missed the 👍 on the proposal and forgot about.

@schonauchgut very good point you bring up with self-hosted instances.
After looking into a bit, I will now go ahead and add the footer as a configuration option.
Per default it will say something like `Powered by the open source CLA-assistant project` and on cla-assistant.io then something like `Provided w

[2022-04-13 09:49] schonauchgut opened #865 "Terms of Use - Reference"
Dear Maintainer team,
while checking the code of the CLA assistant we found the link to your terms of use [here](https://github.com/cla-assistant/cla-assistant/blob/main/src/client/assets/home.html) linking to the ToU on your [gist](https://gist.github.com/CLAassistant/3a73e4cd729c9d0a6e30).

![image](https://user-images.githubusercontent.com/55181098/163148206-a2cabca6-5034-4e97-98a0-09319d597d95

[2022-04-13 15:15] MPagel opened #866 "Blank agreement"
This is all I see when I go to https://cla-assistant.io/chocolatey/choco?pullRequest=1678

![image](https://user-images.githubusercontent.com/3179116/163212636-765e5f6c-9dc0-4f64-a383-d7958ca9a91c.png)

Left: Firefox
Center: Edge
Right: Chrome

No adblockers or plugins/extensions installed in any of the 3 browsers.

[2022-04-13 15:19] MPagel commented on #866
lol.  firefox eventually loaded the agreement.  Edge and Chrome eventually showed
![image](https://user-images.githubusercontent.com/3179116/163214154-6f830fbb-e15d-4404-b676-3fa9295fde15.png)

[2022-04-13 15:26] MPagel commented on #866
Leaving open, as very long load times on Firefox, and errors on Edge and Chrome.  ...and I had tried using Firefox previously to the same end result as Edge and Chrome have now.

[2022-04-15 09:04] simon300000 commented on #863
Can confirm, happened to me 2 days ago also.
I just reproduced it by revoke OAuth and sign in again.
1. open https://cla-assistant.io
2. click `Sign in with GitHub`
3. it ask for email (which is all good)
4. after approve, it immediately ask for additional permission5.

<img width="560" alt="截屏2022-04-15 17 02 04" src="https://user-images.githubusercontent.com/12656264/163550895-9e6db452-1687-421d

[2022-04-21 07:44] zhangyangyu opened #868 "State the database dependency should at least be Mongodb"
## URL to the linked Repository or Organization

https://github.com/
## Steps to reproduce the problem

1.
2.
3.

## What is the expected result?

## What happens instead?

## Any other information? (attach screenshot if possible)

## Used browser and browser version?

## Any other tested browsers/devices(OK/FAIL):

[2022-04-21 08:01] karlb commented on #866
I see the same problem after waiting a long time (tried with Firefox):

[2022-04-21 16:05] zhangyangyu opened #869 "Not possible to specify certificate when using HTTPS protocol?"
Just as the title tell. Doesn't find any way to specify certificate  when using HTTPS protocol.

[2022-04-26 09:09] Shegox commented on #869
Hi @zhangyangyu,

the `PROTOCOL` flag is just to indicate the protocol for constructing links. CLA-Assistant currently doesn't handle HTTP*s* on it's own and is relying on a TLS-termination service in front (e.g. something like an nginx, or ingress controller in kubernetes). For cla-assistant.io we e.g. use Google Cloud Platforms Cloud Run (their managed knative) and part of the service is TLS-ter

[2022-04-26 09:18] zhangyangyu commented on #869
Ahh, just as what I thought. Never mind, not hard to make it possible, just use https lib and add certificate :-)

[2022-04-26 09:18] #869 closed

[2022-04-26 09:56] Shegox commented on #837
short update: I removed now the logo and replaced it with a more generic statement  (`Powered by the open source CLA-assistant project`; see #870).

For the moment being it will not be configurable, but you're free to change it for your own deployment as you like.

On a side note, I got now the time to look at the whole of the setup again and most likely we will end up rebuilding most of the UI co

[2022-04-26 09:59] Shegox commented on #865
Quick update, the Terms of Service & privacy policy won't be easily configurable for the moment. You're however still free to adjust it as you deem fit in the code.

On a side note, I got now the time to look at the whole of the setup again and most likely we will end up rebuilding most of the UI components in a newer framework and as part of that rebuild we can/will make a lot of these things mor

[2022-04-26 10:14] Shegox opened #871 "UI revamp"
The current UI and background setup is currently quite a bit dated and runs into some problems when doing updates and improvements.
Since the creation of CLA-Assistant there were quite a few changes to the language and available frameworks, which we should leverage to make the overall maintenance and development easier.

The goal of this issue is to gather important facts about what should be done

[2022-04-26 21:05] daniel-kogan opened #872 "cla-assistant.io is down"
## URL to the linked Repository or Organization

https://github.com/
## Steps to reproduce the problem

1. make sure you're logged into github
2. go to www.cla-assistant.io
3. hit "log in with Github"

## What is the expected result?
Should log you into the dashboard
## What happens instead?
nothing happens...

## Any other information? (attach screenshot if possible)

## Used browser and browser

[2022-04-26 21:22] Shegox commented on #872
Hi,

while I can reproduce the super slowness, it (at the moment) loaded for me after a couple of minutes. Problem, especially if you have many organizations/repos, is that this together with the API limits from GitHub cause rather long wait times.

While super slowness is not ideal for the configuration UI (and I have some things planned, which will hopefully better the situation), this is unfort

[2022-04-26 23:18] daniel-kogan commented on #872
Thanks for the prompt reply! I just tried it again and it loaded within ~30 seconds!

[2022-04-28 17:11] strowk opened #874 "Empty page"
Basically I see this and have no idea what to do with it:
![image](https://user-images.githubusercontent.com/25692644/165807727-7e09c3db-fbe3-469f-946f-24dbff9b4465.png)

Is this broken somehow?

[2022-05-02 23:11] BruceHaley opened #875 "license/cla wants dependabot to sign the CLA"
How do we exempt dependabot from having to sign our Contributor License Agreement?

This PR shows dependabot being required to sign before merging: https://github.com/microsoft/botbuilder-js/pull/4189

(AFAIK, bots are not able to sign such things. ;-) )

[2022-05-02 23:16] BruceHaley commented on #875
Found the answer: https://github.com/cla-assistant/cla-assistant#can-i-allow-bot-user-contributions

[2022-05-02 23:16] #875 closed

[2022-05-03 23:03] Roach commented on #852
Having the same issue

[2022-05-05 01:10] sap-ospo-bot opened #876 "[rl-vulnerability_alerts-1] Violation against OSS Rules of Play"
A violation against the OSS Rules of Play has been detected.

Rule ID: rl-vulnerability_alerts-1
Explanation: Are vulnerability alerts enabled? **No**

Find more information at: https://sap.github.io/fosstars-rating-core/oss_rules_of_play_rating.html

[2022-05-05 01:10] sap-ospo-bot opened #877 "[rl-reuse_tool-2] Violation against OSS Rules of Play"
A violation against the OSS Rules of Play has been detected.

Rule ID: rl-reuse_tool-2
Explanation: Does it have LICENSES directory with licenses? **No**

Find more information at: https://sap.github.io/fosstars-rating-core/oss_rules_of_play_rating.html

[2022-05-05 01:10] sap-ospo-bot opened #878 "[rl-reuse_tool-1] Violation against OSS Rules of Play"
A violation against the OSS Rules of Play has been detected.

Rule ID: rl-reuse_tool-1
Explanation: Does README mention REUSE? **No**

Find more information at: https://sap.github.io/fosstars-rating-core/oss_rules_of_play_rating.html

[2022-05-05 01:10] sap-ospo-bot opened #879 "[rl-reuse_tool-3] Violation against OSS Rules of Play"
A violation against the OSS Rules of Play has been detected.

Rule ID: rl-reuse_tool-3
Explanation: Is it registered in REUSE? **No**

Find more information at: https://sap.github.io/fosstars-rating-core/oss_rules_of_play_rating.html

[2022-05-05 01:10] sap-ospo-bot opened #880 "[rl-reuse_tool-4] Violation against OSS Rules of Play"
A violation against the OSS Rules of Play has been detected.

Rule ID: rl-reuse_tool-4
Explanation: Is it compliant with REUSE rules? **No**

Find more information at: https://sap.github.io/fosstars-rating-core/oss_rules_of_play_rating.html

[2022-05-09 08:00] daKmoR opened #882 "CLA changed out of the blue => contributors are gone?"
## URL to the linked Repository or Organization

https://github.com/ing-bank/lion

## Issue

For the last 3-4 year? we had a custom CLA and we had ~100 contributors...

not sure when but I guess sometime in the last few weeks/months/years? it switched the CLA to the default SAP one and most contributers are gone?

Any clue what happened? and why? can we get a list of the "old" contributors?

[2022-05-09 22:13] Shegox commented on #882
Quick response:

I'm currently on vacation without any proper internet access, but should be able to check on this maybe by the end of this week or early next week. Generally we do have backups and I strongly assume that the data is not lost.

[2022-05-09 22:13] Shegox commented on #882
Quick response:

I'm currently on vacation without any proper internet access, but should be able to check on this maybe by the end of this week or early next week. Generally we do have backups and I strongly assume that the data is not lost.

[2022-05-11 15:13] gentlegiantJGC commented on #866
I am experiencing this too. Overall the experience is good but users have no idea that they need to wait a while for it to load.
I am not sure what the issue actually is but perhaps until a proper fix is found there could be some text at the bottom indicating that the user has to wait a while.

[2022-05-12 10:26] marcuscbehrens opened #883 "when I open the class assistant for https://cla-assistant.io/SAP-samples/sap-iot-samples?pullRequest=13 the drop down for versions is empty"
I cannot continue

[2022-05-13 09:20] KharitonOff commented on #883
Hi Marcus, your issue is most probably related to the #866

[2022-05-13 11:29] #883 closed

[2022-05-13 11:29] marcuscbehrens commented on #883
Today it showed up (in safari on Mac) after waiting a few seconds. Yesterday it did not work even after 30 seconds with no wait indicator.

[2022-05-22 02:18] zjp369 opened #884 "Sprite can't be written in relative path("sprite": "css/sprite")."
Sprite can't be written in relative path("sprite": "css/sprite").

[2022-05-23 08:49] Shegox commented on #882
@daKmoR sorry for the long wait. I got something last week and started working today again.

I checked and I can see that the signatures are still existing, but for whatever reason the CLA currently points to `null`. Looks like it got disabled.

If you want to recover the status again, following should do the trick:
1. Go into https://cla-assistant.io and sign in
2. Check if there is already the `

[2022-05-23 09:19] daKmoR commented on #882
sweet 👌

that worked - thxx 🙇‍♂️

[2022-05-23 09:19] #882 closed

[2022-05-23 11:50] Shegox commented on #884
Hi @zjp369,

it seems that you opened the issue in the wrong project. I assume you wanted to open this in a different repository?

If this indeed related to CLA-assistant, please do open a new issue and include information where exactly you encounter this issue. Thanks a lot.

[2022-05-23 11:50] #884 closed

[2022-05-24 07:01] avestuk commented on #874
It was suggested to me that I just try to wait for the CLA to load and that did work. I don't know exactly how long I waited but probably on the order of >5min.

[2022-05-24 08:55] #877 closed

[2022-05-24 08:55] #878 closed

[2022-05-24 08:55] #879 closed

[2022-05-24 08:55] #880 closed

[2022-05-28 14:52] muthumanik commented on #520
Hi I have issue on CLA Sign in . actually i did multiple time signin CLA but still it is pending. can you please help me to resolve this. i raised pull request for rdkcentral/rdkservices but CLA is not yet signed  issues raising after signed the cla agreement multiple time.

[2022-05-28 15:41] opcfoundation-org commented on #406
Where does the "userId" come from? I see nothing in the export data or github that could tell me what to put in

[2022-05-30 11:57] KharitonOff commented on #520
@muthumanik it seems to be solved now, right? At least the last PR I could find has a successful CLA check.

[2022-05-30 12:25] yanrongzhen commented on #352
https://github.com/alibaba/fastjson/pull/4185  this pr also have the same problems, always in pending status.

[2022-05-30 13:50] heyanlong opened #890 "POST https://cla-assistant.io/api/cla/get net::ERR_CONNECTION_CLOSED"

[2022-05-31 01:37] #890 closed

[2022-06-01 08:36] KharitonOff commented on #406
@opcfoundation-org you can get it via API https://api.github.com/user

[2022-06-01 08:42] KharitonOff commented on #352
@yanrongzhen your issue is resolved now, right? I see you have created a new PR, that has passed the check successfully.

[2022-06-03 01:14] FW4248 opened #891 "ee"
![Uploading images (10).jpeg…]
![d20962fa-6bca-4f4a-810a-2ff5a1d48438](https://user-images.githubusercontent.com/104608815/171768144-d56b7ed8-bd35-4376-8338-29a480d7630f.png)
()

[2022-06-03 01:14] FW4248 opened #892 "iu"
## URL to the linked Repository or Organization

https://github.com/
## Steps to reproduce the problem

1.
2.
3.

## What is the expected result?

## What happens instead?

## Any other information? (attach screenshot if possible)

## Used browser and browser version?

## Any other tested browsers/devices(OK/FAIL):

[2022-06-03 17:06] TasoOneAsia commented on #832
Also experiencing this oAuth redirect loop for first time admin users, I also can see that the token and user is correctly created in the database as well as a session with user information (aside from scope, is this maybe where the issue lies?) retrieved from GH login.

In case this is helpful, the redirect loop seems to start once the oAuth callback is processed and the user is redirected to the

[2022-06-04 11:58] #891 closed

[2022-06-06 01:02] Olf0 commented on #299
Ping! :wink:

I.e., this still makes as much sense to implement as it did half a decade (5 years!) ago.

[2022-06-06 01:40] Olf0 commented on #483
Oh my, it started off so nicely by [agreeing to a CLA simply by hitting "☺→:+1:"](https://github.com/cla-assistant/cla-assistant/issues/483#issue-491727700) (although the link to the CLA proper was missing in the example text), but went to over-engineering in the second post and ultimately ended in suggesting to enforce the use of SSH keys and cryptographic signatures (which are only linguisticall

[2022-06-06 01:53] Olf0 commented on #78
@KharitonOff and @thojansen, issues do not vanish by closing them!  This action just makes them replicate, i.e., enforces users to create duplicate issue reports, see #97, #566 etc.
I suggest to deal with this at issue #566, until it has been fully resolved: I.e., until the [CLA assistant](https://cla-assistant.io/) works properly with cookies disabled in the web-browser.

[2022-06-06 01:55] Olf0 commented on #97
@KharitonOff and @thojansen, [as denoted](https://github.com/cla-assistant/cla-assistant/issues/78#issuecomment-1146954486) closing this was premature.  It enforced users to create duplicate issue reports, see #78, #566 etc.

I suggest to deal with this at issue #566, until it has been fully resolved: I.e., until the [CLA assistant](https://cla-assistant.io/) works properly with cookies disabled i

[2022-06-06 02:01] Olf0 commented on #566
Issues #78 and #97 etc. are (prematurely closed) duplicates of this issue, and so are #810 and #863 (both still open), plus likely more.

[2022-06-06 02:03] Olf0 commented on #810
This is a duplicate of issues #78, #97, #566, #863 etc.

I suggest to deal with this at issue #566, until it has been fully resolved: I.e., until the [CLA assistant](https://cla-assistant.io/) works properly with cookies disabled in the web-browser.

[2022-06-06 02:04] Olf0 commented on #863
This is a duplicate of issues #78, #97, #566, #810 etc.

I suggest to deal with this at issue #566, until it has been fully resolved: I.e., until the [CLA assistant](https://cla-assistant.io/) works properly with cookies disabled in the web-browser.

[2022-06-06 02:22] Olf0 commented on #760
@james-callahan, this aspect is a duplicate of issues #863, #810, #566, #97, #78 etc. (ultimately dealt with at #566) and **not** what you originally and correctly addressed here.

Please solely address [Signing in with github "signs" the CLA](https://github.com/cla-assistant/cla-assistant/issues/760#) here, even though both issues occurred to you and me (#566 at the first try, #760 at the second)

[2022-06-07 02:13] woxiwangshunlibiye opened #896 "怎样与 CLA 助手中的存储库/组织链接"
我将 CLA 存储为 GitHub Gist 文件，怎样与 CLA 助手中的存储库/组织链接

[2022-06-09 07:55] xiaowuhu opened #897 "cla/license stuck there without any response"
## URL to the linked Repository or Organization

https://github.com/onnx/onnxmltools

## Steps to reproduce the problem

1. my PR https://github.com/onnx/onnxmltools/pull/561 stuck there to wait response of cla/license. I did sign the license before.

## What is the expected result?

## What happens instead?

## Any other information? (attach screenshot if possible)

## Used browser and browser ve

[2022-06-09 14:52] florisluiten opened #898 "TypeError: cla.value is null / 401 Unauthorized POST https://cla-assistant.io/api/github/call"
## URL to the linked Repository or Organization

https://github.com/renovatebot/renovate/pull/15971

## Steps to reproduce the problem

1. Open the page in Firefox
2. Open the developers console (F12)
3. See console errors about cla.value and 401 Unauthorized

## What is the expected result?

I can accept the CLA

## What happens instead?

An empty list with no versions, with a checkbox that does

[2022-06-09 15:03] florisluiten commented on #898
It seems the issue has been resolved by itself when trying a short time later.

[2022-06-09 15:03] #898 closed

[2022-06-10 04:00] xiaowuhu commented on #897
forced to merge to main branch by repo admin, so you may not find the scene.

[2022-06-11 01:19] sap-ospo-bot opened #899 "[rl-assigned_teams-4] Violation against OSS Rules of Play"
A violation against the OSS Rules of Play has been detected.

Rule ID: rl-assigned_teams-4
Explanation: Does it have a team with push privileges on GitHub? **No**

Find more information at: https://sap.github.io/fosstars-rating-core/oss_rules_of_play_rating.html

[2022-06-11 01:19] sap-ospo-bot opened #900 "[rl-assigned_teams-5] Violation against OSS Rules of Play"
A violation against the OSS Rules of Play has been detected.

Rule ID: rl-assigned_teams-5
Explanation: Does teams have enough members on GitHub? **No**

Find more information at: https://sap.github.io/fosstars-rating-core/oss_rules_of_play_rating.html

[2022-06-11 01:19] sap-ospo-bot opened #901 "[rl-assigned_teams-2] Violation against OSS Rules of Play"
A violation against the OSS Rules of Play has been detected.

Rule ID: rl-assigned_teams-2
Explanation: Does it have an admin team on GitHub? **No**

Find more information at: https://sap.github.io/fosstars-rating-core/oss_rules_of_play_rating.html

[2022-06-11 01:19] sap-ospo-bot opened #902 "[rl-assigned_teams-3] Violation against OSS Rules of Play"
A violation against the OSS Rules of Play has been detected.

Rule ID: rl-assigned_teams-3
Explanation: Does it have enough admins on GitHub? **No**

Find more information at: https://sap.github.io/fosstars-rating-core/oss_rules_of_play_rating.html

[2022-06-11 01:19] sap-ospo-bot opened #903 "[rl-assigned_teams-1] Violation against OSS Rules of Play"
A violation against the OSS Rules of Play has been detected.

Rule ID: rl-assigned_teams-1
Explanation: Does it have enough teams on GitHub? **No**

Find more information at: https://sap.github.io/fosstars-rating-core/oss_rules_of_play_rating.html

[2022-06-12 07:52] #892 closed

[2022-06-14 07:17] roshvin opened #904 "How to configure CLA in github enterprise"
## URL to the linked Repository or Organization

we are using Github enterprise server
## Steps to reproduce the problem

1. how to point the CLA to the GHE enterprise server
2. how to trigger the CLA if anyone create a pull request . is it CLA called from Org webhook or Org Auth App
3. Could you pls point to some document on setting it for Github enterprise.

[2022-06-15 18:40] hlschmidbauer opened #905 "Member base permissions impact ability to see public repos"
## URL to the linked Repository or Organization
This is true for all repos in all of our organizations, but https://github.com/cla-testing-org is where we have been testing.

## Steps to reproduce the problem

1.  Add a user as a member of an org **where the Org setting `Member Privileges --> Base permissions` is set to `No permission`**.  (and the cla-assistant 3rd party application is already au

[2022-06-15 20:02] smith558 commented on #874
Same issue

[2022-06-16 09:27] Thuycallmee opened #906 "pull"

[2022-06-17 17:42] hlschmidbauer opened #907 "Unable to View Signed CLAs"
## URL to the linked Repository or Organization
Repository: https://github.com/openfga/openfga
But also happening for other repositories throughout testing process (CLA is shared)

## Steps to reproduce the problem

1.  A user who is _not_ a member of the organization opens a Pull Request and signs the CLA
<img width="591" alt="Screen Shot 2022-06-17 at 2 22 59 PM" src="https://user-images.githubu

[2022-06-20 08:57] Wuxiao85 opened #908 "agree"
I agree

[2022-06-24 11:39] roshvin opened #909 "https://github.com/CLA-INT/cla-repo-test"
,"hostname":"cla-5c7c468c56-lmzpr","pid":16,"level":40,"err":{"message":"could not find linked item for owner CLA-INT and repo cla-repo-test","name":"Error","stack":"Error: could not find linked item for owner CLA-INT and repo cla-repo-test\n    at ClaService._getLinkedItem (/cla-assistant/src/server/services/cla.js:246:19)\n    at processTicksAndRejections (internal/process/task_queues.js:97:5)\n

[2022-06-24 13:59] zhiquanchi opened #910 "sign cla"
name:zhiquanchi
email: zhiquanchi@qq.com

[2022-06-24 14:22] ralmond commented on #874
Same problem.  It eventually did appear, but only because I tried switching from Firefox to Chromium and left the page open  on Firefox while debugging.

Also, there is no indication on the page that it is waiting for something to load.

[2022-06-24 14:33] smith558 commented on #874
Exact same experience for me. No indication of loading. Frustrated, left it incidentally in an open tab for 10 minutes and came back to find it loaded.

[2022-06-24 16:54] AnishaM7 opened #911 "InternalOAuthError: Failed to obtain access token"
## URL to the linked Repository or Organization
https://github.com/cla-int

## Steps to reproduce the problem

We face `InternalOAuthError: Failed to obtain access token` error though correct access token is passed as env varibale

## What is the expected result?
GITHUB token has to be authorized by CLA

## What happens instead?
{"name":"host","hostname":"cla-56ff998d5f-m9d29","pid":16,"level":20,

[2022-06-27 17:35] lorensr opened #912 "500 from /api/cla/get"
## URL to the linked Repository or Organization

## Steps to reproduce the problem

1. Visit https://cla-assistant.io/my-cla
2. Click any of the items in the CLA column
3. Get 500 response with body: `Please, provide owner and repo name or orgId`

Example request:

<img width="643" alt="image" src="https://user-images.githubusercontent.com/251288/176001152-dadbf6aa-7089-4e55-9d72-3e2e500a6207.png"

[2022-06-28 13:27] christian-bromann opened #913 "CLA not visible and nothing to sign"
If I open the CLA assistant with any browser I only see a blank page:
![Screenshot 2022-06-28 at 15 23 39](https://user-images.githubusercontent.com/731337/176189826-3a303d1b-e6c1-4bff-8a3c-a383314f8f40.png)

It seems that the oAuth call to `https://cla-assistant.io/api/github/call` fails with `Authentication required`, payload is `{obj: "users", fun: "getAuthenticated", arg: {}}`

## Network Data

[2022-06-28 13:35] christian-bromann commented on #913
Ok, after a while the page seemed to auto-reload with the CLA document in place. I am not sure what this is but assume a lot of people are not waiting or keep the page open for no reason.

[2022-06-30 15:08] killpowa commented on #847
The website is almost unusable, it takes around 5-10m to load. Users who try to sign the CLA have to wait for around 2m to be able to see the gist. Any update on this?

[2022-06-30 15:25] roshvin opened #914 "internet proxy to setting to connect on-prem installed CLA to github.com"
Hi ,
we have installed this CLA in on-prem and trying to integrate with gitub.com . we can only connect github.com through proxy from our server. how can we configure proxy in CLA so that it can connect to github.com

[2022-06-30 16:26] haidong opened #915 "Unsign previously signed CLA"
Is it possible to unsign a previously signed CLA? I was previously contributing to MariaDB/server independently, therefore signed it a CLA. Now I'm contributing as a company employee, and need to unsign the one previously signed so I'll use BSD going forward.

Thanks!

[2022-06-30 18:50] haidong commented on #915
An alternative would be to associate the signed aggreement with email address only. That way, contributions from the one email address with CLA signed would retain that agreement; whereas contributions from a different email without the signature wouldn't be bound to that CLA and have the choice of saying "I'm using BSD here".

[2022-06-30 20:24] haidong commented on #907
Thanks for the detailed report. I've noticed the same thing while researching on how to unsign CLA #915

[2022-07-07 21:02] FW4248 opened #918 "480"
[![Coverage Status](https://coveralls.io/builds/44999211/badge)](https://coveralls.io/builds/44999211)

Coverage increased (+0.3%) to 90.164% when pulling **74ffc3f9f09263c992485f3d17dfc055612e3f2c on g-hoang:conditional-request** into **f1a38d828af6883c568977d0b41f404126ac0690 on cla-assistant:main**.

_Originally posted by [![Build and Publish Jekyll for GitHub Pages](https://github.com/FW4248/X

[2022-07-07 21:05] #918 closed

[2022-07-11 15:48] ReenigneArcher opened #919 "help deciding between cla-assistant and github action"
This is not actually an issue, although you might consider enabling "GitHub discussions" for topics like this?

I am just learning about CLA's and working to integrate an automated solution into my organization repos. Trying to decide between cla-assistant and the github action version.

cla-assistant pros:
  - no workflow needed in each repo
  - webhook ties into org or repo
  - user interface av

[2022-07-11 17:46] srl295 opened #920 "feat: determine if a signing was direct or imported"
Feature request:

#69 added a way to upload a CSV for importing users who have already signed the CLA.

Is there a way, via download or API, to find out later on which users were added by manually clicking through the CLA, and which were added via CSV import?

Thanks, and thanks for cla-assistant.io

[2022-07-12 23:17] ReenigneArcher commented on #919
I have decided to use cla assistant for the fact that it provides a user interface and I don't have to replicate the workflow to each repository.

Storing the CLA in a gist is kind of disappointing, but I have found an action that allows me to copy files to a gist from a repo.

Based on this (https://github.com/cla-assistant/cla-assistant/issues/136) conversation it seems that there are no plans t

[2022-07-12 23:17] #919 closed

[2022-07-13 10:08] rachellawson opened #921 "Is it possible to invite people to sign the CLA who have opened or commented on an issue?"
Contribution to open source projects come in many forms, not all of which are covered by a Pull Request.

So, I would like to ask all commenters on issues to also sign the CLA.

Has anyone actually tried this?

[2022-07-13 13:05] SooluThomas opened #922 "Unable to see a repo even when you're the admin"
I'm not able to see a repo in https://cla-assistant.io even though I am the admin of the repo. Its messed up because I can see a repo that I am not an admin of.

[2022-07-15 01:16] daviddryder opened #923 "CLA Stuck in Infinite loop"
I appear stuck in an infinite look trying to sign the CLA for https://github.com/grafana/intro-to-mlt/pull/11

[2022-07-15 09:35] clChenLiang opened #924 "create a new pr with the cla agree in another closed pr fail"
can't pass the cla check.
but:
    1. agreed in another closed pr
    2. new pr can't has the cla assistant agree page

[2022-07-15 15:07] roshvin opened #925 "InternalOAuthError: Failed to fetch user profile"
we are getting below error after authorizing access

![image](https://user-images.githubusercontent.com/11057966/179251482-74dc83b0-f1b5-4dda-82ae-614cf2930b7f.png)

cla pod error

"hostname":"cla-6f45b9b786-wvqmw","pid":17,"level":20,"msg":"Start processing authentication callback","time":"2022-07-15T15:03:49.126Z","src":{"file":"/cla-assistant/src/server/src/controller/user.js","line":46,"func":

[2022-07-22 01:03] luxaritas opened #926 "Consider supporting repository files instead of gists"
Basically, my goal would be to create a CLA.md file in our organization GitHub repository, that way it could be easily updated by anyone in our organization, vs having to rely on the gist being tied to personal accounts

[2022-07-26 08:28] koutingting4562023 opened #927 "Issues configuring stand-alone cla-assistant"
<!--
Steps to reproduce the problem:

Click [Sign in with GitHub]
Note error.
Configuration, .env:
PORT=5000
PAROTOCOL=https
HOST=82.157.23.117
MONGODB=mongodb://cla_assistant:cla_assistant@localhost:27017/cla_assistant#No change
GITHUB_CLIENT= .....     #Client ID
GITHUB_SECRET=....#Client secrets

GITHUB_TOKEN= .....   #Requested private token
Github application settings:
Authorization callback

[2022-07-26 09:03] koutingting4562023 commented on #927
Steps to reproduce the problem:

Click [Sign in with GitHub]
Note error.
PORT=5000
PAROTOCOL=https
HOST=82.157.23.117
MONGODB=mongodb://cla_assistant:cla_assistant@localhost:27017/cla_assistant
GITHUB_CLIENT=811.....#
GITHUB_SECRET=......#

GITHUB_TOKEN=....#Requested private token

Github application settings:
Authorization callback URL: https://82.157.23.117:5000/auth/github/callback

ngrok http

[2022-08-04 18:07] BramDo opened #929 "I Signed a cla as my own github account BramDo but now a second (gost) person has to sign?"
## URL to the linked Repository or Organization
https://github.com/Qiskit/qiskit-terra/pull/8453

https://github.com/
## Steps to reproduce the problem

1. I made a pull request on qiskit.
2. My account was accepted but now a second (gost ) has to sign.
I don't know the credentials for this person. It is a empty account, somehow this account is linked to me.
Thank you for your submission! We reall

[2022-08-05 07:46] KharitonOff commented on #929
The first commit of your PR is made with the email associated with the old account. Can you try to add this email (charhenmal@gmail.com) to your current account?

[2022-08-08 14:31] BramDo commented on #929
Yes i did that now it works. Thanks!

[2022-08-09 07:01] ice1000 commented on #913
Happened to me as well and solved in the same way -- waited for at least 20 secs

[2022-08-23 07:06] Hajiisan opened #930 "Titan12rb"
## URL to the linked Repository or Organization

https://github.com/
## Steps to reproduce the problem

1.
2.
3.

## What is the expected result?

## What happens instead?

## Any other information? (attach screenshot if possible)

## Used browser and browser version?

## Any other tested browsers/devices(OK/FAIL):

[2022-08-25 11:52] mo-tgeddes opened #931 "Multiple owners of a CLA and transfer of ownership?"
Hi, is there a way to have multiple owners of the CLA or share it in some way so that other people can access the user interface? Also is there a way to transfer ownership of the CLA without redoing it so that everyone doesn't have to resign?

[2022-08-25 12:30] kklimonda-fn opened #932 "Two github accounts linked same repository, breaking some relation in database"
The repository `fluxninja/aperture` has been linked under two accounts: kklimonda-fn and fluxninjaops. Doing that resulted in repository showing under both accounts in cla-assistant.io but only first one (kklimonda-fn) sees link to CLA gist and a list of signees.

[2022-08-25 13:19] uilianries opened #933 "[bug] Timeout: An new contributor can not reach the CLA page"
Yes, we already tried [COMMON_ISSUES](https://github.com/cla-assistant/cla-assistant/blob/main/COMMON_ISSUES.md) suggestions. No effect.

## URL to the linked Repository or Organization

https://cla-assistant.io/check/conan-io/docs?pullRequest=2707

https://github.com/
## Steps to reproduce the problem

1. Click on the CLA link https://cla-assistant.io/check/conan-io/docs?pullRequest=2707
2. A HTT

[2022-08-25 13:29] AA1999 commented on #933
![image](https://user-images.githubusercontent.com/14325650/186677767-45384d49-ff8a-422b-9c47-4cf00f378985.png)

[2022-09-13 11:01] greg-oc commented on #647
Hi @tmbjmu , did you ever find a way around this issue? I am experiencing it myself at the moment. The CLAassistant bot will  still comment on the PR if the user has not signed the CLA, but it does not add a "check" to the list of status checks. Any help would be appreciated, thanks

[2022-09-23 10:03] xiaomicl opened #936 "Questions for signing as a company"
## What is the expected result?

There is a scenario where the legal person of a company signs the CLA, then other people in the company (for example, identified by email address) do not need to sign the CLA, similar to a whitelist. Is there any support for this?

## What happens instead?

I can't find an entry to solve this problem

## Any other information? (attach screenshot if possible)

[2022-10-15 20:49] mervy93 opened #937 "Tcorp"
[iCloud Photos 3.zip](https://github.com/cla-assistant/cla-assistant/files/9793055/iCloud.Photos.3.zip)
[GitHubDesktop-x64.zip](https://github.com/cla-assistant/cla-assistant/files/9793056/GitHubDesktop-x64.zip) #934
#916

[2022-10-17 17:57] #937 closed

[2022-10-24 00:16] ReenigneArcher commented on #926
As a workaround, you can replicate files from a repo to a gist. This is how I handle it for my org.

[code]

[2022-11-02 00:11] EricFulton opened #938 "403 for CLA"
When I click on this:
`You have signed the CLA already but the status is still pending? Let us [recheck](https://cla-assistant.cds.internal.unity3d.com/check/Unity-Technologies/InputSystem?pullRequest=1603) it.`

I'm prompted to do a SSO sign-in, but then I'm redirected to a 403

[2022-11-08 09:10] KharitonOff commented on #938
Unity, not us, hosts the CLA assistant UI. Therefore we can't help you with the 403 issue.
I see in your PR that you have used an e-mail address for your commit that is not linked to your GH account (https://api.github.com/repos/Unity-Technologies/InputSystem/pulls/1603/commits). Once you have added it to your account as described here https://help.github.com/articles/why-are-my-commits-linked-to-

[2022-11-08 22:08] EricFulton commented on #938
Ah thank you very much! I just needed to set my local git email and recommit.  Thank you, thank you!

[2022-11-09 08:59] KharitonOff commented on #936
@xiaomicl You can specify organizations whose public members should be exempted from signing the CLA, based on their membership (not email address).

[2022-11-10 22:38] OASIS-OP-Admin opened #940 "Imported i-clas are incomplete"
I have a project where contributors are insisting on filling out paper copies of our i-cla form and sending them to me. Our gists are set up to collect extra data such as user name, email address, and name of their employer. This works fine on other projects where people are filling out the cla when CLA Assistant presents it to them.

However, when I try to import cla records, CLA Assistant only s

[2022-11-11 09:28] KharitonOff commented on #940
The custom fields should be uploaded as well. We don't have documentation on importing CLA; it should work as expected. The way you have described your configuration sounds correct.
If you wish, you can share your gist and a sample of the CSV file you use to import, and I will try to reproduce the issue.

[2022-11-11 15:25] mervy93 opened #941 "<!--"
**What**:

**Why**:

**How**:

**Checklist**:

- [x] Documentation
- [x] Ready to be merged
- [x] Added myself to contributors table.
[Bot Usage](https://allcontributors.org/docs/en/bot/installation#4-update-your-contributing-documentation)

__Originally posted by @mervy93 in https://github.com/all-contributors/all-contributors/pull/657__

[2022-11-21 03:27] Kway99 opened #942 "I have signed the CLA already but the github status is still pending"
## URL to the linked Repository or Organization
https://github.com/TheThingsNetwork/lorawan-devices/pull/552
## Steps to reproduce the problem

1.I have signed the CLA already but the github status is still pending
## What is the expected result?
The status gets updated.
## What happens instead?
The CLA status is not updated

## Any other information? (attach screenshot if possible)
<img width="14

[2022-11-21 12:09] KharitonOff commented on #942
Hi @Kway99 ,
you have made a commit in this PR with an email address, that is not assigned to your GH account. See https://api.github.com/repos/TheThingsNetwork/lorawan-devices/pulls/552/commits
To fix the issue, please follow the description on how to [add the email address used for this commit to your account](https://help.github.com/articles/why-are-my-commits-linked-to-the-wrong-user/#commits-

[2022-11-22 02:49] Kway99 commented on #942
Really Thanks for your reply,

But I have set a email address to my account :kewei.li@seeed.cc. And my local git configuration email is also this one.
They are consistent.
<img width="1135" alt="image" src="https://user-images.githubusercontent.com/108512334/203208988-180c4b91-b04e-424c-926c-ee85d25f1089.png">
<img width="569" alt="image" src="https://user-images.githubusercontent.com/108512334/20

[2022-11-23 15:52] KharitonOff commented on #942
@Kway99 I understand, but there is one commit with the following e-mail: "kewei.liseeed.cc@KevinLeedeMacBook-Air.local"
GitHub cannot assign this commit to any account; therefore, the CLA assistant reports a missing signature from one of the committers.

[2022-11-23 18:23] OASIS-OP-Admin commented on #940
[cla-assistant.csv](https://github.com/cla-assistant/cla-assistant/files/10078178/cla-assistant.csv)

Appreciate any insight you can share.

[2022-11-25 06:17] Kway99 commented on #942
@KharitonOff Thanks for your comments. It helps me a lot. Solved the issue.

[2022-11-25 06:17] #942 closed

[2022-11-28 08:57] 985492783 opened #944 "I have signed CLA,but it still Pending"
it was wrong in https://github.com/alibaba/nacos/pull/9640

[2022-11-28 13:51] #944 closed

[2022-11-29 06:14] Jeffwan opened #945 "Signed user can not pass CLA check"
## URL to the linked Repository or Organization

https://github.com/bytedance/appshark

## Steps to reproduce the problem

![image](https://user-images.githubusercontent.com/4739316/204452530-1437c9e3-539e-4cf1-9008-b491b79e54fb.png)

1. The user used to link CLA to his personal repo
2. The user already signed CLA.
3. Admin add user to whitelist.

But the user can not pass the check.

## What is t

[2022-11-30 11:02] KharitonOff commented on #945
@Jeffwan, which user do you mean, the one who has created the PR (author) or the one who has committed to it (committer)? CLA assistant is used to requesting consent from the committer, not the author.